Repository arcaneframework/framework, pull requests merged in 2021-12, with the labels that each got.

#89 Add version 4 of GhostLayerMng.
  arcane/src/arcane/mesh/CellFamilySerializer.cc
  arcane/src/arcane/mesh/GhostLayerBuilder.cc
  arcane/src/arcane/mesh/GhostLayerBuilder.h
  arcane/src/arcane/mesh/GhostLayerBuilder2.cc
  arcane/src/arcane/mesh/GhostLayerMng.cc
  arcane/tests/testParallel-synchronize2.arc
Labels: enhancement, arcane

#94 Add round robin strategy to mesh exchange
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMesh.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testLoadBalanceHydro-MeshPartitionerTester.arc
Labels: enhancement, arcane, refactoring

#95 Add debug facilities and message control to 'IParallelExchanger'
  arcane/src/arcane/IParallelExchanger.h
  arcane/src/arcane/InterfaceImpl.cc
  arcane/src/arcane/impl/ParallelExchanger.cc
  arcane/src/arcane/impl/ParallelExchanger.h
  arcane/src/arcane/impl/SequentialParallelMng.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/ParallelMngTest.cc
Labels: enhancement, arcane

#97 Improve nabla support
  arcane/src/arcane/ItemEnumerator.h
  arcane/src/arcane/ItemLocalId.h
  arcane/src/arcane/MeshVariableArrayRef.h
  arcane/src/arcane/MeshVariableScalarRef.h
  arcane/src/arcane/tests/ModuleSimpleHydroSimd.cc
  arcane/src/arcane/tests/VariableUnitTest.cc
Labels: enhancement, arcane

#98 Remove useless conversion from 'Int64' to 'Int32' in cartesian mesh generator
  arcane/src/arcane/std/CartesianMeshGenerator.cc
  arcane/src/arcane/std/CartesianMeshGenerator.h
Labels: bug, arcane

#106 Fix missing Arccon loads for in house find_package
  .editorconfig
  arccon/build-system/Modules/FindGlib.cmake
  arccon/build-system/Modules/FindLibXml2.cmake
  arccon/build-system/Modules/FindMTL4.cmake
  arccon/build-system/Modules/FindOtf2.cmake
  arccon/build-system/Modules/FindPETSc.cmake
  arccon/build-system/Modules/FindTBB.cmake
Labels: bug, arccon

#108 Fix usage of command line option 'MessagePassingService'
  arcane/src/arcane/ApplicationBuildInfo.cc
  arcane/src/arcane/ApplicationBuildInfo.h
  arcane/src/arcane/impl/Application.cc
  arcane/src/arcane/parallel/mpi/ArcaneMpi.cc
Labels: bug, arcane
