Repository arcaneframework/framework, pull requests merged in 2021-11, with the labels that each got.

#55 Switch by default to version 3 of GhostLayerBuilder.
  arcane/src/arcane/mesh/GhostLayerMng.cc
Labels: arcane

#56 Fill padding area of 'BasicSerializer' buffer with fixed values.
  arccore/src/serialize/arccore/serialize/BasicSerializer.cc
Labels: enhancement, arccore

#57 Cleanup code using old connectivities
  arcane/src/arcane/ItemSharedInfo.cc
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/mesh/CellFamily.cc
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/EdgeFamily.cc
  arcane/src/arcane/mesh/FaceFamily.cc
  arcane/src/arcane/mesh/ItemSharedInfoList.cc
  arcane/src/arcane/mesh/NodeFamily.cc
Labels: arcane, refactoring

#46 Simple grid partitioner
  arcane/ceapart/src/arcane/tests/CartesianMeshTester.axl
  arcane/ceapart/src/arcane/tests/CartesianMeshTesterModule.cc
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testCartesianMesh-grid-partitioning.arc
  arcane/ceapart/tests/testCartesianMesh-grid-partitioning12.arc
  arcane/ceapart/tests/testCartesianMesh-grid-partitioning6.arc
  arcane/ceapart/tests/testCartesianMesh3D-grid-partitioning.arc
  arcane/maillages/planar_unstructured_quad1.geo
  arcane/maillages/planar_unstructured_quad1.msh
  arcane/src/arcane/IGridMeshPartitioner.h
  arcane/src/arcane/InterfaceImpl.cc
  arcane/src/arcane/impl/SimpleGridMeshPartitioner.cc
  arcane/src/arcane/impl/srcs.cmake
  arcane/src/arcane/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#64 TBB: Fix currentTaskThreadIndex() != 0 when T=1
  arcane/src/arcane/parallel/thread/TBBTaskImplementation.cc
Labels: enhancement, arcane

#66 [arcane] Remove french translation for meshes services
  arcane/ceapart/tests/testCartesianMesh-grid-partitioning.arc
  arcane/ceapart/tests/testCartesianMesh-grid-partitioning12.arc
  arcane/ceapart/tests/testCartesianMesh-grid-partitioning6.arc
  arcane/ceapart/tests/testCartesianMesh3D-grid-partitioning.arc
  arcane/ceapart/tests/testCartesianMeshGenerator2D-meshservice.arc
  arcane/samples_build/samples/direct_cartesian/cartesian1.arc
  arcane/src/arcane/CaseNodeNames.cc
  arcane/src/arcane/impl/ArcaneCaseMeshMasterService.axl
  arcane/src/arcane/impl/ArcaneCaseMeshService.axl
  arcane/tests/testMeshCustom-1.arc
  arcane/tests/testMeshService-1.arc
  arcane/tests/testRunDirect-1.arc
Labels: arcane, refactoring

#60 Fix documentation spelling
  arcane/doc/accelerator.md
Labels: documentation, arcane

#71 [arccore] Deprecate Array::clone, Array2::clone and make Array2 constructor protected
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/arccore/collections/Array2.h
Labels: arccore, refactoring

#70 Make 'ArrayView' a private base class of 'CaseOptionMultiSimpleT'.
  arcane/src/arcane/CaseOptions.cc
  arcane/src/arcane/CaseOptions.h
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.CaseOptions/CaseOptionsT4.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.CaseOptions/CaseOptionsT4.tt
Labels: arcane, refactoring

#79 Add NBody sample using accelerator.
  arcane/samples_build/samples/CMakeLists.txt
  arcane/samples_build/samples/mini_nbody/CMakeLists.txt
  arcane/samples_build/samples/mini_nbody/README.md
  arcane/samples_build/samples/mini_nbody/main.cc
Labels: arcane

#80 Add support for binding TBB threads in Task implementation
  arcane/doc/common/launcher.md
  arcane/src/arcane/ApplicationBuildInfo.cc
  arcane/src/arcane/ApplicationBuildInfo.h
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/src/arcane/impl/internal/ThreadBindingMng.cc
  arcane/src/arcane/impl/internal/ThreadBindingMng.h
  arcane/src/arcane/impl/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#81 Automatically detect if glibc malloc hooks are availables
  arcane/CMakeLists.txt
  arcane/cmake/test_glibc_malloc_hooks.cc
  arcane/src/arcane/std/CMakeLists.txt
  arcane/src/arcane/std/ProfilingInfo.cc
  arcane/src/arcane/utils/CMakeLists.txt
  arcane/src/arcane/utils/MemoryInfo.cc
Labels: bug, arcane

#82 Print and shrink memory usage for ItemGroup
  arcane/src/arcane/ItemGroupImpl.cc
  arcane/src/arcane/ItemGroupImpl.h
  arcane/src/arcane/MeshUtils.cc
  arcane/src/arcane/MeshUtils.h
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/src/arcane/tests/ModuleSimpleHydro.cc
Labels: enhancement, arcane

#72 [arccore] Separate metadata from data in 'AbstractArray'
  arcane/src/arcane/tests/ArrayUnitTest.cc
  arcane/src/arcane/totalview/tv_display_arcane_types.cc
  arccore/src/collections/arccore/collections/Array.cc
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/arccore/collections/Array2.h
  arccore/src/collections/arccore/collections/CollectionsGlobal.h
  arccore/src/collections/arccore/collections/IMemoryAllocator.h
  arccore/src/collections/tests/TestArray.cc
Labels: arccore, refactoring

#83 Add preliminary support for AMD ROCM HIP
  arcane/CMakeLists.txt
  arcane/src/arcane/accelerator/CMakeLists.txt
  arcane/src/arcane/accelerator/CommonCudaHipReduceImpl.h
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/RunCommandEnumerate.h
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/accelerator/RunQueueInternal.h
  arcane/src/arcane/accelerator/core/AcceleratorCore.cc
  arcane/src/arcane/accelerator/core/AcceleratorCoreGlobal.h
  arcane/src/arcane/accelerator/core/AcceleratorRuntimeInitialisationInfo.cc
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/cuda/CMakeLists.txt
  arcane/src/arcane/accelerator/cuda/Reduce.cu
  arcane/src/arcane/accelerator/hip/CMakeLists.txt
  arcane/src/arcane/accelerator/hip/HipAccelerator.cc
  arcane/src/arcane/accelerator/hip/HipAccelerator.h
  arcane/src/arcane/accelerator/hip/runtime/CMakeLists.txt
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/runtime/Test.cu.cc
  arcane/src/arcane/accelerator/hip/runtime/TestCpp.cc
  arcane/src/arcane/accelerator/hip/runtime/TestMain.cc
  arcane/src/arcane/accelerator/srcs.cmake
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/src/arcane/tests/ArcaneTests.cmake
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/MiniWeatherArray.cc
  arcane/src/arcane/tests/accelerator/SimpleHydroAcceleratorService.cc
Labels: enhancement, arcane

#84 Add support for Accelerators for Real2x2 and Real3x3
  arcane/src/arcane/accelerator/ViewsCommon.h
  arcane/src/arcane/datatype/DataTypeTraits.h
  arcane/src/arcane/tests/accelerator/AcceleratorViewsUnitTest.cc
  arcane/src/arcane/utils/Numeric.h
  arcane/src/arcane/utils/Real2.h
  arcane/src/arcane/utils/Real2x2.h
  arcane/src/arcane/utils/Real3.h
  arcane/src/arcane/utils/Real3x3.h
Labels: enhancement, arcane

#85 Add factory to create utility classes for 'IParallelMng'
  arcane/src/arcane/IParallelMng.h
  arcane/src/arcane/IParallelMngUtilsFactory.h
  arcane/src/arcane/ItemGroupImpl.cc
  arcane/src/arcane/Parallel.h
  arcane/src/arcane/ParallelMngUtils.cc
  arcane/src/arcane/ParallelMngUtils.h
  arcane/src/arcane/impl/GetVariablesValuesParallelOperation.h
  arcane/src/arcane/impl/ParallelMngUtilsFactoryBase.cc
  arcane/src/arcane/impl/ParallelMngUtilsFactoryBase.h
  arcane/src/arcane/impl/SequentialParallelMng.cc
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/srcs.cmake
  arcane/src/arcane/mesh/EdgeUniqueIdBuilder.cc
  arcane/src/arcane/mesh/ExtraGhostCellsBuilder.cc
  arcane/src/arcane/mesh/ExtraGhostItemsManager.cc
  arcane/src/arcane/mesh/ExtraGhostParticlesBuilder.cc
  arcane/src/arcane/mesh/FaceUniqueIdBuilder.cc
  arcane/src/arcane/mesh/GhostLayerBuilder.cc
  arcane/src/arcane/mesh/GhostLayerBuilder2.cc
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/ItemsExchangeInfo2.cc
  arcane/src/arcane/mesh/ItemsExchangeInfo2.h
  arcane/src/arcane/mesh/MeshExchange.cc
  arcane/src/arcane/mesh/SubMeshTools.cc
  arcane/src/arcane/parallel/VariableParallelOperationBase.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.h
  arcane/src/arcane/parallel/mpithread/HybridParallelMng.cc
  arcane/src/arcane/parallel/mpithread/HybridParallelMng.h
  arcane/src/arcane/parallel/thread/SharedMemoryParallelMng.cc
  arcane/src/arcane/parallel/thread/SharedMemoryParallelMng.h
  arcane/src/arcane/srcs.cmake
  arcane/src/arcane/std/GraphDistributor.h
  arcane/src/arcane/std/ParallelDataReader.cc
  arcane/src/arcane/std/ParallelDataWriter.cc
  arcane/src/arcane/tests/ParallelMngTest.cc
  arcane/src/arcane/tests/ParallelTesterModule.cc
Labels: arcane, refactoring

#86 Cleanup MPI implementation of variables synchronization
  arcane/src/arcane/parallel/mpi/MpiVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiVariableSynchronizeDispatcher.h
Labels: arcane, refactoring
