Repository arcaneframework/framework, pull requests merged in 2022-10, with the labels that each got.

#363 Remove base class 'ItemBase' from Item and simplify some methods
  arcane/src/arcane/Item.cc
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemEnumerator.h
  arcane/src/arcane/ItemEnumeratorBase.h
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/impl/TimeLoopMng.cc
Labels: arcane, refactoring

#364 Optimize and cleanup 'ItemEnumerator'
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemEnumerator.h
  arcane/src/arcane/ItemEnumeratorBase.h
  arcane/src/arcane/ItemInternalVectorView.h
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/ItemTypes.h
  arcane/src/arcane/ItemVectorView.h
  arcane/src/arcane/SimdItem.h
Labels: arcane, refactoring

#366 Simplify 'ItemVectorViewConstIterator'
  arcane/src/arcane/ItemVectorView.h
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: arcane, refactoring

#367 Upgrade to version 3.21 of CMake
  arcane/CMakeLists.txt
  arcane/cmake/ArcaneConfig.cmake.in
  arcane/extras/benchs/microhydro/CMakeLists.txt
  arcane/samples_build/samples/CMakeLists.txt
  arcane/samples_build/samples/direct_cartesian/CMakeLists.txt
  arcane/samples_build/samples/honeycomb_heat/CMakeLists.txt
  arcane/samples_build/samples/hydro_accelerator/CMakeLists.txt
  arcane/samples_build/samples/mini_nbody/CMakeLists.txt
  arcane/samples_build/samples/print_meshinfo/CMakeLists.txt
  arcane/samples_build/samples/standalone_accelerator/CMakeLists.txt
Labels: arcane, build

#365 Add support for reductions on accelerator without using atomics
  arcane/src/arcane/accelerator/CommonCudaHipReduceImpl.h
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/RunCommandEnumerate.h
  arcane/src/arcane/accelerator/RunCommandLaunchInfo.cc
  arcane/src/arcane/accelerator/RunCommandLaunchInfo.h
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/accelerator/core/IReduceMemoryImpl.h
  arcane/src/arcane/accelerator/core/RunCommand.cc
  arcane/src/arcane/accelerator/core/RunCommand.h
Labels: enhancement, arcane, accelerator

#372 Add move and constructor and displacement for 'NumArray'
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/tests/TestNumArray.cc
Labels: enhancement, arcane

#373 Add explicit contructor from 'Real' in classes 'Real2', 'Real3', 'Real2x2' and 'Real3x3'
  arcane/src/arcane/utils/Real2.h
  arcane/src/arcane/utils/Real2x2.h
  arcane/src/arcane/utils/Real3.h
  arcane/src/arcane/utils/Real3x3.h
  arcane/src/arcane/utils/tests/CMakeLists.txt
  arcane/src/arcane/utils/tests/TestRealN.cc
Labels: enhancement, arcane

#374 Add support to change number of threads per block
  arcane/src/arcane/accelerator/RunCommandLaunchInfo.cc
  arcane/src/arcane/accelerator/core/RunCommand.cc
  arcane/src/arcane/accelerator/core/RunCommand.h
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
Labels: enhancement, arcane, accelerator

#375 Add helper function to manage exceptions
  arcane/ceapart/src/arcane/meshutils/ArcaneMeshUtilsMain.cc
  arcane/src/arcane/anyitem/AnyItemLinkVariable.h
  arcane/src/arcane/anyitem/AnyItemLinkVariableArray.h
  arcane/src/arcane/anyitem/AnyItemUserGroup.h
  arcane/src/arcane/anyitem/AnyItemVariable.h
  arcane/src/arcane/anyitem/AnyItemVariableArray.h
  arcane/src/arcane/driver/ArcaneDriverMain.cc
  arcane/src/arcane/mesh/FaceFamilyPolicyMng.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpithread/HybridParallelSuperMng.cc
  arcane/src/arcane/std/BasicReaderWriterDatabase.cc
  arcane/src/arcane/tests/ArcaneTestMain.cc
  arcane/src/arcane/utils/Exception.cc
  arcane/src/arcane/utils/Exception.h
Labels: enhancement, arcane

#376 In Gihub CI, use 'action/cache@v3' instead of 'action/cache@v2'
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_debug.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
  .github/workflows/codecov.yml
  .github/workflows/compile-all-vcpkg.yml
  .github/workflows/coverity.yml
  .github/workflows/ifpen_el7_foss-2018b.yml
  .github/workflows/ifpen_el7_gimkl-2018b.yml
  .github/workflows/ifpen_el8_foss-2018b.yml
  .github/workflows/ifpen_el8_gimkl-2018b.yml
Labels: CI

#377 [CI] Update deprecated versions de Github actions
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_debug.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
  .github/workflows/codecov.yml
  .github/workflows/compile-all-vcpkg.yml
  .github/workflows/coverity.yml
  .github/workflows/create-release-arcane.yml
  .github/workflows/create-release-arccon.yml
  .github/workflows/create-release-arccore.yml
  .github/workflows/create-release-axlstar.yml
  .github/workflows/header_check.yml
  .github/workflows/ifpen_el7_foss-2018b.yml
  .github/workflows/ifpen_el7_gimkl-2018b.yml
  .github/workflows/ifpen_el8_foss-2018b.yml
  .github/workflows/ifpen_el8_gimkl-2018b.yml
Labels: CI

#379 Add option to change Reduce policy on accelerator
  arcane/src/arcane/accelerator/CommonCudaHipReduceImpl.h
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/core/AcceleratorCoreGlobal.h
  arcane/src/arcane/accelerator/core/IReduceMemoryImpl.h
  arcane/src/arcane/accelerator/core/RunCommand.cc
  arcane/src/arcane/accelerator/core/RunQueueImpl.h
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/Runner.h
  arcane/src/arcane/tests/accelerator/AcceleratorReduceUnitTest.cc
Labels: enhancement, arcane, accelerator

#380 Update Axldoc for the new documentation
  axlstar/Arcane.Axl/Arcane.Axl/Translation.cs
  axlstar/Axlstar.AxlDoc/Arcane.AxlDoc/DoxygenDocumentationFile.cs
  axlstar/Axlstar.AxlDoc/Arcane.AxlDoc/DoxygenDocumentationGenerator.cs
  axlstar/Axlstar.AxlDoc/Arcane.AxlDoc/DoxygenDocumentationVisitor.cs
  axlstar/Axlstar.AxlDoc/Arcane.AxlDoc/DoxygenOptionIndexVisitor.cs
Labels: documentation, axlstar

#382 Removing references to 'old' pages in the index page
  arcane/doc/doc_common/chap_news/0_news.md
  arcane/doc/doc_user/chap_core_types/0_core_types.md
  arcane/doc/doc_user/chap_debug_perf/0_debug_perf.md
  arcane/doc/doc_user/chap_entities/0_entities.md
  arcane/doc/doc_user/chap_general/0_general.md
  arcane/doc/doc_user/chap_parallel/0_parallel.md
  arcane/doc/doc_user/chap_wrapping/subchap_csharp/0_csharp.md
  arcane/doc/doc_user/usermanual.md
Labels: documentation, arcane

#387 Replace 'set-output' with 'environment files'
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_debug.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
  .github/workflows/codecov.yml
  .github/workflows/coverity.yml
  .github/workflows/create-release-arcane.yml
  .github/workflows/create-release-arccon.yml
  .github/workflows/create-release-arccore.yml
  .github/workflows/create-release-axlstar.yml
Labels: CI

#384 Documentation improvements
  arcane/doc/devdoc.doxyfile
  arcane/doc/doc_common/changelog.md
  arcane/doc/doc_common/chap_news/0_news.md
  arcane/doc/doc_common/chap_news/2_item_handling.md
  arcane/doc/doc_common/chap_news/99_changelog20.md
  arcane/doc/doc_dev/0_devmanual.md
  arcane/doc/doc_user/0_usermanual.md
  arcane/doc/doc_user/chap_core_types/0_core_types.md
  arcane/doc/doc_user/chap_core_types/1_module.md
  arcane/doc/doc_user/chap_core_types/subchap_caseoptions/0_caseoptions.md
  arcane/doc/doc_user/chap_debug_perf/0_debug_perf.md
  arcane/doc/doc_user/chap_debug_perf/1_check_memory.md
  arcane/doc/doc_user/chap_debug_perf/2_compare_bittobit.md
  arcane/doc/doc_user/chap_debug_perf/3_unit_tests.md
  arcane/doc/doc_user/chap_debug_perf/4_profiling.goto
  arcane/doc/doc_user/chap_debug_perf/subchap_profiling/0_profiling.md
  arcane/doc/doc_user/chap_debug_perf/subchap_profiling/1_sampling.md
  arcane/doc/doc_user/chap_debug_perf/subchap_profiling/2_mpi.md
  arcane/doc/doc_user/chap_entities/0_entities.md
  arcane/doc/doc_user/chap_entities/5_geometric.md
  arcane/doc/doc_user/chap_examples/0_examples.md
  arcane/doc/doc_user/chap_examples/subchap_concret_example/0_concret_example.md
  arcane/doc/doc_user/chap_examples/subchap_simple_example/0_simple_example.md
  arcane/doc/doc_user/chap_execution/0_execution.md
  arcane/doc/doc_user/chap_execution/1_launcher.md
  arcane/doc/doc_user/chap_execution/2_direct_execution.md
  arcane/doc/doc_user/chap_execution/3_env_variables.md
  arcane/doc/doc_user/chap_execution/4_traces.md
  arcane/doc/doc_user/chap_general/0_general.md
  arcane/doc/doc_user/chap_general/1_codingrules.md
  arcane/doc/doc_user/chap_getting_started/0_getting_started.md
  arcane/doc/doc_user/chap_materials/0_materials.md
  arcane/doc/doc_user/chap_materials/1_manage.md
  arcane/doc/doc_user/chap_parallel/0_parallel.md
  arcane/doc/doc_user/chap_parallel/2_concurrency.md
  arcane/doc/doc_user/chap_parallel/4_accelerator.md
  arcane/doc/doc_user/chap_services_modules/0_services_modules.md
  arcane/doc/doc_user/chap_wrapping/0_wrapping.md
  arcane/doc/doc_user/chap_wrapping/subchap_csharp/0_csharp.md
  arcane/doc/doc_user/usermanual.md
  arcane/doc/theme/css/custom.css
  arcane/doc/userdoc.doxyfile
  arcane/src/arcane/utils/ITraceMngPolicy.h
  arcane/tutorial/helloworld/HelloWorld.dox
Labels: documentation, arcane

#390 Documentation improvements
  arcane/doc/devdoc.doxyfile
  arcane/doc/doc_common/chap_news/0_news.md
  arcane/doc/doc_dev/0_devmanual.md
  arcane/doc/doc_dev/connectivity.md
  arcane/doc/doc_dev/how_write_doc.md
  arcane/doc/doc_dev/mesh_reader.md
  arcane/doc/doc_user/0_usermanual.md
  arcane/doc/doc_user/chap_core_types/0_core_types.md
  arcane/doc/doc_user/chap_core_types/9_array.md
  arcane/doc/doc_user/chap_core_types/subchap_caseoptions/0_caseoptions.md
  arcane/doc/doc_user/chap_core_types/subchap_caseoptions/1_intro.md
  arcane/doc/doc_user/chap_core_types/subchap_caseoptions/1_struct.md
  arcane/doc/doc_user/chap_core_types/subchap_caseoptions/2_common_struct.md
  arcane/doc/doc_user/chap_core_types/subchap_caseoptions/3_options.md
  arcane/doc/doc_user/chap_core_types/subchap_caseoptions/4_usage.md
  arcane/doc/doc_user/chap_core_types/subchap_caseoptions/5_default_values.md
  arcane/doc/doc_user/chap_debug_perf/0_debug_perf.md
  arcane/doc/doc_user/chap_entities/0_entities.md
  arcane/doc/doc_user/chap_examples/0_examples.md
  arcane/doc/doc_user/chap_examples/subchap_concret_example/1_struct.md
  arcane/doc/doc_user/chap_examples/subchap_concret_example/img/QAMA_schema.jpg
  arcane/doc/doc_user/chap_examples/subchap_concret_example/img/QAMA_schema.odg
  arcane/doc/doc_user/chap_examples/subchap_concret_example/img/QAMA_schema.svg
  arcane/doc/doc_user/chap_execution/0_execution.md
  arcane/doc/doc_user/chap_general/0_general.md
  arcane/doc/doc_user/chap_general/1_codingrules.md
  arcane/doc/doc_user/chap_getting_started/0_getting_started.md
  arcane/doc/doc_user/chap_getting_started/2_basicstruct.md
  arcane/doc/doc_user/chap_materials/0_materials.md
  arcane/doc/doc_user/chap_parallel/0_parallel.md
  arcane/doc/doc_user/chap_services_modules/0_services_modules.md
  arcane/doc/doc_user/chap_wrapping/0_wrapping.md
  arcane/doc/doc_user/chap_wrapping/subchap_csharp/0_csharp.md
  arcane/doc/doc_user/chap_wrapping/subchap_csharp/2_swig_wrapping.md
  arcane/doc/theme/html/header.html
  arcane/doc/theme/js/script-alternative-theme.js
  arcane/doc/userdoc.doxyfile
  arcane/src/arcane/mesh/connectivity.dox
Labels: documentation, arcane

#392 Generalization of the profiling for accelerator API
  arcane/src/arcane/Concurrency.h
  arcane/src/arcane/accelerator/NumArrayViews.h
  arcane/src/arcane/accelerator/RunCommandEnumerate.h
  arcane/src/arcane/accelerator/RunCommandLaunchInfo.cc
  arcane/src/arcane/accelerator/RunCommandLaunchInfo.h
  arcane/src/arcane/accelerator/RunQueueInternal.cc
  arcane/src/arcane/accelerator/RunQueueInternal.h
  arcane/src/arcane/accelerator/cuda/runtime/Test.cu
  arcane/src/arcane/impl/ArcaneMainBatch.cc
  arcane/src/arcane/parallel/thread/TBBTaskImplementation.cc
  arcane/src/arcane/tests/ModuleSimpleHydro.cc
  arcane/src/arcane/tests/accelerator/MiniWeatherArraySequential.cc
  arcane/src/arcane/utils/ConcurrencyUtils.h
  arcane/src/arcane/utils/Profiling.cc
  arcane/src/arcane/utils/Profiling.h
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/srcs.cmake
Labels: enhancement, arcane, refactoring, accelerator

#394 Add support to use device events to measure elapsed time in a kernel
  arcane/src/arcane/accelerator/Accelerator.cc
  arcane/src/arcane/accelerator/CommonCudaHipReduceImpl.h
  arcane/src/arcane/accelerator/RunCommandLaunchInfo.cc
  arcane/src/arcane/accelerator/RunCommandLaunchInfo.h
  arcane/src/arcane/accelerator/core/AcceleratorCoreGlobal.h
  arcane/src/arcane/accelerator/core/IRunQueueEventImpl.h
  arcane/src/arcane/accelerator/core/IRunQueueRuntime.h
  arcane/src/arcane/accelerator/core/IRunQueueStream.h
  arcane/src/arcane/accelerator/core/RunCommand.cc
  arcane/src/arcane/accelerator/core/RunCommand.h
  arcane/src/arcane/accelerator/core/RunCommandImpl.h
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/accelerator/core/RunQueueImpl.cc
  arcane/src/arcane/accelerator/core/RunQueueImpl.h
  arcane/src/arcane/accelerator/core/RunQueueRuntime.cc
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/Runner.h
  arcane/src/arcane/accelerator/core/srcs.cmake
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
  arcane/src/arcane/utils/Profiling.h
Labels: enhancement, arcane, refactoring, accelerator

#395 Cleanup loop profiling
  arcane/src/arcane/accelerator/core/RunCommand.cc
  arcane/src/arcane/accelerator/core/RunCommandImpl.h
  arcane/src/arcane/impl/Application.cc
  arcane/src/arcane/parallel/thread/TBBTaskImplementation.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/ModuleSimpleHydro.cc
  arcane/src/arcane/tests/accelerator/SimpleHydroAcceleratorService.cc
  arcane/src/arcane/utils/ConcurrencyUtils.cc
  arcane/src/arcane/utils/ConcurrencyUtils.h
  arcane/src/arcane/utils/ForLoopTraceInfo.h
  arcane/src/arcane/utils/ParallelLoopOptions.h
  arcane/src/arcane/utils/Profiling.cc
  arcane/src/arcane/utils/Profiling.h
  arcane/src/arcane/utils/srcs.cmake
Labels: arcane, refactoring, accelerator

#397 Remove deprecated functions in accelerator API and refactor some internal parts
  arcane/src/arcane/accelerator/RunCommandLaunchInfo.h
  arcane/src/arcane/accelerator/core/AcceleratorCore.cc
  arcane/src/arcane/accelerator/core/AcceleratorCoreGlobal.h
  arcane/src/arcane/accelerator/core/IRunQueueRuntime.h
  arcane/src/arcane/accelerator/core/IRunnerRuntime.h
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/accelerator/core/RunQueueImpl.cc
  arcane/src/arcane/accelerator/core/RunQueueImpl.h
  arcane/src/arcane/accelerator/core/RunQueueRuntime.cc
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/Runner.h
  arcane/src/arcane/accelerator/core/srcs.cmake
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/cuda/runtime/Test.cu
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/runtime/Test.cu.cc
Labels: arcane, refactoring, accelerator

#396 Add a new page with theme customization options
  arcane/doc/doc_common/doc_config.md
  arcane/doc/doc_dev/3_env_variables.md
  arcane/doc/doc_user/0_usermanual.md
  arcane/doc/theme/html/footer.html
  arcane/doc/theme/html/header.html
  arcane/doc/theme/html/header_no_theme.html
  arcane/doc/theme/js/script-alternative-theme.js
  arcane/doc/theme/js/script-apply-config-theme.js
  arcane/doc/theme/js/script-config-theme.js
  arcane/doc/theme/js/script-edit-config-theme.js
  arcane/doc/theme/js/script-expand-current.js
  arcane/doc/theme/js/script-helper.js
  arcane/doc/theme/js/script-num-lines-code.js
  arcane/doc/theme/js/script-resize.js
  arcane/doc/theme/js/script-wait-elem.js
  arcane/doc/userdoc.doxyfile
Labels: documentation, arcane

#398 Fix some coverity warnings
  arcane/ceapart/src/arcane/tests/AdiProjectionModule.h
  arcane/ceapart/src/arcane/tests/UnitTestCartesianMeshPatch.cc
  arcane/src/arcane/ItemGroupRangeIterator.cc
  arcane/src/arcane/ParallelMngDispatcher.cc
  arcane/src/arcane/ParallelMngDispatcher.h
  arcane/src/arcane/aleph/AlephVector.h
  arcane/src/arcane/aleph/hypre/IAlephHypre.h
  arcane/src/arcane/aleph/petsc/IAlephPETSc.h
  arcane/src/arcane/aleph/trilinos/IAlephTrilinos.h
  arcane/src/arcane/dotnet/coreclr/ArcaneCoreClr.cc
  arcane/src/arcane/geometry/impl/GeometryTemplatesT.h
  arcane/src/arcane/impl/TimeHistoryMng2.cc
  arcane/src/arcane/impl/TimeStats.cc
  arcane/src/arcane/materials/MeshMaterialIndirectModifier.cc
  arcane/src/arcane/materials/MeshMaterialIndirectModifier.h
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.h
  arcane/src/arcane/std/Bzip2DeflateService.cc
  arcane/src/arcane/std/LinuxPerfPerformanceCounterService.cc
  arcane/src/arcane/std/MeshPartitionerBase.h
  arcane/src/arcane/std/Otf2LibWrapper.cc
  arcane/src/arcane/std/PapiPerformanceService.cc
Labels: enhancement, arcane
