Repository arcaneframework/framework, pull requests merged in 2022-11, with the labels that each got.

#400 Various arccore refactoring
  arccore/src/base/arccore/base/ArccoreGlobal.h
  arccore/src/base/arccore/base/RefDeclarations.h
  arccore/src/base/arccore/base/Span.h
  arccore/src/base/tests/TestArrayView.cc
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/tests/TestArray.cc
  arccore/src/concurrency/arccore/concurrency/ThreadPrivate.h
  arccore/src/message_passing/arccore/message_passing/IMessagePassingMng.h
  arccore/src/message_passing/arccore/message_passing/MessagePassingGlobal.h
  arccore/src/message_passing/arccore/message_passing/MessagePassingMng.h
  arccore/src/message_passing/arccore/message_passing/Stat.cc
  arccore/src/trace/arccore/trace/TraceMng.cc
Labels: arccore, refactoring

#401 Fix mpTestSome() function
  arccore/src/message_passing/arccore/message_passing/Messages.cc
Labels: arccore

#402 Remove various coverity warnings
  arcane/ceapart/src/arcane/tests/RayMeshIntersectionUnitTest.cc
  arcane/src/arcane/SharedReference.cc
  arcane/src/arcane/SharedReference.h
  arcane/src/arcane/VariableMetaData.cc
  arcane/src/arcane/aleph/AlephMatrix.h
  arcane/src/arcane/anyitem/AnyItemLinkFamily.h
  arcane/src/arcane/mesh/MapCoordToUid.cc
  arcane/src/arcane/mesh/MeshRefinement.cc
  arcane/src/arcane/mesh/NonBlockingParticleExchanger.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/parallel/mpithread/HybridParallelDispatch.h
  arcane/src/arcane/random/NormalDistribution.h
  arcane/src/arcane/std/ArcanePostProcessingModule.cc
  arcane/src/arcane/std/Bzip2DeflateService.cc
  arcane/src/arcane/std/GraphDistributor.h
  arcane/src/arcane/std/Otf2MpiProfiling.cc
  arcane/src/arcane/std/ProfilingInfo.cc
  arcane/src/arcane/tests/TaskUnitTest.cc
  arcane/src/arcane/utils/ArcaneGlobal.h
  arcane/src/arcane/utils/Misc.cc
  arcane/src/arcane/utils/NumArray.h
  arcane/tools/Arcane.Curves/ArcaneCaseReader.cs
  arcane/tools/Arcane.Curves/RelativeMaxError.cs
  arcane/tools/Arcane.Curves/Utils.cs
  arcane/tools/Arcane.MatVec/MatVecTest/Main.cs
  arcane/tools/Arcane.Utils/Tests/Main.cs
Labels: arcane, refactoring

#403 Continue remove coverity warnings
  arcane/src/arcane/tests/SimdGeneratedUnitTest.h
  arcane/tools/Arcane.Curves/ArcaneCaseReader.cs
  arcane/tools/Arcane.Curves/Interpolation.cs
  arcane/tools/Arcane.Curves/Utils.cs
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.Common/NetCoreIndirectAssemblyLoader.cs
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.TestDriver/TestDriver.cs
  arcane/tools/Arcane.MatVec/MatVecTest/Main.cs
  arcane/tools/Arcane.Utils/Tests/Main.cs
  arcane/tools/Directory.Build.props
  arcane/tools/SimdGenerator/UnitTestSimd.cs
  arcane/tools/SimdGenerator/UnitTestSimd.tt
Labels: arcane, refactoring

#405 Remove more coverity warnings
  arcane/ceapart/src/arcane/tests/AdiProjectionModule.cc
  arcane/src/arcane/SimdMathUtils.h
  arcane/src/arcane/accelerator/RunCommandEnumerate.h
  arcane/src/arcane/datatype/ScalarVariant.cc
  arcane/src/arcane/datatype/ScalarVariant.h
  arcane/src/arcane/expr/LitteralExpressionImpl.cc
  arcane/src/arcane/expr/LitteralExpressionImpl.h
  arcane/src/arcane/impl/TimeLoopReader.cc
  arcane/src/arcane/impl/VariableMng.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterialBackup.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/std/JsonMessagePassingProfilingService.cc
  arcane/src/arcane/std/MetisMeshPartitioner.cc
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
  arcane/src/arcane/tests/accelerator/SimpleHydroAcceleratorService.cc
Labels: arcane, refactoring

#407 Cleanup classes 'Collection', 'List' and their implementation
  arcane/src/arcane/mesh/MeshPartitionConstraintMng.cc
  arcane/src/arcane/utils/AutoRef.h
  arcane/src/arcane/utils/Collection.h
  arcane/src/arcane/utils/CollectionImpl.h
  arcane/src/arcane/utils/Enumerator.h
  arcane/src/arcane/utils/List.h
  arcane/src/arcane/utils/ListImpl.h
  arcane/src/arcane/utils/ObjectImpl.h
  arcane/src/arcane/utils/tests/CMakeLists.txt
  arcane/src/arcane/utils/tests/TestCollections.cc
Labels: arcane, refactoring

#408 Depreciate class 'AtomicInt32'
  arcane/src/arcane/ItemTypeMng.cc
  arcane/src/arcane/ItemTypeMng.h
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/src/arcane/impl/ArcaneMain.h
  arcane/src/arcane/tests/TaskUnitTest.cc
  arcane/src/arcane/tests/ThreadUnitTest.cc
  arcane/src/arcane/utils/Atomic.h
  arcane/src/arcane/utils/SharedPtr.h
Labels: arcane, refactoring

#409 Add 'const' keyword for local variables which are not modified
  arcane/ceapart/src/arcane/tests/MeshMaterialTesterModule.cc
  arcane/src/arcane/impl/ArcaneCaseMeshService.cc
  arcane/src/arcane/impl/ServiceLoader.cc
  arcane/src/arcane/impl/TimeStats.cc
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/matvec/AMG.cc
  arcane/src/arcane/matvec/Matrix.cc
  arcane/src/arcane/mesh/ConnectivityNewWithDependenciesTypes.h
  arcane/src/arcane/mesh/DynamicMeshChecker.cc
  arcane/src/arcane/mesh/GhostLayerBuilder.cc
  arcane/src/arcane/mesh/MeshExchange.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/parallel/VariableParallelOperationBase.cc
  arcane/src/arcane/std/BasicReaderWriter.cc
  arcane/src/arcane/tests/ParallelMngTest.cc
  arcane/src/arcane/tests/ParallelTesterModule.cc
Labels: arcane, refactoring

#413 Create a specific class to dump execution statistics
  arcane/src/arcane/ArcaneTypes.h
  arcane/src/arcane/impl/ArcaneMainBatch.cc
  arcane/src/arcane/impl/ExecutionStatsDumper.cc
  arcane/src/arcane/impl/ExecutionStatsDumper.h
  arcane/src/arcane/impl/srcs.cmake
  arcane/src/arcane/utils/Profiling.cc
  arcane/src/arcane/utils/Profiling.h
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/internal/ProfilingInternal.h
  arcane/src/arcane/utils/srcs.cmake
Labels: enhancement, arcane, refactoring

#414 Fix compilation with 'Intel OneTBB' version 2021.6 and newer
  arcane/src/arcane/parallel/thread/TBBTaskImplementation.cc
Labels: bug, arcane, build

#416 Fix saving of mesh properties before a checkpoint
  arcane/src/arcane/impl/SubDomain.cc
  arcane/src/arcane/impl/VariableMng.cc
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/ItemFamily.cc
Labels: bug, arcane

#417 Add output using 'SimpleTableOutput' for profiling
  arcane/src/arcane/impl/ExecutionStatsDumper.cc
  arcane/src/arcane/impl/ExecutionStatsDumper.h
  arcane/src/arcane/std/SimpleCsvComparatorService.cc
  arcane/src/arcane/std/SimpleCsvComparatorService.h
  arcane/src/arcane/std/SimpleCsvOutputService.cc
  arcane/src/arcane/std/SimpleCsvOutputService.h
Labels: enhancement, arcane

#371 Add possibility to keep 'ItemSharedInfo' instances in 'ItemInternalConnectivityList'
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemSharedInfo.cc
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/MeshItemInternalList.cc
  arcane/src/arcane/MeshItemInternalList.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/srcs.cmake
Labels: arcane, refactoring

#419 Use a typename instead of an int for extents in classes MDSpan and NumArray.
  arcane/src/arcane/utils/UtilsTypes.h
Labels: arcane, refactoring, accelerator

#420 Add support to change default ParallellLoopOptions from command line
  arcane/doc/doc_user/chap_execution/1_launcher.md
  arcane/src/arcane/launcher/ArcaneLauncher.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/TaskUnitTest.cc
  arcane/src/arcane/utils/ParallelLoopOptions.cc
  arcane/src/arcane/utils/ParallelLoopOptions.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/tests/results/task1_setoptions_task4.txt
Labels: enhancement, arcane

#421 Remove usage of virtual (CPU) timer
  arcane/src/arcane/EntryPoint.cc
  arcane/src/arcane/EntryPoint.h
  arcane/src/arcane/IEntryPoint.h
  arcane/src/arcane/impl/TimeLoopMng.cc
  arcane/src/arcane/impl/TimerMng.cc
  arcane/src/arcane/impl/TimerMng.h
Labels: arcane, refactoring

#422 Remove deprecated classes 'IAllocator', 'DefaultAllocator', 'DataVector1D', 'DataVectorCommond1D' and 'Dictionary'
  arcane/src/arcane/utils/DataTypeContainer.h
  arcane/src/arcane/utils/DataVector1D.cc
  arcane/src/arcane/utils/DataVector1D.h
  arcane/src/arcane/utils/DataVectorCommon1D.h
  arcane/src/arcane/utils/DefaultAllocator.h
  arcane/src/arcane/utils/Dictionary.h
  arcane/src/arcane/utils/IAllocator.h
  arcane/src/arcane/utils/ListImpl.h
  arcane/src/arcane/utils/srcs.cmake
Labels: arcane, refactoring

#423 Fix 'waitSomeRequestsMPI()' method with invalid 'request' in 'requests' ArrayView
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiAdapter.cc
Labels: bug, arccore

#424 Add template parameter for extent in 'Span' and 'Span2' classes
  arccore/src/base/arccore/base/ArrayView.h
  arccore/src/base/arccore/base/BaseTypes.h
  arccore/src/base/arccore/base/Span.h
  arccore/src/base/arccore/base/Span2.h
Labels: enhancement, arccore, refactoring

#425 Remove usage of compatibility macros for Array extents
  arcane/src/arcane/accelerator/NumArrayViews.h
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/impl/NumArrayData.cc
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
  arcane/src/arcane/utils/ArrayBounds.h
  arcane/src/arcane/utils/ArrayExtents.h
  arcane/src/arcane/utils/ArrayLayout.h
  arcane/src/arcane/utils/ForLoopRanges.h
  arcane/src/arcane/utils/MDSpan.h
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/UtilsTypes.h
Labels: arcane, refactoring

#426 Cleanup classes managing 'ArrayExtent' to prepare support for static extents.
  arcane/src/arcane/accelerator/cuda/runtime/Test.cu
  arcane/src/arcane/accelerator/hip/runtime/Test.cu.cc
  arcane/src/arcane/datatype/RealArray2Variant.h
  arcane/src/arcane/datatype/RealArrayVariant.h
  arcane/src/arcane/impl/NumArrayData.cc
  arcane/src/arcane/parallel/thread/TBBTaskImplementation.cc
  arcane/src/arcane/utils/ArrayBounds.h
  arcane/src/arcane/utils/ArrayExtents.h
  arcane/src/arcane/utils/ArrayExtentsValue.h
  arcane/src/arcane/utils/ArrayLayout.h
  arcane/src/arcane/utils/ForLoopRanges.h
  arcane/src/arcane/utils/MDSpan.h
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/srcs.cmake
Labels: arcane, refactoring, accelerator

#427 Add MPI_Recv in MpiAdapter constructor
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiAdapter.cc
Labels: arccore

#429 Use a specific buffer for dummy receive to check empty request
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiAdapter.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiAdapter.h
Labels: bug, arccore

#428 Make 'MDDim' a typedef of 'ExtentsV' and generalize specialization of classes handling N-dimensions array
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/impl/NumArrayData.cc
  arcane/src/arcane/tests/accelerator/MiniWeatherArray.cc
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
  arcane/src/arcane/utils/ArrayBounds.h
  arcane/src/arcane/utils/ArrayExtents.h
  arcane/src/arcane/utils/ArrayExtentsValue.h
  arcane/src/arcane/utils/ArrayLayout.h
  arcane/src/arcane/utils/ForLoopRanges.h
  arcane/src/arcane/utils/MDDim.h
  arcane/src/arcane/utils/MDSpan.h
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/src/arcane/utils/tests/TestNumArray.cc
Labels: enhancement, arcane, refactoring, accelerator

#430 Add support in Arccore for MPI_Iprobe and MPI_Probe semantic
  arccore/src/message_passing/arccore/message_passing/CMakeLists.txt
  arccore/src/message_passing/arccore/message_passing/IControlDispatcher.h
  arccore/src/message_passing/arccore/message_passing/MessageId.h
  arccore/src/message_passing/arccore/message_passing/MessagePassingGlobal.h
  arccore/src/message_passing/arccore/message_passing/MessageSourceInfo.h
  arccore/src/message_passing/arccore/message_passing/Messages.cc
  arccore/src/message_passing/arccore/message_passing/Messages.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiAdapter.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiAdapter.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiControlDispatcher.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiControlDispatcher.h
Labels: enhancement, arccore

#431 Add support for 'mpLegacyProbe()' in different message passing implementation
  arcane/src/arcane/IParallelMng.h
  arcane/src/arcane/Parallel.h
  arcane/src/arcane/ParallelMngDispatcher.cc
  arcane/src/arcane/ParallelMngDispatcher.h
  arcane/src/arcane/impl/SequentialParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.h
  arcane/src/arcane/parallel/mpithread/HybridMessageQueue.cc
  arcane/src/arcane/parallel/mpithread/HybridMessageQueue.h
  arcane/src/arcane/parallel/mpithread/HybridParallelMng.cc
  arcane/src/arcane/parallel/mpithread/HybridParallelMng.h
  arcane/src/arcane/parallel/thread/ISharedMemoryMessageQueue.h
  arcane/src/arcane/parallel/thread/SharedMemoryMessageQueue.cc
  arcane/src/arcane/parallel/thread/SharedMemoryMessageQueue.h
  arcane/src/arcane/parallel/thread/SharedMemoryParallelMng.cc
  arcane/src/arcane/parallel/thread/SharedMemoryParallelMng.h
  arcane/src/arcane/tests/ParallelMngDataTypeTest.cc
Labels: enhancement, arcane

#432 Improve support for static extents in 'NumArray'
  arcane/src/arcane/impl/NumArrayData.cc
  arcane/src/arcane/utils/ArrayBoundsIndex.h
  arcane/src/arcane/utils/ArrayExtents.h
  arcane/src/arcane/utils/ArrayExtentsValue.h
  arcane/src/arcane/utils/MDDim.h
  arcane/src/arcane/utils/MDSpan.h
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/tests/TestNumArray.cc
Labels: enhancement, arcane

#433 Remove specialization for 'NumArray' and 'MDSpan'
  arcane/src/arcane/utils/ArrayExtentsValue.h
  arcane/src/arcane/utils/MDSpan.h
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/tests/TestNumArray.cc
Labels: arcane, refactoring

#434 Use by default Version 2 of MPI Synchronization
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: arcane

#435 Add 'ICaseMeshReader' implementation for mesh file format 'msh'.
  arcane/src/arcane/impl/ArcaneCaseMeshService.cc
  arcane/src/arcane/std/MshMeshReader.cc
  arcane/tests/testIos-msh2.arc
Labels: enhancement, arcane

#436 Remove use of array rank in 'DefaultLayout', 'RightLayout' and 'LefLayoyt'
  arcane/src/arcane/tests/accelerator/MiniWeatherArray.cc
  arcane/src/arcane/utils/ArrayExtents.h
  arcane/src/arcane/utils/ArrayLayout.h
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/tests/TestNumArray.cc
Labels: arcane, refactoring

#437 Cleanup 'NumArray' and associated classes
  arcane/src/arcane/utils/ArrayExtents.h
  arcane/src/arcane/utils/ArrayIndex.h
  arcane/src/arcane/utils/MDSpan.h
  arcane/src/arcane/utils/NumArray.cc
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/UtilsTypes.h
Labels: enhancement, arcane, refactoring

#438 Unify kernel launch between RUNCOMMAND_LOOP and RUNCOMMAND_ENUMERATE
  arcane/src/arcane/accelerator/RunCommandEnumerate.h
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/accelerator/RunQueueInternal.h
Labels: arcane, refactoring, accelerator

#439 Add Lima implementation for 'ICaseMeshReader'
  arcane/ceapart/src/arcane/cea/Lima.cc
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/lima-hydro-meshservice.arc
Labels: enhancement, arcane

#440 Simplify 'NumArrayView' and add support for any kind of 'NumArray'
  arcane/src/arcane/accelerator/NumArrayViews.h
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
  arcane/src/arcane/utils/ArrayBounds.h
  arcane/src/arcane/utils/ForLoopRanges.h
  arcane/src/arcane/utils/MDSpan.h
  arcane/src/arcane/utils/NumArray.h
Labels: enhancement, arcane, refactoring, accelerator

#441 Begin development of classes to 'NumVector' and 'NumMatrix' to generalize 'Real2', 'Real3', 'Real2x2' and 'Real3x3'
  arcane/src/arcane/datatype/RealArray2Variant.cc
  arcane/src/arcane/datatype/RealArrayVariant.cc
  arcane/src/arcane/utils/NumMatrix.h
  arcane/src/arcane/utils/NumVector.h
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/src/arcane/utils/tests/CMakeLists.txt
  arcane/src/arcane/utils/tests/TestNumVector.cc
Labels: enhancement, arcane

#442 Use profiling API for Item and Materials enumerator tracers
  arcane/src/arcane/EnumeratorTraceWrapper.h
  arcane/src/arcane/IItemEnumeratorTracer.h
  arcane/src/arcane/ItemEnumerator.cc
  arcane/src/arcane/ItemTypes.h
  arcane/src/arcane/core/materials/IEnumeratorTracer.h
  arcane/src/arcane/impl/Application.cc
  arcane/src/arcane/impl/ItemEnumeratorTracer.cc
  arcane/src/arcane/impl/ItemEnumeratorTracer.h
  arcane/src/arcane/materials/EnumeratorTracer.cc
  arcane/src/arcane/materials/EnumeratorTracer.h
  arcane/src/arcane/utils/PlatformUtils.cc
  arcane/src/arcane/utils/PlatformUtils.h
Labels: enhancement, arcane, refactoring
