Repository arcaneframework/framework, pull requests merged in 2022-05, with the labels that each got.

#208 Fix build on Ubuntu 22.04
  arccore/src/concurrency/arccore/concurrency/GlibThreadImplementation.cc
Labels: bug, arccore

#214 Add MPI Synchronization implementation using fixed block size
  arcane/src/arcane/parallel/mpi/MpiBlockVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiBlockVariableSynchronizeDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#213 Add support for 'NumArray' to 'RealArrayVariant' and 'RealArray2Variant'
  arcane/src/arcane/datatype/RealArray2Variant.cc
  arcane/src/arcane/datatype/RealArray2Variant.h
  arcane/src/arcane/datatype/RealArrayVariant.cc
  arcane/src/arcane/datatype/RealArrayVariant.h
Labels: enhancement, arcane

#215 Fix MaterialVariableCellArrayInteger typedef
  arcane/ceapart/src/arcane/materials/MeshMaterialVariableRef.h
Labels: bug

#216 Add edge connectivity access to UnstructuredMeshConnectivityView
  arcane/src/arcane/UnstructuredMeshConnectivity.cc
  arcane/src/arcane/UnstructuredMeshConnectivity.h
  arcane/src/arcane/tests/SubMeshTestModule.cc
Labels: enhancement, arcane

#217 Add accelerator access to some methods of 'MDSpan'
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
  arcane/src/arcane/utils/MDSpan.h
Labels: enhancement, arcane, accelerator

#218 Fix custom mesh test
  arcane/src/arcane/ItemTypeMng.h
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/tests/CustomMeshTestModule.cc
  arcane/tests/testMeshCustom-1.arc
Labels: bug, arcane

#219 Add several allocation buffer strategy to material synchronization
  arcane/ceapart/src/arcane/materials/IMeshMaterialSynchronizeBuffer.h
  arcane/ceapart/src/arcane/materials/IMeshMaterialVariableSynchronizer.h
  arcane/ceapart/src/arcane/materials/MaterialsGlobal.h
  arcane/ceapart/src/arcane/materials/MeshMaterialSynchronizeBuffer.cc
  arcane/ceapart/src/arcane/materials/MeshMaterialVariable.h
  arcane/ceapart/src/arcane/materials/MeshMaterialVariableScalar.cc
  arcane/ceapart/src/arcane/materials/MeshMaterialVariableSynchronizer.cc
  arcane/ceapart/src/arcane/materials/MeshMaterialVariableSynchronizer.h
  arcane/ceapart/src/arcane/materials/MeshMaterialVariableSynchronizerList.cc
  arcane/ceapart/src/arcane/materials/MeshMaterialVariableSynchronizerList.h
  arcane/ceapart/src/arcane/materials/materials.dox
  arcane/ceapart/src/arcane/materials/srcs.cmake
  arcane/ceapart/tests/CMakeLists.txt
Labels: enhancement, arcane

#220 Add collective statistics for time spent in message passing
  arcane/src/arcane/Parallel.cc
  arcane/src/arcane/Parallel.h
  arcane/src/arcane/impl/TimeLoopMng.cc
  arcane/src/arcane/parallel/IStat.h
  arcane/src/arcane/parallel/Stat.cc
Labels: enhancement, arcane

#221 Add mesh origin and mesh length to cartesian mesh infos
  arcane/ceapart/src/arcane/tests/CartesianMeshTester.axl
  arcane/ceapart/src/arcane/tests/CartesianMeshTesterModule.cc
  arcane/ceapart/tests/testCartesianMesh-grid-partitioning.arc
  arcane/ceapart/tests/testCartesianMesh-grid-partitioning12.arc
  arcane/ceapart/tests/testCartesianMesh-grid-partitioning6.arc
  arcane/ceapart/tests/testCartesianMesh3D-grid-partitioning.arc
  arcane/src/arcane/ICartesianMeshGenerationInfo.h
  arcane/src/arcane/core/internal/CartesianMeshGenerationInfo.cc
  arcane/src/arcane/core/internal/CartesianMeshGenerationInfo.h
  arcane/src/arcane/std/CartesianMeshGenerator.cc
Labels: enhancement, arcane

#223 Improve Span2 and ArrayView implementation
  arccore/src/base/arccore/base/Array2View.h
  arccore/src/base/arccore/base/Array3View.h
  arccore/src/base/arccore/base/Array4View.h
  arccore/src/base/arccore/base/ArrayView.h
  arccore/src/base/arccore/base/ArrayViewCommon.h
  arccore/src/base/arccore/base/BaseTypes.h
  arccore/src/base/arccore/base/Span.h
  arccore/src/base/arccore/base/Span2.h
  arccore/src/base/tests/TestArrayView.cc
Labels: enhancement, arccore

#224 Add tests for checkpoint/restart with existing checkpoint file
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/continue_hydro3_cartesian_small.xml
  arcane/tests/continue_hydro3_cartesian_small_4shm.xml
  arcane/tests/data/test_output_continue_hydro3_cartesian_small/checkpoint_info.xml
  arcane/tests/data/test_output_continue_hydro3_cartesian_small/protection/arcanedump_n0/arcane_acr_db.json
  arcane/tests/data/test_output_continue_hydro3_cartesian_small/protection/arcanedump_n0/arcane_db_n0.acr
  arcane/tests/data/test_output_continue_hydro3_cartesian_small_4shm/checkpoint_info.xml
  arcane/tests/data/test_output_continue_hydro3_cartesian_small_4shm/protection/arcanedump_n0/arcane_acr_db.json
  arcane/tests/data/test_output_continue_hydro3_cartesian_small_4shm/protection/arcanedump_n0/arcane_db_n0.acr
  arcane/tests/data/test_output_continue_hydro3_cartesian_small_4shm/protection/arcanedump_n0/arcane_db_n1.acr
  arcane/tests/data/test_output_continue_hydro3_cartesian_small_4shm/protection/arcanedump_n0/arcane_db_n2.acr
  arcane/tests/data/test_output_continue_hydro3_cartesian_small_4shm/protection/arcanedump_n0/arcane_db_n3.acr
  arcane/tests/testHydro-3-cartesian-small-nodump.arc
  arcane/tests/testHydro-3-cartesian-small.arc
Labels: enhancement, arcane

#227 Use variables to store values of 'owner()', 'flags()' and 'typeid()' from 'ItemSharedInfo'.
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
Labels: arcane, refactoring

#222 Unify Mesh Variables and NumArray access
  arcane/CMakeLists.txt
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemEnumerator.h
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemLocalId.h
  arcane/src/arcane/ItemPairEnumerator.h
  arcane/src/arcane/ItemTypes.h
  arcane/src/arcane/MeshVariableArrayRef.h
  arcane/src/arcane/MeshVariableScalarRef.h
  arcane/src/arcane/accelerator/VariableViews.h
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/src/arcane/tests/ModuleSimpleHydro.cc
  arcane/src/arcane/tests/VariableUnitTest.cc
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/UtilsTypes.h
Labels: enhancement, arcane, refactoring
