Repository arcaneframework/framework, pull requests merged in 2022-06, with the labels that each got.

#229 Try vtk polyhedral reader
  arcane/maillages/faultx1_2x1x1.vtk
  arcane/src/arcane/mesh/CMakeLists.txt
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMeshTools.cc
  arcane/src/arcane/mesh/PolyhedralMeshTools.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testMeshCustom-1.arc
Labels: enhancement, arcane

#230 Store maximum number of connected items in 'IncrementalItemConnectivity' instead of 'ItemSharedInfo'
  arcane/src/arcane/IIncrementalItemConnectivity.h
  arcane/src/arcane/IItemConnectivityInfo.h
  arcane/src/arcane/IItemFamily.h
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/mesh/IncrementalItemConnectivity.cc
  arcane/src/arcane/mesh/IncrementalItemConnectivity.h
  arcane/src/arcane/mesh/ItemConnectivityInfo.cc
  arcane/src/arcane/mesh/ItemConnectivityInfo.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/NewWithLegacyConnectivity.h
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/tools/wrapper/core/csharp/ItemInternal.cs
Labels: enhancement, arcane, refactoring

#231 Remove node connectivity allocation in ItemSharedInfo
  arcane/src/arcane/ItemSharedInfo.cc
  arcane/src/arcane/mesh/ItemSharedInfoList.cc
Labels: arcane, refactoring

#225 Call to compactReferences() in compactItems()
  arcane/src/arcane/mesh/DynamicMeshKindInfos.cc
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
Labels: bug, arcane

#233 Add support for variable properties 'PNoExchange', 'PNoReplicaSync' and 'PPersistant' in axl files
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/VariableCode.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/axl.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/axl.cs.old
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/axl.cs.old2
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/axl.cs.old3
  axlstar/Arcane.Axl/Arcane.Axl.Generator.CSharp/CSharpCodeGenerator.cs
  axlstar/Arcane.Axl/Arcane.Axl/VariableInfo.cs
  axlstar/Arcane.Axl/axl.xsd
Labels: enhancement, axlstar

#234 Fix SEGV after a checkpoint when using 'Mpi' IParallelMng and when MPI_Comm_size()==1
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiBlockVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiBlockVariableSynchronizeDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiDirectSendrecvVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiDirectSendrecvVariableSynchronizeDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiLegacyVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiLegacyVariableSynchronizeDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiVariableSynchronizeDispatcher.h
Labels: bug, arcane

#237 Fix potential SEGV in VariableMng::removeAllVariables()
  arcane/src/arcane/impl/VariableMng.cc
Labels: bug, arcane

#238 Fix in 'BasicReaderWriter' Version 3 the handling of multi array variables
  arcane/src/arcane/std/BasicReaderWriterDatabase.cc
  arcane/src/arcane/tests/CheckpointTesterService.cc
Labels: bug, arcane

#239 Refactor Verifier Module
  arcane/ceapart/src/arcane/cea/ArcaneCeaVerifier.axl
  arcane/ceapart/src/arcane/cea/ArcaneCeaVerifierModule.cc
  arcane/src/arcane/IVerifierService.h
  arcane/src/arcane/VerifierService.cc
  arcane/src/arcane/VerifierService.h
  arcane/src/arcane/std/ArcaneVerifier.axl
  arcane/src/arcane/std/ArcaneVerifierModule.cc
  arcane/src/arcane/std/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/CheckpointTesterService.cc
  arcane/tests/checkpoint_verifier_4pe_v3.xml
  arcane/tests/checkpoint_verifier_seq_v3.xml
  arcane/tests/testCheckpoint-basic2-v3.arc
  arcane/tests/testCheckpoint-verifier-read.arc
  arcane/tests/testCheckpoint-verifier-write.arc
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.TestDriver/VariableComparerDriver.cs
  arcane/tools/Arcane.UnifiedDriver/Main.cs
  arcane/tools/VariableComparer/ResultDatabase.cs
  arcane/tools/VariableComparer/ResultDatabasePart.cs
  arcane/tools/VariableComparer/ResultDatabasePartV3.cs
  arcane/tools/VariableComparer/Utils.cs
  arcane/tools/omnisharp.json
Labels: arcane, refactoring

#241 Add support for multisubscript operator[] from C++23
  arccore/CMakeLists.txt
  arccore/src/base/arccore/base/ArccoreGlobal.h
  arccore/src/base/arccore/base/Array2View.h
  arccore/src/base/arccore/base/Array3View.h
  arccore/src/base/arccore/base/Array4View.h
  arccore/src/base/arccore/base/Span2.h
  arccore/src/base/tests/TestArrayView.cc
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/arccore/collections/Array2.h
  arccore/src/collections/tests/TestArray.cc
Labels: enhancement, arccore

#242 Add support for concurrent access to makeQueue(Runner&)
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/Runner.h
  arcane/src/arcane/tests/accelerator/RunQueueUnitTest.cc
Labels: enhancement, arcane, accelerator

#246 Remove some coverity warnings in Arcane
  arcane/ceapart/src/arcane/geometric/CellConnectivity.h
  arcane/ceapart/src/arcane/materials/MeshEnvironment.cc
  arcane/ceapart/src/arcane/materials/MeshMaterialMng.cc
  arcane/ceapart/src/arcane/materials/MeshMaterialVariableFactoryMng.cc
  arcane/ceapart/src/arcane/tests/MeshMaterialSimdUnitTest.cc
  arcane/src/arcane/DomLibXml2V2.cc
  arcane/src/arcane/MeshUtils.cc
  arcane/src/arcane/aleph/AlephMatrix.h
  arcane/src/arcane/aleph/hypre/IAlephHypre.h
  arcane/src/arcane/core/materials/ComponentPartItemVectorView.h
  arcane/src/arcane/impl/DataStorageFactory.h
  arcane/src/arcane/impl/NullPhysicalUnitSystemService.cc
  arcane/src/arcane/mesh/AsyncParticleExchanger.h
  arcane/src/arcane/mesh/DynamicMeshKindInfos.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/tests/SubMeshTestModule.cc
  arcane/src/arcane/tests/geometry/GeometryUnitTest.cc
  arcane/src/arcane/utils/AMRTransportFunctor.h
  arcane/src/arcane/utils/DependencyInjection.cc
  arcane/src/arcane/utils/DependencyInjection.h
Labels: enhancement, arcane

#248 Add support for OTF2 version 3.0
  arcane/src/arcane/std/Otf2LibWrapper.cc
Labels: arcane, build

#250 Read item info in polyhedral vtk mesh reader
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/mesh/PolyhedralMeshTools.cc
  arcane/src/arcane/mesh/PolyhedralMeshTools.h
  arcane/src/arcane/tests/CustomMeshTest.axl
  arcane/src/arcane/tests/CustomMeshTestModule.cc
  arcane/tests/testMeshCustom-1.arc
Labels: enhancement, arcane

#251 Add class 'GenericRegisterer' to handle registering of global factories
  arcane/src/arcane/utils/DependencyInjection.cc
  arcane/src/arcane/utils/DependencyInjection.h
  arcane/src/arcane/utils/GenericRegisterer.cc
  arcane/src/arcane/utils/GenericRegisterer.h
  arcane/src/arcane/utils/srcs.cmake
Labels: arcane, refactoring

#236 Add direct access from NumArray and MDSpan to components of RealN and RealNxN classes
  arcane/src/arcane/utils/MDSpan.h
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/NumericTraits.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/src/arcane/utils/tests/TestNumArray.cc
Labels: enhancement, arcane

#253 Update CI of Github Actions / CircleCI / Coverity
  .circleci/config.yml
  .github/scripts/header_check.sh
  .github/scripts/rand_pkg.sh
  .github/workflows/build_rand_tests_gcc-11.yml
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_clang-13.yml
  .github/workflows/build_tests_cuda-116_gcc-11.yml
  .github/workflows/build_tests_debug.yml
  .github/workflows/build_tests_gcc-11.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
  .github/workflows/coverity.yml
  .github/workflows/header_check.yml
Labels: CI

#247 Cleanup of class 'String'
  arccore/src/base/arccore/base/BasicTranscoder.cc
  arccore/src/base/arccore/base/CMakeLists.txt
  arccore/src/base/arccore/base/String.cc
  arccore/src/base/arccore/base/String.h
  arccore/src/base/arccore/base/StringImpl.cc
  arccore/src/base/arccore/base/StringUtils.h
  arccore/src/base/tests/TestString.cc
Labels: arccore, refactoring

#256 Optimize String construction and destruction
  arccore/src/base/arccore/base/String.cc
  arccore/src/base/arccore/base/String.h
Labels: enhancement, arccore

#258 Miscellaneous improvements in Arccore
  arccore/src/base/arccore/base/CoreArray.h
  arccore/src/base/tests/TestString.cc
  arccore/src/message_passing/arccore/message_passing/IMessagePassingMng.h
  arccore/src/message_passing/arccore/message_passing/MessagePassingMng.cc
  arccore/src/message_passing/arccore/message_passing/MessagePassingMng.h
Labels: enhancement, arccore

#259 Upgrade axlstar and bump version to 2.0.3.0
  axlstar/Arcane.Axl/Arcane.Axl.Generator.CSharp/CSharpServiceGenerator.cs
  axlstar/Directory.Build.props
  axlstar/omnisharp.json
  axlstar/version
Labels: enhancement, axlstar

#260 Add test for C# services generated by swig and using CaseOptions.
  arcane/src/arcane/tests/ArcaneTest.csproj.in
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/MeshModification.axl
  arcane/src/arcane/tests/MeshModification.cs
  arcane/tests/testMeshModification-1.arc
  arcane/tests/testMeshModification-2.arc
Labels: enhancement, arcane

#263 Add instructions to build on Arch Linux
  README.md
Labels: documentation

#269 connectivity info for polyhedral vtk reader2
  arcane/maillages/faultx1_2x1x1.vtk
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMeshTools.cc
  arcane/src/arcane/mesh/PolyhedralMeshTools.h
  arcane/src/arcane/tests/CustomMeshTestModule.cc
Labels: enhancement, arcane
