Repository arcaneframework/framework, pull requests merged in 2022-08, with the labels that each got.

#297 Use only one instance of ItemSharedInfo per ItemFamily.
  arcane/src/arcane/ItemInternal.cc
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemSharedInfo.cc
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/ItemSharedInfoList.cc
  arcane/src/arcane/mesh/ItemSharedInfoList.h
  arcane/src/arcane/totalview/tv_display_arcane_types.cc
  arcane/tools/wrapper/core/csharp/ItemInternal.cs
Labels: arcane, refactoring

#298 Add common base class to 'ItemInternal' and 'Item'.
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemInternal.cc
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/ItemTypes.h
  arcane/src/arcane/MeshItemInternalList.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/src/arcane/tests/dof/DoFTester.cc
  arcane/tools/wrapper/core/csharp/ItemInternal.cs
Labels: arcane, refactoring

#299 Remove ASCII support for 'TextReader' and 'TextWriter' and fix random bug with 'BinaryReaderWriter' and compression
  arcane/src/arcane/std/TextReader.cc
  arcane/src/arcane/std/TextReader.h
  arcane/src/arcane/std/TextWriter.cc
  arcane/src/arcane/std/TextWriter.h
Labels: bug, arcane, refactoring

#301 Add missing recompute of max connected items after after compacting items
  arcane/src/arcane/mesh/IncrementalItemConnectivity.cc
Labels: bug, arcane

#302 Improve duplicate uniqueId() checks
  arcane/src/arcane/mesh/FaceUniqueIdBuilder.cc
  arcane/src/arcane/mesh/ItemInternalMap.cc
Labels: enhancement, arcane

#303 Remove deprecated methods of 'Concurrency.h'
  arcane/ceapart/src/arcane/tests/MeshMaterialTesterModule.cc
  arcane/src/arcane/Concurrency.h
  arcane/src/arcane/tests/TaskUnitTest.cc
  arcane/src/arcane/tests/TaskUnitTestCS.cc
  arcane/src/arcane/tests/ThreadUnitTest.cc
Labels: arcane, refactoring

#304 Remove some deprecated methods
  arcane/src/arcane/IApplication.h
  arcane/src/arcane/IItemFamily.h
  arcane/src/arcane/ItemVector.h
  arcane/src/arcane/MathUtils.h
  arcane/src/arcane/MeshToMeshTransposer.cc
  arcane/src/arcane/Properties.cc
  arcane/src/arcane/Properties.h
  arcane/src/arcane/impl/Application.cc
  arcane/src/arcane/impl/Application.h
  arcane/src/arcane/impl/InternalInfosDumper.cc
  arcane/src/arcane/impl/ServiceLoader.cc
  arcane/src/arcane/mesh/CellFamily.cc
  arcane/src/arcane/mesh/CellFamily.h
  arcane/src/arcane/mesh/DoFFamily.cc
  arcane/src/arcane/mesh/DoFFamily.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/ParticleFamily.cc
  arcane/src/arcane/mesh/ParticleFamily.h
Labels: arcane, refactoring

#305 Add class ItemInfoListView to replace ItemInternalList
  arcane/src/arcane/IItemFamily.h
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemGroup.cc
  arcane/src/arcane/ItemInfoListView.cc
  arcane/src/arcane/ItemInfoListView.h
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/ItemTypes.h
  arcane/src/arcane/ItemVectorView.cc
  arcane/src/arcane/ItemVectorView.h
  arcane/src/arcane/MeshUtils.cc
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/srcs.cmake
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/tools/wrapper/core/ArcaneSwigCoreInclude.h
Labels: enhancement, arcane, refactoring

#306 Add constructor from 'Item' to other kind of mesh entities
  arcane/src/arcane/Item.h
Labels: enhancement, arcane

#307 Always compile 'BasicRayMeshIntersection'
  arcane/ceapart/src/arcane/cea/BasicRayMeshIntersection.cc
  arcane/ceapart/src/arcane/cea/CMakeLists.txt
  arcane/ceapart/src/arcane/cea/srcs.cmake
Labels: arcane, build

#309 Fix CSV output/comparator services used as singletons
  arcane/src/arcane/ISimpleTableComparator.h
  arcane/src/arcane/ISimpleTableOutput.h
  arcane/src/arcane/std/SimpleCsvComparatorService.cc
  arcane/src/arcane/std/SimpleCsvComparatorService.h
  arcane/src/arcane/std/SimpleCsvOutputService.cc
  arcane/src/arcane/std/SimpleCsvOutputService.h
Labels: arcane

#308 Rework classes ItemEnumeratorT and ItemVectorViewConstIterator
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemEnumerator.cc
  arcane/src/arcane/ItemEnumerator.h
  arcane/src/arcane/ItemInternal.cc
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemInternalVectorView.h
  arcane/src/arcane/ItemLocalId.h
  arcane/src/arcane/ItemTypes.h
  arcane/src/arcane/ItemVectorView.cc
  arcane/src/arcane/ItemVectorView.h
Labels: arcane, refactoring

#310 Move class 'ItemBase' in namespace 'Arcane::impl'
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemEnumerator.h
  arcane/src/arcane/ItemInternal.cc
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemInternalVectorView.h
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/ItemTypes.h
Labels: arcane, refactoring

#311 Use 'Item' instead of 'ItemInternal*' for some methods of 'arcane_mesh'
  arcane/src/arcane/Item.h
  arcane/src/arcane/mesh/CellFamily.cc
  arcane/src/arcane/mesh/CellFamily.h
  arcane/src/arcane/mesh/CellMerger.cc
  arcane/src/arcane/mesh/CellMerger.h
  arcane/src/arcane/mesh/EdgeFamily.cc
  arcane/src/arcane/mesh/EdgeFamily.h
  arcane/src/arcane/mesh/FaceFamily.cc
  arcane/src/arcane/mesh/FaceFamily.h
  arcane/src/arcane/mesh/FullItemInfo.cc
  arcane/src/arcane/mesh/FullItemInfo.h
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/NodeFamily.cc
  arcane/src/arcane/mesh/NodeFamily.h
Labels: arcane, refactoring

#312 Move item flags in its own class 'ItemFlags'
  arcane/src/arcane/IMeshExchanger.h
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemPrinter.cc
  arcane/src/arcane/mesh/CellFamily.cc
  arcane/src/arcane/mesh/ConnectivityNewWithDependenciesTypes.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMeshIncrementalBuilder.cc
  arcane/src/arcane/mesh/DynamicMeshKindInfos.h
  arcane/src/arcane/mesh/DynamicMeshMerger.cc
  arcane/src/arcane/mesh/FaceFamily.cc
  arcane/src/arcane/mesh/FaceUniqueIdBuilder.cc
  arcane/src/arcane/mesh/GhostLayerBuilder.cc
  arcane/src/arcane/mesh/GhostLayerBuilder2.cc
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemRefinement.cc
  arcane/src/arcane/mesh/ItemRefinement.h
  arcane/src/arcane/mesh/MeshExchange.cc
  arcane/src/arcane/mesh/MeshRefinement.cc
  arcane/src/arcane/mesh/ParallelAMRConsistency.cc
  arcane/src/arcane/mesh/ParticleFamily.cc
Labels: arcane, refactoring

#313 Make 'operator->' deprecated for class Item and derived classes
  arcane/src/arcane/Item.h
  arcane/src/arcane/MeshUtils.cc
  arcane/src/arcane/aleph/tests/AlephTest.h
  arcane/src/arcane/mesh/CellFamily.cc
  arcane/src/arcane/mesh/CellMerger.cc
  arcane/src/arcane/mesh/EdgeUniqueIdBuilder.cc
  arcane/src/arcane/mesh/FaceFamily.cc
  arcane/src/arcane/mesh/FaceReorienter.cc
  arcane/src/arcane/mesh/FaceUniqueIdBuilder.cc
  arcane/src/arcane/mesh/FaceUniqueIdBuilder2.cc
  arcane/src/arcane/mesh/FullItemInfo.cc
  arcane/src/arcane/mesh/GhostLayerBuilder.cc
  arcane/src/arcane/mesh/GhostLayerBuilder2.cc
  arcane/src/arcane/mesh/ItemRefinement.cc
  arcane/src/arcane/mesh/MeshExchange.cc
  arcane/src/arcane/mesh/MeshNodeMerger.cc
  arcane/src/arcane/mesh/NodeFamily.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/mesh/ParallelAMRConsistency.cc
  arcane/src/arcane/mesh/UnstructuredMeshUtilities.cc
  arcane/src/arcane/tests/AMRTestModule.cc
  arcane/src/arcane/tests/MeshModificationTester.cc
  arcane/src/arcane/tests/dof/DoFTester.cc
  arcane/src/arcane/tests/graph/GraphUnitTest.cc
Labels: arcane, refactoring

#314 Fixes in the SimpleTable part
  arcane/src/arcane/ISimpleTableComparator.h
  arcane/src/arcane/ISimpleTableInternalComparator.h
  arcane/src/arcane/ISimpleTableInternalMng.h
  arcane/src/arcane/ISimpleTableOutput.h
  arcane/src/arcane/ISimpleTableReaderWriter.h
  arcane/src/arcane/ISimpleTableWriterHelper.h
  arcane/src/arcane/SimpleTableInternal.h
  arcane/src/arcane/std/SimpleCsvComparatorService.cc
  arcane/src/arcane/std/SimpleCsvComparatorService.h
  arcane/src/arcane/std/SimpleCsvOutputService.h
  arcane/src/arcane/std/SimpleCsvReaderWriter.cc
  arcane/src/arcane/std/SimpleCsvReaderWriter.h
  arcane/src/arcane/std/SimpleTableInternalComparator.cc
  arcane/src/arcane/std/SimpleTableInternalComparator.h
  arcane/src/arcane/std/SimpleTableInternalMng.cc
  arcane/src/arcane/std/SimpleTableWriterHelper.cc
  arcane/src/arcane/std/SimpleTableWriterHelper.h
  arcane/src/arcane/tests/SimpleTableComparatorUnitTest.cc
  arcane/src/arcane/tests/SimpleTableComparatorUnitTest.h
  arcane/src/arcane/tests/SimpleTableOutputUnitTest.cc
Labels: arcane

#315 Use by default the cartesian numbering for faces in cartesian mesh generator service
  arcane/ceapart/tests/testCartesianMesh-grid-partitioning.arc
  arcane/ceapart/tests/testCartesianMesh-grid-partitioning12.arc
  arcane/ceapart/tests/testCartesianMesh-grid-partitioning6.arc
  arcane/ceapart/tests/testCartesianMesh3D-grid-partitioning.arc
  arcane/ceapart/tests/testCartesianMeshGenerator2D-meshservice.arc
  arcane/src/arcane/std/Cartesian2DMeshGenerator.axl
  arcane/src/arcane/std/Cartesian3DMeshGenerator.axl
  arcane/tests/testHydro-3-cartesian-small-nodump.arc
  arcane/tests/testHydro-3-cartesian-small.arc
  arcane/tests/testHydro-3-cartesian.arc
  arcane/tests/testParallel-synchronize1.arc
  arcane/tests/testParallel-synchronize2.arc
  arcane/tests/testRunDirect-1.arc
Labels: arcane

#316 Add the possibility to define epsilon per row/column
  arcane/src/arcane/ISimpleTableComparator.h
  arcane/src/arcane/ISimpleTableInternalComparator.h
  arcane/src/arcane/std/SimpleCsvComparatorService.cc
  arcane/src/arcane/std/SimpleCsvComparatorService.h
  arcane/src/arcane/std/SimpleTableInternalComparator.cc
  arcane/src/arcane/std/SimpleTableInternalComparator.h
  arcane/src/arcane/tests/SimpleTableComparatorUnitTest.axl
  arcane/src/arcane/tests/SimpleTableComparatorUnitTest.cc
  arcane/src/arcane/tests/SimpleTableComparatorUnitTest.h
Labels: arcane

#317 Allow several versions for implementation of 'ItemEnumerator'
  arcane/CMakeLists.txt
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemEnumerator.h
  arcane/src/arcane/ItemEnumeratorBase.h
  arcane/src/arcane/ItemTypes.h
  arcane/src/arcane/impl/Application.cc
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/srcs.cmake
Labels: arcane, refactoring

#318 Improve usage of 'ArcaneConfig.cmake'
  CMakeLists.txt
  README.md
  arcane/CMakeLists.txt
  arcane/ceapart/src/arcane/aleph/sloop/CMakeLists.txt
  arcane/ceapart/src/arcane/cea/CMakeLists.txt
  arcane/cmake/ArcaneConfig.cmake.in
  arcane/cmake/ArcaneConfigCache.cmake.in
  arcane/cmake/Functions.cmake
  arcane/cmake/Modules/FindBZip2.cmake
  arcane/cmake/Modules/FindCUDA.cmake
  arcane/cmake/Modules/FindGeometryKernel.cmake
  arcane/cmake/Modules/FindIceT.cmake
  arcane/cmake/Modules/FindLZ4.cmake
  arcane/cmake/Modules/FindLibUnwind.cmake
  arcane/cmake/Modules/FindMEDFile.cmake
  arcane/cmake/Modules/FindMKL.cmake
  arcane/cmake/Modules/FindMonoEmbed.cmake
  arcane/cmake/Modules/FindOSMesa.cmake
  arcane/cmake/Modules/FindPTScotch.cmake
  arcane/cmake/Modules/FindPapi.cmake
  arcane/cmake/Modules/FindParmetis.cmake
  arcane/cmake/Modules/FindTrilinos.cmake
  arcane/cmake/Modules/FindUdunits.cmake
  arcane/cmake/Modules/FindValgrind.cmake
  arcane/cmake/Modules/FindXercesC.cmake
  arcane/cmake/Modules/FindZoltan.cmake
  arcane/cmake/Modules/FindvtkIOXML.cmake
  arcane/cmake/Modules/FindvtkIOXdmf2.cmake
  arcane/src/arcane/aleph/hypre/CMakeLists.txt
  arcane/src/arcane/aleph/petsc/CMakeLists.txt
  arcane/src/arcane/aleph/trilinos/CMakeLists.txt
  arcane/src/arcane/hyoda/CMakeLists.txt
  arcane/src/arcane/mesh/CMakeLists.txt
  arcane/src/arcane/mono/CMakeLists.txt
  arcane/src/arcane/std/CMakeLists.txt
  arcane/src/arcane/utils/CMakeLists.txt
  arcane/tools/wrapper/hdf5/CMakeLists.txt
Labels: enhancement, arcane, build
