Repository arcaneframework/framework, pull requests merged in 2022-09, with the labels that each got.

#319 Update vpckg version for the CI
  .github/workflows/compile-all-vcpkg.yml
  arcane/CMakeLists.txt
  arcane/ceapart/tests/CMakeLists.txt
  arcane/cmake/Functions.cmake
  arcane/cmake/Modules/FindParmetis.cmake
  arcane/src/arcane/CMakeLists.txt
  arcane/src/arcane/tests/CMakeLists.txt
Labels: arcane, CI, build

#320 Fix some compiler warnings
  arcane/ceapart/src/arcane/cea/ArcaneCeaVerifierModule.cc
  arcane/ceapart/src/arcane/cea/BasicRayMeshIntersection.cc
  arcane/ceapart/src/arcane/geometric/GeomShapeMng.cc
  arcane/ceapart/src/arcane/tests/MeshMaterialTesterModule.cc
  arcane/src/arcane/aleph/AlephIndexing.cc
  arcane/src/arcane/aleph/hypre/IAlephHypre.h
  arcane/src/arcane/aleph/tests/AlephMultiTest.cc
  arcane/src/arcane/aleph/tests/AlephMultiTest.h
  arcane/src/arcane/aleph/tests/AlephTestSchemeFaces.cc
  arcane/src/arcane/mesh/ItemGroupDynamicMeshObserver.cc
  arcane/src/arcane/parallel/thread/AsyncQueue.cc
  arcane/src/arcane/parallel/thread/TBBTaskImplementation.cc
  arcane/src/arcane/std/PTScotchMeshPartitioner.cc
  arcane/src/arcane/std/VtkMeshIOService.cc
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/src/arcane/utils/MD5HashAlgorithm_Licensed.h
Labels: arcane, build

#321 Fix some covertiy warnings recently added
  arcane/src/arcane/ItemGroupImpl.cc
  arcane/src/arcane/ObservablePool.h
  arcane/src/arcane/impl/PropertyMng.cc
  arcane/src/arcane/impl/SimpleGridMeshPartitioner.cc
  arcane/src/arcane/impl/VariableMng.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/ItemFamilyNetwork.cc
  arcane/src/arcane/mesh/MeshCompacter.cc
  arcane/src/arcane/mesh/MeshExchange.cc
  arcane/src/arcane/std/BasicReaderWriter.cc
  arcane/src/arcane/std/ProfilingInfo.cc
  arcane/src/arcane/utils/DirectedAcyclicGraphT.h
  arcane/src/arcane/utils/MemoryInfo.cc
Labels: arcane, build

#322 Update signature of methods of 'IItemFamilyModifierInterface' and 'OneMeshItemAdder'
  arcane/src/arcane/IItemFamilyModifier.h
  arcane/src/arcane/InterfaceImpl.cc
  arcane/src/arcane/mesh/CellFamily.cc
  arcane/src/arcane/mesh/CellFamily.h
  arcane/src/arcane/mesh/DoFFamily.h
  arcane/src/arcane/mesh/DynamicMeshIncrementalBuilder.cc
  arcane/src/arcane/mesh/EdgeFamily.cc
  arcane/src/arcane/mesh/EdgeFamily.h
  arcane/src/arcane/mesh/FaceFamily.cc
  arcane/src/arcane/mesh/FaceFamily.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/NodeFamily.h
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.h
Labels: arcane, refactoring

#323 Fix some coverity warnings
  arcane/src/arcane/ApplicationBuildInfo.cc
  arcane/src/arcane/CaseOptionService.cc
  arcane/src/arcane/MeshUtils.cc
  arcane/src/arcane/VariableFactoryRegisterer.cc
  arcane/src/arcane/aleph/AlephFactory.cc
  arcane/src/arcane/aleph/hypre/IAlephHypre.h
  arcane/src/arcane/geometry/impl/GeometryServiceBase.cc
  arcane/src/arcane/hyoda/HyodaIceT.cc
  arcane/src/arcane/hyoda/HyodaTcp.cc
  arcane/src/arcane/hyoda/HyodaTcp.h
  arcane/src/arcane/hyoda/gui/QHyodaJob.cc
  arcane/src/arcane/hyoda/gui/QHyodaJob.h
  arcane/src/arcane/hyoda/gui/QHyodaTcp.cc
  arcane/src/arcane/impl/Application.cc
  arcane/src/arcane/impl/CaseDocumentLangTranslator.cc
  arcane/src/arcane/impl/CaseMng.cc
  arcane/src/arcane/impl/InternalInfosDumper.cc
  arcane/src/arcane/impl/SimpleGridMeshPartitioner.cc
  arcane/src/arcane/impl/TimeHistoryMng2.cc
  arcane/src/arcane/impl/TimeLoopMng.cc
  arcane/src/arcane/impl/TimeLoopReader.cc
  arcane/src/arcane/impl/TraceMngPolicy.cc
  arcane/src/arcane/launcher/DirectSubDomainExecutionContext.cc
  arcane/src/arcane/launcher/DirectSubDomainExecutionContext.h
  arcane/src/arcane/materials/MeshMaterialBackup.cc
  arcane/src/arcane/mesh/BasicItemPairGroupComputeFunctor.h
  arcane/src/arcane/mesh/CommonItemGroupFilterer.cc
  arcane/src/arcane/mesh/ConnectivityNewWithDependenciesTypes.h
  arcane/src/arcane/mesh/FullItemInfo.cc
  arcane/src/arcane/mesh/ItemConnectivityMng.h
  arcane/src/arcane/mesh/ItemGroupsSerializer2.cc
  arcane/src/arcane/mesh/MapCoordToUid.cc
  arcane/src/arcane/mesh/MeshNodeMerger.cc
  arcane/src/arcane/parallel/Stat.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/std/Hdf5VariableReader.cc
  arcane/src/arcane/std/LibUnwindStackTraceService.cc
  arcane/src/arcane/std/MeshPartitionerBase.cc
  arcane/src/arcane/std/Otf2LibWrapper.cc
  arcane/src/arcane/std/Otf2LibWrapper.h
  arcane/src/arcane/tests/MeshMergeNodesUnitTest.cc
  arcane/src/arcane/tests/ParallelMngDataTypeTest.cc
  arcane/src/arcane/tests/accelerator/SimpleHydroAcceleratorService.cc
  arcane/src/arcane/utils/CommandLineArguments.cc
  arcane/src/arcane/utils/Event.cc
  arcane/src/arcane/utils/Process.h
Labels: arcane, build

#324 Cleanup class ItemInternalVectorView
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemInternal.cc
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemInternalVectorView.h
  arcane/src/arcane/ItemSharedInfo.cc
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/ItemVectorView.h
  arcane/src/arcane/MeshItemInternalList.h
Labels: arcane, refactoring

#325 Use 'Ref<MessagePassingMng>' instead of 'MessagePassingMng*'
  arcane/src/arcane/ParallelMngDispatcher.cc
  arcane/src/arcane/ParallelMngDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.h
Labels: arcane, refactoring

#326 Remove usage of 'ItemInternal' in 'ItemEnumerator'
  arcane/CMakeLists.txt
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemEnumerator.cc
  arcane/src/arcane/ItemEnumerator.h
  arcane/src/arcane/ItemEnumeratorBase.h
  arcane/src/arcane/ItemGroup.cc
  arcane/src/arcane/ItemIndexArrayView.h
  arcane/src/arcane/ItemInfoListView.h
  arcane/src/arcane/ItemInternalVectorView.h
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/ItemTypes.h
  arcane/src/arcane/ItemVectorView.cc
  arcane/src/arcane/ItemVectorView.h
  arcane/src/arcane/impl/Application.cc
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: arcane, refactoring

#327 Remove some deprecated usage of 'ISubDomain'
  arcane/src/arcane/CommonVariables.cc
  arcane/src/arcane/CommonVariables.h
  arcane/src/arcane/MeshHandle.cc
  arcane/src/arcane/MeshHandle.h
  arcane/src/arcane/ServiceBuilder.h
  arcane/src/arcane/VariableBuildInfo.cc
  arcane/src/arcane/VariableBuildInfo.h
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/mesh/ItemFamilyVariableSerializer.cc
  arcane/src/arcane/mesh/UnstructuredMeshUtilities.cc
Labels: arcane, refactoring

#328 Cleanup '.Net CoreClr' wrapper
  arcane/src/arcane/dotnet/coreclr/ArcaneCoreClr.cc
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/src/arcane/utils/Exception.cc
  arcane/src/arcane/utils/Exception.h
  arcane/src/arcane/utils/srcs.cmake
Labels: arcane

#329 Remove usage of 'ItemInternal' in SIMD classes
  arcane/src/arcane/ItemEnumerator.h
  arcane/src/arcane/ItemEnumeratorBase.h
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemInternalVectorView.h
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/ItemTypes.h
  arcane/src/arcane/SimdItem.cc
  arcane/src/arcane/SimdItem.h
Labels: arcane, refactoring

#330 Remove unused variables, deprecated functions and compiler warnings
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTesterModule.cc
  arcane/ceapart/src/arcane/tests/AdiProjectionModule.cc
  arcane/ceapart/src/arcane/tests/AdiProjectionModule.h
  arcane/ceapart/src/arcane/tests/CartesianMeshTesterModule.cc
  arcane/ceapart/src/arcane/tests/CartesianMeshV2TestUtils.cc
  arcane/ceapart/src/arcane/tests/CartesianMeshV2TestUtils.h
  arcane/src/arcane/CaseOptions.cc
  arcane/src/arcane/CaseOptions.h
  arcane/src/arcane/ItemVector.h
  arcane/src/arcane/RessourceMng.cc
  arcane/src/arcane/ServiceBuildInfo.h
  arcane/src/arcane/accelerator/core/RunQueueRuntime.cc
  arcane/src/arcane/aleph/tests/AlephMultiTest.cc
  arcane/src/arcane/dotnet/coreclr/ArcaneCoreClr.cc
  arcane/src/arcane/impl/CaseMng.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.h
  arcane/src/arcane/materials/MeshMaterialVariableFactoryMng.cc
  arcane/src/arcane/matvec/AMG.cc
  arcane/src/arcane/mesh/BasicItemPairGroupComputeFunctor.h
  arcane/src/arcane/mesh/CellMerger.h
  arcane/src/arcane/mesh/EmptyMesh.h
  arcane/src/arcane/mesh/GhostLayerBuilder.cc
  arcane/src/arcane/mesh/GhostLayerBuilder.h
  arcane/src/arcane/mesh/ItemConnectivityMng.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamilyNetwork.h
  arcane/src/arcane/mesh/ItemFamilyVariableSerializer.cc
  arcane/src/arcane/mesh/ItemFamilyVariableSerializer.h
  arcane/src/arcane/mesh/MeshRefinement.cc
  arcane/src/arcane/mesh/ParallelAMRConsistency.h
  arcane/src/arcane/parallel/mpi/MpiParallelNonBlockingCollective.cc
  arcane/src/arcane/parallel/mpi/MpiParallelNonBlockingCollective.h
  arcane/src/arcane/parallel/thread/TBBTaskImplementation.cc
  arcane/src/arcane/parallel/thread/TBBThreadImplementation.cc
  arcane/src/arcane/std/CartesianMeshGenerator.cc
  arcane/src/arcane/std/Hdf5MpiReaderWriter.cc
  arcane/src/arcane/std/Hdf5MpiReaderWriter.h
  arcane/src/arcane/std/MeshPartitionerBase.cc
  arcane/src/arcane/std/MeshPartitionerBase.h
  arcane/src/arcane/std/MetisMeshPartitioner.cc
  arcane/src/arcane/std/PTScotchMeshPartitioner.cc
  arcane/src/arcane/std/PapiPerformanceService.cc
  arcane/src/arcane/std/ProfPerformanceService.cc
  arcane/src/arcane/std/ProfilingInfo.cc
  arcane/src/arcane/std/ProfilingInfo.h
  arcane/src/arcane/std/UdunitsPhysicalUnitSystemService.cc
  arcane/src/arcane/tests/CheckpointTesterService.cc
  arcane/src/arcane/tests/ExchangeItemsUnitTest.cc
  arcane/src/arcane/tests/accelerator/MiniWeatherArraySequential.cc
  arcane/src/arcane/tests/accelerator/MiniWeatherOriginalSequential.cc
  arcane/src/arcane/tests/anyitem/AnyItemTester.cc
  arcane/src/arcane/utils/Misc.cc
  arcane/src/arcane/utils/Property.cc
  arcane/src/arcane/utils/Property.h
  arcane/src/arcane/utils/internal/MemoryRessourceMng.h
Labels: arcane

#331 export general untyped items with Ensight
  arcane/src/arcane/ItemTypeMng.cc
  arcane/src/arcane/ItemTypeMng.h
  arcane/src/arcane/MeshItemInternalList.h
  arcane/src/arcane/mesh/EmptyMesh.h
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/mesh/PolyhedralMeshTools.cc
  arcane/src/arcane/mesh/PolyhedralMeshTools.h
  arcane/src/arcane/std/DumpWEnsight7.cc
  arcane/src/arcane/tests/ArcaneTest.config
  arcane/src/arcane/tests/CustomMeshTest.axl
  arcane/src/arcane/tests/CustomMeshTestModule.cc
  arcane/tests/testMeshCustom-1.arc
Labels: enhancement, arcane

#332 Fix detection of default partitioner if some targets are not created by arccon
  .github/workflows/compile-all-vcpkg.yml
  arcane/CMakeLists.txt
  arcane/cmake/Modules/FindParmetis.cmake
  arcane/src/arcane/tests/CMakeLists.txt
Labels: arcane, build

#333 Use a class to specify rank of NumArray and associated classes
  arcane/doc/accelerator.md
  arcane/src/arcane/accelerator/NumArrayViews.h
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/accelerator/cuda/runtime/Test.cu
  arcane/src/arcane/datatype/RealArray2Variant.cc
  arcane/src/arcane/datatype/RealArray2Variant.h
  arcane/src/arcane/datatype/RealArrayVariant.cc
  arcane/src/arcane/datatype/RealArrayVariant.h
  arcane/src/arcane/impl/NumArrayData.cc
  arcane/src/arcane/parallel/thread/TBBTaskImplementation.cc
  arcane/src/arcane/tests/accelerator/AcceleratorViewsUnitTest.cc
  arcane/src/arcane/tests/accelerator/ArcaneTestStandaloneAcceleratorMng.cc
  arcane/src/arcane/tests/accelerator/MiniWeatherArray.cc
  arcane/src/arcane/tests/accelerator/MiniWeatherArraySequential.cc
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
  arcane/src/arcane/tests/accelerator/RunQueueUnitTest.cc
  arcane/src/arcane/utils/ArrayBounds.h
  arcane/src/arcane/utils/ArrayExtents.h
  arcane/src/arcane/utils/ArrayLayout.h
  arcane/src/arcane/utils/LoopRanges.h
  arcane/src/arcane/utils/MDSpan.cc
  arcane/src/arcane/utils/MDSpan.h
  arcane/src/arcane/utils/NumArray.cc
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/tests/TestNumArray.cc
Labels: arcane, refactoring

#335 Add preliminary support for 'ArrayShape' in 'IData'
  arcane/src/arcane/Array2Variable.cc
  arcane/src/arcane/IData.h
  arcane/src/arcane/ISerializedData.h
  arcane/src/arcane/SerializedData.cc
  arcane/src/arcane/core/internal/IDataInternal.h
  arcane/src/arcane/impl/Array2Data.cc
  arcane/src/arcane/impl/ArrayData.cc
  arcane/src/arcane/impl/NumArrayData.cc
  arcane/src/arcane/impl/ScalarData.cc
  arcane/src/arcane/impl/ScalarData.h
  arcane/src/arcane/impl/StringArrayData.cc
  arcane/src/arcane/impl/StringScalarData.cc
  arcane/src/arcane/std/BasicReaderWriter.cc
  arcane/src/arcane/std/Hdf5ReaderWriter.cc
  arcane/src/arcane/tests/CheckpointTesterService.cc
  arcane/src/arcane/utils/ArrayShape.cc
  arcane/src/arcane/utils/ArrayShape.h
  arcane/src/arcane/utils/ArrayView.h
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/tools/wrapper/core/ArcaneSwigCoreInclude.h
Labels: enhancement, arcane

#336 Add an observable on 'MeshHandle' when the mesh is destroyed
  arcane/src/arcane/MeshHandle.cc
  arcane/src/arcane/MeshHandle.h
Labels: enhancement, arcane

#337 Improve handling of instance destruction when using materials and C#
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/src/arcane/impl/SubDomain.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/MeshMaterialMng.h
Labels: enhancement, arcane

#334 Fix code format.
  arcane/src/arcane/ItemTypeMng.cc
  arcane/src/arcane/ItemTypeMng.h
  arcane/src/arcane/mesh/EmptyMesh.h
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/mesh/PolyhedralMeshTools.cc
  arcane/src/arcane/mesh/PolyhedralMeshTools.h
  arcane/src/arcane/std/DumpWEnsight7.cc
  arcane/src/arcane/tests/CustomMeshTestModule.cc
Labels: refactoring

#339 Add workflow in 'circle-ci' for code coverage with 'codecov'
  .circleci/config.yml
  arcane/CMakeLists.txt
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/VariableSimdUnitTest.cc
  codecov.yml
Labels: arcane, CI

#341 Add help class to modernize String to Value conversions
  arcane/src/arcane/mesh/GhostLayerMng.cc
  arcane/src/arcane/mesh/MeshUniqueIdMng.cc
  arcane/src/arcane/utils/Convert.cc
  arcane/src/arcane/utils/Convert.h
  arcane/src/arcane/utils/ValueConvert.h
  arcane/src/arcane/utils/tests/CMakeLists.txt
  arcane/src/arcane/utils/tests/TestValueConvert.cc
Labels: enhancement, arcane, refactoring

#342 [arccon] Add CMake functions to unify handling of packages
  arccon/CMakeLists.txt
  arccon/Readme.md
  arccon/build-system/Modules/FindHDF5.cmake
  arccon/build-system/Modules/FindHypre.cmake
  arccon/build-system/Modules/FindLibXml2.cmake
  arccon/build-system/Modules/FindMPI.cmake
  arccon/build-system/Modules/FindTBB.cmake
  arccon/build-system/README.md
  arccon/build-system/commands/user/RegisterPackageLibrary.cmake
Labels: build, arccon

#344 Allow access to some Item properties from null item
  arcane/src/arcane/impl/VariableMng.cc
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/tests/continue_hydro3_cartesian_small.xml
  arcane/tests/continue_hydro3_cartesian_small_4shm.xml
Labels: enhancement, arcane

#345 Remove usage of 'ItemInternal' in classes managing cartesian mesh
  arcane/ceapart/src/arcane/cartesianmesh/CartesianConnectivity.cc
  arcane/ceapart/src/arcane/cartesianmesh/CartesianConnectivity.h
  arcane/ceapart/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/ceapart/src/arcane/cartesianmesh/CellDirectionMng.cc
  arcane/ceapart/src/arcane/cartesianmesh/CellDirectionMng.h
  arcane/ceapart/src/arcane/cartesianmesh/FaceDirectionMng.cc
  arcane/ceapart/src/arcane/cartesianmesh/FaceDirectionMng.h
  arcane/ceapart/src/arcane/cartesianmesh/NodeDirectionMng.cc
  arcane/ceapart/src/arcane/cartesianmesh/NodeDirectionMng.h
Labels: arcane, refactoring

#346 Use '<pkg>_FOUND' instead of 'if (TARGET arccon::…)' in CMake files
  arcane/ceapart/src/arcane/aleph/sloop/CMakeLists.txt
  arcane/src/arcane/aleph/hypre/CMakeLists.txt
  arcane/src/arcane/aleph/petsc/CMakeLists.txt
  arcane/src/arcane/hyoda/CMakeLists.txt
  arcane/src/arcane/ios/CMakeLists.txt
  arcane/src/arcane/mesh/CMakeLists.txt
  arcane/src/arcane/mono/CMakeLists.txt
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tools/wrapper/hdf5/CMakeLists.txt
Labels: arcane, build

#347 Use views instead of direct access from 'SharedArray' for classes managing items by direction
  arcane/ceapart/src/arcane/cartesianmesh/CartesianConnectivity.h
  arcane/ceapart/src/arcane/cartesianmesh/CartesianItemDirectionInfo.h
  arcane/ceapart/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/ceapart/src/arcane/cartesianmesh/CartesianMeshGlobal.h
  arcane/ceapart/src/arcane/cartesianmesh/CellDirectionMng.cc
  arcane/ceapart/src/arcane/cartesianmesh/CellDirectionMng.h
  arcane/ceapart/src/arcane/cartesianmesh/FaceDirectionMng.cc
  arcane/ceapart/src/arcane/cartesianmesh/FaceDirectionMng.h
  arcane/ceapart/src/arcane/cartesianmesh/NodeDirectionMng.cc
  arcane/ceapart/src/arcane/cartesianmesh/NodeDirectionMng.h
  arcane/ceapart/src/arcane/cartesianmesh/srcs.cmake
  arcane/src/arcane/ItemInfoListView.h
Labels: arcane, refactoring

#348 Remove usage of MKL in legacy parts
  arcane/cmake/Modules/FindMKL.cmake
  arcane/src/arcane/matvec/Matrix.cc
  arcane/src/arcane/std/CMakeLists.txt
  arcane/src/arcane/std/MKLVectorMathService.cc
Labels: arcane, build, refactoring

#343 Update CI
  .circleci/config.yml
  .github/codecov.yml
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_debug.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
  .github/workflows/codecov.yml
  .github/workflows/coverity.yml
  .github/workflows/header_check.yml
Labels: CI

#351 Remove unused methods in 'Item'
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemInternal.cc
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/mesh/MeshExchange.cc
Labels: arcane, refactoring

#349 Fixes after update CI
  .circleci/config.yml
  .github/workflows/codecov.yml
Labels: CI

#352 Add ctest label LARGE_HYBRID for some tests using hybrid (MPI+SHM) message passing
  arcane/src/arcane/tests/ArcaneTests.cmake
  arcane/src/arcane/tests/CMakeLists.txt
Labels: arcane, CI, build

#354 Add exclusion of LARGE_HYBRID tests
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_debug.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
  .github/workflows/codecov.yml
Labels: CI

#355 Add environnement variables for ccache
  .github/workflows/codecov.yml
Labels: CI

#356 Use reference counter for interface 'ICaseFunction'.
  arcane/src/arcane/ArcaneTypes.h
  arcane/src/arcane/CaseFunction.cc
  arcane/src/arcane/CaseFunction.h
  arcane/src/arcane/ICaseFunction.h
  arcane/src/arcane/impl/CaseMng.cc
Labels: arcane, refactoring

#359 Update C# projects to use up to date versions of nuget packages
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.Common/NetCoreIndirectAssemblyLoader.cs
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.csproj
  arcane/tools/Arcane.Templates/Arcane.Templates.csproj
  arcane/tools/VariableComparer/VariableComparer.csproj
Labels: arcane, build

#361 Add an header file for class HoneyCombMeshGenerator
  arcane/src/arcane/std/HoneyCombMeshGenerator.cc
  arcane/src/arcane/std/HoneyCombMeshGenerator.h
  arcane/src/arcane/std/srcs.cmake
Labels: arcane, refactoring

#360 Add function to dump in JSON the topology for the synchronisation of variables
  arcane/src/arcane/MeshUtils.cc
  arcane/src/arcane/MeshUtils.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: enhancement, arcane

#362 Improve csv reader and csv comparator service
  arcane/src/arcane/std/SimpleCsvComparatorService.cc
  arcane/src/arcane/std/SimpleCsvReaderWriter.cc
  arcane/src/arcane/std/SimpleTableInternalComparator.cc
Labels: arcane
