Repository arcaneframework/framework, pull requests merged in 2022-03, with the labels that each got.

#163 Fix invalid 'operator==' for non const 'Span<T>'
  arccore/src/base/arccore/base/Span.h
  arccore/src/base/tests/TestArrayView.cc
Labels: bug, arccore

#165 Add support for removing reference of IExtraGhostCellsBuilder and IExtraGhostParticlesBuilder
  arcane/src/arcane/IExtraGhostCellsBuilder.h
  arcane/src/arcane/IExtraGhostParticlesBuilder.h
  arcane/src/arcane/IMeshModifier.h
  arcane/src/arcane/impl/SimpleGridMeshPartitioner.cc
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMesh.h
  arcane/src/arcane/mesh/ExtraGhostCellsBuilder.cc
  arcane/src/arcane/mesh/ExtraGhostCellsBuilder.h
  arcane/src/arcane/mesh/ExtraGhostParticlesBuilder.cc
  arcane/src/arcane/mesh/ExtraGhostParticlesBuilder.h
  arcane/src/arcane/tests/ParallelTesterModule.cc
  arcane/src/arcane/tests/ParticleUnitTest.cc
Labels: enhancement, arcane, refactoring

#168 Unify CUDA and HIP configuration
  arcane/CMakeLists.txt
  arcane/src/arcane/accelerator/RunCommandEnumerate.h
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/accelerator/RunQueueInternal.h
  arcane/src/arcane/tests/accelerator/RunQueueUnitTest.cc
  arcane/src/arcane/utils/ArcaneGlobal.h
Labels: arcane, refactoring, accelerator

#169 Use '.Net 6' for github actions for Win32
  .github/workflows/compile-all-vcpkg.yml
Labels: CI

#170 Remove 'auto' keyword for some generated methods
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.CaseOptions/CaseOptionsT4.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.CaseOptions/CaseOptionsT4.tt
  axlstar/TextTransform/README.md
  axlstar/TextTransform/TextTransform.csproj
Labels: bug, axlstar

#171 Fix invalid 'ItemGroup' after mesh deallocation and reallocation
  arcane/src/arcane/ItemGroupImpl.cc
  arcane/src/arcane/ItemGroupImpl.h
  arcane/src/arcane/mesh/ItemFamily.cc
Labels: bug, arcane

#172 Add '.Net' version in configuration files and compile C# samples only if version 6 is available.
  arcane/cmake/ArcaneConfig.cmake.in
  arcane/samples_build/samples/eos/csharp/CMakeLists.txt
  arcane/samples_build/samples/eos/csharp/main/EOS.Main.csproj.in
  arcane/tools/CMakeLists.txt
  arcane/tools/wrapper/ArcaneSwigConfig.cmake.in
Labels: arcane, build, refactoring

#174 Improve microhydro benchmark to add load balancing and additional variables
  arcane/extras/benchs/microhydro/AdditionalVariables.axl
  arcane/extras/benchs/microhydro/AdditionalVariablesModule.cc
  arcane/extras/benchs/microhydro/CMakeLists.txt
  arcane/extras/benchs/microhydro/MicroHydro.axl
  arcane/extras/benchs/microhydro/MicroHydro.config
  arcane/extras/benchs/microhydro/MicroHydro.load-balance.arc
  arcane/extras/benchs/microhydro/MicroHydroModule.cc
Labels: arcane

#176 Cleanup ParallelExchanger
  arcane/src/arcane/impl/ParallelExchanger.cc
  arcane/src/arcane/impl/ParallelExchanger.h
  arcane/src/arcane/impl/ParallelMngUtilsFactoryBase.cc
Labels: arcane, refactoring

#181 Add workflows for GH Actions and CircleCI
  .circleci/config.yml
  .circleci/config_old.yml
  .github/scripts/rand_pkg.sh
  .github/workflows/build_rand_tests_gcc-11.yml
  .github/workflows/build_tests_clang-13.yml
  .github/workflows/build_tests_cuda-116_gcc-11.yml
  .github/workflows/build_tests_gcc-11.yml
  .github/workflows/coverity.yml
  .github/workflows/create_image_ubuntu-2004_clang-13.yml
  .github/workflows/create_image_ubuntu-2004_cuda-116_gcc-11.yml
  .github/workflows/create_image_ubuntu-2004_gcc-11.yml
  .github/workflows/tests_images_docker.yml
  docker/dockerfiles/ubuntu-2004/clang-13/Dockerfile
  docker/dockerfiles/ubuntu-2004/cuda-116_gcc-11/Dockerfile
  docker/dockerfiles/ubuntu-2004/gcc-11/Dockerfile
Labels: CI

#182 Add Simd support for Real3x3 and Real2x2
  arcane/src/arcane/MathUtils.h
  arcane/src/arcane/SimdMathUtils.h
  arcane/src/arcane/tests/SimdGeneratedUnitTest.h
  arcane/src/arcane/tests/SimdUnitTest.cc
  arcane/src/arcane/utils/Simd.h
  arcane/src/arcane/utils/SimdOperation.h
  arcane/tools/SimdGenerator/Main.cs
  arcane/tools/SimdGenerator/Properties/AssemblyInfo.cs
  arcane/tools/SimdGenerator/SimdGenerator.csproj
  arcane/tools/SimdGenerator/UnitTestSimd.cs
  arcane/tools/SimdGenerator/UnitTestSimd.tt
Labels: enhancement, arcane

#186 Fix some coverity warnings in Arccore
  arccore/src/base/arccore/base/ArrayView.h
  arccore/src/base/arccore/base/Span.h
  arccore/src/base/arccore/base/String.h
  arccore/src/base/arccore/base/StringBuilder.cc
  arccore/src/base/arccore/base/TraceInfo.h
  arccore/src/collections/arccore/collections/Array.cc
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiSerializeMessageList.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/StandaloneMpiMessagePassingMng.cc
  arccore/src/trace/arccore/trace/TraceMng.cc
Labels: enhancement, arccore

#187 Add a All-in-One job to build and test Arcane and add nvcc compilation
  .circleci/config.yml
  .circleci/config_old.yml
Labels: CI

#184 Add synchronize() implementation with MPI_Sendrecv
  arcane/src/arcane/parallel/mpi/MpiDirectSendrecvVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiDirectSendrecvVariableSynchronizeDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane
