Repository arcaneframework/framework, pull requests merged in 2022-04, with the labels that each got.

#190 Add subcript operator for views on 'Real2', 'Real3', 'Real2x2' and 'Real3x3'
  arcane/src/arcane/accelerator/ViewsCommon.h
  arcane/src/arcane/datatype/DataTypeTraits.h
  arcane/src/arcane/tests/accelerator/AcceleratorViewsUnitTest.cc
Labels: enhancement, arcane, accelerator

#188 Add support for direct execution in '.Net' wrapper
  arcane/src/arcane/launcher/LauncherGlobal.h
  arcane/src/arcane/launcher/internal/DirectExecutionFunctor.cc
  arcane/src/arcane/launcher/internal/DirectExecutionFunctor.h
  arcane/src/arcane/launcher/srcs.cmake
  arcane/tools/wrapper/core/ArcaneSwigCore.i
  arcane/tools/wrapper/core/ArcaneSwigCoreInclude.h
  arcane/tools/wrapper/launcher/ArcaneLauncher.cs
  arcane/tools/wrapper/launcher/ArcaneSwigLauncher.i
  arcane/tools/wrapper/launcher/CMakeLists.txt
Labels: enhancement, arcane

#192 [arcane] Refactor: move class TimeInterval to a new file to avoid cod…
  arcane/src/arcane/parallel/mpi/MpiDirectSendrecvVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiTimeInterval.h
  arcane/src/arcane/parallel/mpi/MpiVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/srcs.cmake
Labels: arcane, refactoring

#195 Add a GH Actions header/encoding verificator
  .github/scripts/header_check.sh
  .github/workflows/header_check.yml
Labels: CI

#202 Fix PolyhedralMesh.cc compilation.
  arcane/src/arcane/mesh/PolyhedralMesh.cc
Labels: bug, arcane

#201 Improve usage of indexed connectivity
  arcane/src/arcane/ArcaneTypes.h
  arcane/src/arcane/IIncrementalItemConnectivity.h
  arcane/src/arcane/IIndexedIncrementalItemConnectivity.h
  arcane/src/arcane/IIndexedIncrementalItemConnectivityMng.h
  arcane/src/arcane/IMesh.h
  arcane/src/arcane/IndexedItemConnectivityView.h
  arcane/src/arcane/InterfaceImpl.cc
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemLocalId.h
  arcane/src/arcane/ItemTypes.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMesh.h
  arcane/src/arcane/mesh/IncrementalItemConnectivity.h
  arcane/src/arcane/mesh/IndexedIncrementalItemConnectivityMng.cc
  arcane/src/arcane/mesh/IndexedIncrementalItemConnectivityMng.h
  arcane/src/arcane/mesh/NewWithLegacyConnectivity.h
  arcane/src/arcane/mesh/srcs.cmake
  arcane/src/arcane/srcs.cmake
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/src/arcane/tests/ModuleSimpleHydro.cc
  arcane/src/arcane/tests/ParallelTesterModule.cc
  arcane/src/arcane/tests/ParticleUnitTest.cc
Labels: enhancement, arcane, refactoring

#205 Add subscript operator to 1D 'NumArray' and corresponding views
  arcane/src/arcane/accelerator/NumArrayViews.h
  arcane/src/arcane/tests/accelerator/AcceleratorViewsUnitTest.cc
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
  arcane/src/arcane/utils/MDSpan.h
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/tests/TestNumArray.cc
Labels: enhancement, arcane, accelerator

#206 [ci] Add compilation in 'Debug' and 'Check' mode
  .github/workflows/build_tests_gcc-11.yml
  .github/workflows/compile-all-vcpkg.yml
Labels: enhancement, CI

#207 [ci] Add execution of several tests on Win32 platform
  .github/workflows/compile-all-vcpkg.yml
Labels: CI
