Repository arcaneframework/framework, pull requests merged in 2022-07, with the labels that each got.

#273 Add support for Material Variable in C# generator
  axlstar/Arcane.Axl/Arcane.Axl/VariableInfo.cs
Labels: enhancement, axlstar

#274 Refactor material variable interfaces
  arcane/src/arcane/core/materials/IArrayMeshMaterialVariable.h
  arcane/src/arcane/core/materials/IMeshMaterialVariable.cc
  arcane/src/arcane/core/materials/IMeshMaterialVariable.h
  arcane/src/arcane/core/materials/IScalarMeshMaterialVariable.h
  arcane/src/arcane/core/materials/MaterialsCoreGlobal.h
  arcane/src/arcane/core/materials/MeshEnvironmentVariableRef.cc
  arcane/src/arcane/core/materials/MeshEnvironmentVariableRef.h
  arcane/src/arcane/core/materials/MeshMaterialVariableRef.cc
  arcane/src/arcane/core/materials/MeshMaterialVariableRef.h
  arcane/src/arcane/materials/MeshEnvironmentVariableRef.h
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/materials/MeshMaterialVariable.h
  arcane/src/arcane/materials/srcs.cmake
  arcane/src/arcane/srcs.cmake
Labels: arcane, refactoring

#266 Add a random number generator service
  arcane/src/arcane/IRandomNumberGenerator.h
  arcane/src/arcane/InterfaceImpl.cc
  arcane/src/arcane/srcs.cmake
  arcane/src/arcane/std/PDESRandomNumberGenerator.axl
  arcane/src/arcane/std/PDESRandomNumberGeneratorService.cc
  arcane/src/arcane/std/PDESRandomNumberGeneratorService.h
  arcane/src/arcane/std/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/PDESRandomNumberGeneratorUnitTest.axl
  arcane/src/arcane/tests/PDESRandomNumberGeneratorUnitTest.cc
  arcane/src/arcane/tests/srcs.cmake
  arcane/tests/testPDESRandomNumberGenerator.arc
Labels: arcane

#276 Improve Material Variable support for C# wrapper
  arcane/ceapart/src/arcane/tests/ArcaneCeaTest.csproj.in
  arcane/ceapart/src/arcane/tests/CMakeLists.txt
  arcane/ceapart/src/arcane/tests/IMaterialEquationOfState.h
  arcane/ceapart/src/arcane/tests/MaterialEosService.i
  arcane/ceapart/src/arcane/tests/MeshMaterialCSharpUnitTest.axl
  arcane/ceapart/src/arcane/tests/MeshMaterialTester.axl
  arcane/ceapart/src/arcane/tests/MeshMaterialTesterModule.cc
  arcane/ceapart/src/arcane/tests/StiffenedGasMaterialEos.cs
  arcane/ceapart/src/arcane/tests/Test1.cs
  arcane/ceapart/src/arcane/tests/TestDotNet.cmake
  arcane/ceapart/src/arcane/tests/srcs.cmake
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testMaterial-eos-cs.arc
  arcane/src/arcane/core/materials/MeshMaterialVariableRef.h
  arcane/tools/wrapper/materials/ArcaneSwigCeaMaterials.i
  arcane/tools/wrapper/materials/MeshMaterialVariable.i
Labels: enhancement, arcane

#279 Allow automatic determination of default mesh partitioner
  _common/build_all/CMakeLists.txt
  arcane/CMakeLists.txt
Labels: arcane, build

#281 Add implementation of variable synchronisation with MPI_Neighbor_alltoallv
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.h
  arcane/src/arcane/parallel/mpi/CMakeLists.txt
  arcane/src/arcane/parallel/mpi/IVariableSynchronizerMpiCommunicator.h
  arcane/src/arcane/parallel/mpi/MpiNeighborVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiNeighborVariableSynchronizeDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#282 Add generic implementation for variable synchronizer
  arcane/src/arcane/impl/IDataSynchronizeBuffer.h
  arcane/src/arcane/impl/IGenericVariableSynchronizerDispatcher.h
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.h
  arcane/src/arcane/impl/srcs.cmake
  arcane/src/arcane/parallel/mpi/CMakeLists.txt
  arcane/src/arcane/parallel/mpi/MpiBlockVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiBlockVariableSynchronizeDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiNeighborVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiNeighborVariableSynchronizeDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiVariableSynchronizeDispatcher.h
  arcane/src/arcane/parallel/mpi/srcs.cmake
Labels: enhancement, arcane, refactoring

#283 Remove usage of 'IMainFactory' during mesh creation after a checkpoint
  arcane/src/arcane/impl/VariableMng.cc
Labels: arcane

#284 Use a variable to keep parent of an item when using sub-mesh
  arcane/src/arcane/ItemInternal.cc
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemSharedInfo.cc
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/SharedVariable.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/ItemSharedInfoList.cc
Labels: arcane, refactoring

#285 Use variables to keep information about owner and flags of an item
  arcane/src/arcane/ItemInternal.cc
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemSharedInfo.cc
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/mesh/DynamicMeshKindInfos.cc
  arcane/src/arcane/mesh/ItemFamily.cc
Labels: arcane, refactoring

#286 Fix error with some versions of OpenMPI when calling MPI_Neighbor_alltoallv
  arcane/src/arcane/parallel/mpi/MpiNeighborVariableSynchronizeDispatcher.cc
Labels: bug, arcane

#288 Remove default partitioner in CI Rand
  .github/workflows/build_tests_rand.yml
Labels: CI

#289 Add DataType "byte" for variables in 'axl' files
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/axl.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/Extensions/DataTypeExtensions.cs
  axlstar/Arcane.Axl/axl.xsd
Labels: enhancement, axlstar

#287 Update IRandomNumberGenerator and PDESRNGService
  arcane/src/arcane/IRandomNumberGenerator.h
  arcane/src/arcane/std/PDESRandomNumberGeneratorService.cc
  arcane/src/arcane/std/PDESRandomNumberGeneratorService.h
  arcane/src/arcane/tests/PDESRandomNumberGeneratorUnitTest.axl
  arcane/src/arcane/tests/PDESRandomNumberGeneratorUnitTest.cc
  arcane/src/arcane/tests/RandomNumberGeneratorUnitTest.axl
  arcane/src/arcane/tests/RandomNumberGeneratorUnitTest.cc
  arcane/src/arcane/tests/RandomNumberGeneratorUnitTest.h
Labels: arcane

#290 Cleanup no longer used parts of 'ItemSharedInfo'
  arcane/src/arcane/IItemFamilyModifier.h
  arcane/src/arcane/ItemInternal.cc
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemSharedInfo.cc
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/mesh/CellFamily.cc
  arcane/src/arcane/mesh/DoFFamily.cc
  arcane/src/arcane/mesh/EdgeFamily.cc
  arcane/src/arcane/mesh/FaceFamily.cc
  arcane/src/arcane/mesh/ItemConnectivityInfo.cc
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/ItemFamilyCompactPolicy.cc
  arcane/src/arcane/mesh/ItemSharedInfoList.cc
  arcane/src/arcane/mesh/ItemSharedInfoList.h
  arcane/src/arcane/mesh/NodeFamily.cc
  arcane/src/arcane/mesh/ParticleFamily.cc
  arcane/src/arcane/mesh/ParticleFamilyPolicyMng.cc
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/totalview/tv_display_arcane_types.cc
  arcane/tools/wrapper/core/csharp/ItemInternal.cs
Labels: arcane, refactoring

#292 Remove information about ItemType in ItemSharedInfo
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemSharedInfo.cc
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/mesh/CellFamily.cc
  arcane/src/arcane/mesh/DoFFamily.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/FaceFamily.cc
  arcane/src/arcane/mesh/ItemConnectivityInfo.cc
  arcane/src/arcane/mesh/ItemConnectivityInfo.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/ItemSharedInfoList.cc
  arcane/src/arcane/mesh/ItemSharedInfoList.h
  arcane/src/arcane/mesh/ParticleFamily.h
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/totalview/tv_display_arcane_types.cc
  arcane/tools/wrapper/core/csharp/ItemInternal.cs
Labels: arcane, refactoring

#294 Add class 'ItemTypeId' to handle storage of Item type and use 'Int16' instead of 'Int32' for this storage
  arcane/src/arcane/ArcaneTypes.h
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemInternal.cc
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemTypeId.h
  arcane/src/arcane/ItemTypeInfo.h
  arcane/src/arcane/ItemTypeInfoBuilder.cc
  arcane/src/arcane/ItemTypeInfoBuilder.h
  arcane/src/arcane/ItemTypeMng.h
  arcane/src/arcane/ItemTypes.h
  arcane/src/arcane/mesh/ItemSharedInfoList.h
  arcane/src/arcane/srcs.cmake
  arcane/src/arcane/utils/CheckedConvert.h
Labels: arcane, refactoring

#295 Use a variable to store information about Item type.
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemSharedInfo.cc
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/ItemTypeMng.cc
  arcane/src/arcane/mesh/DynamicMeshKindInfos.cc
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/ItemSharedInfoList.cc
Labels: arcane, refactoring

#296 Update test continue after checkpoint with version 3.6 checkpoint
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/data/test_output_continue_hydro3_cartesian_small/checkpoint_info.xml
  arcane/tests/data/test_output_continue_hydro3_cartesian_small/protection/arcanedump_n0/arcane_db_n0.acr
  arcane/tests/data/test_output_continue_hydro3_cartesian_small_4shm/checkpoint_info.xml
  arcane/tests/data/test_output_continue_hydro3_cartesian_small_4shm/protection/arcanedump_n0/arcane_db_n0.acr
  arcane/tests/data/test_output_continue_hydro3_cartesian_small_4shm/protection/arcanedump_n0/arcane_db_n1.acr
  arcane/tests/data/test_output_continue_hydro3_cartesian_small_4shm/protection/arcanedump_n0/arcane_db_n2.acr
  arcane/tests/data/test_output_continue_hydro3_cartesian_small_4shm/protection/arcanedump_n0/arcane_db_n3.acr
Labels: bug, arcane, CI
