Repository arcaneframework/framework, pull requests merged in 2022-12, with the labels that each got.

#444 Add utility functions to fill values of 1D NumArray from std::istream
  arcane/src/arcane/utils/Convert.cc
  arcane/src/arcane/utils/NumArray.cc
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/NumArrayUtils.cc
  arcane/src/arcane/utils/NumArrayUtils.h
  arcane/src/arcane/utils/internal/ValueConvertInternal.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/src/arcane/utils/tests/TestNumArray.cc
Labels: enhancement, arcane

#449 Improve reading of meshes with format 'MED'
  arcane/src/arcane/std/MEDMeshReaderService.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testMesh-med2-meshservice.arc
Labels: enhancement, arcane

#451 Add support for using a specific mesh in service instance
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/axl.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.CaseOptions/CaseOptionsT4.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.CaseOptions/CaseOptionsT4.tt
  axlstar/Arcane.Axl/Arcane.Axl.Generator.CSharp/CSharpModuleGenerator.cs
  axlstar/Arcane.Axl/Arcane.Axl.Generator.Cpp/CppModuleBaseGenerator.cs
  axlstar/Arcane.Axl/axl.xsd
Labels: enhancement, axlstar

#452 Add an implementation of 'scatterVariable()' in HybridParallelDispatch class
  arcane/src/arcane/IParallelMng.h
  arcane/src/arcane/impl/SequentialParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.h
  arcane/src/arcane/parallel/mpithread/HybridParallelDispatch.cc
  arcane/src/arcane/parallel/mpithread/HybridParallelMng.h
  arcane/src/arcane/parallel/thread/SharedMemoryParallelMng.h
Labels: arcane

#454 Depreciate public access of XML types in CaseOptions
  arcane/src/arcane/CaseOptionList.cc
  arcane/src/arcane/CaseOptions.cc
  arcane/src/arcane/CaseOptions.h
  arcane/src/arcane/impl/CaseDocumentLangTranslator.cc
  arcane/src/arcane/tests/CaseOptionsTesterModule.cc
  arcane/tools/wrapper/core/ArcaneSwigCore.i
Labels: arcane, refactoring

#456 Fix compilation with Swig version 4.1
  arcane/tools/wrapper/core/ArrayView.i
  arcane/tools/wrapper/core/ItemGroup.i
Labels: bug, arcane

#457 Add possibility to specify a custom type for variables in AXL file
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/ModuleCode.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/ServiceCode.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/VariableCode.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/axl.cs
  axlstar/Arcane.Axl.sln
  axlstar/Arcane.Axl/axl.xsd
Labels: enhancement, arcane, axlstar

#458 Cleanup class 'VariableRef'.
  arcane/src/arcane/VariableRef.cc
  arcane/src/arcane/VariableRef.h
Labels: arcane, refactoring

#459 First try to implement multi-dimension Item variables
  arcane/src/arcane/Array2Variable.cc
  arcane/src/arcane/Array2Variable.h
  arcane/src/arcane/PrivateVariableArray.h
  arcane/src/arcane/PrivateVariableArrayT.H
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/MDVariableUnitTest.cc
  arcane/src/arcane/tests/srcs.cmake
  arcane/tests/testMDVariable-1.arc
Labels: enhancement, arcane

#460 Depreciate methods of 'ModuleBuildInfo' which use 'IMesh'
  arcane/src/arcane/AbstractModule.cc
  arcane/src/arcane/ArcaneTypes.h
  arcane/src/arcane/MeshHandle.cc
  arcane/src/arcane/MeshHandle.h
  arcane/src/arcane/ModuleBuildInfo.h
  arcane/src/arcane/ModuleMaster.cc
  arcane/src/arcane/std/ArcaneCheckpointModule.cc
  arcane/src/arcane/std/ArcanePostProcessingModule.cc
Labels: arcane, refactoring

#461 Add access to 'IMeshMng' and 'IPhysicalUnitSystem' in 'IMeshMng'
  arcane/src/arcane/CaseOptions.cc
  arcane/src/arcane/CaseOptions.h
  arcane/src/arcane/ICaseMng.h
  arcane/src/arcane/IMeshMng.h
  arcane/src/arcane/impl/CaseMng.cc
  arcane/src/arcane/impl/SubDomain.cc
  arcane/src/arcane/impl/internal/MeshMng.cc
  arcane/src/arcane/impl/internal/MeshMng.h
Labels: enhancement, arcane

#462 Update 'header_check' script
  .github/scripts/header_check.sh
Labels: CI

#463 Preliminary version of multi-dimensionnal Item variable
  arcane/src/arcane/ArcaneTypes.h
  arcane/src/arcane/Array2Variable.cc
  arcane/src/arcane/Array2Variable.h
  arcane/src/arcane/MeshMDVariableRef.cc
  arcane/src/arcane/MeshMDVariableRef.h
  arcane/src/arcane/srcs.cmake
  arcane/src/arcane/tests/MDVariableUnitTest.cc
  arcane/src/arcane/utils/ArrayExtents.h
  arcane/src/arcane/utils/ArrayExtentsValue.h
  arcane/src/arcane/utils/ArrayIndex.h
  arcane/src/arcane/utils/ArrayShape.h
  arcane/src/arcane/utils/MDDim.h
  arcane/src/arcane/utils/MDSpan.h
  arcane/src/arcane/utils/NumArray.h
Labels: enhancement, arcane

#464 Add multi-dimension Item variable for NumVector and NumMatrix
  arcane/src/arcane/MeshMDVariableRef.h
  arcane/src/arcane/tests/MDVariableUnitTest.axl
  arcane/src/arcane/tests/MDVariableUnitTest.cc
  arcane/src/arcane/tests/VariableUnitTest.axl
  arcane/src/arcane/tests/srcs.cmake
  arcane/src/arcane/utils/ArrayExtents.h
  arcane/src/arcane/utils/MDDim.h
  arcane/src/arcane/utils/NumMatrix.h
Labels: enhancement, arcane

#465 Remove support of 'mono' to build 'axlstar'
  axlstar/CMakeLists.txt
Labels: build, axlstar

#466 Add support for dimension 0 (scalar) for multi-dim variables
  arcane/src/arcane/MeshMDVariableRef.h
  arcane/src/arcane/tests/MDVariableUnitTest.axl
  arcane/src/arcane/tests/MDVariableUnitTest.cc
Labels: enhancement, arcane

#467 Add test for use of 'DoF' on nodes with indexed connectivity
  arcane/src/arcane/IndexedItemConnectivityView.cc
  arcane/src/arcane/IndexedItemConnectivityView.h
  arcane/src/arcane/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/dof/DoFNodeTestService.cc
  arcane/src/arcane/tests/srcs.cmake
  arcane/tests/testDoFNode.arc
Labels: enhancement, arcane

#468 Add support in Aleph for variables without a default Family.
  arcane/src/arcane/aleph/AlephIndexing.cc
  arcane/src/arcane/aleph/AlephVector.cc
Labels: enhancement, arcane

#469 Small improvements in built-in linear algebra
  arcane/src/arcane/matvec/AMG.cc
  arcane/src/arcane/matvec/Matrix.cc
  arcane/src/arcane/matvec/Matrix.h
Labels: enhancement, arcane

#471 Use accessor instead of direct reference for multi-dimensional variables using 'NumVector' and 'NumMatrix'
  arcane/src/arcane/ArcaneTypes.h
  arcane/src/arcane/DataView.h
  arcane/src/arcane/MeshMDVariableRef.h
  arcane/src/arcane/accelerator/ViewsCommon.h
  arcane/src/arcane/datatype/DataTypeTraits.h
  arcane/src/arcane/srcs.cmake
  arcane/src/arcane/tests/MDVariableUnitTest.cc
Labels: enhancement, arcane

#472 Add type 'mesh' for a service and use new specific base classes for services
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/ServiceCode.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/axl.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/Extensions/ServiceTypeListExtensions.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4Standard.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4Standard.tt
  axlstar/Arcane.Axl/Arcane.Axl/AXLGlobal.cs
  axlstar/Arcane.Axl/axl.xsd
Labels: enhancement, refactoring, axlstar

#475 Add support for 'NodeGroup' in 'msh' mesh reader
  arcane/maillages/plancher.geo
  arcane/maillages/plancher.msh
  arcane/src/arcane/std/MshMeshReader.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testIos-msh5.arc
Labels: enhancement, arcane

#473 Update images used in CI
  .circleci/config.yml
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_debug.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
  .github/workflows/codecov.yml
  .github/workflows/coverity.yml
Labels: CI

#474 Add preliminary support for Accelerator API in Cartesian Mesh
  arcane/ceapart/src/arcane/cartesianmesh/CellDirectionMng.cc
  arcane/ceapart/src/arcane/cartesianmesh/CellDirectionMng.h
  arcane/ceapart/src/arcane/cartesianmesh/FaceDirectionMng.cc
  arcane/ceapart/src/arcane/cartesianmesh/FaceDirectionMng.h
  arcane/ceapart/src/arcane/cartesianmesh/NodeDirectionMng.cc
  arcane/ceapart/src/arcane/cartesianmesh/NodeDirectionMng.h
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTesterModule.cc
  arcane/ceapart/src/arcane/tests/AdiProjectionModule.cc
  arcane/ceapart/src/arcane/tests/AdiProjectionModule.h
  arcane/ceapart/src/arcane/tests/CMakeLists.txt
  arcane/ceapart/src/arcane/tests/CartesianMeshTestUtils.cc
  arcane/ceapart/src/arcane/tests/CartesianMeshTestUtils.h
  arcane/ceapart/src/arcane/tests/CartesianMeshTesterModule.cc
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/Item.h
Labels: enhancement, arcane, accelerator

#476 Continue support for Accelerator API in Cartesian Mesh
  arcane/ceapart/src/arcane/cartesianmesh/CartesianConnectivity.h
  arcane/ceapart/src/arcane/cartesianmesh/CartesianItemDirectionInfo.h
  arcane/ceapart/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/ceapart/src/arcane/cartesianmesh/CellDirectionMng.cc
  arcane/ceapart/src/arcane/cartesianmesh/CellDirectionMng.h
  arcane/ceapart/src/arcane/cartesianmesh/FaceDirectionMng.cc
  arcane/ceapart/src/arcane/cartesianmesh/FaceDirectionMng.h
  arcane/ceapart/src/arcane/cartesianmesh/NodeDirectionMng.cc
  arcane/ceapart/src/arcane/cartesianmesh/NodeDirectionMng.h
  arcane/ceapart/src/arcane/tests/CartesianMeshTestUtils.cc
  arcane/ceapart/src/arcane/tests/CartesianMeshTestUtils.h
  arcane/src/arcane/ItemInfoListView.h
Labels: enhancement, arcane, accelerator

#477 Add test using empty kernels to measure latency of kernel launch.
  arcane/src/arcane/accelerator/cuda/runtime/Test.cu
  arcane/src/arcane/accelerator/cuda/runtime/TestCpp.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/ArcaneTestStandaloneAcceleratorMng.cc
Labels: enhancement, arcane, accelerator

#478 Fix potential inconsistency between 'IncrementalItemConnectivity' and 'ItemConnectivityList'
  arcane/src/arcane/mesh/IncrementalItemConnectivity.cc
  arcane/src/arcane/mesh/IncrementalItemConnectivity.h
Labels: bug, arcane

#480 Add interface 'IDoFFamily' of item family of 'DoF'
  arcane/src/arcane/IDoFFamily.h
  arcane/src/arcane/IItemFamily.h
  arcane/src/arcane/InterfaceImpl.cc
  arcane/src/arcane/ItemTypes.h
  arcane/src/arcane/mesh/DoFFamily.h
  arcane/src/arcane/mesh/DoFManager.h
  arcane/src/arcane/srcs.cmake
  arcane/src/arcane/tests/dof/DoFNodeTestService.cc
  arcane/src/arcane/tests/dof/DoFTester.cc
Labels: enhancement, arcane, refactoring
