Repository arcaneframework/framework, pull requests merged in 2023-07, with the labels that each got.

#780 Add Redis backend for hash database for BasicReaderWriter
  arcane/cmake/Modules/FindHiredis.cmake
  arcane/src/arcane/std/BasicReaderWriter.cc
  arcane/src/arcane/std/BasicReaderWriterDatabase.cc
  arcane/src/arcane/std/CMakeLists.txt
  arcane/src/arcane/std/HiredisAdapter.cc
  arcane/src/arcane/std/RedisHashDatabase.cc
  arcane/src/arcane/std/internal/IHashDatabase.h
  arcane/src/arcane/std/internal/IRedisContext.h
  arcane/src/arcane/std/srcs.cmake
Labels: enhancement, arcane

#781 Cleanup classes associated to 'BasicReaderWriter'
  arcane/src/arcane/std/BasicCheckpointService.cc
  arcane/src/arcane/std/BasicReader.cc
  arcane/src/arcane/std/BasicReaderWriter.cc
  arcane/src/arcane/std/BasicReaderWriterDatabase.cc
  arcane/src/arcane/std/BasicWriter.cc
  arcane/src/arcane/std/FileHashDatabase.cc
  arcane/src/arcane/std/internal/BasicReaderWriter.h
  arcane/src/arcane/std/internal/BasicReaderWriterDatabase.h
  arcane/src/arcane/std/srcs.cmake
Labels: arcane, refactoring

#782 Use 'host pinned' memory for reduction on accelerator
  arcane/src/arcane/accelerator/core/RunCommand.cc
Labels: arcane, refactoring, accelerator

#783 Move some internal classes of 'arcane_materials' in internal repository and use managed memory for 'ComponentItemInternal' allocations
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterial.cc
  arcane/src/arcane/materials/MeshMaterialBackup.cc
  arcane/src/arcane/materials/MeshMaterialExchangeMng.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
  arcane/src/arcane/materials/internal/MeshEnvironment.h
  arcane/src/arcane/materials/internal/MeshMaterial.h
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
  arcane/src/arcane/materials/srcs.cmake
Labels: arcane, refactoring, accelerator

#784 [arcane,std] Fix read of single point element in MSH reader
  arcane/src/arcane/std/MshMeshReader.cc
Labels: bug, arcane

#785 Fix missing 'ARCCORE_HOST_DEVICE' in functions which check array sizes.
  arccore/src/base/arccore/base/ArccoreGlobal.h
  arccore/src/base/arccore/base/ArrayViewCommon.h
Labels: bug, arccore, accelerator

#787 Move containers of 'ComponentItemInternal' in class 'ComponentItemInternalData'
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ComponentItemInternalData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
  arcane/src/arcane/materials/internal/ComponentItemInternalData.h
  arcane/src/arcane/materials/internal/MeshEnvironment.h
  arcane/src/arcane/materials/srcs.cmake
Labels: arcane, refactoring

#788 Add new test for 'MeshMaterial'
  arcane/ceapart/src/arcane/tests/MaterialHeatTest.axl
  arcane/ceapart/src/arcane/tests/MaterialHeatTestModule.cc
  arcane/ceapart/src/arcane/tests/srcs.cmake
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testMaterialHeat-1.arc
  arcane/src/arcane/tests/ArcaneTest.config
Labels: enhancement, arcane

#789 In Aleph/PETSc backend in parallel use 'BlockJacobi' preconditionner instead of ILU or IC
  arcane/src/arcane/aleph/petsc/AlephPETSc.cc
Labels: bug, arcane

#790 Improve 'MaterialHeat' test
  arcane/ceapart/src/arcane/tests/MaterialHeatTestModule.cc
  arcane/ceapart/tests/testMaterialHeat-1.arc
Labels: enhancement, arcane

#791 Improve usage of 'IProfilingService'
  arcane/src/arcane/core/CodeService.cc
  arcane/src/arcane/impl/SubDomain.cc
  arcane/src/arcane/impl/TimeLoopMng.cc
  arcane/src/arcane/std/PapiPerformanceService.cc
  arcane/src/arcane/std/PapiPerformanceService.h
  arcane/src/arcane/std/ProfPerformanceService.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/utils/IProfilingService.h
Labels: enhancement, arcane

#792 Cleanup materials
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.h
  arcane/src/arcane/core/materials/ComponentItemVector.cc
  arcane/src/arcane/core/materials/ComponentItemVector.h
  arcane/src/arcane/core/materials/ComponentItemVectorView.h
  arcane/src/arcane/core/materials/EnvItemVector.h
  arcane/src/arcane/core/materials/IMeshComponent.h
  arcane/src/arcane/core/materials/MatItemVector.h
  arcane/src/arcane/core/materials/MeshComponentPartData.cc
  arcane/src/arcane/core/materials/MeshComponentPartData.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/MeshComponentData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterial.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
  arcane/src/arcane/materials/internal/MeshComponentData.h
  arcane/src/arcane/materials/internal/MeshEnvironment.h
  arcane/src/arcane/materials/internal/MeshMaterial.h
  arcane/src/arcane/materials/srcs.cmake
Labels: arcane, refactoring

#795 Move method 'IMeshComponent::variableIndexer()' in private API.
  arcane/ceapart/src/arcane/tests/MeshMaterialSimdUnitTest.cc
  arcane/src/arcane/core/materials/IMeshComponent.h
  arcane/src/arcane/core/materials/MatItemEnumerator.cc
  arcane/src/arcane/core/materials/MeshComponentPartData.cc
  arcane/src/arcane/core/materials/internal/IMeshComponentInternal.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/materials/MeshMaterialVariableScalar.cc
  arcane/src/arcane/materials/internal/MeshEnvironment.h
  arcane/src/arcane/materials/internal/MeshMaterial.h
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
  arcane/tools/wrapper/materials/ArcaneSwigCeaMaterials.i
  arcane/tools/wrapper/materials/csharp/ComponentItemEnumerator.cs
Labels: arcane, refactoring

#796 Add method 'RunQueue::platformStream()' to get the underlying accelerator stream
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/tests/accelerator/RunQueueUnitTest.cc
Labels: enhancement, arcane, accelerator

#793 Neo integratation into framework
  CMakeLists.txt
  _common/build_all/CMakeLists.txt
  _common/build_all/cmake/FindNeo.cmake
  arcane/src/arcane/core/ItemInternal.h
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arctools/neo/.gitignore
  arctools/neo/CMakeLists.txt
  arctools/neo/README.md
  arctools/neo/_clang-format
  arctools/neo/sgraph/CMakeLists.txt
  arctools/neo/sgraph/_clang-format
  arctools/neo/sgraph/src/CMakeLists.txt
  arctools/neo/sgraph/src/sgraph/CMakeLists.txt
  arctools/neo/sgraph/src/sgraph/DirectedAcyclicGraph.h
  arctools/neo/sgraph/src/sgraph/DirectedGraph.h
  arctools/neo/sgraph/src/sgraph/GraphBase.h
  arctools/neo/sgraph/src/tests/CMakeLists.txt
  arctools/neo/sgraph/src/tests/GraphTest.cpp
  arctools/neo/src/CMakeLists.txt
  arctools/neo/src/neo/CMakeLists.txt
  arctools/neo/src/neo/Family.h
  arctools/neo/src/neo/Items.h
  arctools/neo/src/neo/Mesh.cpp
  arctools/neo/src/neo/Mesh.h
  arctools/neo/src/neo/MeshKernel.h
  arctools/neo/src/neo/Neo.h
  arctools/neo/src/neo/Properties.cpp
  arctools/neo/src/neo/Properties.h
  arctools/neo/src/neo/Utils.h
  arctools/neo/src/tests/CMakeLists.txt
  arctools/neo/src/tests/MeshViewPocTest.cpp
  arctools/neo/src/tests/NeoBaseTest.cpp
  arctools/neo/src/tests/NeoEvolutiveMeshTest.cpp
  arctools/neo/src/tests/NeoGraphTest.cpp
  arctools/neo/src/tests/NeoMeshAPITest.cpp
  arctools/neo/src/tests/NeoPerformanceTest.cpp
  arctools/neo/src/tests/NeoPolyhedralMeshTest.cpp
  arctools/neo/src/tests/meshes/example_cell.xmf
  arctools/neo/src/tests/meshes/example_hexahedron.xmf
  arctools/neo/src/tests/meshes/example_mesh.xmf
Labels: enhancement

#797 Add support for 'CaseFunction' written in C#
  arcane/src/arcane/core/CaseFunction2.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/CaseFunctionTester.axl
  arcane/src/arcane/tests/CaseFunctionTesterModule.cc
  arcane/src/arcane/tests/DotNetCaseFunctionProvider.cs
  arcane/src/arcane/tests/srcs.cmake
  arcane/tests/testCaseFunctionModule-1.arc
  arcane/tools/wrapper/core/ArcaneSwigCore.i
  arcane/tools/wrapper/core/ArcaneSwigCoreInclude.h
  arcane/tools/wrapper/core/ArrayView.i
  arcane/tools/wrapper/core/CMakeLists.txt
  arcane/tools/wrapper/core/CaseOption.i
  arcane/tools/wrapper/core/DotNetObject.i
  arcane/tools/wrapper/core/ItemPairGroup.i
  arcane/tools/wrapper/core/Service.i
  arcane/tools/wrapper/core/csharp/CaseFunction.cs
Labels: enhancement, arcane

#800 Add support for external '.Net' assembly containing 'CaseFunction'
  arcane/cmake/Modules/FindCoreClrSDK.cmake
  arcane/src/arcane/core/ICaseFunctionProvider.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/core/XmlNode.cc
  arcane/src/arcane/core/XmlNode.h
  arcane/src/arcane/impl/CaseMng.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/ExternalDotNetFunction1.cs
  arcane/tests/testCaseFunctionModule-2.arc
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.Common/ExecDriver.cs
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.Common/Utils.cs
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.DotNetCompile/Compile.cs
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.DotNetCompile/DotNetCompileMain.cs
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.dll.config.json
  arcane/tools/Arcane.UnifiedDriver/Arcane.UnifiedDriver.csproj
  arcane/tools/Arcane.UnifiedDriver/Main.cs
  arcane/tools/CMakeLists.txt
  arcane/tools/wrapper/core/InterfacesDeclaration.i
  arcane/tools/wrapper/core/csharp/ArcaneMain.cs
  arcane/tools/wrapper/core/csharp/AssemblyLoaderHelper.cs
  arcane/tools/wrapper/core/csharp/CaseFunction.cs
  arcane/tools/wrapper/launcher/Arcane.Launcher.csproj.in
  arcane/tools/wrapper/launcher/CMakeLists.txt
  arcane/tools/wrapper/launcher/csharp/ArcaneDefaultCaseFunctionProvider.cs
  arcane/tools/wrapper/services/ArcaneSwigServices.i
Labels: enhancement, arcane

#801 Add sample for user functions in C#
  arcane/samples_build/samples/CMakeLists.txt
  arcane/samples_build/samples/user_function/CMakeLists.txt
  arcane/samples_build/samples/user_function/ExternalFunctions.cs
  arcane/samples_build/samples/user_function/UserFunction.arc
  arcane/samples_build/samples/user_function/UserFunction.axl
  arcane/samples_build/samples/user_function/UserFunction.config
  arcane/samples_build/samples/user_function/UserFunctionModule.cc
  arcane/samples_build/samples/user_function/main.cc
  arcane/src/arcane/core/DotNetRuntimeInitialisationInfo.cc
  arcane/src/arcane/impl/CaseMng.cc
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.DotNetCompile/Compile.cs
Labels: arcane

#803 Add documentation for User Function in C#.
  arcane/doc/doc_user/chap_wrapping/subchap_csharp/0_csharp.md
  arcane/doc/doc_user/chap_wrapping/subchap_csharp/2_swig_wrapping.md
  arcane/doc/doc_user/chap_wrapping/subchap_csharp/3_casefunction.md
Labels: documentation, arcane

#802 Plug Neo build in common
  _common/build_all/cmake/FindNeo.cmake
  arctools/neo/sgraph/src/sgraph/CMakeLists.txt
  arctools/neo/src/neo/CMakeLists.txt
  arctools/neo/src/neo/Items.h
  arctools/neo/src/tests/CMakeLists.txt
Labels: build

#805 Fix usage of temporaries
  arctools/neo/sgraph/src/tests/GraphTest.cpp
Labels: bug, arcane

#806 Add missing include 'assert.h' to compile with ROCm/HIP
  arccore/src/base/arccore/base/ArrayViewCommon.h
Labels: bug, arccore, build

#808 Add more tests to 'compile-all-vcpkg' workflow
  .github/workflows/compile-all-vcpkg.yml
Labels: CI

#807 Fix some coverity warnings in Neo
  arctools/neo/src/neo/Family.h
  arctools/neo/src/neo/Mesh.cpp
  arctools/neo/src/tests/NeoBaseTest.cpp
  arctools/neo/src/tests/NeoPolyhedralMeshTest.cpp
Labels: bug, neo

#810 Improve C# tools
  arcane/tools/Arcane.UnifiedDriver/Arcane.UnifiedDriver.csproj
  arcane/tools/Arcane.Utils.Generator/Array.txt
  arcane/tools/Arcane.Utils/Arcane.Utils/ArrayImplBase.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/ByteArray.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Int16Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Int32Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Int64Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Real2Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Real2x2Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Real3Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Real3x3Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/RealArray.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/UInt16Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/UInt32Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/UInt64Array.cs
  arcane/tools/CMakeLists.txt
  arcane/tools/wrapper/core/Variables.i
  arcane/tools/wrapper/core/csharp/ItemEnumerator.cs
  arcane/tools/wrapper/core/csharp/ItemInternal.cs
Labels: enhancement, arcane, refactoring

#811 Fix availability and compilation of samples using C# code
  arcane/cmake/ArcaneConfig.cmake.in
  arcane/samples_build/samples/CMakeLists.txt
  arcane/samples_build/samples/eos/csharp/CMakeLists.txt
  arcane/samples_build/samples/eos/main.cc
  arcane/samples_build/samples/hydro_accelerator/CMakeLists.txt
  arcane/tools/wrapper/CMakeLists.txt
Labels: bug, enhancement, accelerator

#809 Add build and compilation of Arcane samples in 'circle-ci'
  .circleci/config.yml
  arcane/samples_build/CMakeLists.txt
  arcane/samples_build/samples/standalone_accelerator/main.cc
  arcane/samples_build/samples/standalone_subdomain/main.cc
Labels: arcane, CI

#812 Plug Alien core (standalone and base plugins) build into framework.
  CMakeLists.txt
  _common/build_all/CMakeLists.txt
  _common/build_all/cmake/FindArccore.cmake
  alien/CMakeLists.txt
  alien/standalone/CMakeLists.txt
  alien/standalone/benchmark/CMakeLists.txt
  alien/standalone/docs/tutorial/CMakeLists.txt
  alien/standalone/src/CMakeLists.txt
  alien/standalone/src/refsemantic/CMakeLists.txt
Labels: build

#814 Change warning level in Neo for Windows
  arctools/neo/sgraph/src/sgraph/CMakeLists.txt
  arctools/neo/src/neo/CMakeLists.txt
Labels: build

#817 Fix alien compilation for win32
  alien/standalone/CMakeLists.txt
  alien/standalone/src/core/alien/data/CMakeLists.txt
  alien/standalone/src/core/alien/import_export/MatrixMarketSystemReader.h
  alien/standalone/src/core/alien/import_export/Reader.h
  alien/standalone/src/core/alien/import_export/SuiteSparseArchiveSystemReader.h
  alien/standalone/src/core/alien/index_manager/CMakeLists.txt
  alien/standalone/src/core/alien/kernels/composite/CMakeLists.txt
  alien/standalone/src/core/alien/kernels/dok/CMakeLists.txt
  alien/standalone/src/core/alien/kernels/redistributor/CMakeLists.txt
  alien/standalone/src/core/alien/kernels/simple_csr/CMakeLists.txt
  alien/standalone/src/core/alien/kernels/simple_csr/SimpleCSRBackEnd.h
  alien/standalone/src/core/alien/kernels/simple_csr/redistribution/SimpleCSRDistributorImpl.h
  alien/standalone/src/core/alien/utils/CMakeLists.txt
  alien/standalone/src/refsemantic/alien/ref/handlers/stream/StreamMatrixBuilder.cc
  alien/standalone/src/refsemantic/alien/ref/handlers/stream/StreamVBlockMatrixBuilder.cc
  arctools/neo/src/tests/CMakeLists.txt
Labels: build, alien

#813 Make usage of 'ItemInternal' and 'ComponentItemInternal' deprecated in '.Net' wrapper
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tools/wrapper/core/Arcane.Core.csproj.in
  arcane/tools/wrapper/core/csharp/Item.cs
  arcane/tools/wrapper/core/csharp/ItemEnumerator.cs
  arcane/tools/wrapper/core/csharp/ItemInternal.cs
  arcane/tools/wrapper/materials/csharp/ComponentItem.cs
Labels: arcane, refactoring

#815 Dev/sdc disable gtest death test by default
  arctools/neo/src/tests/CMakeLists.txt
  arctools/neo/src/tests/NeoBaseTest.cpp
Labels: build, neo

#820 Fix coverity warnings
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
  arctools/neo/src/neo/Mesh.cpp
Labels: enhancement, arcane, neo

#818 Update CI images and fixes in Alien
  .circleci/config.yml
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_debug.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
  .github/workflows/coverity.yml
  alien/standalone/src/core/alien/kernels/simple_csr/LUSendRecvOp.h
  alien/standalone/src/core/alien/kernels/simple_csr/algebra/SimpleCSRInternalLinearAlgebra.h
  alien/standalone/src/core/tests/TestBackEnds.cc
  alien/standalone/src/core/tests/TestCompositeSpace.cc
  alien/standalone/src/refsemantic/alien/ref/mv_expr/MVExpr.h
Labels: CI, alien

#821 For Arccore, Use '/Z7' on Win32 and always compile with debug symbols
  arccore/CMakeLists.txt
Labels: arccore, build

#822 Add class 'ICaseOptionListInternal' to provide API internal to Arcane for class 'ICaseOptionList'
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/CaseOptionBase.cc
  arcane/src/arcane/core/CaseOptionComplexValue.cc
  arcane/src/arcane/core/CaseOptionList.cc
  arcane/src/arcane/core/CaseOptionService.cc
  arcane/src/arcane/core/CaseOptions.cc
  arcane/src/arcane/core/ICaseOptionList.h
  arcane/src/arcane/core/internal/ICaseOptionListInternal.h
  arcane/src/arcane/core/srcs.cmake
Labels: arcane, refactoring
