Repository arcaneframework/framework, pull requests merged in 2023-04, with the labels that each got.

#609 Fix values not initialiazed with default constructor in Array2::resize() in some cases
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/arccore/collections/Array2.h
  arccore/src/collections/tests/TestArray.cc
Labels: bug, arccore

#613 Add helper classes to dynamically create Services with options
  arcane/src/arcane/core/AxlOptionsBuilder.cc
  arcane/src/arcane/core/AxlOptionsBuilder.h
  arcane/src/arcane/core/CaseOptions.cc
  arcane/src/arcane/core/CaseOptions.h
  arcane/src/arcane/core/ServiceBuilder.cc
  arcane/src/arcane/core/ServiceBuilder.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/impl/CaseMng.cc
  arcane/src/arcane/tests/CaseOptionsTesterModule.cc
Labels: enhancement, arcane

#614 Add JSON writer for 'AxlOptionsBuilder::Document'
  arcane/src/arcane/core/AxlOptionsBuilder.cc
  arcane/src/arcane/core/AxlOptionsBuilder.h
Labels: enhancement, arcane

#615 Add a class 'SmallArray' for arrays with a small memory buffer owned by the instance
  arcane/src/arcane/utils/SmallArray.cc
  arcane/src/arcane/utils/SmallArray.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/src/arcane/utils/tests/TestCollections.cc
Labels: enhancement, arcane

#616 Add greater timeout in gtest_discover_tests
  arcane/ceapart/src/arcane/cartesianmesh/tests/CMakeLists.txt
  arcane/src/arcane/utils/tests/CMakeLists.txt
  arccore/src/base/tests/CMakeLists.txt
  arccore/src/collections/tests/CMakeLists.txt
  arccore/src/trace/tests/CMakeLists.txt
Labels: arcane, arccore, build

#617 Cleanup SpecificMemoryCopy
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/src/arcane/utils/MemoryView.cc
Labels: arcane, refactoring

#618 Add support for calling a specific EntryPoint for testing purpose
  arcane/src/arcane/core/IEntryPointMng.h
  arcane/src/arcane/impl/EntryPointMng.cc
  arcane/src/arcane/impl/TimeLoopMng.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/CaseOptionsTesterModule.cc
  arcane/tests/testCaseOptions-specific-entry-point.arc
Labels: enhancement, arcane

#619 Better handling of 'StandaloneSubDomain'
  arcane/src/arcane/impl/ArcaneSimpleExecutor.cc
  arcane/src/arcane/launcher/ArcaneLauncher.cc
  arcane/src/arcane/launcher/ArcaneLauncher.h
  arcane/src/arcane/launcher/StandaloneSubDomain.cc
  arcane/src/arcane/launcher/StandaloneSubDomain.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#620 Remove usage of 'ISubDomain' in 'IVariable' and 'VariableRef'
  arcane/src/arcane/core/Array2Variable.cc
  arcane/src/arcane/core/IVariable.h
  arcane/src/arcane/core/IVariableMng.h
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/Variable.h
  arcane/src/arcane/core/VariableArray.cc
  arcane/src/arcane/core/VariableDiff.h
  arcane/src/arcane/core/VariableRef.cc
  arcane/src/arcane/core/VariableRef.h
  arcane/src/arcane/core/VariableRefScalar.cc
  arcane/src/arcane/core/VariableScalar.cc
  arcane/src/arcane/hdf5/Hdf5VariableInfoBase.cc
  arcane/src/arcane/impl/VariableMng.cc
Labels: arcane, refactoring

#621 Add support in Aleph for specific parameters to initialize solver library
  arcane/src/arcane/aleph/AlephKernel.cc
  arcane/src/arcane/aleph/AlephKernel.h
  arcane/src/arcane/aleph/petsc/AlephPETSc.cc
  arcane/src/arcane/aleph/petsc/IAlephPETSc.h
  arcane/src/arcane/aleph/petsc/srcs.cmake
  arcane/src/arcane/aleph/tests/AlephTestModule.cc
Labels: enhancement, arcane

#607 Update SimpleTableWriterHelper
  arcane/src/arcane/std/SimpleTableWriterHelper.cc
  arcane/src/arcane/std/SimpleTableWriterHelper.h
  arcane/src/arcane/tests/SimpleTableOutputUnitTest.axl
  arcane/src/arcane/tests/SimpleTableOutputUnitTest.cc
  arcane/src/arcane/tests/SimpleTableOutputUnitTest.h
Labels: arcane

#623 Use reference semantic for 'Accelerator::Runner'
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/Runner.h
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
Labels: enhancement, arcane, accelerator

#624 Add function to get command line arguments
  arcane/src/arcane/tests/UtilsUnitTest.cc
  arcane/src/arcane/utils/PlatformUtils.cc
  arcane/src/arcane/utils/PlatformUtils.h
Labels: enhancement, arcane

#625 Add support for indexed memory copy with accelerator API
  arcane/ceapart/src/arcane/tests/CMakeLists.txt
  arcane/cmake/Functions.cmake
  arcane/src/arcane/accelerator/CMakeLists.txt
  arcane/src/arcane/accelerator/MemoryCopier.cc
  arcane/src/arcane/accelerator/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/MemoryCopyUnitTest.cc
  arcane/src/arcane/utils/ArrayBounds.h
  arcane/src/arcane/utils/MemoryView.cc
  arcane/src/arcane/utils/MemoryView.h
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/internal/SpecificMemoryCopyList.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/tests/testMemoryCopy-1.arc
Labels: enhancement, arcane, accelerator

#626 Fix some coverity warnings
  arcane/src/arcane/accelerator/MemoryCopier.cc
  arcane/src/arcane/utils/PlatformUtils.cc
  arcane/src/arcane/utils/internal/SpecificMemoryCopyList.h
Labels: enhancement, arcane

#627 Begin support of CUDA Profiling Tools Interface (CUPTI)
  arcane/src/arcane/accelerator/cuda/runtime/CMakeLists.txt
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/cuda/runtime/Cupti.cc
Labels: enhancement, arcane, accelerator

#629 Add cell variables and groups in vtk polyhedral io service
  arcane/maillages/faultx1_2x1x1.vtk
  arcane/src/arcane/std/VtkPolyhedralMeshIOService.cc
  arcane/src/arcane/tests/CustomMeshTest.axl
  arcane/src/arcane/tests/CustomMeshTestModule.cc
  arcane/tests/testMeshPolyhedral-1.arc
Labels: enhancement, arcane

#630 Add 'const' modifier for some methods in 'IMeshComponent' and derived interfaces
  arcane/src/arcane/core/materials/IMeshComponent.h
  arcane/src/arcane/core/materials/IMeshEnvironment.h
  arcane/src/arcane/core/materials/IMeshMaterial.h
  arcane/src/arcane/materials/MeshComponentData.h
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshEnvironment.h
  arcane/src/arcane/materials/MeshMaterial.cc
  arcane/src/arcane/materials/MeshMaterial.h
Labels: arcane, refactoring

#631 Add support in synchronisations for MPI Cuda aware implementation
  arcane/src/arcane/accelerator/core/AcceleratorMng.cc
  arcane/src/arcane/accelerator/core/RunCommand.h
  arcane/src/arcane/core/IParallelMng.h
  arcane/src/arcane/core/Parallel.h
  arcane/src/arcane/core/ParallelMngDispatcher.cc
  arcane/src/arcane/core/ParallelMngDispatcher.h
  arcane/src/arcane/core/internal/IParallelMngInternal.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/impl/IBufferCopier.h
  arcane/src/arcane/impl/SubDomain.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.h
Labels: enhancement, arcane, accelerator

#632 Add some CUPTI activities
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/cuda/runtime/Cupti.cc
Labels: enhancement, arcane, accelerator

#633 Read node variables from polyhedral vtk mesh file
  arcane/maillages/faultx1_2x1x1.vtk
  arcane/src/arcane/std/VtkPolyhedralMeshIOService.cc
  arcane/src/arcane/tests/CustomMeshTest.axl
  arcane/src/arcane/tests/CustomMeshTestModule.cc
  arcane/tests/testMeshPolyhedral-1.arc
Labels: enhancement, arcane

#634 Add axl options to VtkPolyhedralCaseMeshReader
  arcane/src/arcane/std/VtkPolyhedralMeshIO.axl
  arcane/src/arcane/std/VtkPolyhedralMeshIOService.cc
  arcane/src/arcane/std/srcs.cmake
  arcane/tests/testMeshPolyhedral-1.arc
Labels: enhancement, arcane

#635 Various improvement in Array classes
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/arccore/collections/Array2.h
  arccore/src/collections/tests/TestArray.cc
Labels: enhancement, arccore, refactoring

#636 Read face variables and groups in Vtk polyhedral io service
  arcane/maillages/faultx1_2x1x1.vtkfaces.vtk
  arcane/src/arcane/std/VtkPolyhedralMeshIO.axl
  arcane/src/arcane/std/VtkPolyhedralMeshIOService.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/CustomMeshTest.axl
  arcane/src/arcane/tests/CustomMeshTestModule.cc
  arcane/tests/testMeshPolyhedral-1.arc
Labels: enhancement, arcane

#638 Add support in parallel for post processing format VTK HDF Version 2
  arcane/src/arcane/hdf5/Hdf5Utils.cc
  arcane/src/arcane/hdf5/Hdf5Utils.h
  arcane/src/arcane/std/VtkHdfV2PostProcessor.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#639 Add support for backward operation in VTK HDF V2
  arcane/src/arcane/hdf5/Hdf5Utils.cc
  arcane/src/arcane/hdf5/Hdf5Utils.h
  arcane/src/arcane/std/VtkHdfV2PostProcessor.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testHydro-1-vtkhdfv2-backward.arc
Labels: enhancement, arcane
