Repository arcaneframework/framework, pull requests merged in 2023-11, with the labels that each got.

#967 Rename 'Multi...MemoryView' to '...MultiMemoryView' for 'Const' and 'Mutable'
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/tests/accelerator/MultiMemoryCopyUnitTest.cc
  arcane/src/arcane/utils/MemoryView.cc
  arcane/src/arcane/utils/MemoryView.h
Labels: arcane, refactoring

#970 Add internal API to Arcane for interface 'IMeshModifier'
  arcane/src/arcane/core/IMeshModifier.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/core/internal/IMeshModifierInternal.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMesh.h
Labels: enhancement, arcane

#971 Add class 'CartesianPatch' to handle instances of 'ICartesianMeshPatch'
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTesterModule.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshGlobal.h
  arcane/src/arcane/cartesianmesh/CartesianMeshPatchListView.h
  arcane/src/arcane/cartesianmesh/CartesianPatch.cc
  arcane/src/arcane/cartesianmesh/CartesianPatch.h
  arcane/src/arcane/cartesianmesh/srcs.cmake
Labels: enhancement, arcane

#973 Rename 'ItemLocalIdViewT' to 'ItemLocalIdListViewT'.
  arcane/src/arcane/core/IndexedItemConnectivityView.h
  arcane/src/arcane/core/ItemConnectivityContainerView.h
  arcane/src/arcane/core/ItemLocalIdListContainerView.h
  arcane/src/arcane/core/ItemLocalIdListView.cc
  arcane/src/arcane/core/ItemLocalIdListView.h
  arcane/src/arcane/core/ItemTypes.h
Labels: arcane, refactoring

#974 Add sentinel type to iterator on Items
  arcane/src/arcane/cartesianmesh/CartesianMeshPatchListView.h
  arcane/src/arcane/core/ItemConnectedListView.h
  arcane/src/arcane/core/ItemLocalIdListView.h
  arcane/src/arcane/core/ItemVectorView.h
Labels: enhancement, arcane, refactoring

#975 Move dfinition of 'DynamicMesh::InternalApi' in source file
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMesh.h
Labels: arcane, refactoring

#978 Add helper class to make a RunQueue temporarly asynchronous
  arcane/src/arcane/accelerator/MemoryCopier.cc
  arcane/src/arcane/accelerator/core/RunQueue.h
Labels: enhancement, arcane, accelerator

#980 Update Arcane documentation
  arcane/doc/doc_user/chap_execution/1_launcher.md
  arcane/doc/doc_user/chap_execution/2_direct_execution.md
  arcane/doc/doc_user/chap_getting_started/1_about.md
  arcane/doc/doc_user/chap_parallel/4_accelerator.md
  arcane/samples_build/samples/standalone_subdomain/main.cc
  arcane/src/arcane/launcher/ArcaneLauncher.h
  arcane/src/arcane/launcher/StandaloneSubDomain.h
Labels: documentation, arcane

#981 Fix bad return type for viewout and modify unit test accordingly
  arcane/src/arcane/accelerator/MaterialVariableViews.h
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
Labels: bug, arcane, accelerator

#982 Add implementation of SHA1 algorithm
  arcane/src/arcane/utils/SHA1HashAlgorithm.cc
  arcane/src/arcane/utils/SHA1HashAlgorithm.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/src/arcane/utils/tests/TestHash.cc
Labels: enhancement, arcane

#983 Add support for incremental computation of hash value
  arcane/src/arcane/std/HashAlgorithmServices.cc
  arcane/src/arcane/utils/ArcaneGlobal.cc
  arcane/src/arcane/utils/HashAlgorithm.cc
  arcane/src/arcane/utils/IHashAlgorithm.h
  arcane/src/arcane/utils/SHA1HashAlgorithm.cc
  arcane/src/arcane/utils/SHA1HashAlgorithm.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/src/arcane/utils/tests/TestHash.cc
Labels: enhancement, arcane

#984 Add new method overload 'IHashAlgorithm::computeHash()' using a 'HashAlgorithmValue' as argument
  arcane/src/arcane/tests/UtilsUnitTest.cc
  arcane/src/arcane/utils/HashAlgorithm.cc
  arcane/src/arcane/utils/IHashAlgorithm.h
  arcane/src/arcane/utils/SHA1HashAlgorithm.cc
  arcane/src/arcane/utils/SHA1HashAlgorithm.h
  arcane/src/arcane/utils/tests/TestHash.cc
Labels: enhancement, arcane

#986 Add support to change the parent patch used for renumbering
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTesterModule.cc
  arcane/ceapart/tests/testAMRCartesianMesh2D-V1-coarse-2.arc
  arcane/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshRenumberingInfo.h
  arcane/src/arcane/cartesianmesh/CartesianPatch.h
  arcane/src/arcane/cartesianmesh/ICartesianMesh.h
  arcane/src/arcane/cartesianmesh/internal/CartesianMeshUniqueIdRenumbering.cc
  arcane/src/arcane/cartesianmesh/internal/CartesianMeshUniqueIdRenumbering.h
Labels: enhancement, arcane

#988 Add support to disable compilation of tests
  arcane/CMakeLists.txt
  arcane/ceapart/CMakeLists.txt
Labels: arcane, build

#990 Add support for sorting Faces and Edges connected to Nodes
  arcane/src/arcane/mesh/NodeFamily.cc
  arcane/src/arcane/mesh/NodeFamily.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/MeshUnitTest.axl
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/tests/testMesh-2-sorted-faces.arc
Labels: enhancement, arcane

#991 Add support for asynchronous fill for Mesh Variables
  arcane/src/arcane/accelerator/MemoryCopier.cc
  arcane/src/arcane/core/Data.cc
  arcane/src/arcane/core/MeshVariableArrayRef.h
  arcane/src/arcane/core/MeshVariableArrayRefT.H
  arcane/src/arcane/core/MeshVariableScalarRef.h
  arcane/src/arcane/core/MeshVariableScalarRefT.H
  arcane/src/arcane/core/internal/IDataInternal.h
  arcane/src/arcane/tests/accelerator/AcceleratorViewsUnitTest.cc
  arcane/src/arcane/utils/internal/SpecificMemoryCopyList.h
Labels: enhancement, arcane, accelerator

#992 Make class SpinLock deprecated
  arccore/src/concurrency/arccore/concurrency/ConcurrencyGlobal.cc
  arccore/src/concurrency/arccore/concurrency/IThreadImplementation.h
  arccore/src/concurrency/arccore/concurrency/SpinLock.h
Labels: arccore, refactoring

#993 Fix compilation warnings (override keyword missing)
  arcane/src/arcane/impl/CaseMng.cc
  arcane/src/arcane/impl/internal/VariableSynchronizerMng.h
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/std/FileHashDatabase.cc
  arcane/src/arcane/std/RedisHashDatabase.cc
  arcane/src/arcane/tests/CaseOptionsTesterModule.cc
  arcane/src/arcane/utils/SHA1HashAlgorithm.h
Labels: arcane, build

#994 Add option to disable compilation of '.Net' wrapper
  arcane/CMakeLists.txt
  arcane/tools/CMakeLists.txt
Labels: arcane, build

#995 Fix potential memory leak with asynchrounous RunCommand without further barrier
  arcane/src/arcane/accelerator/core/RunQueueImpl.cc
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/Runner.h
Labels: bug, arcane, accelerator

#996 Use a reference counter for class 'RunQueueImpl'
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/accelerator/core/RunQueueImpl.cc
  arcane/src/arcane/accelerator/core/RunQueueImpl.h
Labels: arcane, refactoring, accelerator

#997 Refactor directory 'arcane/accelelerator/core'
  arcane/src/arcane/accelerator/RunQueueImpl.h
  arcane/src/arcane/accelerator/core/ReduceMemoryImpl.cc
  arcane/src/arcane/accelerator/core/RunCommand.cc
  arcane/src/arcane/accelerator/core/RunCommandImpl.cc
  arcane/src/arcane/accelerator/core/RunCommandImpl.h
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueueImpl.cc
  arcane/src/arcane/accelerator/core/RunQueueImpl.h
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/internal/ReduceMemoryImpl.h
  arcane/src/arcane/accelerator/core/internal/RunCommandImpl.h
  arcane/src/arcane/accelerator/core/internal/RunQueueImpl.h
  arcane/src/arcane/accelerator/core/srcs.cmake
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
Labels: arcane, refactoring, accelerator

#1000 Cleanup class 'CartesianConnectivity'
  arcane/src/arcane/cartesianmesh/CartesianConnectivity.cc
  arcane/src/arcane/cartesianmesh/CartesianConnectivity.h
  arcane/src/arcane/cartesianmesh/CartesianMesh.cc
Labels: arcane, refactoring

#999 Improve AllCellToAllEnvCell memory management
  arcane/src/arcane/materials/AllCellToAllEnvCellConverter.cc
  arcane/src/arcane/materials/AllCellToAllEnvCellConverter.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
Labels: arcane

#1002 Use components of Trilinos for Aleph/Trilinos
  arcane/CMakeLists.txt
  arcane/cmake/ArcanePackageInfo.cmake
  arcane/cmake/Functions.cmake
  arcane/cmake/Modules/FindTrilinos.cmake
  arcane/cmake/Modules/FindTrilinosAleph.cmake
  arcane/src/arcane/aleph/trilinos/CMakeLists.txt
Labels: arcane, build

#1003 Move 'aleph/sloop' to 'src/arcane/aleph'
  arcane/ceapart/CMakeLists.txt
  arcane/src/arcane/aleph/CMakeLists.txt
  arcane/src/arcane/aleph/FindSuperLU.cmake
  arcane/src/arcane/aleph/sloop/AlephSloop.cc
  arcane/src/arcane/aleph/sloop/CMakeLists.txt
  arcane/src/arcane/aleph/sloop/srcs.cmake
Labels: arcane, build

#1004 Do not set by default ARCANE_BUILD_TYPE
  _common/build_all/CMakeLists.txt
Labels: build

#1006 Add colors in the Ninja logs
  arccore/CMake/CheckCompileFlags.cmake
Labels: build

#1009 Add direction argument for methods of CartesianConnectivity
  arcane/ceapart/src/arcane/tests/CartesianMeshTestUtils.cc
  arcane/ceapart/src/arcane/tests/CartesianMeshTestUtils.h
  arcane/src/arcane/cartesianmesh/CartesianConnectivity.cc
  arcane/src/arcane/cartesianmesh/CartesianConnectivity.h
  arcane/src/arcane/cartesianmesh/CartesianMesh.cc
Labels: enhancement, arcane

#1005 Fix build for SchurOp
  alien/standalone/src/refsemantic/tests/TestSchur.cc
Labels: build, alien

#1012 Fix property in constructor of MaterialVariable not taken into account in some cases
  arcane/ceapart/src/arcane/tests/MeshMaterialTesterModule.cc
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
Labels: bug, arcane

#1013 Remove argument NO_MODULE in 'FindZoltan.cmake'
  arcane/cmake/Modules/FindZoltan.cmake
Labels: arcane, build

#1008 Make the option USE_GRAPH_CONNECTIVITY_POLICY static.
  arcane/src/arcane/mesh/CMakeLists.txt
  arcane/src/arcane/mesh/DynamicMesh.cc
Labels: arcane, build

#1016 Fix source path of AlephSloop files
  arcane/src/arcane/aleph/sloop/CMakeLists.txt
Labels: bug, arcane, build

#1017 Add new data initialisation policy using Nan and default value
  arcane/src/arcane/core/Array2Variable.cc
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/Variable.h
  arcane/src/arcane/core/VariableArray.cc
  arcane/src/arcane/core/datatype/DataTypes.h
  arcane/src/arcane/impl/Application.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#1018 [CI] Update create release workflow
  .github/workflows/create-release-arcane.yml
  .github/workflows/create-release-arccon.yml
  .github/workflows/create-release-arccore.yml
  .github/workflows/create-release-axlstar.yml
Labels: CI

#1019 Add support for new libXml2 version
  arcane/src/arcane/core/DomLibXml2V2.cc
Labels: arcane

#1021 [CI] Remove usage of C++20 when compiling Arcane on ubuntu 20
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
Labels: CI

#1020 Begin support for C++20 standard
  arcane/CMakeLists.txt
  arcane/src/arcane/utils/ArcaneCxx20.cc
  arcane/src/arcane/utils/ArcaneCxx20.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/src/arcane/utils/tests/CMakeLists.txt
  arcane/src/arcane/utils/tests/TestCxx20.cc
Labels: enhancement, arcane

#1025 [CI] Revert removing of C++20 for Arcane compilation on ubuntu 20
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
Labels: CI

#1026 Require C++20 for Arcane Accelerator API
  .github/workflows/codecov.yml
  .github/workflows/compile-all-vcpkg.yml
  arcane/CMakeLists.txt
  arcane/ceapart/src/arcane/tests/AdiProjectionModule.cc
  arcane/ceapart/src/arcane/tests/CMakeLists.txt
  arcane/ceapart/src/arcane/tests/CartesianMeshTestUtils.cc
  arcane/ceapart/src/arcane/tests/MeshMaterialSyncUnitTest.cc
  arcane/ceapart/src/arcane/tests/srcs.cmake
  arcane/ceapart/tests/CMakeLists.txt
  arcane/cmake/ArcaneConfig.cmake.in
  arcane/samples_build/samples/CMakeLists.txt
  arcane/src/arcane/accelerator/MaterialVariableViews.h
  arcane/src/arcane/accelerator/RunCommandEnumerate.h
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.h
  arcane/src/arcane/accelerator/VariableViews.h
  arcane/src/arcane/accelerator/core/ReduceMemoryImpl.cc
  arcane/src/arcane/accelerator/core/RunCommandImpl.cc
  arcane/src/arcane/accelerator/core/internal/ReduceMemoryImpl.h
  arcane/src/arcane/accelerator/cuda/CMakeLists.txt
  arcane/src/arcane/core/datatype/RealArray2Variant.cc
  arcane/src/arcane/core/datatype/RealArray2Variant.h
  arcane/src/arcane/core/datatype/RealArrayVariant.cc
  arcane/src/arcane/core/datatype/RealArrayVariant.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/impl/Data.cc
  arcane/src/arcane/impl/srcs.cmake
  arcane/src/arcane/tests/ArcaneTestMain.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/srcs.cmake
  arcane/src/arcane/utils/ArcaneCxx20.h
  arcane/src/arcane/utils/MDSpan.h
  arcane/src/arcane/utils/NumArrayUtils.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/src/arcane/utils/tests/CMakeLists.txt
Labels: arcane, refactoring, accelerator

#1027 Simplify NumArray and MDSpan implementaion using C++20 requires expression
  .github/workflows/build_tests_release.yml
  arcane/src/arcane/tests/accelerator/ArcaneTestStandaloneAcceleratorMng.cc
  arcane/src/arcane/tests/accelerator/MultiMemoryCopyUnitTest.cc
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
  arcane/src/arcane/utils/MDSpan.h
  arcane/src/arcane/utils/NumArray.cc
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/NumArrayContainer.h
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/srcs.cmake
Labels: arcane, refactoring, accelerator

#1028 Add accelerator support for 'atomicAdd' with 'double'
  arcane/src/arcane/accelerator/Atomic.h
  arcane/src/arcane/accelerator/CommonCudaHipAtomicImpl.h
  arcane/src/arcane/accelerator/CommonCudaHipReduceImpl.h
  arcane/src/arcane/accelerator/srcs.cmake
  arcane/src/arcane/core/DataView.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/AtomicUnitTest.cc
  arcane/tests/testAcceleratorAtomic-1.arc
Labels: enhancement, arcane, refactoring, accelerator

#1029 Do not initialize the MPI runtime if MessagePassingService is 'Sequential'
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: arcane

#1031 Update date of image U22_G12_C15_CU122
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_release.yml
Labels: CI

#1032 Generalize 'atomicAdd' for 'Int32' and 'Int64'
  arcane/src/arcane/accelerator/Atomic.h
  arcane/src/arcane/accelerator/CommonCudaHipAtomicImpl.h
  arcane/src/arcane/accelerator/CommonCudaHipReduceImpl.h
  arcane/src/arcane/tests/accelerator/AtomicUnitTest.cc
Labels: enhancement, arcane, accelerator

#1033 Add support for atomic Min and Max on accelerator API
  arcane/src/arcane/accelerator/AcceleratorGlobal.h
  arcane/src/arcane/accelerator/Atomic.h
  arcane/src/arcane/accelerator/CommonCudaHipAtomicImpl.h
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
  arcane/src/arcane/tests/accelerator/AtomicUnitTest.cc
Labels: enhancement, arcane, accelerator
