Repository arcaneframework/framework, pull requests merged in 2023-08, with the labels that each got.

#823 Improve compatibility with older version of doxygen
  arcane/CMakeLists.txt
  arcane/doc/doc_user/chap_services_modules/0_services_modules.md
  arcane/doc/generate_axl_infos.sh.in
  axlstar/Axlstar.AxlDoc/Arcane.AxlDoc/CodeInfo.cs
  axlstar/Axlstar.AxlDoc/Arcane.AxlDoc/DoxygenDocumentationGenerator.cs
  axlstar/Axlstar.AxlDoc/Arcane.AxlDoc/DoxygenDocumentationVisitor.cs
  axlstar/Axlstar.AxlDoc/Arcane.AxlDoc/DoxygenOptionIndexVisitor.cs
  axlstar/Axlstar.AxlDoc/Arcane.AxlDoc/MainAXLDOC.cs
Labels: documentation, arcane, axlstar

#826 Refactor some parts of material modification
  arcane/src/arcane/core/materials/MaterialsCoreGlobal.h
  arcane/src/arcane/core/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/core/materials/MeshMaterialVariableIndexer.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/MaterialModifierOperation.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/MeshMaterialModifier.cc
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
  arcane/src/arcane/materials/internal/IMeshMaterialModifierImpl.h
  arcane/src/arcane/materials/internal/MaterialModifierOperation.h
  arcane/src/arcane/materials/internal/MeshEnvironment.h
  arcane/src/arcane/materials/internal/MeshMaterialModifierImpl.h
  arcane/src/arcane/materials/srcs.cmake
Labels: arcane, refactoring

#827 Change return value of 'IMeshMaterialMng::synchronizeMaterialsInCells()'
  arcane/src/arcane/core/materials/IMeshMaterialMng.h
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
Labels: arcane, refactoring

#830 Remove unused code for assembly loading in C# driver
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.Common/NetCoreIndirectAssemblyLoader.cs
Labels: arcane, refactoring

#831 Create class 'ComponentConnectivityList' to manage list of environments and materials for a cell
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testMaterialHeat-3-incremental.arc
  arcane/ceapart/tests/testMaterialHeat-3.arc
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ComponentConnectivityList.cc
  arcane/src/arcane/materials/MaterialsGlobal.h
  arcane/src/arcane/materials/MeshComponentData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterial.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
  arcane/src/arcane/materials/internal/ComponentConnectivityList.h
  arcane/src/arcane/materials/internal/ComponentItemInternalData.h
  arcane/src/arcane/materials/internal/MeshComponentData.h
  arcane/src/arcane/materials/internal/MeshEnvironment.h
  arcane/src/arcane/materials/internal/MeshMaterial.h
  arcane/src/arcane/materials/srcs.cmake
Labels: enhancement, arcane

#832 Add incremental version of 'MeshMaterialVariableIndexer::transformCells()'
  arcane/src/arcane/core/materials/MaterialsCoreGlobal.h
  arcane/src/arcane/core/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/core/materials/MeshMaterialVariableIndexer.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ComponentConnectivityList.cc
  arcane/src/arcane/materials/internal/ComponentConnectivityList.h
  arcane/src/arcane/materials/internal/MeshMaterial.h
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
  arcane/tools/wrapper/materials/ArcaneSwigCeaMaterials.i
Labels: enhancement, arcane

#833 [CI] Fix errors in some MPI test in CI for ifpen/GIMKL
  .github/workflows/ifpen_el7_gimkl-2018b.yml
  .github/workflows/ifpen_el8_gimkl-2018b.yml
Labels: CI

#834 Remove C# wrapping of 'IMeshComponentInternal'
  arcane/src/arcane/core/materials/ComponentItemVectorView.h
  arcane/src/arcane/core/materials/MatItemEnumerator.cc
  arcane/src/arcane/core/materials/MatItemEnumerator.h
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/tools/wrapper/materials/Arcane.Cea.Materials.csproj.in
  arcane/tools/wrapper/materials/ArcaneSwigCeaMaterials.i
  arcane/tools/wrapper/materials/CMakeLists.txt
  arcane/tools/wrapper/materials/ComponentItemVector.i
  arcane/tools/wrapper/materials/csharp/ComponentItemEnumerator.cs
  arcane/tools/wrapper/materials/csharp/ComponentItemVectorView.cs
Labels: arcane, refactoring

#835 Reuse work structures between operation during incremental material modification
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
  arcane/src/arcane/materials/internal/MeshEnvironment.h
Labels: enhancement, arcane

#836 Move classes 'MeshMaterialVariableIndexer' and 'ComponentItemListBuilder' in internal part of 'arcane/materials'
  arcane/ceapart/src/arcane/tests/MeshMaterialSimdUnitTest.cc
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.h
  arcane/src/arcane/core/materials/ComponentItemVector.h
  arcane/src/arcane/core/materials/MeshComponentPartData.cc
  arcane/src/arcane/core/materials/internal/IMeshComponentInternal.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ComponentItemListBuilder.cc
  arcane/src/arcane/materials/ComponentItemListBuilder.h
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MaterialModifierOperation.cc
  arcane/src/arcane/materials/MeshComponentData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterial.cc
  arcane/src/arcane/materials/MeshMaterialBackup.cc
  arcane/src/arcane/materials/MeshMaterialIndirectModifier.cc
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.h
  arcane/src/arcane/materials/internal/ComponentItemListBuilder.h
  arcane/src/arcane/materials/internal/MeshEnvironment.h
  arcane/src/arcane/materials/internal/MeshMaterial.h
  arcane/src/arcane/materials/internal/MeshMaterialVariableIndexer.h
  arcane/src/arcane/materials/srcs.cmake
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
  arcane/tools/wrapper/materials/ArcaneSwigCeaMaterials.i
Labels: arcane, refactoring

#838 Move ' IncrementalOneMaterialModifier' in its own file and rename it 'IncrementalComponentModifier'
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
  arcane/src/arcane/materials/internal/MeshMaterialVariableIndexer.h
  arcane/src/arcane/materials/srcs.cmake
Labels: arcane, refactoring

#839 Minor refactoring in materials
  arcane/ceapart/src/arcane/tests/MaterialHeatTest.axl
  arcane/ceapart/src/arcane/tests/MaterialHeatTestModule.cc
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testMaterialHeat-2-incremental-small.arc
  arcane/src/arcane/core/materials/IMeshMaterialVariable.h
  arcane/src/arcane/core/materials/internal/IMeshMaterialVariableInternal.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ComponentConnectivityList.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterialBackup.cc
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/materials/MeshMaterialVariable.h
  arcane/src/arcane/materials/internal/ComponentConnectivityList.h
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
  arcane/src/arcane/materials/internal/MeshMaterialVariablePrivate.h
Labels: arcane, refactoring

#840 Compute number of material and environment after incremental update
  arcane/ceapart/src/arcane/tests/MaterialHeatTestModule.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
Labels: arcane, refactoring

#841 Rename 'IncrementalWorkInfo' to 'ComponentModifierWorkInfo' and use it in 'MeshMaterialVariableIndexer'.
  arcane/src/arcane/materials/ComponentModifierWorkInfo.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MaterialsGlobal.h
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
  arcane/src/arcane/materials/internal/ComponentModifierWorkInfo.h
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
  arcane/src/arcane/materials/internal/MeshMaterialVariableIndexer.h
  arcane/src/arcane/materials/srcs.cmake
Labels: arcane, refactoring

#842 Add interface 'IMeshMaterialMngInternal' to handle methods of 'IMeshMaterialMng' internal to Arcane
  arcane/src/arcane/core/materials/IMeshMaterialMng.h
  arcane/src/arcane/core/materials/MaterialsCoreGlobal.cc
  arcane/src/arcane/core/materials/MaterialsCoreGlobal.h
  arcane/src/arcane/core/materials/internal/IMeshMaterialMngInternal.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/materials/AllCellToAllEnvCellConverter.cc
  arcane/src/arcane/materials/AllCellToAllEnvCellConverter.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MaterialsGlobal.h
  arcane/src/arcane/materials/MeshMaterialBackup.cc
  arcane/src/arcane/materials/MeshMaterialBackup.h
  arcane/src/arcane/materials/MeshMaterialIndirectModifier.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/MeshMaterialModifier.cc
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/materials/MeshMaterialVariableScalar.cc
  arcane/src/arcane/materials/MeshMaterialVariableSynchronizerList.cc
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
Labels: arcane, refactoring

#843 Add class to print material constituents information
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/materials/ConstituentListPrinter.cc
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/materials/internal/ConstituentListPrinter.h
  arcane/src/arcane/materials/internal/MeshMaterialModifierImpl.h
  arcane/src/arcane/materials/srcs.cmake
Labels: enhancement, arcane

#844 Use same behaviour between material modification optimization
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testMaterialHeat-1.arc
  arcane/ceapart/tests/testMaterialHeat-1.arc.in
  arcane/ceapart/tests/testMaterialHeat-2-small-opt15.arc
  arcane/ceapart/tests/testMaterialHeat-2.arc
  arcane/ceapart/tests/testMaterialHeat-2.arc.in
  arcane/ceapart/tests/testMaterialHeat-3.arc
  arcane/ceapart/tests/testMaterialHeat-3.arc.in
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
Labels: bug, arcane

#845 Change default optimization level for material modification
  arcane/src/arcane/materials/MeshMaterialMng.cc
Labels: arcane

#846 Separate 'IIncrementalItemConnectivity' into source and target interface
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/IIncrementalItemConnectivity.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/core/internal/IItemFamilyInternal.h
  arcane/src/arcane/mesh/IncrementalItemConnectivity.cc
  arcane/src/arcane/mesh/IncrementalItemConnectivity.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/NewWithLegacyConnectivity.h
Labels: enhancement, arcane, refactoring

#847 Implement 'IIncrementalItemSourceConnectivity' for connectivity list of materials/environments
  arcane/src/arcane/core/MeshUtils.cc
  arcane/src/arcane/core/MeshUtils.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ComponentConnectivityList.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
  arcane/src/arcane/materials/internal/ComponentConnectivityList.h
  arcane/src/arcane/mesh/ItemFamily.cc
Labels: enhancement, arcane

#848 Add load balancing test for 'MaterialHeat'
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testMaterialHeat-1.arc.in
  arcane/ceapart/tests/testMaterialHeat-2.arc.in
  arcane/ceapart/tests/testMaterialHeat-3.arc.in
  arcane/src/arcane/tests/ArcaneTest.config
Labels: arcane

#850 Add test for version 3 of 'FaceUniqueIdBuilder'.
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testCartesianMesh3D-face-renumbering-v3.arc
Labels: enhancement, arcane

#851 Cleanup statistic handling for 'Arccore::MessagePassing'
  arccore/src/message_passing/arccore/message_passing/IStat.h
  arccore/src/message_passing/arccore/message_passing/Stat.cc
  arccore/src/message_passing/arccore/message_passing/Stat.h
  arccore/src/message_passing/tests/CMakeLists.txt
  arccore/src/message_passing/tests/TestStat.cc
Labels: arccore, refactoring

#852 Add support for cumulative statistics of 'IParallelMng' between execution
  arcane/src/arcane/core/parallel/IStat.h
  arcane/src/arcane/core/parallel/Stat.cc
  arcane/src/arcane/impl/SubDomain.cc
Labels: enhancement, arcane

#853 Print message passing statistics cumulative over all runs
  arcane/src/arcane/core/parallel/IStat.h
  arcane/src/arcane/core/parallel/Stat.cc
  arcane/src/arcane/impl/TimeLoopMng.cc
Labels: enhancement, arcane

#856 Move 'MeshMaterialVariableSynchronizer.h' and 'MeshMaterialSynchronizer.h' in internal parts
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/MeshMaterialSynchronizer.cc
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/materials/MeshMaterialVariableScalar.cc
  arcane/src/arcane/materials/MeshMaterialVariableSynchronizer.cc
  arcane/src/arcane/materials/MeshMaterialVariableSynchronizerList.cc
  arcane/src/arcane/materials/MeshMaterialVariableSynchronizerList.h
  arcane/src/arcane/materials/internal/IMeshMaterialVariableSynchronizer.h
  arcane/src/arcane/materials/internal/MeshMaterialSynchronizer.h
  arcane/src/arcane/materials/internal/MeshMaterialVariableSynchronizer.h
  arcane/src/arcane/materials/srcs.cmake
Labels: arcane, refactoring

#857 Cleanup handling of Variable comparer
  arcane/src/arcane/core/Array2Variable.cc
  arcane/src/arcane/core/VariableArray.cc
  arcane/src/arcane/core/VariableDataTypeTraits.h
  arcane/src/arcane/core/VariableDiff.cc
  arcane/src/arcane/core/VariableDiff.h
  arcane/src/arcane/core/VariableScalar.cc
  arcane/src/arcane/core/srcs.cmake
Labels: arcane, refactoring

#854 Fix potential dangling reference for field 'Mesh::Connectivity::name'
  arctools/neo/src/neo/Mesh.h
Labels: neo

#862 Add automatic compare mode for synchronization of variables
  arcane/src/arcane/impl/DataSynchronizeBuffer.cc
  arcane/src/arcane/impl/DataSynchronizeInfo.h
  arcane/src/arcane/impl/IDataSynchronizeBuffer.h
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/VariableSynchronizer.h
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.h
  arcane/src/arcane/impl/internal/DataSynchronizeBuffer.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#863 Cleanup and refactor synchronization of variables
  arcane/src/arcane/impl/DataSynchronizeDispatcher.cc
  arcane/src/arcane/impl/ParallelMngUtilsFactoryBase.cc
  arcane/src/arcane/impl/SequentialParallelMng.cc
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/VariableSynchronizerComputeList.cc
  arcane/src/arcane/impl/internal/IDataSynchronizeDispatcher.h
  arcane/src/arcane/impl/internal/VariableSynchronizer.h
  arcane/src/arcane/impl/internal/VariableSynchronizerComputeList.h
  arcane/src/arcane/impl/srcs.cmake
  arcane/src/arcane/parallel/mpi/MpiBlockVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiDirectSendrecvVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiLegacyVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiNeighborVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiVariableSynchronizeDispatcher.cc
Labels: arcane, refactoring
