Repository arcaneframework/framework, pull requests merged in 2023-02, with the labels that each got.

#534 Add a specific class 'ItemConnectedListView' to manage items connected to another item
  arcane/src/arcane/core/Item.cc
  arcane/src/arcane/core/Item.h
  arcane/src/arcane/core/ItemConnectedListView.h
  arcane/src/arcane/core/ItemEnumerator.h
  arcane/src/arcane/core/ItemEnumeratorBase.h
  arcane/src/arcane/core/ItemIndexedListView.h
  arcane/src/arcane/core/ItemInfoListView.h
  arcane/src/arcane/core/ItemInternal.h
  arcane/src/arcane/core/ItemInternalVectorView.h
  arcane/src/arcane/core/ItemSharedInfo.h
  arcane/src/arcane/core/ItemTypes.h
  arcane/src/arcane/core/ItemVectorView.h
  arcane/src/arcane/core/srcs.cmake
Labels: arcane, refactoring

#536 Add support to add an offset for localId() in Item containers and iterators
  arcane/src/arcane/core/ItemConnectedListView.h
  arcane/src/arcane/core/ItemEnumeratorBase.h
  arcane/src/arcane/core/ItemTypes.h
  arcane/src/arcane/core/ItemVectorView.h
Labels: arcane, refactoring

#537 Add specific enumerator for Item Connected to other items
  arcane/_clang-format
  arcane/src/arcane/core/Item.cc
  arcane/src/arcane/core/Item.h
  arcane/src/arcane/core/ItemConnectedEnumerator.h
  arcane/src/arcane/core/ItemConnectedEnumeratorBase.h
  arcane/src/arcane/core/ItemConnectedListView.h
  arcane/src/arcane/core/ItemEnumerator.h
  arcane/src/arcane/core/ItemIndexedListView.h
  arcane/src/arcane/core/ItemLocalId.h
  arcane/src/arcane/core/ItemTypes.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/src/arcane/tests/ModuleSimpleHydro.cc
Labels: enhancement, arcane

#538 Add support of Doxygen commands in AXL descriptions
  arcane/CMakeLists.txt
  arcane/README.md
  arcane/doc/devdoc.doxyfile
  arcane/doc/userdoc.doxyfile
  axlstar/Axlstar.AxlDoc/Arcane.AxlDoc/DoxygenDocumentationVisitor.cs
Labels: documentation, arcane, axlstar

#539 Improve compatibility between 'ItemConnectedListView' and 'ItemVectorView'
  arcane/src/arcane/core/Item.h
  arcane/src/arcane/core/ItemConnectedListView.h
  arcane/src/arcane/core/ItemVectorView.h
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: enhancement, arcane

#540 Cleanup enumerators for Materials
  arcane/ceapart/src/arcane/tests/MeshMaterialTesterModule.cc
  arcane/src/arcane/core/materials/ComponentItem.h
  arcane/src/arcane/core/materials/MatItemEnumerator.h
Labels: enhancement, arcane, refactoring

#541 Add class 'BlockIndexList' to handle arrays of 'local ids' as several blocks
  arcane/src/arcane/core/BlockIndexList.cc
  arcane/src/arcane/core/BlockIndexList.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: enhancement, arcane

#543 Improve class 'BlockIndexList'
  arcane/src/arcane/core/BlockIndexList.cc
  arcane/src/arcane/core/BlockIndexList.h
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: enhancement, arcane

#544 Update 'ItemGroup::checkSharedNull()' to create null implementation if needed
  arcane/src/arcane/core/ItemGroupImpl.cc
  arcane/src/arcane/tests/ArcaneTestDirectExecution.cc
Labels: enhancement, arcane

#546 Add support for ghost cells to service 'VTK HDF'
  arcane/src/arcane/std/VtkHdfPostProcessor.cc
  arcane/src/arcane/std/internal/VtkCellTypes.h
Labels: enhancement, arcane

#548 Add sample for multiple meshes in case options
  arcane/samples_build/samples/CMakeLists.txt
  arcane/samples_build/samples/multiple_mesh/CMakeLists.txt
  arcane/samples_build/samples/multiple_mesh/MeshInfoPrinter.axl
  arcane/samples_build/samples/multiple_mesh/MultipleMesh.axl
  arcane/samples_build/samples/multiple_mesh/MultipleMesh.config
  arcane/samples_build/samples/multiple_mesh/MultipleMeshModule.cc
  arcane/samples_build/samples/multiple_mesh/main.cc
  arcane/samples_build/samples/multiple_mesh/multiple_mesh.arc
  arcane/samples_build/samples/multiple_mesh/multiple_mesh_legacy.arc
  arcane/samples_build/samples/multiple_mesh/plancher.msh
  arcane/samples_build/samples/multiple_mesh/square_v41.msh
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testCaseOptions-multiple-mesh-legacy.arc
Labels: enhancement, arcane

#549 Add class 'MeshHandleOrMesh' to help transitionning from 'IMesh*' to 'MeshHandle'
  arcane/ceapart/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/ceapart/src/arcane/cartesianmesh/ICartesianMesh.h
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/MeshHandle.cc
  arcane/src/arcane/core/MeshHandle.h
  arcane/src/arcane/core/materials/IMeshMaterialMng.cc
  arcane/src/arcane/core/materials/IMeshMaterialMng.h
Labels: enhancement, arcane

#550 Add test for accelerator API for Materials
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
  arcane/src/arcane/tests/srcs.cmake
  arcane/tests/testAcceleratorMaterials-1.arc
Labels: arcane, accelerator

#552 Fix race condition in RunQueue test
  arcane/src/arcane/tests/accelerator/RunQueueUnitTest.cc
Labels: bug, arcane

#551 Force thm print on all subdomains when non master io is enabled.
  arcane/src/arcane/impl/TimeHistoryMng2.cc
Labels: bug

#554 Add support for MPI/IO in 'VtkHdf' format
  arcane/src/arcane/hdf5/Hdf5Utils.cc
  arcane/src/arcane/hdf5/Hdf5Utils.h
  arcane/src/arcane/std/VtkHdfPostProcessor.cc
Labels: enhancement, arcane

#555 Add explicit use of MPI_ANY_SOURCE and MPI_PROC_NULL semantic in MessageRank
  arccore/src/message_passing/arccore/message_passing/MessagePassingGlobal.h
  arccore/src/message_passing/arccore/message_passing/MessageRank.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiAdapter.cc
Labels: enhancement, arccore, refactoring

#558 Add test for generic gather in MPI mode
  arcane/src/arcane/tests/ParallelMngDataTypeTest.cc
Labels: arcane

#560 Update flexnet tools
  arcane/cmake/FindFlexLM.cmake
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/src/arcane/impl/FlexLMTools.h
Labels: bug, arcane

#561 Create VtkPolyhedralMeshIOService
  arcane/src/arcane/impl/ArcaneCaseMeshService.axl
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/mesh/PolyhedralMeshService.cc
  arcane/src/arcane/std/VtkPolyhedralMeshIOService.cc
  arcane/src/arcane/std/srcs.cmake
Labels: enhancement, arcane

#564 Add implicit converter from 'ItemEnumeratorT<T>' to 'ItemLocalIdT<T>'
  arcane/src/arcane/core/ItemEnumerator.h
  arcane/src/arcane/core/ItemEnumeratorBase.h
  arcane/src/arcane/core/ItemLocalId.h
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: enhancement, arcane, refactoring

#565 Use 'PublishDir' property to specify publish directory for axlstar
  axlstar/CMakeLists.txt
Labels: build, axlstar

#566 Use 'MemoryView' in 'SharedMemoryParallelDispatch' and make non-template several methods
  arcane/src/arcane/parallel/mpithread/HybridParallelDispatch.cc
  arcane/src/arcane/parallel/thread/ISharedMemoryMessageQueue.h
  arcane/src/arcane/parallel/thread/SharedMemoryParallelDispatch.cc
  arcane/src/arcane/parallel/thread/SharedMemoryParallelDispatch.h
  arcane/src/arcane/parallel/thread/SharedMemoryParallelMng.cc
Labels: arcane, refactoring

#567 Add information in 'ItemTypeInfo' and add coherency checks during mesh allocation
  arcane/src/arcane/core/ItemTypeInfo.cc
  arcane/src/arcane/core/ItemTypeInfo.h
  arcane/src/arcane/core/ItemTypeInfoBuilder.cc
  arcane/src/arcane/core/ItemTypeInfoBuilder.h
  arcane/src/arcane/core/ItemTypeMng.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/std/HoneyCombMeshGenerator.cc
  arcane/src/arcane/std/VtkMeshIOService.cc
  arcane/src/arcane/std/internal/VtkCellTypes.cc
  arcane/src/arcane/std/internal/VtkCellTypes.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/MeshMergeBoundariesUnitTest.cc
  arcane/src/arcane/utils/UtilsTypes.h
Labels: enhancement, arcane, refactoring

#568 Add support for specific initial allocator in IPrimaryMesh
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/IMeshInitialAllocator.h
  arcane/src/arcane/core/IPrimaryMesh.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/core/UnstructuredMeshAllocateBuildInfo.cc
  arcane/src/arcane/core/UnstructuredMeshAllocateBuildInfo.h
  arcane/src/arcane/core/internal/UnstructuredMeshAllocateBuildInfoInternal.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMesh.h
  arcane/src/arcane/std/VtkMeshIOService.cc
Labels: enhancement, arcane, refactoring

#569 Add function in 'MemoryView' to copy from/to an indexed list
  arcane/src/arcane/utils/MemoryView.cc
  arcane/src/arcane/utils/MemoryView.h
  arcane/src/arcane/utils/tests/CMakeLists.txt
  arcane/src/arcane/utils/tests/TestMemory.cc
Labels: enhancement, arcane

#570 Use 'MemoryView' in 'IBufferCopier' and make it non template
  arcane/src/arcane/impl/IBufferCopier.h
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.h
  arcane/src/arcane/utils/MemoryView.h
Labels: enhancement, arcane, refactoring

#571 Make synchronize buffers non template
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiDirectSendrecvVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiDirectSendrecvVariableSynchronizeDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiLegacyVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiLegacyVariableSynchronizeDispatcher.h
  arcane/src/arcane/utils/MemoryView.h
Labels: enhancement, arcane, refactoring
