Repository arcaneframework/framework, pull requests merged in 2023-06, with the labels that each got.

#704 Improve genericity of synchronization between 1D and 2D variables
  arcane/src/arcane/core/internal/IDataInternal.h
  arcane/src/arcane/impl/Array2Data.cc
  arcane/src/arcane/impl/ArrayData.cc
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.h
Labels: enhancement, arcane, refactoring

#705 Fix SHA3 algorithm for block size greater than 144
  arcane/src/arcane/utils/SHA3HashAlgorithm.cc
Labels: bug, arcane

#708 Use only one buffer for variable synchronization and remove specific instance for each datatype
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/VariableSynchronizer.h
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiBlockVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiDirectSendrecvVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiLegacyVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiNeighborVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiVariableSynchronizeDispatcher.cc
Labels: enhancement, arcane, refactoring

#709 Prelimary support for Non blocking Synchronize
  arcane/src/arcane/impl/IDataSynchronizeImplementation.h
  arcane/src/arcane/impl/IGenericVariableSynchronizerDispatcher.h
  arcane/src/arcane/impl/ParallelMngUtilsFactoryBase.cc
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/VariableSynchronizer.h
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.h
  arcane/src/arcane/impl/srcs.cmake
  arcane/src/arcane/parallel/mpi/MpiBlockVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiDirectSendrecvVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiLegacyVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiNeighborVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiVariableSynchronizeDispatcher.cc
Labels: enhancement, arcane, refactoring

#710 Implement multiple synchronization using buffer instead of ISerializer.
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/VariableSynchronizer.h
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane, refactoring

#712 Add offset for localId in all internal connectivities and item views
  arcane/src/arcane/core/ItemConnectedEnumeratorBase.h
  arcane/src/arcane/core/ItemConnectedListView.h
  arcane/src/arcane/core/ItemEnumeratorBase.h
  arcane/src/arcane/core/ItemIndexedListView.h
  arcane/src/arcane/core/ItemInternal.cc
  arcane/src/arcane/core/ItemInternal.h
  arcane/src/arcane/core/ItemInternalVectorView.h
  arcane/src/arcane/core/ItemVectorView.h
  arcane/tools/wrapper/core/csharp/ItemInternal.cs
Labels: arcane, refactoring

#713 Implément 'IMemoryAllocator::reallocate()' for accelerator allocators
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
  arcane/src/arcane/accelerator/hip/HipAccelerator.cc
Labels: enhancement, arcane, accelerator

#715 Add support for specifying several service type in 'axl' files
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/ServiceCode.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/axl.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4CaseAndStrong.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4CaseAndStrong.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4Standard.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4Standard.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4StrongOnly.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4StrongOnly.tt
  axlstar/Arcane.Axl/axl.xsd
Labels: enhancement, axlstar

#716 Update to test version of Axlstar with multiple type for service
  arcane/src/arcane/core/ServiceProperty.h
  arcane/src/arcane/std/VtkHdfPostProcessor.axl
  arcane/src/arcane/std/VtkHdfPostProcessor.cc
  arcane/src/arcane/std/VtkHdfV2PostProcessor.axl
  arcane/src/arcane/std/VtkHdfV2PostProcessor.cc
Labels: enhancement, arcane, refactoring

#718 Add class 'MeshKind' to keep information about immutable mesh features
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/IMesh.h
  arcane/src/arcane/core/MeshBuildInfo.cc
  arcane/src/arcane/core/MeshBuildInfo.h
  arcane/src/arcane/core/MeshKind.cc
  arcane/src/arcane/core/MeshKind.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMesh.h
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/tools/wrapper/core/ArcaneSwigCoreInclude.h
Labels: enhancement, arcane

#719 Add method 'IMemoryAllocator::copyMemory()' to handle memory copy
  arccore/src/collections/arccore/collections/Array.cc
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/arccore/collections/IMemoryAllocator.h
  arccore/src/collections/arccore/collections/MemoryAllocator.cc
Labels: enhancement, arccore

#722 Add macro for deprecated elements which will be removed in several Arcane versions
  arcane/src/arcane/core/CaseOptionSimple.h
  arcane/src/arcane/core/IMesh.h
  arcane/src/arcane/utils/ArcaneGlobal.h
  arcane/tools/wrapper/core/ArcaneSwigCore.i
Labels: arcane

#723 Add methods to fill array with localIds()
  arcane/src/arcane/core/ItemConnectedListView.h
  arcane/src/arcane/core/ItemIndexArrayView.h
  arcane/src/arcane/core/ItemVectorView.cc
  arcane/src/arcane/core/ItemVectorView.h
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: enhancement, arcane

#726 Add internal API for 'IMesh' and 'IItemFamily'
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/IItemFamily.h
  arcane/src/arcane/core/IMesh.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/core/ItemConnectedListView.h
  arcane/src/arcane/core/UnstructuredMeshConnectivity.cc
  arcane/src/arcane/core/internal/IItemFamilyInternal.h
  arcane/src/arcane/core/internal/IMeshInternal.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/mesh/CellMerger.cc
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMesh.h
  arcane/src/arcane/mesh/EmptyMesh.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
Labels: arcane, refactoring

#728 Optimize method 'ItemGroup::applyOperation()'
  arcane/src/arcane/core/ItemGroupImpl.cc
  arcane/src/arcane/core/ItemGroupImpl.h
  arcane/src/arcane/core/ItemTypeMng.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane, refactoring

#729 Add debug method to print CPU Affinity of all ranks
  arcane/src/arcane/impl/SubDomain.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#733 Add missing compound assignment operators (-=, /=, *=) for DataView
  arcane/src/arcane/core/DataView.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/ArcaneTestStandaloneAcceleratorMng.cc
Labels: enhancement, arcane, accelerator

#734 Minor documentation update
  arcane/doc/doc_user/chap_core_types/7_array.md
  arcane/doc/doc_user/chap_getting_started/2_basicstruct.md
  arcane/doc/doc_user/chap_getting_started/3_iteration.md
  arcane/src/arcane/impl/ArcaneCaseMeshService.axl
Labels: arcane

#735 Add performance test using indirect ArrayView
  arcane/src/arcane/tests/VariableSimdUnitTest.cc
Labels: enhancement, arcane

#738 move some internal methods from 'IItemFamily' to 'IItemFamilyInternal'
  arcane/src/arcane/core/IItemFamily.h
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/internal/IItemFamilyInternal.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/IncrementalItemConnectivity.cc
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/ItemsExchangeInfo2.cc
  arcane/src/arcane/mesh/NodeFamily.cc
  arcane/src/arcane/mesh/NodeFamily.h
Labels: arcane, refactoring

#740 Refactor 'ItemInternalConnectivityList'
  arcane/src/arcane/core/ItemInternal.h
  arcane/src/arcane/mesh/IncrementalItemConnectivity.cc
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/tools/CMakeLists.txt
  arcane/tools/wrapper/core/csharp/ItemInternal.cs
Labels: arcane, refactoring

#741 Add some DataSet in VtkHdfPostProcessor and VtkHdfV2PostProcessor
  arcane/src/arcane/std/VtkHdfPostProcessor.cc
  arcane/src/arcane/std/VtkHdfV2PostProcessor.cc
  arcane/src/arcane/std/internal/VtkCellTypes.h
Labels: arcane

#744 Add class 'ItemLocalIdListContainerView' to store a list of ItemLocalId and an offset
  arcane/src/arcane/core/ItemConnectedEnumeratorBase.h
  arcane/src/arcane/core/ItemConnectedListView.h
  arcane/src/arcane/core/ItemEnumerator.h
  arcane/src/arcane/core/ItemEnumeratorBase.h
  arcane/src/arcane/core/ItemGroup.cc
  arcane/src/arcane/core/ItemIndexArrayView.h
  arcane/src/arcane/core/ItemIndexedListView.h
  arcane/src/arcane/core/ItemInternal.h
  arcane/src/arcane/core/ItemInternalVectorView.h
  arcane/src/arcane/core/ItemLocalIdListContainerView.h
  arcane/src/arcane/core/ItemLocalIdListView.cc
  arcane/src/arcane/core/ItemLocalIdListView.h
  arcane/src/arcane/core/ItemTypes.h
  arcane/src/arcane/core/ItemVectorView.cc
  arcane/src/arcane/core/ItemVectorView.h
  arcane/src/arcane/core/SimdItem.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/mesh/IndexedItemConnectivityAccessor.h
Labels: enhancement, arcane, refactoring

#746 Make function 'arcaneCheckAt' constexpr
  arcane/src/arcane/core/ItemLocalIdListContainerView.h
  arcane/src/arcane/core/ItemLocalIdListView.h
  arcane/src/arcane/utils/ArcaneGlobal.h
Labels: arcane, refactoring

#747 Add sample for 'StandaloneSubDomain'
  arcane/samples_build/samples/CMakeLists.txt
  arcane/samples_build/samples/standalone_subdomain/CMakeLists.txt
  arcane/samples_build/samples/standalone_subdomain/main.cc
  arcane/samples_build/samples/standalone_subdomain/plancher.msh
Labels: arcane

#745 Modify CI execution conditions
  .github/workflows/build_tests_release.yml
  .github/workflows/codecov.yml
  .github/workflows/compile-all-vcpkg.yml
Labels: CI

#748 Make 'IPostProcessorWriter::setMesh()' deprecated
  arcane/src/arcane/core/IPostProcessorWriter.h
  arcane/src/arcane/core/InterfaceImpl.cc
Labels: arcane, refactoring

#749 Move allocation of cells for cartesian mesh in a specific class 'DynamicMeshCartesianBuilder'
  arcane/src/arcane/core/CartesianMeshAllocateBuildInfo.cc
  arcane/src/arcane/core/internal/CartesianMeshAllocateBuildInfoInternal.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMeshCartesianBuilder.cc
  arcane/src/arcane/mesh/srcs.cmake
  arcane/src/arcane/std/CartesianMeshGenerator.cc
Labels: arcane, refactoring

#750 Add template class Vector3
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/Vector3.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/src/arcane/utils/tests/CMakeLists.txt
  arcane/src/arcane/utils/tests/TestVector3.cc
Labels: enhancement, arcane

#751 Add CartesianGridDimension to help compute numbering for cartesian grid
  arcane/src/arcane/core/CartesianGridDimension.cc
  arcane/src/arcane/core/CartesianGridDimension.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/mesh/CartesianFaceUniqueIdBuilder.cc
  arcane/src/arcane/mesh/DynamicMeshCartesianBuilder.cc
Labels: enhancement, arcane

#752 Make public 'IItemFamily::_topologyModifier()`
  arcane/src/arcane/core/IItemFamily.h
  arcane/src/arcane/mesh/ItemFamily.h
Labels: arcane, refactoring

#754 In Lima, always try to use attribute 'use-unit'
  arcane/ceapart/src/arcane/cea/Lima.cc
  arcane/ceapart/tests/lima-2.arc
Labels: bug, arcane

#756 In DynamicMesh, save the value of the attribute 'need-compact' in a checkpoint
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMesh.h
Labels: bug, enhancement, arcane

#757 Minor modifications in Arccore
  arccore/src/base/arccore/base/ArrayView.h
  arccore/src/base/arccore/base/CoreArray.h
  arccore/src/base/arccore/base/Span.h
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/arccore/collections/IMemoryAllocator.h
  arccore/src/collections/tests/TestArray.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiSerializeMessageList.cc
Labels: arccore, refactoring

#758 Remove deprecated usage of 'range()' methods
  arcane/ceapart/src/arcane/tests/CartesianMeshTesterModule.cc
  arcane/ceapart/src/arcane/tests/MeshMaterialSimdUnitTest.cc
  arcane/src/arcane/core/CaseOptionEnum.cc
  arcane/src/arcane/core/MeshStats.cc
  arcane/src/arcane/core/VariableArray.cc
  arcane/src/arcane/hdf5/Hdf5VariableReader.cc
  arcane/src/arcane/hdf5/Hdf5VariableWriter.cc
  arcane/src/arcane/impl/TimeLoopMng.cc
  arcane/src/arcane/materials/MeshMaterialVariableArray.cc
  arcane/src/arcane/mesh/DoFFamily.cc
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMeshMerger.cc
  arcane/src/arcane/mesh/ExternalPartitionConstraint.cc
  arcane/src/arcane/mesh/ItemFamilyPolicyMng.cc
  arcane/src/arcane/mesh/ItemFamilyVariableSerializer.cc
  arcane/src/arcane/mesh/ItemInternalMap.h
  arcane/src/arcane/mesh/MeshPartitionConstraintMng.cc
  arcane/src/arcane/mesh/TiedInterfaceMng.cc
  arcane/src/arcane/std/CartesianMeshGenerator.cc
  arcane/src/arcane/std/LibUnwindStackTraceService.cc
  arcane/src/arcane/std/MeshPartitionerBase.cc
  arcane/src/arcane/std/MetisGraphGather.cc
  arcane/src/arcane/std/MetisMeshPartitioner.cc
  arcane/src/arcane/std/ProfilingInfo.cc
  arcane/src/arcane/tests/ParallelTesterModule.cc
  arcane/src/arcane/tests/XmlUnitTest.cc
  arcane/src/arcane/utils/Event.cc
  arcane/src/arcane/utils/Event.h
Labels: arcane, refactoring

#759 Replace some usage of 'ItemEnumerator' with 'for-range'
  arcane/ceapart/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/ceapart/src/arcane/cartesianmesh/FaceDirectionMng.cc
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTesterModule.cc
  arcane/ceapart/src/arcane/tests/AdiProjectionModule.cc
  arcane/ceapart/src/arcane/tests/CartesianMeshTestUtils.cc
  arcane/ceapart/src/arcane/tests/CartesianMeshTesterModule.cc
  arcane/ceapart/src/arcane/tests/HyodaMixedCellsUnitTest.cc
  arcane/ceapart/src/arcane/tests/MeshMaterialTesterModule.cc
  arcane/src/arcane/core/ItemConnectedListView.h
  arcane/src/arcane/hdf5/Hdf5VariableInfoBase.cc
  arcane/src/arcane/hdf5/Hdf5VariableReader.cc
  arcane/src/arcane/mesh/BasicItemPairGroupComputeFunctor.cc
  arcane/src/arcane/mesh/DynamicMeshChecker.cc
  arcane/src/arcane/mesh/MapCoordToUid.cc
  arcane/src/arcane/mesh/MeshRefinement.cc
  arcane/src/arcane/mesh/NewItemOwnerBuilder.h
  arcane/src/arcane/mesh/ParallelAMRConsistency.cc
  arcane/src/arcane/mesh/TiedInterface.cc
  arcane/src/arcane/mesh/UnstructuredMeshUtilities.cc
  arcane/src/arcane/std/EnsightHdfPostProcessor.cc
  arcane/src/arcane/std/VtkMeshIOService.cc
  arcane/src/arcane/std/internal/SodStandardGroupsBuilder.cc
  arcane/src/arcane/tests/MatVecUnitTest.cc
  arcane/src/arcane/tests/PartialVariableTester.cc
  arcane/src/arcane/tests/ParticleUnitTest.cc
Labels: arcane, refactoring

#760 Get and print initialization time for MPI and accelerator runtime
  arcane/src/arcane/impl/Application.cc
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/src/arcane/impl/ArcaneMain.h
  arcane/src/arcane/parallel/mpi/MpiParallelSuperMng.cc
  arcane/src/arcane/parallel/mpithread/HybridParallelSuperMng.cc
Labels: enhancement, arcane

#761 Fix some compilation warnings
  arcane/src/arcane/core/ItemAllocationInfo.h
  arcane/src/arcane/core/ItemEnumerator.h
  arcane/src/arcane/core/ParallelMngDispatcher.h
  arcane/src/arcane/mesh/GraphDoFs.h
  arcane/src/arcane/mesh/ItemConnectivity.h
  arcane/src/arcane/mesh/TiedInterface.cc
  arcane/src/arcane/parallel/mpithread/HybridParallelDispatch.cc
  arcane/src/arcane/parallel/mpithread/HybridParallelDispatch.h
  arcane/src/arcane/parallel/thread/SharedMemoryParallelDispatch.cc
  arcane/src/arcane/parallel/thread/SharedMemoryParallelDispatch.h
  arcane/src/arcane/std/LibUnwindStackTraceService.cc
Labels: arcane, build

#763 Pre-allocate hash table for mesh Item
  arcane/src/arcane/mesh/ItemFamily.cc
Labels: enhancement, arcane

#764 Add support to compile samples from source directory using an installed version of Arcane
  arcane/samples_build/samples/CMakeLists.txt
Labels: arcane, build

#765 Set the default device to the current RunQueue before a synchronization
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
Labels: enhancement, arcane, accelerator

#766 Add tests for 'Redis' database
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#767 Update documentation for accelerator API
  arcane/doc/devdoc.doxyfile
  arcane/doc/doc_user/chap_parallel/0_parallel.md
  arcane/doc/doc_user/chap_parallel/4_accelerator.md
  arcane/doc/userdoc.doxyfile
  arcane/samples_build/samples/standalone_accelerator/main.cc
Labels: arcane

#768 Make public again 'IItemFamily::resizeVariables()'
  arcane/src/arcane/core/IItemFamily.h
  arcane/src/arcane/mesh/ItemFamily.h
Labels: arcane, refactoring

#770 Add support in accelerator API for views from 'Span'.
  arcane/src/arcane/accelerator/Accelerator.cc
  arcane/src/arcane/accelerator/SpanViews.h
  arcane/src/arcane/accelerator/srcs.cmake
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/internal/SpecificMemoryCopyList.h
Labels: arcane, accelerator

#771 Add mesh events for IMesh::prepareForDump()
  arcane/src/arcane/core/IItemFamily.h
  arcane/src/arcane/core/IMesh.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/core/MeshEvents.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMesh.h
  arcane/src/arcane/mesh/MeshEventsImpl.cc
  arcane/src/arcane/mesh/MeshEventsImpl.h
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/mesh/srcs.cmake
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: enhancement, arcane

#772 Automatically call 'ICartesianMesh::computeDirections()' if needed after a call to 'IMesh::prepareForDump()'
  arcane/ceapart/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/ceapart/src/arcane/cartesianmesh/CellDirectionMng.cc
Labels: arcane, refactoring

#773 Do not call memory copy kernels if the index list is empty
  arcane/src/arcane/tests/accelerator/MemoryCopyUnitTest.cc
  arcane/src/arcane/tests/accelerator/MultiMemoryCopyUnitTest.cc
  arcane/src/arcane/utils/MemoryView.cc
Labels: enhancement, arcane

#775 Add property 'IVariable::PSubDomainDepend' for variable 'AMRCellHMin'
  arcane/src/arcane/mesh/ItemRefinement.cc
Labels: enhancement, arcane

#776 Add documentation for optimization about item connectivities
  arcane/doc/doc_common/changelog.md
  arcane/doc/doc_common/chap_news/0_news.md
  arcane/doc/doc_common/chap_news/4_optimisations_connectivity.md
Labels: arcane

#777 Separe IO management of 'VariableMng' in two classes 'VariableIOReaderMng' and 'VariableIOWriterMng'
  arcane/src/arcane/impl/VariableIOReaderMng.cc
  arcane/src/arcane/impl/VariableIOWriterMng.cc
  arcane/src/arcane/impl/VariableMng.cc
  arcane/src/arcane/impl/internal/VariableMng.h
  arcane/src/arcane/impl/srcs.cmake
Labels: arcane, refactoring

#778 Add method JSONValue::value() to return a String
  arcane/src/arcane/impl/ConfigurationReader.cc
  arcane/src/arcane/std/BasicReaderWriter.cc
  arcane/src/arcane/std/BasicReaderWriterDatabase.cc
  arcane/src/arcane/tests/JSONUnitTest.cc
  arcane/src/arcane/utils/JSONReader.cc
  arcane/src/arcane/utils/JSONReader.h
  arcane/src/arcane/utils/JSONWriter.h
  arcane/src/arcane/utils/Property.cc
Labels: enhancement, arcane, refactoring

#779 Add JSON format for metadata in 'VariableMng'
  arcane/src/arcane/impl/VariableIOReaderMng.cc
  arcane/src/arcane/impl/VariableIOWriterMng.cc
  arcane/src/arcane/impl/internal/VariableMng.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane
