Repository arcaneframework/framework, pull requests merged in 2023-10, with the labels that each got.

#907 Remove some compiler warnings
  arcane/src/arcane/mesh/GraphDoFs.h
  arcane/src/arcane/std/MetisMeshPartitioner.cc
  arctools/neo/sgraph/src/sgraph/DirectedAcyclicGraph.h
  arctools/neo/src/neo/Properties.cpp
  arctools/neo/src/tests/NeoBaseArrayPropertyTest.cpp
  arctools/neo/src/tests/NeoBasePropertyTest.cpp
Labels: arcane, build, neo

#908 Mutualize in 'CartesianGridDimension' the computation of uniqueId() to and from topology coordinates
  arcane/ceapart/src/arcane/cartesianmesh/internal/CartesianMeshUniqueIdRenumbering.cc
  arcane/src/arcane/core/CartesianGridDimension.h
  arcane/src/arcane/mesh/CartesianFaceUniqueIdBuilder.cc
  arcane/src/arcane/mesh/DynamicMeshCartesianBuilder.cc
Labels: arcane, refactoring

#910 Improve listing for variable synchronization comparison
  arcane/src/arcane/impl/VariableSynchronizerMng.cc
Labels: enhancement, arcane

#912 Begin development for coarsening of cartesian mesh
  arcane/ceapart/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/ceapart/src/arcane/cartesianmesh/CartesianMeshCoarsening.cc
  arcane/ceapart/src/arcane/cartesianmesh/CartesianMeshCoarsening.h
  arcane/ceapart/src/arcane/cartesianmesh/CartesianMeshGlobal.h
  arcane/ceapart/src/arcane/cartesianmesh/ICartesianMesh.h
  arcane/ceapart/src/arcane/cartesianmesh/srcs.cmake
  arcane/ceapart/src/arcane/tests/CartesianMeshTester.axl
  arcane/ceapart/src/arcane/tests/CartesianMeshTesterModule.cc
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testCartesianMesh2D-coarsen-1.arc
Labels: enhancement, arcane

#913 Move directory 'cartesianmesh' from 'ceapart' to 'arcane'
  arcane/CMakeLists.txt
  arcane/ceapart/CMakeLists.txt
  arcane/src/arcane/cartesianmesh/CMakeLists.txt
  arcane/src/arcane/cartesianmesh/CartesianConnectivity.cc
  arcane/src/arcane/cartesianmesh/CartesianConnectivity.h
  arcane/src/arcane/cartesianmesh/CartesianItemDirectionInfo.h
  arcane/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening.h
  arcane/src/arcane/cartesianmesh/CartesianMeshGlobal.h
  arcane/src/arcane/cartesianmesh/CartesianMeshPatch.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshRenumberingInfo.h
  arcane/src/arcane/cartesianmesh/CellDirectionMng.cc
  arcane/src/arcane/cartesianmesh/CellDirectionMng.h
  arcane/src/arcane/cartesianmesh/FaceDirectionMng.cc
  arcane/src/arcane/cartesianmesh/FaceDirectionMng.h
  arcane/src/arcane/cartesianmesh/ICartesianMesh.h
  arcane/src/arcane/cartesianmesh/ICartesianMeshPatch.h
  arcane/src/arcane/cartesianmesh/NodeDirectionMng.cc
  arcane/src/arcane/cartesianmesh/NodeDirectionMng.h
  arcane/src/arcane/cartesianmesh/internal/CartesianMeshPatch.h
  arcane/src/arcane/cartesianmesh/internal/CartesianMeshUniqueIdRenumbering.cc
  arcane/src/arcane/cartesianmesh/internal/CartesianMeshUniqueIdRenumbering.h
  arcane/src/arcane/cartesianmesh/srcs.cmake
  arcane/src/arcane/cartesianmesh/tests/CMakeLists.txt
  arcane/src/arcane/cartesianmesh/tests/TestCartesianMeshV2.cc
  arcane/src/arcane/cartesianmesh/v2/CartesianGrid.h
  arcane/src/arcane/cartesianmesh/v2/CartesianMeshUniqueIdRenumberingV2.cc
  arcane/src/arcane/cartesianmesh/v2/CartesianMeshUniqueIdRenumberingV2.h
  arcane/src/arcane/cartesianmesh/v2/CartesianNumbering.h
  arcane/src/arcane/cartesianmesh/v2/CartesianTypes.h
Labels: arcane, refactoring

#914 Add face and node uniqueId numbering in CartesanGridDimension
  arcane/src/arcane/core/CartesianGridDimension.cc
  arcane/src/arcane/core/CartesianGridDimension.h
  arcane/src/arcane/core/CartesianMeshAllocateBuildInfo.cc
  arcane/src/arcane/core/CartesianMeshAllocateBuildInfo.h
  arcane/src/arcane/core/internal/CartesianMeshAllocateBuildInfoInternal.h
  arcane/src/arcane/mesh/CartesianFaceUniqueIdBuilder.cc
  arcane/src/arcane/mesh/DynamicMeshCartesianBuilder.cc
  arcane/src/arcane/std/CartesianMeshGenerator.cc
Labels: enhancement, arcane, refactoring

#911 Optimize Ensight output for large number of user defined types
  arcane/src/arcane/std/DumpWEnsight7.cc
Labels: arcane, refactoring

#915 CI IFPEN : Remove artifact tars after untar
  .github/workflows/ifpen_el7_foss-2018b.yml
  .github/workflows/ifpen_el7_gimkl-2018b.yml
  .github/workflows/ifpen_el8_foss-2018b.yml
  .github/workflows/ifpen_el8_gimkl-2018b.yml
Labels: CI

#917 Continue development for coarsening of cartesian mesh
  arcane/ceapart/tests/testCartesianMesh2D-coarsen-1.arc
  arcane/src/arcane/cartesianmesh/CMakeLists.txt
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening.cc
Labels: enhancement, arcane

#918 Add support for CartesianMesh coarsening in parallel
  arcane/ceapart/src/arcane/tests/CartesianMeshTesterModule.cc
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/cartesianmesh/CMakeLists.txt
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening.h
Labels: enhancement, arcane

#919 Make CMake option ARCANE_ADD_RPATH_TO_LIBS off by default
  arcane/CMakeLists.txt
Labels: arcane, build

#921 Add accelerator implementation of 'ExclusiveScan' for the 'Sum' operator
  arcane/src/arcane/accelerator/CMakeLists.txt
  arcane/src/arcane/accelerator/Scan.cc
  arcane/src/arcane/accelerator/Scan.h
  arcane/src/arcane/accelerator/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/AcceleratorScanUnitTest.axl
  arcane/src/arcane/tests/accelerator/AcceleratorScanUnitTest.cc
  arcane/src/arcane/tests/srcs.cmake
  arcane/src/arcane/utils/NumArray.h
  arcane/tests/testAcceleratorScan-1.arc
Labels: enhancement, arcane, accelerator

#920 Add some fixes for dof synchronization
  arcane/src/arcane/mesh/ItemConnectivityMng.cc
  arcane/src/arcane/mesh/ItemConnectivityMng.h
  arcane/src/arcane/mesh/ItemConnectivitySynchronizer.cc
Labels: bug, arcane

#925 Add accelerator access to some methods of 'AllEnvCell' and 'EnvCell'
  arcane/src/arcane/core/materials/CellToAllEnvCellConverter.h
  arcane/src/arcane/core/materials/ComponentItem.h
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/core/materials/MatItem.h
  arcane/src/arcane/core/materials/MatItemEnumerator.h
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
  arcane/tools/wrapper/core/ArcaneSwigCore.i
Labels: enhancement, arcane, accelerator

#926 Add support to print synchronization statistics without comparing
  arcane/src/arcane/impl/TimeLoopMng.cc
  arcane/src/arcane/impl/VariableSynchronizerMng.cc
  arcane/src/arcane/impl/internal/VariableSynchronizerMng.h
Labels: enhancement, arcane

#927 Add one more test for multiple mesh in case options
  arcane/src/arcane/tests/CaseOptionsTester.axl
  arcane/src/arcane/tests/CaseOptionsTesterModule.cc
  arcane/src/arcane/tests/ServiceInterface5ImplTest.axl
  arcane/src/arcane/tests/srcs.cmake
  arcane/tests/testCaseOptions-multiple-mesh-legacy.arc
  arcane/tests/testCaseOptions-multiple-mesh.arc
Labels: enhancement, arcane

#928 Do not change change default CMAKE flags and variables
  alien/ArcaneInterface/CMakeLists.txt
Labels: build, alien

#929 Minor update in Alien build config
  alien/ArcaneInterface/modules/external_packages/src/CMakeLists.txt
  alien/standalone/src/core/CMakeLists.txt
Labels: build, alien

#930 Remove some compiler warnings in Alien
  alien/ArcaneInterface/modules/arcane_tools/src/alien/arcane_tools/accessors/ItemVectorAccessorT.h
  alien/ArcaneInterface/modules/arcane_tools/src/alien/arcane_tools/indexManager/BasicIndexManager.cc
  alien/ArcaneInterface/modules/arcane_tools/src/alien/arcane_tools/indexManager/BasicIndexManager.h
  alien/ArcaneInterface/modules/arcane_tools/src/alien/arcane_tools/io/MatrixRowPrinter.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/hypre/HypreBackEnd.h
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/hypre/algebra/HypreInternalLinearAlgebra.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/hypre/data_structure/HypreVector.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/hypre/linear_solver/HypreInternalLinearSolver.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/algebra/PETScInternalLinearAlgebra.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/data_structure/PETScInternal.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/data_structure/PETScMatrix.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/data_structure/PETScVector.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/linear_solver/arcane/PETScPrecConfigAdditiveSchwarzService.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/linear_solver/arcane/PETScPrecConfigDiagonalService.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/linear_solver/arcane/PETScPrecConfigJacobiService.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/linear_solver/arcane/PETScPrecConfigNoPreconditionerService.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/linear_solver/arcane/PETScSolverConfigCustomService.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/linear_solver/arcane/PETScSolverConfigLUService.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/linear_solver/field_split/AdditiveFieldSplitTypeService.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/linear_solver/field_split/MultiplicativeFieldSplitTypeService.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/linear_solver/field_split/SymmetricMultiplicativeFieldSplitTypeService.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/linear_solver/hypre/PETScPrecConfigHypreEuclidService.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/linear_solver/hypre/PETScPrecConfigHypreService.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/linear_solver/spai/PETScPrecConfigSPAIService.cc
  alien/ArcaneInterface/modules/interface_c/src/alien/c/alienc.cc
  alien/ArcaneInterface/test/AlienBench/AlienBenchModule.cc
  alien/ArcaneInterface/test/AlienBench/AlienStokesModule.cc
  alien/ArcaneInterface/test/AlienInterfaceC/Fortran/main.c
  alien/ArcaneInterface/test/AlienTest/AlienTestModule.cc
  alien/ArcaneInterface/test/Tests/RefSemantic/block/Profiled.cpp
  alien/ArcaneInterface/test/Tests/RefSemantic/block/Stream.cpp
  alien/ArcaneInterface/test/Tests/RefSemantic/scalar/Direct.cpp
  alien/ArcaneInterface/test/Tests/RefSemantic/scalar/DirectByDoK.cpp
  alien/ArcaneInterface/test/Tests/RefSemantic/scalar/Profiled.cpp
  alien/ArcaneInterface/test/Tests/RefSemantic/scalar/RedistributorAlgebraTestFramework.cpp
  alien/ArcaneInterface/test/Tests/RefSemantic/scalar/Stream.cpp
  alien/standalone/src/core/alien/core/backend/IInternalLinearAlgebraExprT.h
  alien/standalone/src/core/alien/core/backend/IInternalLinearAlgebraT.h
  alien/standalone/src/core/alien/core/backend/IInternalLinearSolverT.h
  alien/standalone/src/core/alien/core/backend/IMatrixConverter.h
  alien/standalone/src/core/alien/core/backend/IVectorConverter.h
  alien/standalone/src/core/alien/core/backend/LinearSolver.h
  alien/standalone/src/core/alien/core/impl/IVectorImpl.h
  alien/standalone/src/core/alien/data/utils/Parameters.h
  alien/standalone/src/core/alien/expression/krylov/BiCGStab.h
  alien/standalone/src/core/alien/expression/krylov/ChebyshevPreconditioner.h
  alien/standalone/src/core/alien/expression/krylov/ILU0Preconditioner.h
  alien/standalone/src/core/alien/expression/krylov/NeumannPolyPreconditioner.h
  alien/standalone/src/core/alien/kernels/simple_csr/LUSendRecvOp.h
  alien/standalone/src/core/alien/kernels/simple_csr/SendRecvOp.h
  alien/standalone/src/core/alien/kernels/simple_csr/SimpleCSRBackEnd.h
  alien/standalone/src/refsemantic/alien/ref/mv_expr/MVExpr.h
Labels: build, alien

#935 In material testing, add specific profiling for material modification
  arcane/ceapart/src/arcane/tests/MaterialHeatTestModule.cc
  arcane/ceapart/tests/testMaterialHeat-large-1.arc
  arcane/src/arcane/impl/TimeLoopMng.cc
Labels: arcane

#931 Fix memory leak in AllCellToAllEnvCellConverter
  arcane/src/arcane/materials/AllCellToAllEnvCellConverter.cc
Labels: bug, arcane, accelerator

#941 Fix multiple CaseOption with non default mesh
  arcane/src/arcane/core/CaseOptionBase.cc
  arcane/src/arcane/core/CaseOptionBase.h
  arcane/src/arcane/core/CaseOptionExtended.cc
  arcane/src/arcane/core/CaseOptionList.cc
  arcane/src/arcane/core/CaseOptions.cc
  arcane/src/arcane/core/CaseOptions.h
  arcane/src/arcane/tests/ServiceInterface5ImplTest.axl
  arcane/tests/testCaseOptions-multiple-mesh-legacy.arc
Labels: bug, arcane

#942 Use AMR structure for V2 of cartesian mesh coarsening
  arcane/ceapart/src/arcane/tests/CartesianMeshTesterModule.cc
  arcane/src/arcane/cartesianmesh/CMakeLists.txt
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening2.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening2.h
Labels: arcane

#943 Add API internal to Arcane for interface 'ICartesianMesh'
  arcane/ceapart/src/arcane/tests/CartesianMeshTesterModule.cc
  arcane/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshGlobal.h
  arcane/src/arcane/cartesianmesh/CartesianMeshUtils.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshUtils.h
  arcane/src/arcane/cartesianmesh/ICartesianMesh.h
  arcane/src/arcane/cartesianmesh/internal/ICartesianMeshInternal.h
  arcane/src/arcane/cartesianmesh/srcs.cmake
Labels: arcane, refactoring

#944 Creates patches after cartesian mesh coarsening
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTester.axl
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTesterModule.cc
  arcane/ceapart/src/arcane/tests/CartesianMeshTesterModule.cc
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testAMRCartesianMesh2D-V1-coarse-1.arc
  arcane/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening2.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening2.h
  arcane/src/arcane/cartesianmesh/internal/CartesianMeshUniqueIdRenumbering.cc
  arcane/src/arcane/cartesianmesh/internal/ICartesianMeshInternal.h
Labels: enhancement, arcane

#947 Create additional MeshHandle before calling 'Build' entry points
  arcane/src/arcane/impl/internal/LegacyMeshBuilder.cc
  arcane/src/arcane/impl/internal/LegacyMeshBuilder.h
  arcane/src/arcane/tests/CaseOptionsTester.axl
  arcane/src/arcane/tests/CaseOptionsTesterModule.cc
  arcane/tests/testCaseOptions-multiple-mesh-legacy.arc
  arcane/tests/testCaseOptions-multiple-mesh.arc
Labels: enhancement, arcane

#948 Add iterator for CartesianMeshPatch list
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTesterModule.cc
  arcane/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshGlobal.h
  arcane/src/arcane/cartesianmesh/CartesianMeshPatchListView.h
  arcane/src/arcane/cartesianmesh/ICartesianMesh.h
  arcane/src/arcane/cartesianmesh/srcs.cmake
Labels: enhancement, arcane

#950 Update documentation for accelerators
  arcane/doc/doc_user/chap_debug_perf/0_debug_perf.md
  arcane/doc/doc_user/chap_debug_perf/4_unit_tests.md
  arcane/doc/doc_user/chap_debug_perf/5_cupti.md
  arcane/doc/doc_user/chap_debug_perf/subchap_profiling/0_profiling.md
  arcane/doc/doc_user/chap_parallel/4_accelerator.md
  arcane/src/arcane/launcher/ArcaneLauncher.h
  arcane/src/arcane/tests/accelerator/SimpleHydroAcceleratorService.cc
Labels: documentation, arcane, accelerator

#952 Various minor improvements
  arcane/doc/doc_user/chap_parallel/4_accelerator.md
  arcane/src/arcane/accelerator/Accelerator.cc
  arcane/src/arcane/accelerator/Scan.h
  arcane/src/arcane/core/ItemFlags.h
  arcane/src/arcane/core/ItemGenericInfoListView.h
  arcane/src/arcane/core/ItemInternal.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/tests/accelerator/SimpleHydroAcceleratorService.cc
Labels: documentation, arcane, refactoring, accelerator

#954 Add internal implementation for filtering of arrays on accelerator
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/Filter.h
  arcane/src/arcane/accelerator/Scan.h
  arcane/src/arcane/accelerator/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/AcceleratorFilterUnitTest.axl
  arcane/src/arcane/tests/accelerator/AcceleratorFilterUnitTest.cc
  arcane/src/arcane/tests/accelerator/AcceleratorScanUnitTest.cc
  arcane/src/arcane/tests/srcs.cmake
  arcane/tests/testAcceleratorFilter-1.arc
Labels: enhancement, arcane, accelerator

#955 Add accelerator implementation of array filtering
  arcane/doc/doc_user/chap_parallel/4_accelerator.md
  arcane/src/arcane/accelerator/Accelerator.cc
  arcane/src/arcane/accelerator/AcceleratorGlobal.h
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/Filter.h
  arcane/src/arcane/accelerator/Scan.h
  arcane/src/arcane/tests/accelerator/AcceleratorFilterUnitTest.cc
Labels: arcane, accelerator

#956 Update global README
  CMakeLists.txt
  README.md
Labels: documentation

#957 Make optional the use of material value when transforming a partial cell to a pure cell
  arcane/ceapart/src/arcane/tests/MaterialHeatTestModule.cc
  arcane/src/arcane/core/materials/IMeshMaterialMng.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
Labels: arcane

#958 Fix build in main.c of AlienInterfaceC.
  alien/ArcaneInterface/test/AlienInterfaceC/Fortran/main.c
Labels: build, alien

#959 Create instance of 'CartesianMeshAMRPatchMng' only if the mesh is of type 'PatchCartesian'
  arcane/src/arcane/cartesianmesh/CartesianMesh.cc
Labels: arcane

#960 Update Arcane ChangeLog
  arcane/doc/devdoc.doxyfile
  arcane/doc/doc_common/changelog.md
  arcane/doc/doc_user/chap_debug_perf/3_check_synchronization.md
  arcane/doc/userdoc.doxyfile
Labels: documentation, arcane

#962 Add accelerator asynchronous memory copy for mesh variables
  arcane/src/arcane/core/Data.cc
  arcane/src/arcane/core/MeshVariableArrayRef.h
  arcane/src/arcane/core/MeshVariableArrayRefT.H
  arcane/src/arcane/core/MeshVariableScalarRef.h
  arcane/src/arcane/core/MeshVariableScalarRefT.H
  arcane/src/arcane/core/PrivateVariableArray.h
  arcane/src/arcane/core/PrivateVariableScalar.h
  arcane/src/arcane/core/internal/IDataInternal.h
  arcane/src/arcane/tests/accelerator/AcceleratorViewsUnitTest.cc
  arcane/src/arcane/utils/ValueChecker.h
Labels: enhancement, arcane, accelerator

#963 Add asynchronous fill memory with indexes
  arcane/src/arcane/accelerator/MemoryCopier.cc
  arcane/src/arcane/accelerator/core/AcceleratorCore.cc
  arcane/src/arcane/accelerator/core/AcceleratorCoreGlobal.h
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
  arcane/src/arcane/tests/accelerator/MemoryCopyUnitTest.cc
  arcane/src/arcane/utils/MemoryView.cc
  arcane/src/arcane/utils/MemoryView.h
  arcane/src/arcane/utils/NumArray.cc
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/internal/SpecificMemoryCopyList.h
Labels: enhancement, arcane, accelerator
