Repository arcaneframework/framework, pull requests merged in 2023-03, with the labels that each got.

#572 Make non template the remaining implementation of synchronizations
  arcane/src/arcane/impl/ParallelMngUtilsFactoryBase.cc
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiDirectSendrecvVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiDirectSendrecvVariableSynchronizeDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiLegacyVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiLegacyVariableSynchronizeDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/srcs.cmake
Labels: arcane, refactoring

#573 Rename 'MemoryView' to 'ConstMemoryView'
  arcane/src/arcane/accelerator/core/IReduceMemoryImpl.h
  arcane/src/arcane/accelerator/core/IRunnerRuntime.h
  arcane/src/arcane/accelerator/core/Memory.h
  arcane/src/arcane/accelerator/core/RunCommand.cc
  arcane/src/arcane/accelerator/core/RunQueueRuntime.cc
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/Runner.h
  arcane/src/arcane/impl/IBufferCopier.h
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.h
  arcane/src/arcane/parallel/mpithread/HybridParallelDispatch.cc
  arcane/src/arcane/parallel/thread/ISharedMemoryMessageQueue.h
  arcane/src/arcane/parallel/thread/SharedMemoryParallelDispatch.cc
  arcane/src/arcane/parallel/thread/SharedMemoryParallelDispatch.h
  arcane/src/arcane/tests/accelerator/AcceleratorReduceUnitTest.cc
  arcane/src/arcane/tests/accelerator/AcceleratorViewsUnitTest.cc
  arcane/src/arcane/utils/MemoryRessourceMng.cc
  arcane/src/arcane/utils/MemoryView.cc
  arcane/src/arcane/utils/MemoryView.h
  arcane/src/arcane/utils/NumArray.cc
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/internal/IMemoryRessourceMngInternal.h
  arcane/src/arcane/utils/internal/MemoryRessourceMng.h
  arcane/src/arcane/utils/tests/TestMemory.cc
Labels: arcane, refactoring

#574 Add in 'MemoryView' some specialization for indexed copy
  arcane/src/arcane/utils/MemoryView.cc
Labels: arcane, refactoring

#575 Cleanup variable synchronizer
  arcane/src/arcane/impl/IDataSynchronizeBuffer.h
  arcane/src/arcane/impl/IGenericVariableSynchronizerDispatcher.h
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiBlockVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiDirectSendrecvVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiLegacyVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiNeighborVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiVariableSynchronizeDispatcher.cc
Labels: arcane, refactoring

#576 Implement VtkPolyhedralIOService
  arcane/src/arcane/core/IMeshInitialAllocator.h
  arcane/src/arcane/core/ItemAllocationInfo.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/mesh/EmptyMesh.h
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/std/CMakeLists.txt
  arcane/src/arcane/std/VtkPolyhedralMeshIOService.cc
  arcane/src/arcane/std/srcs.cmake
  arcane/tests/testMeshPolyhedral-1.arc
Labels: enhancement, arcane

#578 Use IMesh in DynamicMeshChecker
  arcane/src/arcane/mesh/DynamicMeshChecker.cc
  arcane/src/arcane/mesh/DynamicMeshChecker.h
Labels: question, arcane

#579 Fix ambiguous conversion when using derived class of 'Item'.
  arcane/src/arcane/core/Item.h
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: bug, arcane

#580 Make private to Arcane the constructors and some methods of 'ComponentItemVectorView'
  arcane/src/arcane/core/materials/ComponentItemVectorView.h
Labels: arcane, refactoring

#582 Cleanup some variable synchronizer stuff
  arcane/src/arcane/impl/IDataSynchronizeBuffer.h
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.h
  arcane/src/arcane/parallel/mpi/MpiBlockVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiDirectSendrecvVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiLegacyVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiNeighborVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpi/MpiVariableSynchronizeDispatcher.cc
Labels: arcane, refactoring

#585 Make non template the buffers used in variable synchronization
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.h
  arcane/src/arcane/utils/BasicDataType.h
  arcane/src/arcane/utils/MemoryView.cc
  arcane/src/arcane/utils/MemoryView.h
Labels: arcane, refactoring

#586 Add LocalId of global cells in ComponentItemVector and associated classes.
  arcane/src/arcane/core/materials/ComponentItemVector.cc
  arcane/src/arcane/core/materials/ComponentItemVector.h
  arcane/src/arcane/core/materials/ComponentItemVectorView.cc
  arcane/src/arcane/core/materials/ComponentItemVectorView.h
  arcane/src/arcane/core/materials/EnvItemVector.cc
  arcane/src/arcane/core/materials/EnvItemVector.h
  arcane/src/arcane/core/materials/MatItemVector.cc
  arcane/src/arcane/core/materials/MatItemVector.h
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterial.cc
Labels: enhancement, arcane, refactoring

#587 Fix bad value for 'ItemTypeId' for 2D sub-mesh
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/SubMeshTestModule.cc
  arcane/tests/testSubMesh2-2D.arc
Labels: bug, arcane

#588 Add tests for materials and accelerator API
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
Labels: enhancement, arcane, accelerator

#589 Fix deadlock in VTK reader in parallel when there is only connectivities in the mesh file
  arcane/src/arcane/std/VtkMeshIOService.cc
Labels: bug, arcane

#590 Fix bad value for 'DirCellNode' in 3D and direction Y
  arcane/ceapart/src/arcane/cartesianmesh/CartesianMeshPatch.cc
Labels: bug, arcane

#581 Add option remove_uid_on_detach
  arcane/src/arcane/mesh/CMakeLists.txt
Labels: arcane

#592 Fix use of 'LoadBalanceMng' when not using default mesh
  arcane/src/arcane/core/ILoadBalanceMng.h
  arcane/src/arcane/impl/LoadBalanceMng.cc
  arcane/src/arcane/std/MeshPartitionerBase.cc
  arcane/src/arcane/std/MetisMeshPartitioner.cc
  arcane/src/arcane/std/PTScotchMeshPartitioner.cc
  arcane/src/arcane/std/ZoltanMeshPartitioner.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/MeshMergeBoundariesUnitTest.cc
  arcane/tests/testMeshMergeBoundaries-2.arc
Labels: bug, arcane

#593 Use a specific container for 'RUNCOMMAND' using 'EnvAndGlobalCell'
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.cc
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.h
  arcane/src/arcane/core/Concurrency.h
Labels: enhancement, arcane, accelerator

#594 Add detection of 'CUDA-AWARE' MPI.
  arcane/src/arcane/parallel/mpi/ArcaneMpi.cc
  arcane/src/arcane/parallel/mpi/ArcaneMpi.h
  arcane/src/arcane/parallel/mpi/MpiParallelSuperMng.cc
Labels: enhancement, arcane

#595 Add command for material enumeration only for 'EnvCell'
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.cc
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.h
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
Labels: enhancement, arcane, accelerator

#596 Optimize parameter search in 'CaseTable'
  arcane/src/arcane/core/CaseTable.cc
  arcane/src/arcane/core/CaseTable.h
  arcane/src/arcane/core/CaseTableParams.cc
  arcane/src/arcane/core/CaseTableParams.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/CaseFunctionUnitTest.cc
  arcane/src/arcane/tests/srcs.cmake
  arcane/tests/testCaseFunction-1.arc
Labels: enhancement, arcane

#597 Fix width error in Chromium-based browsers
  arcane/doc/devdoc.doxyfile
  arcane/doc/doc_dev/how_write_doc.md
  arcane/doc/theme/css/custom.css
  arcane/doc/theme/css/dev_colors.css
  arcane/doc/theme/css/user_colors.css
  arcane/doc/theme/doxygen-awesome-theme/doxygen-awesome-custom.css
  arcane/doc/theme/doxygen-awesome-theme/doxygen-awesome-darkmode-toggle.js
  arcane/doc/theme/doxygen-awesome-theme/doxygen-awesome-fragment-copy-button.js
  arcane/doc/theme/doxygen-awesome-theme/doxygen-awesome-interactive-toc.js
  arcane/doc/theme/doxygen-awesome-theme/doxygen-awesome-paragraph-link.js
  arcane/doc/theme/doxygen-awesome-theme/doxygen-awesome-sidebar-only-darkmode-toggle.css
  arcane/doc/theme/doxygen-awesome-theme/doxygen-awesome-sidebar-only.css
  arcane/doc/theme/doxygen-awesome-theme/doxygen-awesome-tabs.js
  arcane/doc/theme/doxygen-awesome-theme/doxygen-awesome.css
  arcane/doc/theme/html/header.html
  arcane/doc/theme/js/script-apply-config-theme.js
  arcane/doc/theme/js/script-config-theme.js
  arcane/doc/theme/js/script-edit-config-theme.js
  arcane/doc/theme/js/script-helper.js
  arcane/doc/theme/js/script-num-lines-code.js
  arcane/doc/theme/js/script-resize.js
  arcane/doc/userdoc.doxyfile
Labels: documentation

#584 Update ItemProperty with bug fixes not reported for advanced test cases with dof.
  arcane/src/arcane/mesh/ItemProperty.h
  arcane/src/arcane/tests/dof/DoFTester.cc
Labels: bug, arcane

#603 Use a reference counter for 'ICaseMng'
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/CaseOptions.cc
  arcane/src/arcane/core/CaseOptions.h
  arcane/src/arcane/core/ICaseMng.h
  arcane/src/arcane/core/ICaseOptions.h
  arcane/src/arcane/impl/CaseMng.cc
  arcane/src/arcane/impl/SubDomain.cc
Labels: arcane, refactoring

#604 Fix find of ItemGroup in case file when the mesh is not the default mesh
  arcane/src/arcane/core/ItemGroup.cc
  arcane/src/arcane/tests/CaseOptionsTesterModule.cc
  arcane/src/arcane/tests/ServiceInterface1ImplTest.axl
  arcane/tests/testCaseOptions-multiple-mesh-legacy.arc
  arcane/tests/testCaseOptions-multiple-mesh.arc
Labels: bug, arcane

#606 Make a fatal error during configuration if MPI is not found and ARCCORE_USE_MPI is ON
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/CMakeLists.txt
Labels: bug, arccore, build

#608 Use 'Int64' instead of 'Integer' to specify offset for sub views in 'Array'.
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/tests/TestArray.cc
Labels: arccore, refactoring
