Repository arcaneframework/framework, pull requests merged in 2023-09, with the labels that each got.

#866 Add debug print in 'VariableSynchronizerComputeList'
  arcane/src/arcane/impl/VariableSynchronizerComputeList.cc
  arcane/src/arcane/impl/internal/VariableSynchronizerComputeList.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#867 Move 'IMeshMaterialVariableSynchronizer' in public api
  arcane/src/arcane/core/materials/IMeshMaterialMng.h
  arcane/src/arcane/materials/IMeshMaterialVariableSynchronizer.h
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/materials/MeshMaterialVariableScalar.cc
  arcane/src/arcane/materials/MeshMaterialVariableSynchronizerList.cc
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
  arcane/src/arcane/materials/internal/MeshMaterialVariableSynchronizer.h
  arcane/src/arcane/materials/srcs.cmake
Labels: arcane, refactoring

#868 Add internal API for 'IVariableMng'
  arcane/src/arcane/core/Array2Variable.cc
  arcane/src/arcane/core/CodeService.cc
  arcane/src/arcane/core/IVariableMng.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/VariableArray.cc
  arcane/src/arcane/core/VariableBuildInfo.cc
  arcane/src/arcane/core/VariableScalar.cc
  arcane/src/arcane/core/internal/IVariableMngInternal.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/impl/SubDomain.cc
  arcane/src/arcane/impl/internal/MeshMng.cc
  arcane/src/arcane/impl/internal/VariableMng.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.cc
Labels: arcane, refactoring

#871 Keep activation value of synchronization comparison in 'IVariableSynchronizerMng'
  arcane/src/arcane/core/IVariableSynchronizerMng.h
  arcane/src/arcane/impl/DataSynchronizeDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/VariableSynchronizerMng.cc
  arcane/src/arcane/impl/internal/IDataSynchronizeDispatcher.h
  arcane/src/arcane/impl/internal/VariableSynchronizer.h
  arcane/src/arcane/impl/internal/VariableSynchronizerMng.h
Labels: enhancement, arcane

#874 Cleanup VariableSynchronizer
  arcane/src/arcane/impl/DataSynchronizeBuffer.cc
  arcane/src/arcane/impl/DataSynchronizeDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/internal/DataSynchronizeBuffer.h
  arcane/src/arcane/impl/internal/DataSynchronizeMemory.h
  arcane/src/arcane/impl/internal/IDataSynchronizeDispatcher.h
  arcane/src/arcane/impl/internal/VariableSynchronizer.h
Labels: arcane, refactoring

#875 Add class to keep statistics about variables synchronizations
  arcane/src/arcane/core/IVariableSynchronizerMng.h
  arcane/src/arcane/core/VariableSynchronizerEventArgs.cc
  arcane/src/arcane/core/VariableSynchronizerEventArgs.h
  arcane/src/arcane/impl/ExecutionStatsDumper.cc
  arcane/src/arcane/impl/VariableMng.cc
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/VariableSynchronizerMng.cc
  arcane/src/arcane/impl/internal/VariableSynchronizerMng.h
Labels: enhancement, arcane

#876 Fix coverity warnings in 'VariableSynchronizerMng'
  arcane/src/arcane/impl/VariableSynchronizerMng.cc
Labels: arcane, build

#878 Revert signature for methods of 'IVariableSynchronizer' as before #872
  arcane/src/arcane/core/IVariableSynchronizer.h
  arcane/src/arcane/impl/NullVariableSynchronizer.cc
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/internal/VariableSynchronizer.h
Labels: arcane, refactoring

#877 Add CMake variable 'ARCANEFRAMEWORK_BUILD_COMPONENTS' to specify the list of components to build
  CMakeLists.txt
  _common/build_all/CMakeLists.txt
Labels: build

#880 Use a memory pool for synchronization buffer
  arcane/src/arcane/core/internal/IVariableSynchronizerMngInternal.h
  arcane/src/arcane/impl/DataSynchronizeBuffer.cc
  arcane/src/arcane/impl/DataSynchronizeDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/VariableSynchronizerMng.cc
  arcane/src/arcane/impl/internal/DataSynchronizeBuffer.h
  arcane/src/arcane/impl/internal/IDataSynchronizeDispatcher.h
  arcane/src/arcane/impl/internal/VariableSynchronizerMng.h
  arcane/src/arcane/impl/srcs.cmake
  arcane/src/arcane/utils/MemoryBuffer.cc
  arcane/src/arcane/utils/internal/MemoryBuffer.h
  arcane/src/arcane/utils/srcs.cmake
Labels: enhancement, arcane

#881 Split file 'NeoBaseTest.cpp' in several files to reduce memory usage
  arctools/neo/src/tests/CMakeLists.txt
  arctools/neo/src/tests/NeoBaseArrayPropertyTest.cpp
  arctools/neo/src/tests/NeoBaseMeshTest.cpp
  arctools/neo/src/tests/NeoBasePropertyTest.cpp
  arctools/neo/src/tests/NeoBasePropertyViewTest.cpp
  arctools/neo/src/tests/NeoBaseTest.cpp
Labels: refactoring, neo

#882 Split file 'neo/Mesh.cpp' in two files to reduce memory usage during compilation
  arctools/neo/src/neo/CMakeLists.txt
  arctools/neo/src/neo/Mesh.cpp
  arctools/neo/src/neo/MeshSchedule.cpp
Labels: refactoring, neo

#885 Begin port of Arcane for MacOS
  arcane/src/arcane/std/ProfilingInfo.h
  arcane/src/arcane/tests/ConfigurationUnitTest.cc
  arcane/src/arcane/utils/CheckedConvert.h
  arcane/src/arcane/utils/JSONWriter.cc
  arcane/src/arcane/utils/JSONWriter.h
  arcane/src/arcane/utils/MD5HashAlgorithm_Licensed.h
  arcane/src/arcane/utils/Misc.cc
Labels: arcane, build

#888 Continue splitting 'neo/Mesh.cpp' in several parts.
  arctools/neo/src/neo/CMakeLists.txt
  arctools/neo/src/neo/Mesh.cpp
  arctools/neo/src/neo/MeshSchedule2.cpp
  arctools/neo/src/neo/MeshScheduleRemove.cpp
Labels: build, neo

#887 Update CircleCI to support the new ARM ressource class with Docker
  .circleci/config.yml
Labels: CI

#890 Fix Alien compilation on ubuntu 22.04 and PETSc 3.19
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/linear_solver/PETScInternalLinearSolver.cc
  alien/ArcaneInterface/modules/ifpen_solvers/src/CMakeLists.txt
  alien/ArcaneInterface/test/AlienTest/CMakeLists.txt
  alien/ArcaneInterface/test/AlienTest/MemoryAllocationTracker.cc
Labels: build, alien

#883 Fix alien_legacy_plugins build on linux centos 7 and rocky 8
  alien/ArcaneInterface/modules/trilinos/src/alien/kernels/trilinos/data_structure/TrilinosMatrix.cc
  alien/ArcaneInterface/modules/trilinos/src/alien/kernels/trilinos/data_structure/TrilinosMatrix.h
  alien/standalone/src/core/alien/kernels/simple_csr/algebra/alien_cblas.h
Labels: build, alien

#892 Various updates for Alien/ArcaneInterface build
  _common/build_all/cmake/FindArccon.cmake
  alien/ArcaneInterface/CMakeLists.txt
  alien/ArcaneInterface/cmake/Functions.cmake
  alien/ArcaneInterface/cmake/LoadAlienPackages.cmake
  alien/ArcaneInterface/cmake/build-system/LoadDefaultOptions.cmake
  alien/ArcaneInterface/cmake/build-system/LoadDefaultPackages.cmake
  alien/ArcaneInterface/modules/ifpen_solvers/src/CMakeLists.txt
  alien/ArcaneInterface/test/AlienBench/CMakeLists.txt
  alien/ArcaneInterface/test/AlienBench/main.cc
  alien/ArcaneInterface/test/AlienTest/CMakeLists.txt
  alien/ArcaneInterface/test/AlienTest/main.cc
  alien/CMakeLists.txt
Labels: build, alien

#893 [CI] Fix errors in tests for gimkl in workflow 'ifpen_devenv_2018b'
  .github/workflows/ifpen_devenv_2018b.yml
Labels: CI

#894 [neo] change 'Neo::ItemInterator' iterator category from 'InputIterator' To 'ForwardIterator'
  arctools/neo/src/neo/Items.h
Labels: refactoring, neo

#895 Revert to 'None' the optimization level in adding/removing materials
  arcane/src/arcane/materials/MeshMaterialMng.cc
Labels: arcane, refactoring

#897 Handle synchronization comparison on all the ranks
  arcane/src/arcane/core/IVariableSynchronizerMng.h
  arcane/src/arcane/impl/TimeLoopMng.cc
  arcane/src/arcane/impl/VariableSynchronizerMng.cc
  arcane/src/arcane/impl/internal/VariableSynchronizerMng.h
Labels: enhancement, arcane

#898 Improve listing for comparison of synchronization
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/VariableSynchronizerMng.cc
Labels: arcane, refactoring

#899 Fix 'SharedArray2' constructor from 'UniqueArray2' or 'Span2'
  arccore/src/base/arccore/base/String.cc
  arccore/src/collections/arccore/collections/Array.cc
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/arccore/collections/Array2.h
  arccore/src/collections/tests/CMakeLists.txt
  arccore/src/collections/tests/TestArray.cc
  arccore/src/collections/tests/TestArray2.cc
  arccore/src/collections/tests/TestArrayCommon.h
Labels: bug, arccore

#900 Add support for several level of comparison for synchronization
  arcane/src/arcane/core/IVariableSynchronizerMng.h
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/VariableSynchronizerMng.cc
  arcane/src/arcane/impl/internal/VariableSynchronizerMng.h
Labels: arcane, refactoring

#901 Add documentation for loop profiling
  arcane/doc/doc_user/chap_debug_perf/subchap_profiling/0_profiling.md
  arcane/doc/doc_user/chap_debug_perf/subchap_profiling/2_mpi.md
  arcane/doc/doc_user/chap_debug_perf/subchap_profiling/3_loop.md
Labels: documentation, arcane

#902 Add a mode in synchronization comparison to print stack trace if values are different
  arcane/src/arcane/impl/VariableSynchronizerMng.cc
  arcane/src/arcane/impl/internal/VariableSynchronizerMng.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#903 Add documentation about comparison of synchronization
  arcane/doc/doc_user/chap_debug_perf/0_debug_perf.md
  arcane/doc/doc_user/chap_debug_perf/2_compare_bittobit.md
  arcane/doc/doc_user/chap_debug_perf/3_check_synchronization.md
  arcane/doc/doc_user/chap_debug_perf/4_unit_tests.md
  arcane/doc/doc_user/chap_debug_perf/5_profiling.goto
Labels: documentation, arcane

#904 Add accelerator views for Environment variables
  arcane/src/arcane/accelerator/MaterialVariableViews.h
  arcane/src/arcane/core/materials/MeshEnvironmentVariableRef.h
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
Labels: arcane, accelerator

#906 Fix ALIENDependencies/Config install path
  alien/ArcaneInterface/cmake/build-system/commands/user/commit.cmake
  alien/ArcaneInterface/cmake/build-system/commands/user/generateCMakeConfig.cmake
Labels: build, alien
