Repository arcaneframework/framework, pull requests merged in 2023-12, with the labels that each got.

#1037 If available, use new hash algo during restart to check variables values
  arcane/src/arcane/core/VariableMetaData.h
  arcane/src/arcane/impl/VariableIOReaderMng.cc
  arcane/src/arcane/impl/VariableIOWriterMng.cc
  arcane/src/arcane/impl/internal/VariableMng.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#1040 Replace 'ViewSetter' and 'ViewGetterSetter' with 'DataViewSetter' and 'DataViewGetterSetter'
  arcane/src/arcane/core/VariableView.h
Labels: arcane, refactoring

#1041 Add rebuild of incremental material connectivity after a call to forceRecompute(true)
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ConstituentConnectivityList.cc
  arcane/src/arcane/materials/internal/ConstituentConnectivityList.h
Labels: enhancement, arcane

#1042 Remove compilation warnings and usage of deprecated functions
  arcane/ceapart/src/arcane/tests/MeshMaterialSimdUnitTest.cc
  arcane/ceapart/src/arcane/tests/MeshMaterialTesterModule.cc
  arcane/src/arcane/accelerator/hip/runtime/Test.cu.cc
  arcane/src/arcane/core/materials/CellToAllEnvCellConverter.h
  arcane/src/arcane/impl/NumArrayData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/internal/ComponentItemInternalData.h
  arcane/src/arcane/mesh/IndexedItemConnectivityAccessor.h
  arcane/src/arcane/tests/ModuleSimpleHydro.cc
Labels: arcane

#1043 Add accelerator filtering with predicate
  arcane/src/arcane/accelerator/Filter.h
  arcane/src/arcane/tests/accelerator/AcceleratorFilterUnitTest.cc
Labels: enhancement, arcane, accelerator

#1045 Add CMake preset to compile Arcane
  CMakePresets.json
  arcane/CMakeLists.txt
Labels: arcane, build

#1046 Move the C# project 'GeometricGeneration' in direction 'arcane/tools'
  arcane/ceapart/tools/.gitignore
  arcane/ceapart/tools/Directory.Build.props
  arcane/ceapart/tools/GeometricGeneration/.gitignore
  arcane/tools/GeometricGeneration/Connectivity.cs
  arcane/tools/GeometricGeneration/CopyCoordOperation.cs
  arcane/tools/GeometricGeneration/CopyCoordOperation.tt
  arcane/tools/GeometricGeneration/Edge.cs
  arcane/tools/GeometricGeneration/Face.cs
  arcane/tools/GeometricGeneration/GeneratedConnectivity.cs
  arcane/tools/GeometricGeneration/GeneratedConnectivity.tt
  arcane/tools/GeometricGeneration/GeneratedGeomElement.cs
  arcane/tools/GeometricGeneration/GeneratedGeomElement.tt
  arcane/tools/GeometricGeneration/GeneratedGeomElementView.cs
  arcane/tools/GeometricGeneration/GeneratedGeomElementView.tt
  arcane/tools/GeometricGeneration/GeneratedGeomShapeView.cs
  arcane/tools/GeometricGeneration/GeneratedGeomShapeView.tt
  arcane/tools/GeometricGeneration/GeneratedGeomShapeViewDeclarations.cs
  arcane/tools/GeometricGeneration/GeneratedGeomShapeViewDeclarations.tt
  arcane/tools/GeometricGeneration/GeneratedGeomShapeViewDefinitions.cs
  arcane/tools/GeometricGeneration/GeneratedGeomShapeViewDefinitions.tt
  arcane/tools/GeometricGeneration/GeomType.cs
  arcane/tools/GeometricGeneration/GeometricGeneration.csproj
  arcane/tools/GeometricGeneration/GeometricGeneration.sln
  arcane/tools/GeometricGeneration/Item.cs
  arcane/tools/GeometricGeneration/ItemTypeBuilder.cs
  arcane/tools/GeometricGeneration/Main.cs
  arcane/tools/GeometricGeneration/Real3.cs
Labels: arcane, build, refactoring

#1047 Fix Win32 compilation with C++20
  arcane/src/arcane/dotnet/coreclr/ArcaneCoreClr.cc
Labels: arcane, build

#1038 Begin support for dataset symbol substitution
  arcane/src/arcane/core/internal/StringVariableReplace.cc
  arcane/src/arcane/core/internal/StringVariableReplace.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/impl/ArcaneCaseMeshService.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/StringVariableReplaceTest.axl
  arcane/src/arcane/tests/StringVariableReplaceTest.cc
  arcane/src/arcane/tests/srcs.cmake
  arcane/tests/testStringVariableReplace.arc
Labels: arcane

#1049 Always install header files needing C++20
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/utils/srcs.cmake
Labels: arcane, build

#1050 Check minimum version of GCC (11) and Clang (15) to use C++20
  arcane/CMakeLists.txt
Labels: arcane, build

#1051 Add support for conversion from 'ComponentCell' to 'MatCell', 'EnvCell' and 'AllEnvCell'
  arcane/ceapart/src/arcane/tests/MeshMaterialTesterModule.cc
  arcane/src/arcane/core/materials/ComponentItem.h
  arcane/src/arcane/core/materials/MatItem.h
Labels: enhancement, arcane

#1052 Fix errors in documentation generation
  arcane/ceapart/src/arcane/tests/CMakeLists.txt
  arcane/cmake/Functions.cmake
  arcane/doc/generate_axl_infos.sh.in
  arcane/src/arcane/aleph/tests/CMakeLists.txt
  arcane/src/arcane/geometry/CMakeLists.txt
Labels: documentation, arcane, build

#1053 Remove some deprecated methods using 'ComponentItemInternal'
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/core/materials/ComponentItemVector.h
  arcane/src/arcane/core/materials/ComponentItemVectorView.h
  arcane/src/arcane/core/materials/IMeshComponent.h
  arcane/src/arcane/materials/internal/MeshEnvironment.h
  arcane/src/arcane/materials/internal/MeshMaterial.h
Labels: arcane, refactoring

#1054 Add mesh utility functions to get the maximum of the uniqueId() and to compute a hash on all the uniqueId()
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTesterModule.cc
  arcane/src/arcane/core/MeshUtils.cc
  arcane/src/arcane/core/MeshUtils.h
Labels: enhancement, arcane

#1059 Remove instance of 'IMeshComponent' in 'ComponentItemInternal'
  arcane/src/arcane/core/materials/ComponentItem.h
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/core/materials/MatItem.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ComponentItemInternalData.cc
  arcane/src/arcane/materials/MeshComponentData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/tools/wrapper/materials/csharp/ComponentItemInternal.cs
Labels: arcane, refactoring

#1060 Remove useless check during freeing of 'RunQueueImpl'
  arcane/src/arcane/accelerator/core/Runner.cc
Labels: arcane, arcane:accelerator

#1061 Add support for 3D Cartesian coarsening
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testCartesianMesh3D-coarsen-2.arc
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening2.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening2.h
  arcane/src/arcane/core/CartesianGridDimension.h
Labels: enhancement, arcane

#1063 Add class FixedArray to handle array of fixed size
  arcane/src/arcane/utils/FixedArray.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/src/arcane/utils/tests/TestCollections.cc
Labels: enhancement, arcane

#1064 Minor improvements in the listing
  arcane/src/arcane/core/parallel/Stat.cc
  arcane/src/arcane/impl/TimeStats.cc
Labels: enhancement, arcane

#1065 Fix some coverity warnings
  arcane/src/arcane/impl/ArcaneSimpleExecutor.cc
  arcane/src/arcane/std/ProfilingInfo.cc
  arcane/src/arcane/std/ProfilingInfo.h
  arcane/src/arcane/utils/ArrayConverter.h
Labels: arcane, build

#1067 Use new Vector classes (instead of std::array) for cartesian mesh build information
  arcane/src/arcane/core/CartesianGridDimension.cc
  arcane/src/arcane/core/CartesianGridDimension.h
  arcane/src/arcane/core/CartesianMeshAllocateBuildInfo.cc
  arcane/src/arcane/core/CartesianMeshAllocateBuildInfo.h
  arcane/src/arcane/core/internal/CartesianMeshAllocateBuildInfoInternal.h
  arcane/src/arcane/std/CartesianMeshGenerator.cc
Labels: enhancement, arcane

#1068 Add support for custom deleter in ReferenceCounterImpl
  arccore/src/base/arccore/base/CMakeLists.txt
  arccore/src/base/arccore/base/Ref.h
  arccore/src/base/arccore/base/RefBase.h
  arccore/src/base/arccore/base/RefDeclarations.h
  arccore/src/base/arccore/base/ReferenceCounter.h
  arccore/src/base/arccore/base/ReferenceCounterImpl.h
  arccore/src/base/tests/TestReferenceCounter.cc
Labels: enhancement, arccore, refactoring

#1069 Remove implementation of old cartesian mesh generator
  arcane/src/arcane/std/CartesianMeshGenerator.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: arcane, refactoring

#1070 Improve 'arcane_generate_axl' macro to support axldoc generation
  arcane/cmake/ArcaneConfig.cmake.in
Labels: enhancement, arcane

#1072 Improve compatibility between AxlDoc and Doxygen
  arcane/cmake/ArcaneConfig.cmake.in
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Module/ModuleT4.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Module/ModuleT4.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4CaseAndStrong.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4CaseAndStrong.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4Standard.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4Standard.tt
Labels: enhancement, arcane, axlstar

#1073 Improve axldoc main page
  arcane/CMakeLists.txt
  arcane/doc/devdoc.doxyfile
  arcane/doc/doc_dev/0_devmanual.md
  arcane/doc/doc_dev/chap_services_modules/0_services_modules.md
  arcane/doc/generate_axl_infos.sh.in
  axlstar/Arcane.Axl/Arcane.Axl/Translation.cs
  axlstar/Axlstar.AxlDoc/Arcane.AxlDoc/DoxygenDocumentationGenerator.cs
Labels: enhancement, arcane, axlstar

#1074 Fix bad value for number of cells in direction Z for cartesian 3d coarsening
  arcane/ceapart/tests/testAMRCartesianMesh3D-V1-coarse-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-V1-coarse-2.arc
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening2.cc
Labels: bug, arcane

#1075 Add simple arithmetic operation (+,-,*,/) to Vector2 and Vector3
  arcane/src/arcane/utils/Vector2.h
  arcane/src/arcane/utils/Vector3.h
  arcane/src/arcane/utils/tests/TestVector2.cc
  arcane/src/arcane/utils/tests/TestVector3.cc
Labels: enhancement, arcane

#1076 [CI] update worflow 'compile-all-vcpkg' to vcpkg version 2013-12-12
  .github/workflows/compile-all-vcpkg.yml
  arcane/src/arcane/aleph/hypre/AlephHypre.cc
Labels: CI

#1077 Use class for argument to methods addCells() and addFaces() of IMeshModifier
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening.cc
  arcane/src/arcane/core/IMeshModifier.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMesh.h
Labels: arcane, refactoring

#1080 Make field 'ReferenceCounterImpl::m_nb_ref' private
  arccore/src/base/arccore/base/ReferenceCounterImpl.h
Labels: arccore, refactoring

#1078 Remove CUDA 11.8 from the 'All' CI
  .github/workflows/build_tests_all.yml
Labels: CI

#1083 Remove the CLang 13 part in the 'Rand' CI
  .github/workflows/build_tests_rand.yml
Labels: CI

#1082 Add missing export for 'ICaseFunction'
  arcane/src/arcane/core/CaseFunction.h
  arcane/src/arcane/core/ICaseFunction.h
  arcane/src/arcane/core/InterfaceImpl.cc
Labels: bug, arcane

#1085 Revert renumbering for CartesianMesh without patch to version 3.11 and before
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-RenumberingV1-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-RenumberingV1-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-RenumberingV1-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-RenumberingV1-2.arc
  arcane/src/arcane/cartesianmesh/internal/CartesianMeshUniqueIdRenumbering.cc
Labels: arcane, refactoring

#1086 Handle all allocations of 'ComponentItemInternal' in class 'ComponentItemInternalData'
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ComponentItemInternalData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/internal/ComponentItemInternalData.h
Labels: arcane, refactoring, arcane:materials

#1087 Begin support for 'Float32', 'Float16' and 'BFloat16'
  arcane/src/arcane/core/datatype/DataTypes.cc
  arcane/src/arcane/core/datatype/DataTypes.h
  arcane/src/arcane/tests/UtilsUnitTest.cc
  arcane/src/arcane/utils/ArcaneGlobal.h
  arcane/src/arcane/utils/BFloat16.h
  arcane/src/arcane/utils/Float16.h
  arcane/src/arcane/utils/Numeric.cc
  arcane/src/arcane/utils/srcs.cmake
Labels: enhancement, arcane

#1088 Add types 'Float16', 'BFloat16' and 'Float32'
  arccore/src/base/arccore/base/ArccoreGlobal.cc
  arccore/src/base/arccore/base/ArccoreGlobal.h
  arccore/src/base/arccore/base/BFloat16.h
  arccore/src/base/arccore/base/CMakeLists.txt
  arccore/src/base/arccore/base/Float16.h
Labels: enhancement, arccore

#1089 Add conversion between 'float' and 'BFloat16' and between 'float' and 'Float16'
  arccore/src/base/arccore/base/BFloat16.h
  arccore/src/base/arccore/base/CMakeLists.txt
  arccore/src/base/arccore/base/Float16.h
  arccore/src/base/arccore/base/FloatConversion.h
  arccore/src/base/tests/TestBasicDataType.cc
Labels: enhancement, arccore

#1090 Add support in 'ISerializer' for types 'Int8´, 'Float16', 'BFloat16' and 'Float32'
  arccore/src/serialize/arccore/serialize/BasicSerializer.cc
  arccore/src/serialize/arccore/serialize/BasicSerializer.h
  arccore/src/serialize/arccore/serialize/BasicSerializerInternal.h
  arccore/src/serialize/arccore/serialize/ISerializer.h
  arccore/src/serialize/arccore/serialize/SerializeGlobal.cc
  arccore/src/serialize/tests/CMakeLists.txt
  arccore/src/serialize/tests/TestSerialize.cc
Labels: enhancement, arccore

#1091 Add method 'arccoreCheckRange()' to check a value is inside boundaries
  arccore/src/base/arccore/base/ArccoreGlobal.cc
  arccore/src/base/arccore/base/ArccoreGlobal.h
  arccore/src/base/arccore/base/IndexOutOfRangeException.cc
  arccore/src/base/arccore/base/IndexOutOfRangeException.h
  arccore/src/base/tests/CMakeLists.txt
  arccore/src/base/tests/TestException.cc
Labels: enhancement, arccore, refactoring

#1092 Add support to use google tests with MPI
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/StandaloneMpiMessagePassingMng.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/StandaloneMpiMessagePassingMng.h
  arccore/src/message_passing_mpi/tests/CMakeLists.txt
  arccore/src/message_passing_mpi/tests/TestMain.cc
  arccore/src/message_passing_mpi/tests/TestMain.h
  arccore/src/message_passing_mpi/tests/TestMpi.cc
Labels: enhancement, arccore

#1093 Add support for AllGather message for 'ISerializer'
  .github/workflows/codecov.yml
  .github/workflows/compile-all-vcpkg.yml
  arccore/src/message_passing/arccore/message_passing/Messages.cc
  arccore/src/message_passing/arccore/message_passing/Messages.h
  arccore/src/message_passing_mpi/tests/CMakeLists.txt
  arccore/src/message_passing_mpi/tests/TestMpi.cc
  arccore/src/serialize/arccore/serialize/BasicSerializer.h
  arccore/src/serialize/arccore/serialize/ISerializer.h
  arccore/src/serialize/arccore/serialize/SerializeGlobal.cc
  arccore/src/serialize/tests/TestSerialize.cc
Labels: enhancement, arccore

#1094 [CI] For 'IFPEN-foss' workflow, add oversubscribe for OpenMPI
  .github/workflows/ifpen_el7_foss-2018b.yml
  .github/workflows/ifpen_el8_foss-2018b.yml
Labels: CI

#1095 Various minor improvements in Arccore
  arccore/src/base/arccore/base/PlatformUtils.cc
  arccore/src/base/arccore/base/PlatformUtils.h
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/tests/TestArray.cc
Labels: enhancement, arccore

#1096 Remove usage of 'StringImpl' in Arcane
  arcane/src/arcane/core/DomLibXml2V2.cc
  arcane/src/arcane/hdf5/Hdf5MpiReaderWriter.cc
  arcane/src/arcane/hdf5/Hdf5ReaderWriter.cc
  arcane/src/arcane/hdf5/Hdf5Utils.cc
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/src/arcane/impl/TimeHistoryMng2.cc
  arcane/src/arcane/utils/StringImpl.h
Labels: arcane, refactoring

#1097 Make 'StringImpl' private and tests for 'String' conversion
  arccore/CMake/Functions.cmake
  arccore/src/base/arccore/base/BasicTranscoder.cc
  arccore/src/base/arccore/base/BasicTranscoder.h
  arccore/src/base/arccore/base/CMakeLists.txt
  arccore/src/base/arccore/base/String.cc
  arccore/src/base/arccore/base/StringBuilder.cc
  arccore/src/base/arccore/base/StringImpl.cc
  arccore/src/base/arccore/base/StringImpl.h
  arccore/src/base/arccore/base/internal/StringImpl.h
  arccore/src/base/tests/TestString.cc
Labels: arccore, refactoring

#1098 Fix compilation with Swig version 4.2.0
  arcane/tools/wrapper/core/ArcaneSwigCore.i
Labels: bug, arcane, build

#1099 Use types 'Float16' and 'BFloat16' from Arccore
  arcane/src/arcane/utils/ArcaneGlobal.h
  arcane/src/arcane/utils/BFloat16.h
  arcane/src/arcane/utils/Float16.h
Labels: arcane, refactoring
