Repository arcaneframework/framework, pull requests merged in 2023-01, with the labels that each got.

#482 Simplify 'ItemInfoListView'
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemInfoListView.cc
  arcane/src/arcane/ItemInfoListView.h
  arcane/src/arcane/mesh/ItemFamily.cc
Labels: arcane, refactoring

#481 Change the encoding of two files
  arcane/src/arcane/mesh/PolyhedralMeshTools.cc
  arcane/src/arcane/mesh/PolyhedralMeshTools.h
Labels: arcane

#483 Reduce the size of the class 'IndexedItemConnectivityViewT'
  arcane/src/arcane/IndexedItemConnectivityView.h
  arcane/src/arcane/ItemConnectivityContainerView.h
  arcane/src/arcane/ItemTypes.h
Labels: arcane, refactoring

#484 Use 'Int8' instead of 'Int32' to store node indirection in 'CellDirectionMng'
  arcane/ceapart/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/ceapart/src/arcane/cartesianmesh/CartesianMeshPatch.cc
  arcane/ceapart/src/arcane/cartesianmesh/CellDirectionMng.cc
  arcane/ceapart/src/arcane/cartesianmesh/CellDirectionMng.h
Labels: arcane, refactoring

#485 Add 'operator()' to access components of 'Real2', 'Real3', 'Real2x2' and 'Real3x3'
  arcane/src/arcane/utils/Real2.cc
  arcane/src/arcane/utils/Real2.h
  arcane/src/arcane/utils/Real2x2.cc
  arcane/src/arcane/utils/Real2x2.h
  arcane/src/arcane/utils/Real3.cc
  arcane/src/arcane/utils/Real3.h
  arcane/src/arcane/utils/Real3x3.cc
  arcane/src/arcane/utils/Real3x3.h
Labels: enhancement, arcane

#486 Remove usage of 'ItemInternalList' in 'ItemVector'
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemEnumerator.h
  arcane/src/arcane/ItemInfoListView.h
  arcane/src/arcane/ItemVector.cc
  arcane/src/arcane/ItemVector.h
  arcane/src/arcane/ItemVectorView.h
  arcane/src/arcane/srcs.cmake
Labels: arcane, refactoring

#487 Deprecate constructors of 'ItemVectorView' which uses 'ItemInternalList'.
  arcane/src/arcane/ItemFunctor.cc
  arcane/src/arcane/ItemFunctor.h
  arcane/src/arcane/ItemTypes.h
  arcane/src/arcane/ItemVectorView.h
  arcane/src/arcane/materials/MeshMaterialVariableArray.cc
  arcane/src/arcane/materials/MeshMaterialVariableScalar.cc
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemGroupDynamicMeshObserver.cc
  arcane/src/arcane/mesh/ItemsExchangeInfo2.cc
  arcane/src/arcane/mesh/SubMeshTools.cc
  arcane/src/arcane/tests/ExchangeItemsUnitTest.cc
Labels: arcane, refactoring

#489 Change return type of 'IMeshBase::handle()'
  arcane/src/arcane/IMeshBase.h
  arcane/src/arcane/core/materials/IMeshMaterialMng.cc
  arcane/src/arcane/mesh/DynamicMesh.h
  arcane/src/arcane/mesh/EmptyMesh.h
Labels: arcane, refactoring

#490 Remove in 'MDSpan' and 'NumArray' the subscript operator overloads for 'RealN' and 'RealNxN'.
  arcane/src/arcane/utils/MDSpan.h
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/tests/TestNumArray.cc
Labels: arcane, refactoring

#492 Remove some usages of 'IItemFamily::itemsInternal()'.
  arcane/ceapart/src/arcane/cea/BasicRayMeshIntersection.cc
  arcane/ceapart/src/arcane/cea/Lima.cc
  arcane/ceapart/src/arcane/tests/RayMeshIntersectionUnitTest.cc
  arcane/src/arcane/IItemFamily.h
  arcane/src/arcane/ItemGroupImpl.cc
  arcane/src/arcane/ItemSharedInfo.cc
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/aleph/tests/AlephTestModule.cc
  arcane/src/arcane/aleph/tests/AlephTestSchemeFaces.cc
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/impl/GetVariablesValuesParallelOperation.cc
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/MeshComponentData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/mesh/AbstractItemFamilyTopologyModifier.cc
  arcane/src/arcane/mesh/BasicParticleExchanger.cc
  arcane/src/arcane/mesh/ExtraGhostParticlesBuilder.cc
  arcane/src/arcane/mesh/IndirectItemFamilySerializer.cc
  arcane/src/arcane/mesh/ItemConnectivity.h
  arcane/src/arcane/mesh/ItemGroupDynamicMeshObserver.cc
  arcane/src/arcane/mesh/ItemRefinement.cc
  arcane/src/arcane/mesh/MeshExchange.cc
  arcane/src/arcane/mesh/MeshExchange.h
  arcane/src/arcane/mesh/MeshPartitionConstraintMng.cc
  arcane/src/arcane/mesh/MeshRefinement.cc
  arcane/src/arcane/mesh/NodeFamily.cc
  arcane/src/arcane/mesh/NonBlockingParticleExchanger.cc
  arcane/src/arcane/mesh/ParticleFamilySerializer.cc
  arcane/src/arcane/mesh/SubMeshTools.cc
  arcane/src/arcane/mesh/TiedInterface.cc
  arcane/src/arcane/mesh/TiedInterfaceMng.cc
  arcane/src/arcane/mesh/UnstructuredMeshUtilities.cc
  arcane/src/arcane/std/ArcaneCasePartitioner.cc
  arcane/src/arcane/std/CartesianMeshGenerator.cc
  arcane/src/arcane/std/HoneyCombMeshGenerator.cc
  arcane/src/arcane/std/MshMeshReader.cc
  arcane/src/arcane/std/SimpleMeshGenerator.cc
  arcane/src/arcane/std/SodMeshGenerator.cc
  arcane/src/arcane/std/ZoltanMeshPartitioner.cc
  arcane/src/arcane/std/internal/SodStandardGroupsBuilder.cc
  arcane/src/arcane/tests/MeshModificationTester.cc
  arcane/src/arcane/tests/dof/DoFTester.cc
Labels: arcane, refactoring

#493 Fix VS2017 compilation
  arcane/src/arcane/utils/ArrayIndex.h
  arccore/src/base/arccore/base/Span2.h
Labels: arcane, arccore, build

#494 Fix functions/macros for checkpoint tests
  arcane/src/arcane/tests/ArcaneTests.cmake
Labels: arcane

#496 Add CUDA 12.0 in 'build_tests' CIs
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_debug.yml
  .github/workflows/build_tests_release.yml
Labels: CI

#497 Update CI using vcpkg (vcpkg version 2022.11 + tests with Intel MPI on windows)
  .github/workflows/compile-all-vcpkg.yml
  arcane/CMakeLists.txt
  arccon/build-system/Modules/FindTBB.cmake
Labels: arcane, CI

#498 Remove usage of 'ItemInternalVectorView'
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemEnumerator.h
  arcane/src/arcane/ItemEnumeratorBase.h
  arcane/src/arcane/ItemGroupComputeFunctor.cc
  arcane/src/arcane/ItemIndexedListView.h
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemInternalVectorView.h
  arcane/src/arcane/ItemPrinter.cc
  arcane/src/arcane/ItemTypes.h
  arcane/src/arcane/ItemVectorView.h
  arcane/src/arcane/mesh/AbstractItemFamilyTopologyModifier.cc
  arcane/src/arcane/mesh/AbstractItemFamilyTopologyModifier.h
  arcane/src/arcane/mesh/DynamicMeshChecker.cc
  arcane/src/arcane/mesh/EdgeUniqueIdBuilder.cc
  arcane/src/arcane/mesh/MeshRefinement.cc
  arcane/src/arcane/srcs.cmake
  arcane/src/arcane/tests/ItemVectorUnitTest.cc
Labels: arcane, refactoring

#499 Add class 'MutableItemBase' to handle modifiable part of items.
  arcane/ceapart/src/arcane/geometric/GeomShapeView.h
  arcane/src/arcane/InterfaceImpl.cc
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemEnumeratorBase.h
  arcane/src/arcane/ItemGroupComputeFunctor.cc
  arcane/src/arcane/ItemInternal.cc
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/ItemPrinter.cc
  arcane/src/arcane/ItemPrinter.h
  arcane/src/arcane/ItemSharedInfo.cc
  arcane/src/arcane/ItemSharedInfo.h
  arcane/src/arcane/ItemTypes.h
  arcane/src/arcane/ItemVectorView.h
  arcane/src/arcane/MeshUtils.cc
  arcane/src/arcane/SharedVariable.h
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/mesh/DynamicMeshKindInfos.cc
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/MeshRefinement.cc
  arcane/src/arcane/totalview/tv_display_arcane_types.cc
Labels: arcane, refactoring

#501 Continue removal of usage of 'ItemInternal'
  arcane/ceapart/src/arcane/cartesianmesh/internal/CartesianMeshUniqueIdRenumbering.cc
  arcane/src/arcane/Item.h
  arcane/src/arcane/ItemCompatibility.h
  arcane/src/arcane/ItemInternal.h
  arcane/src/arcane/aleph/tests/AlephTestSchemeFaces.cc
  arcane/src/arcane/anyitem/AnyItemGroup.h
  arcane/src/arcane/impl/CheckpointMng.cc
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/ItemConnectivity.h
  arcane/src/arcane/mesh/MeshRefinement.cc
  arcane/src/arcane/mesh/MeshRefinement.h
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/mesh/ParallelAMRConsistency.cc
  arcane/src/arcane/std/ArcaneCasePartitioner.cc
  arcane/src/arcane/std/DumpWEnsight7.cc
  arcane/src/arcane/tests/AMR/ErrorEstimate.cc
  arcane/src/arcane/tests/ItemVectorUnitTest.cc
  arcane/src/arcane/tests/ParticleUnitTest.cc
  arcane/src/arcane/tests/StdArrayMeshVariables.cc
  arcane/src/arcane/tests/StdScalarMeshVariables.cc
  arcane/src/arcane/tests/dof/DoFTester.cc
Labels: arcane, refactoring

#504 Move implementation of Aleph in source file instead of header file
  arcane/ceapart/src/arcane/aleph/sloop/AlephSloop.cc
  arcane/ceapart/src/arcane/aleph/sloop/IAlephSloop.cc
  arcane/ceapart/src/arcane/aleph/sloop/srcs.cmake
  arcane/src/arcane/aleph/hypre/AlephHypre.cc
  arcane/src/arcane/aleph/hypre/IAlephHypre.cc
  arcane/src/arcane/aleph/hypre/srcs.cmake
  arcane/src/arcane/aleph/trilinos/AlephTrilinos.cc
  arcane/src/arcane/aleph/trilinos/IAlephTrilinos.cc
  arcane/src/arcane/aleph/trilinos/srcs.cmake
Labels: arcane, refactoring

#505 Move Hdf5 parts in a specific 'arcane/hdf5' header and library
  arcane/CMakeLists.txt
  arcane/src/arcane/hdf5/ArcaneHdf5Global.h
  arcane/src/arcane/hdf5/CMakeLists.txt
  arcane/src/arcane/hdf5/Hdf5MpiReaderWriter.axl
  arcane/src/arcane/hdf5/Hdf5MpiReaderWriter.cc
  arcane/src/arcane/hdf5/Hdf5MpiReaderWriter.h
  arcane/src/arcane/hdf5/Hdf5ReaderWriter.axl
  arcane/src/arcane/hdf5/Hdf5ReaderWriter.cc
  arcane/src/arcane/hdf5/Hdf5ReaderWriter.h
  arcane/src/arcane/hdf5/Hdf5Utils.cc
  arcane/src/arcane/hdf5/Hdf5Utils.h
  arcane/src/arcane/hdf5/Hdf5VariableInfoBase.cc
  arcane/src/arcane/hdf5/Hdf5VariableInfoBase.h
  arcane/src/arcane/hdf5/Hdf5VariableReader.axl
  arcane/src/arcane/hdf5/Hdf5VariableReader.cc
  arcane/src/arcane/hdf5/Hdf5VariableWriter.axl
  arcane/src/arcane/hdf5/Hdf5VariableWriter.cc
  arcane/src/arcane/hdf5/srcs.cmake
  arcane/src/arcane/std/CMakeLists.txt
  arcane/src/arcane/std/Hdf5MpiReaderWriter.h
  arcane/src/arcane/std/Hdf5ReaderWriter.h
  arcane/src/arcane/std/Hdf5Utils.h
  arcane/src/arcane/std/Hdf5VariableInfoBase.h
  arcane/src/arcane/std/srcs.cmake
  arcane/tools/wrapper/hdf5/ArcaneSwigHdf5.i
  arcane/tools/wrapper/hdf5/CMakeLists.txt
  arcane/tools/wrapper/hdf5/Hdf5Utils.i
Labels: arcane, refactoring

#506 Cleanup 'HashTableMap' and fix invalid count() after a call to clear().
  arcane/src/arcane/utils/HashFunction.cc
  arcane/src/arcane/utils/HashFunction.h
  arcane/src/arcane/utils/HashTable.cc
  arcane/src/arcane/utils/HashTable.h
  arcane/src/arcane/utils/HashTableMap.h
  arcane/src/arcane/utils/HashTableSet.h
  arcane/src/arcane/utils/tests/CMakeLists.txt
  arcane/src/arcane/utils/tests/TestHashTable.cc
Labels: bug, arcane, refactoring

#509 Add copy semantic for class 'StandaloneAcceleratorMng'
  arcane/src/arcane/launcher/StandaloneAcceleratorMng.cc
  arcane/src/arcane/launcher/StandaloneAcceleratorMng.h
Labels: enhancement, arcane

#511 Improve CI for win32
  .github/workflows/compile-all-vcpkg.yml
Labels: CI

#512 Update CI using 'vcpkg' with version 2023_01_17
  .github/workflows/compile-all-vcpkg.yml
Labels: CI

#513 Add suport for Aleph/Hypre on Win32
  .github/workflows/compile-all-vcpkg.yml
  arcane/src/arcane/aleph/CMakeLists.txt
  arcane/src/arcane/aleph/hypre/CMakeLists.txt
  arcane/src/arcane/aleph/kappa/CMakeLists.txt
  arcane/src/arcane/tests/ArcaneTestInit.cc
Labels: enhancement, arcane, CI

#514 Correction of an error in the 3D renumbering part
  arcane/ceapart/src/arcane/cartesianmesh/internal/CartesianMeshUniqueIdRenumbering.cc
  arcane/ceapart/tests/testAMRCartesianMesh3D-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-2.arc
Labels: arcane

#520 Add support for Multi-Dimension Variables in 'axl' files.
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/ModuleCode.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/ServiceCode.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/VariableCode.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/axl.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Module/ModuleT4.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Module/ModuleT4.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4Standard.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4Standard.tt
  axlstar/Arcane.Axl/axl.xsd
  axlstar/README.md
Labels: enhancement, axlstar

#521 Improve Multi-dim variable support
  arcane/doc/doc_user/chap_core_types/subchap_axl/1_variable.md
  arcane/doc/userdoc.doxyfile
  arcane/src/arcane/core/MeshMDVariableRef.h
  arcane/src/arcane/tests/MDVariableUnitTest.axl
  arcane/src/arcane/tests/MDVariableUnitTest.cc
  arcane/src/arcane/utils/ArrayShape.cc
  arcane/src/arcane/utils/ArrayShape.h
  arcane/src/arcane/utils/NumMatrix.h
  arcane/src/arcane/utils/NumVector.h
Labels: enhancement, arcane

#522 Improve quality code
  arcane/extras/NumericalModel/src/Mesh/Geometry/Impl/GeometryServiceBase.cc
  arcane/extras/NumericalModel/src/Utils/ItemGroupMap.cc.old
  arcane/extras/NumericalModel/src/Utils/ItemGroupMap.h.old
  arcane/extras/NumericalModel/src/Utils/ItemVector.h.old
  arcane/extras/Simd/arcane/utils/ArrayView.h
  arcane/extras/Simd/arcane/utils/Math.h
  arcane/extras/Simd/arcane_core_config.h
  arcane/extras/Simd/bench/AlignedAllocator.h
  arcane/extras/Simd/bench/NoVecHydroBench.cc
  arcane/extras/Simd/bench/SimdHydroBench.cc
  arcane/extras/Simd/bench/Wrapper.h
  arcane/src/arcane/core/DomLibXml2.cc
  arcane/src/arcane/core/ServiceOptions.h
  arcane/src/arcane/geometry/impl/GeometryServiceBase.cc
  arcane/src/arcane/impl/ParallelReplication.cc
  arcane/src/arcane/tests/TaskUnitTest.cc
  arcane/tutorial/microhydro/TypesMicroHydro.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiSerializeMessageList.cc
  axlstar/src/client_include/ServiceOptions.h
Labels: arcane, arccore, refactoring, axlstar

#524 Remove usage of 'dualnode' and 'link' items
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/axl.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/Extensions/ItemKindExtensions.cs
  axlstar/Arcane.Axl/Arcane.Axl/ItemKind.cs
  axlstar/Arcane.Axl/Arcane.Axl/VariableInfo.cs
  axlstar/Arcane.Axl/axl.xsd
Labels: refactoring, axlstar

#525 Upgrade 'VtkHdf' post processor
  arcane/src/arcane/std/CMakeLists.txt
  arcane/src/arcane/std/VTKHdfPostProcessor.cc
  arcane/src/arcane/std/VtkHdfPostProcessor.axl
  arcane/src/arcane/std/VtkHdfPostProcessor.cc
  arcane/src/arcane/std/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testHydro-1-vtkhdf.arc
Labels: enhancement, arcane

#526 Update Hdf5 utils classes
  arcane/src/arcane/hdf5/CMakeLists.txt
  arcane/src/arcane/hdf5/Hdf5Utils.h
Labels: enhancement, arcane, refactoring

#527 Add support for all cell type in VtkHdfPostProcessor
  arcane/src/arcane/std/VtkHdfPostProcessor.cc
  arcane/src/arcane/std/VtkMeshIOService.cc
  arcane/src/arcane/std/internal/VtkCellTypes.cc
  arcane/src/arcane/std/internal/VtkCellTypes.h
  arcane/src/arcane/std/srcs.cmake
Labels: enhancement, arcane

#529 Provide empty implementation for methods using 'IMultiArray2Data'
  arcane/src/arcane/core/AbstractDataVisitor.cc
  arcane/src/arcane/core/AbstractDataVisitor.h
  arcane/src/arcane/core/Data.cc
  arcane/src/arcane/core/DataTypeDispatchingDataVisitor.cc
  arcane/src/arcane/core/DataTypeDispatchingDataVisitor.h
  arcane/src/arcane/core/IData.h
  arcane/src/arcane/core/IDataVisitor.h
  arcane/src/arcane/impl/Array2Data.cc
  arcane/src/arcane/impl/ArrayData.cc
  arcane/src/arcane/impl/NumArrayData.cc
  arcane/src/arcane/impl/ScalarData.cc
  arcane/src/arcane/impl/ScalarData.h
  arcane/src/arcane/impl/StringArrayData.cc
  arcane/src/arcane/impl/StringScalarData.cc
Labels: arcane, refactoring

#530 Update documentation
  arcane/doc/devdoc.doxyfile
  arcane/doc/doc_common/changelog.md
  arcane/doc/doc_common/doc_config.md
  arcane/doc/doc_dev/0_devmanual.md
  arcane/doc/doc_user/0_usermanual.md
  arcane/doc/doc_user/chap_core_types/7_array.md
  arcane/doc/doc_user/chap_core_types/8_numarray.md
  arcane/doc/theme/css/custom.css
  arcane/doc/theme/img/arcane_logo.webp
  arcane/doc/theme/js/script-config-theme.js
  arcane/doc/userdoc.doxyfile
Labels: documentation

#531 Add support for compression in 'IData'
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/IData.h
  arcane/src/arcane/core/internal/IDataInternal.h
  arcane/src/arcane/impl/Array2Data.cc
  arcane/src/arcane/impl/ArrayData.cc
  arcane/src/arcane/impl/NumArrayData.cc
  arcane/src/arcane/impl/ScalarData.cc
  arcane/src/arcane/impl/ScalarData.h
  arcane/src/arcane/impl/StringArrayData.cc
  arcane/src/arcane/impl/StringScalarData.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/VariableUnitTest.axl
  arcane/src/arcane/tests/VariableUnitTest.cc
  arcane/tests/testVariable-1-lz4.arc
Labels: enhancement, arcane

#532 Add support for Data Compression in 'MeshMaterialBackup'
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/core/materials/IMeshMaterialMng.h
  arcane/src/arcane/materials/MeshMaterialBackup.cc
  arcane/src/arcane/materials/MeshMaterialBackup.h
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/MeshMaterialMng.h
Labels: enhancement, arcane
