Repository arcaneframework/framework, pull requests merged in 2023-05, with the labels that each got.

#640 Use by default the grid implementation instead of atomics for reduce operation on devices,
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/Runner.h
Labels: arcane, refactoring, accelerator

#642 Add preliminary support for accelerator profiling
  arcane/src/arcane/accelerator/core/IRunnerRuntime.h
  arcane/src/arcane/accelerator/core/RunCommand.cc
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/Runner.h
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/cuda/runtime/Cupti.cc
  arcane/src/arcane/impl/ArcaneMainBatch.cc
  arcane/src/arcane/impl/ExecutionStatsDumper.cc
  arcane/src/arcane/impl/ExecutionStatsDumper.h
  arcane/src/arcane/impl/ItemEnumeratorTracer.cc
  arcane/src/arcane/materials/EnumeratorTracer.cc
  arcane/src/arcane/parallel/thread/TBBTaskImplementation.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
  arcane/src/arcane/utils/Profiling.cc
  arcane/src/arcane/utils/Profiling.h
  arcane/src/arcane/utils/internal/ProfilingInternal.h
Labels: enhancement, arcane, accelerator

#643 Use device memory for reduction using grid implementation
  arcane/src/arcane/accelerator/core/RunCommand.cc
Labels: arcane, refactoring, accelerator

#644 Add support for accelerator aware for shared memory and hybrid message passing
  arcane/src/arcane/core/ParallelMngDispatcher.cc
  arcane/src/arcane/impl/VariableSynchronizerDispatcher.cc
  arcane/src/arcane/parallel/mpithread/HybridParallelMng.cc
  arcane/src/arcane/parallel/mpithread/HybridParallelMng.h
  arcane/src/arcane/parallel/thread/SharedMemoryMessageQueue.cc
  arcane/src/arcane/parallel/thread/SharedMemoryParallelMng.h
  arcane/src/arcane/utils/MemoryRessourceMng.cc
  arcane/src/arcane/utils/internal/MemoryRessourceMng.h
Labels: enhancement, arcane, accelerator

#645 Implement a generic version of copy from/to synchronize buffers for material variables
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/core/materials/IMeshMaterialVariable.cc
  arcane/src/arcane/core/materials/IMeshMaterialVariable.h
  arcane/src/arcane/core/materials/internal/IMeshMaterialVariableInternal.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/materials/MeshMaterialVariable.h
  arcane/src/arcane/materials/MeshMaterialVariableArray.cc
  arcane/src/arcane/materials/MeshMaterialVariableScalar.cc
  arcane/src/arcane/materials/MeshMaterialVariableSynchronizerList.cc
  arcane/src/arcane/materials/internal/MeshMaterialVariablePrivate.h
  arcane/src/arcane/materials/srcs.cmake
Labels: enhancement, arcane, refactoring

#646 Add generic copy from/to buffer with 2D indexes
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/materials/MeshMaterialVariable.h
  arcane/src/arcane/utils/MemoryView.cc
  arcane/src/arcane/utils/MemoryView.h
  arcane/src/arcane/utils/UtilsTypes.h
Labels: enhancement, arcane

#647 Various improvement for accelerator API
  arcane/src/arcane/accelerator/CommonCudaHipReduceImpl.h
  arcane/src/arcane/accelerator/core/IReduceMemoryImpl.h
  arcane/src/arcane/accelerator/core/RunCommand.cc
  arcane/src/arcane/accelerator/cuda/runtime/Cupti.cc
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/runtime/Test.cu.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/AcceleratorReduceUnitTest.axl
  arcane/src/arcane/tests/accelerator/AcceleratorReduceUnitTest.cc
  arcane/src/arcane/tests/srcs.cmake
  arcane/tests/testAcceleratorReduce-1-atomic.arc
Labels: enhancement, arcane, accelerator

#648 Fix compilation with recent version of PETSc and PAPI
  arcane/src/arcane/aleph/petsc/AlephPETSc.cc
  arcane/src/arcane/std/PapiPerformanceService.cc
Labels: bug, arcane

#649 Define macro ARCANE_HAS_OFFSET_FOR_ITEMVECTORVIEW
  arcane/src/arcane/core/ItemTypes.h
Labels: enhancement, arcane, refactoring

#651 Handle copy of 'NumArray' from different memory ressource
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
  arcane/src/arcane/utils/NumArray.cc
  arcane/src/arcane/utils/NumArray.h
Labels: enhancement, arcane, refactoring, accelerator

#652 Remove deprecated methods in Material component
  arcane/ceapart/src/arcane/tests/MeshMaterialTesterModule.cc
  arcane/src/arcane/core/materials/IMeshMaterialMng.h
  arcane/src/arcane/core/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/core/materials/MeshMaterialVariableIndexer.h
  arcane/src/arcane/core/materials/MeshMaterialVariableRef.h
  arcane/src/arcane/materials/IMeshMaterialModifierImpl.h
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshEnvironmentBuildInfo.cc
  arcane/src/arcane/materials/MeshEnvironmentBuildInfo.h
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/MeshMaterialMng.h
  arcane/src/arcane/materials/MeshMaterialModifier.cc
  arcane/src/arcane/materials/MeshMaterialModifier.h
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/materials/MeshMaterialModifierImpl.h
Labels: arcane, refactoring

#653 Add face flags in polyhedral mesh
  arcane/maillages/faultx1_2x1x1.vtkfaces.vtk
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/tests/CustomMeshTest.axl
  arcane/src/arcane/tests/CustomMeshTestModule.cc
  arcane/tests/testMeshPolyhedral-1.arc
Labels: enhancement, arcane

#655 Fix memory leak in some methods of 'UniqueArray' added last month
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/tests/TestArray.cc
Labels: bug, arccore

#656 Propagate custom allocator from source array in UniqueArray2 copy constructor and assignment operator
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/arccore/collections/Array2.h
  arccore/src/collections/tests/TestArray.cc
Labels: enhancement, arcane, refactoring

#657 Change node numerotation in HoneyCombMeshGenerator and improve corresponding sample
  arcane/samples_build/samples/honeycomb_heat/HoneyCombHeat.axl
  arcane/samples_build/samples/honeycomb_heat/HoneyCombHeat2D_small.arc
  arcane/samples_build/samples/honeycomb_heat/HoneyCombHeatModule.cc
  arcane/src/arcane/std/HoneyCombMeshGenerator.cc
Labels: arcane, refactoring

#660 Cleanup accelerator headers and add function to check if a memory adress is accessible for a specific execution policy
  arcane/src/arcane/accelerator/IRunQueueRuntime.h
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/RunQueueInternal.h
  arcane/src/arcane/accelerator/core/AcceleratorCore.cc
  arcane/src/arcane/accelerator/core/AcceleratorCoreGlobal.h
  arcane/src/arcane/accelerator/core/IRunQueueRuntime.h
  arcane/src/arcane/accelerator/core/Memory.h
  arcane/src/arcane/accelerator/core/PointerAttribute.h
  arcane/src/arcane/accelerator/core/RunCommand.cc
  arcane/src/arcane/accelerator/core/RunCommand.h
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueueImpl.cc
  arcane/src/arcane/accelerator/core/RunQueueRuntime.cc
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/Runner.h
  arcane/src/arcane/accelerator/core/internal/AcceleratorCoreGlobalInternal.h
  arcane/src/arcane/accelerator/core/internal/IRunnerRuntime.h
  arcane/src/arcane/accelerator/core/srcs.cmake
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/srcs.cmake
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
Labels: enhancement, arcane, refactoring, accelerator

#661 Add 'Accelerator aware' support for materials and environments synchronizations
  arcane/ceapart/src/arcane/tests/MeshMaterialSyncUnitTest.cc
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/accelerator/MemoryCopier.cc
  arcane/src/arcane/accelerator/core/AcceleratorCore.cc
  arcane/src/arcane/accelerator/core/AcceleratorCoreGlobal.h
  arcane/src/arcane/accelerator/core/PointerAttribute.h
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/Runner.h
  arcane/src/arcane/accelerator/core/internal/AcceleratorCoreGlobalInternal.h
  arcane/src/arcane/core/ParallelMngDispatcher.cc
  arcane/src/arcane/impl/ArcaneMainBatch.cc
  arcane/src/arcane/materials/IMeshMaterialSynchronizeBuffer.h
  arcane/src/arcane/materials/MeshMaterialSynchronizeBuffer.cc
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/materials/MeshMaterialVariable.h
  arcane/src/arcane/materials/MeshMaterialVariableSynchronizer.cc
  arcane/src/arcane/materials/MeshMaterialVariableSynchronizer.h
  arcane/src/arcane/materials/MeshMaterialVariableSynchronizerList.cc
  arcane/src/arcane/materials/MeshMaterialVariableSynchronizerList.h
Labels: enhancement, arcane, accelerator

#662 Add a new interface 'IMemoryAllocator2' for allocator
  arccore/src/collections/arccore/collections/Array.cc
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/arccore/collections/CMakeLists.txt
  arccore/src/collections/arccore/collections/CollectionsGlobal.h
  arccore/src/collections/arccore/collections/IMemoryAllocator.h
  arccore/src/collections/arccore/collections/MemoryAllocationArgs.h
  arccore/src/collections/arccore/collections/MemoryAllocationOptions.h
  arccore/src/collections/arccore/collections/MemoryAllocator.cc
  arccore/src/collections/tests/TestArray.cc
Labels: enhancement, arccore, refactoring

#663 Allow use of a specific MPI driver for launching tests
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.Common/CustomMpiDriver.cs
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.Common/ExecDriver.cs
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.Common/Utils.cs
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.dll.config.json
Labels: arcane

#664 Remove compiler warnings for unused variables
  arcane/ceapart/src/arcane/tests/MeshMaterialTesterModule.cc
  arcane/src/arcane/aleph/AlephIndexing.cc
  arcane/src/arcane/aleph/trilinos/AlephTrilinos.cc
  arcane/src/arcane/core/IndexedItemConnectivityView.cc
  arcane/src/arcane/materials/MeshMaterialMng.h
  arcane/src/arcane/mesh/GraphDoFs.cc
  arcane/src/arcane/mesh/ItemConnectivityMng.h
  arcane/src/arcane/mesh/ItemGroupsSerializer2.cc
  arcane/src/arcane/mesh/MeshRefinement.cc
  arcane/src/arcane/mesh/ParallelAMRConsistency.cc
  arcane/src/arcane/std/ArcanePostProcessingModule.cc
  arcane/src/arcane/std/EnsightHdfPostProcessor.cc
  arcane/src/arcane/std/MEDMeshReaderService.cc
  arcane/src/arcane/std/SodMeshGenerator.cc
  arcane/src/arcane/tests/ModuleSimpleHydroSimd.cc
  arcane/src/arcane/tests/ParallelMngDataTypeTest.cc
  arcane/src/arcane/tests/ParticleUnitTest.cc
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
  arcane/src/arcane/utils/tests/TestNumVector.cc
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.Common/CustomMpiDriver.cs
  arccore/src/collections/tests/TestArray.cc
  arccore/src/concurrency/arccore/concurrency/GlibThreadImplementation.cc
  arccore/src/message_passing/arccore/message_passing/GatherMessageInfo.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiAdapter.cc
Labels: arcane, arccore, refactoring

#665 Plug check mesh in PolyhedralMesh
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/std/VtkPolyhedralMeshIOService.cc
Labels: bug, arcane

#667 add missing outerFaces() in PolyhedralMesh
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/tests/CustomMeshTestModule.cc
Labels: enhancement, arcane

#669 Add type 'Int8' and 'BFloat16' in enumeration 'eBasicDataType'
  arccore/src/base/arccore/base/BasicDataType.cc
  arccore/src/base/arccore/base/BasicDataType.h
  arccore/src/base/tests/CMakeLists.txt
  arccore/src/base/tests/TestBasicDataType.cc
Labels: enhancement, arccore

#668 Add missing ownGroups methods in PolyhedralMesh
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/tests/CustomMeshTestModule.cc
Labels: enhancement, arcane

#670 Add various helper methods to 'Span'
  arccore/src/base/arccore/base/ArrayView.h
  arccore/src/base/arccore/base/Span.h
  arccore/src/base/tests/TestArrayView.cc
Labels: enhancement, arccore

#671 Implement 'IMemoryAllocator2' for accelerator allocators
  arcane/src/arcane/accelerator/core/RunCommand.cc
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
  arcane/src/arcane/accelerator/hip/HipAccelerator.cc
  arcane/src/arcane/core/VariableArray.cc
  arcane/src/arcane/impl/Application.cc
  arcane/src/arcane/impl/Array2Data.cc
  arcane/src/arcane/impl/ArrayData.cc
  arcane/src/arcane/impl/InternalInfosDumper.cc
  arcane/src/arcane/parallel/mpi/MpiBlockVariableSynchronizeDispatcher.cc
  arcane/src/arcane/parallel/mpithread/HybridParallelDispatch.cc
  arcane/src/arcane/parallel/thread/TBBTaskImplementation.cc
  arcane/src/arcane/tests/ArrayUnitTest.cc
  arcane/src/arcane/tests/SimdUnitTest.cc
  arcane/src/arcane/tests/VariableUnitTest.cc
  arcane/src/arcane/totalview/tv_display_arcane_types.cc
  arcane/src/arcane/utils/Array.cc
  arcane/src/arcane/utils/MemoryAllocator.h
  arcane/src/arcane/utils/MemoryRessourceMng.cc
  arcane/src/arcane/utils/SmallArray.h
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/srcs.cmake
Labels: arcane, refactoring, accelerator

#672 Add support for 'eMemoryLocationHint' in CUDA backend.
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
Labels: enhancement, arcane, accelerator

#673 Add new interface 'IMemoryAllocator3' to manage allocators
  arccore/src/collections/arccore/collections/Array.cc
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/arccore/collections/CollectionsGlobal.h
  arccore/src/collections/arccore/collections/IMemoryAllocator.h
  arccore/src/collections/arccore/collections/MemoryAllocationArgs.h
  arccore/src/collections/arccore/collections/MemoryAllocationOptions.h
  arccore/src/collections/arccore/collections/MemoryAllocator.cc
  arccore/src/collections/tests/TestArray.cc
Labels: enhancement, arccore, refactoring

#674 Implement 'IMemoryAllocator3' for accelerator allocators
  arcane/src/arcane/accelerator/core/RunCommand.cc
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
  arcane/src/arcane/accelerator/hip/HipAccelerator.cc
  arcane/src/arcane/utils/UtilsTypes.h
Labels: enhancement, arcane, refactoring, accelerator

#675 Remove some coverity warnings in arccore
  arccore/src/base/arccore/base/ArrayView.h
  arccore/src/base/arccore/base/Iterator.h
  arccore/src/base/arccore/base/Ref.h
  arccore/src/base/arccore/base/String.cc
  arccore/src/base/tests/TestRef.cc
  arccore/src/message_passing/arccore/message_passing/RequestListBase.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiSerializeMessageList.h
  arccore/src/trace/arccore/trace/TraceMng.cc
Labels: arccore, refactoring

#676 Add support to specifiy additionnal information on 'Array'
  arccore/src/collections/arccore/collections/Array.cc
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/arccore/collections/ArrayDebugInfo.h
  arccore/src/collections/arccore/collections/CMakeLists.txt
  arccore/src/collections/arccore/collections/CollectionsGlobal.h
  arccore/src/collections/arccore/collections/MemoryAllocationOptions.cc
  arccore/src/collections/arccore/collections/MemoryAllocationOptions.h
  arccore/src/collections/arccore/collections/MemoryAllocator.cc
  arccore/src/collections/tests/TestArray.cc
Labels: enhancement, arccore

#678 Fix codecov and windows CI
  .github/codecov.yml
  .github/workflows/compile-all-vcpkg.yml
Labels: bug, CI

#679 Re-activate windows tests in CI
  .github/workflows/compile-all-vcpkg.yml
Labels: CI

#680 Add non blocking synchronization for environments and materials
  arcane/ceapart/src/arcane/tests/MeshMaterialSyncUnitTest.cc
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/materials/MeshMaterialVariableSynchronizerList.cc
  arcane/src/arcane/materials/MeshMaterialVariableSynchronizerList.h
Labels: enhancement, arcane

#682 Add 'ArrayDebugInfo' instance in 'MemoryAllocationArgs' and fix coverity warnings
  arccore/src/base/arccore/base/String.cc
  arccore/src/base/tests/TestRef.cc
  arccore/src/collections/arccore/collections/Array2.h
  arccore/src/collections/arccore/collections/MemoryAllocationArgs.h
  arccore/src/collections/arccore/collections/MemoryAllocationOptions.cc
  arccore/src/collections/arccore/collections/MemoryAllocationOptions.h
  arccore/src/message_passing/arccore/message_passing/PointToPointSerializerMng.cc
Labels: enhancement, arccore

#683 Remove usage of managed memory for reductions
  arcane/src/arcane/accelerator/CommonCudaHipReduceImpl.h
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/core/IReduceMemoryImpl.h
  arcane/src/arcane/accelerator/core/RunCommand.cc
Labels: enhancement, arcane, refactoring, accelerator

#666 Remove in Arcane the deprecated usage of ItemConnectedListView
  arcane/CMakeLists.txt
  arcane/src/arcane/aleph/tests/AlephTestModule.cc
  arcane/src/arcane/aleph/tests/AlephTestSchemeFaces.cc
  arcane/src/arcane/core/ItemConnectedEnumeratorBase.h
  arcane/src/arcane/core/ItemConnectedListView.h
  arcane/src/arcane/core/ItemEnumeratorBase.h
  arcane/src/arcane/core/ItemTypes.h
  arcane/src/arcane/std/DumpWEnsight7.cc
  arcane/src/arcane/tests/AMRTestModule.cc
  arcane/src/arcane/tests/CustomMeshTestModule.cc
  arcane/src/arcane/tests/MeshModificationTester.cc
  arcane/src/arcane/tests/SubMeshTestModule.cc
  arcane/src/arcane/tests/graph/GraphUnitTest.cc
Labels: arcane, refactoring

#685 Add preliminary support to trace unified memory transfers between host and accelerator
  arcane/src/arcane/accelerator/core/MemoryTracer.cc
  arcane/src/arcane/accelerator/core/internal/MemoryTracer.h
  arcane/src/arcane/accelerator/core/srcs.cmake
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
  arcane/src/arcane/accelerator/cuda/runtime/Cupti.cc
Labels: enhancement, arcane, accelerator

#686 Fix 'Read after free' in compression test for 'IDataInternal'
  arcane/src/arcane/core/internal/IDataInternal.h
  arcane/src/arcane/tests/VariableUnitTest.cc
Labels: bug, arcane

#687 Make private internal method of 'ItemInternalConnectivityList' and deprecate some methods of 'ItemInternal'
  arcane/src/arcane/core/ItemInternal.cc
  arcane/src/arcane/core/ItemInternal.h
  arcane/src/arcane/mesh/ConnectivityNewWithDependenciesTypes.h
  arcane/src/arcane/mesh/DynamicMeshChecker.cc
  arcane/src/arcane/mesh/FaceFamily.cc
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/MeshRefinement.cc
  arcane/src/arcane/mesh/SubMeshTools.cc
Labels: arcane, refactoring

#689 Improve memory handling for 'IncrementalItemConnectivity'
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/IIncrementalItemConnectivity.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/mesh/CellFamily.cc
  arcane/src/arcane/mesh/EdgeFamily.cc
  arcane/src/arcane/mesh/EdgeFamily.h
  arcane/src/arcane/mesh/FaceFamily.cc
  arcane/src/arcane/mesh/FaceFamily.h
  arcane/src/arcane/mesh/IncrementalItemConnectivity.cc
  arcane/src/arcane/mesh/IncrementalItemConnectivity.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/ItemFamilyNetwork.h
  arcane/src/arcane/mesh/NewWithLegacyConnectivity.h
  arcane/src/arcane/mesh/NodeFamily.cc
Labels: enhancement, arcane, refactoring

#691 Add support for changing memory tuning in variables and array
  arcane/src/arcane/core/Array2Variable.h
  arcane/src/arcane/core/IVariable.h
  arcane/src/arcane/core/ItemGroupImpl.cc
  arcane/src/arcane/core/MeshStats.cc
  arcane/src/arcane/core/MeshUtils.cc
  arcane/src/arcane/core/MeshUtils.h
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/Variable.h
  arcane/src/arcane/core/VariableArray.h
  arcane/src/arcane/core/VariableScalar.h
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/tests/ModuleSimpleHydroGeneric.cc
  arcane/src/arcane/utils/MemoryUtils.cc
  arcane/src/arcane/utils/MemoryUtils.h
  arcane/src/arcane/utils/srcs.cmake
Labels: enhancement, arcane

#692 Fix some coverity warnings
  arcane/src/arcane/aleph/AlephIndexing.cc
  arcane/src/arcane/core/ItemInternal.h
  arcane/src/arcane/impl/GetVariablesValuesParallelOperation.cc
  arcane/src/arcane/mesh/MeshCompacter.cc
  arcane/src/arcane/tests/SimpleTableOutputUnitTest.cc
  arcane/src/arcane/tests/SimpleTableOutputUnitTest.h
  arcane/src/arcane/utils/Property.h
Labels: enhancement, arcane

#693 Cleanup CUDA allocator for managed memory
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
Labels: arcane, refactoring, accelerator

#694 Add specific MeshInitialAllocator for cartesian mesh
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/CartesianMeshAllocateBuildInfo.cc
  arcane/src/arcane/core/CartesianMeshAllocateBuildInfo.h
  arcane/src/arcane/core/IMeshInitialAllocator.h
  arcane/src/arcane/core/internal/CartesianMeshAllocateBuildInfoInternal.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMesh.h
  arcane/src/arcane/std/CartesianMeshGenerator.cc
  arcane/src/arcane/std/CartesianMeshGenerator.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane, refactoring

#695 Add implementation for SHA-3 hash algorithm
  arcane/src/arcane/utils/Convert.cc
  arcane/src/arcane/utils/Convert.h
  arcane/src/arcane/utils/SHA3HashAlgorithm.cc
  arcane/src/arcane/utils/srcs.cmake
  arcane/src/arcane/utils/tests/CMakeLists.txt
  arcane/src/arcane/utils/tests/TestHash.cc
Labels: enhancement, arcane

#696 Deprecate 'IHashAlgorithm::computeHash()'
  arcane/src/arcane/core/SerializedData.cc
  arcane/src/arcane/impl/ScalarData.cc
  arcane/src/arcane/impl/StringScalarData.cc
  arcane/src/arcane/std/MetisGraphDigest.cc
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/src/arcane/utils/ArcaneGlobal.cc
  arcane/src/arcane/utils/IHashAlgorithm.h
  arcane/src/arcane/utils/MD5HashAlgorithm.cc
  arcane/src/arcane/utils/MD5HashAlgorithm.h
  arcane/src/arcane/utils/tests/TestHash.cc
Labels: arcane, refactoring

#697 Add implementation of 'IHashAlgorithm' for SHA-3 algorithms (224, 256, 384 and 512)
  arcane/src/arcane/utils/SHA3HashAlgorithm.cc
  arcane/src/arcane/utils/SHA3HashAlgorithm.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/src/arcane/utils/tests/TestHash.cc
Labels: enhancement, arcane

#698 Cleanup BasicReaderWriter and remove usage which depend of the datatype
  arcane/src/arcane/std/BasicReaderWriter.cc
  arcane/src/arcane/std/BasicReaderWriterDatabase.cc
  arcane/src/arcane/std/BasicReaderWriterDatabase.h
  arcane/src/arcane/std/TextReader.cc
  arcane/src/arcane/std/TextReader.h
  arcane/src/arcane/std/TextWriter.cc
  arcane/src/arcane/std/TextWriter.h
Labels: enhancement, arcane, refactoring

#699 Add missing typedefs for MDSpan.
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
  arcane/src/arcane/utils/MDSpan.h
Labels: enhancement, arcane

#700 Add preliminary support for a hash database
  arcane/src/arcane/std/BasicReaderWriterDatabase.cc
  arcane/src/arcane/std/FileHashDatabase.cc
  arcane/src/arcane/std/internal/IHashDatabase.h
  arcane/src/arcane/std/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane
