Repository arcaneframework/framework, pull requests merged in 2024-09, with the labels that each got.

#1604 Add support to check coherence of synchronization
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/internal/VariableSynchronizer.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#1606 Begin support for a service to subdivide a mesh at initialization.
  arcane/src/arcane/core/IMeshSubdivider.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/impl/ArcaneBasicMeshSubdividerService.axl
  arcane/src/arcane/impl/ArcaneBasicMeshSubdividerService.cc
  arcane/src/arcane/impl/ArcaneCaseMeshService.axl
  arcane/src/arcane/impl/ArcaneCaseMeshService.cc
  arcane/src/arcane/impl/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testHydro-3-meshservice-subdivide1.arc
Labels: enhancement, arcane

#1607 Add accelerator support to get back cell and front cell of a face
  arcane/src/arcane/core/ItemFlags.h
  arcane/src/arcane/core/ItemInfoListView.h
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/src/arcane/tests/accelerator/AcceleratorItemInfoUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator

#1608 In MicroHydro test, update variable containing owner rank after mesh modification
  arcane/src/arcane/tests/ArcaneTest.config
  arcane/src/arcane/tests/ModuleSimpleHydro.cc
  arcane/src/arcane/tests/ModuleSimpleHydroDepend.cc
  arcane/src/arcane/tests/ModuleSimpleHydroGeneric.cc
  arcane/src/arcane/tests/SimpleHydro.axl
Labels: enhancement, arcane

#1610 Add support to notify a list of added items in incremental connectivities
  arcane/src/arcane/core/IIncrementalItemConnectivity.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/mesh/IncrementalItemConnectivity.cc
  arcane/src/arcane/mesh/IncrementalItemConnectivity.h
  arcane/src/arcane/mesh/IndexedIncrementalItemConnectivityMng.cc
Labels: enhancement, arcane, refactoring

#1611 Use a lambda function to iterate over items of ItemInternalMap
  arcane/src/arcane/mesh/CartesianFaceUniqueIdBuilder.cc
  arcane/src/arcane/mesh/DynamicMeshIncrementalBuilder.cc
  arcane/src/arcane/mesh/EdgeUniqueIdBuilder.cc
  arcane/src/arcane/mesh/FaceUniqueIdBuilder.cc
  arcane/src/arcane/mesh/FaceUniqueIdBuilder2.cc
  arcane/src/arcane/mesh/GhostLayerBuilder.cc
  arcane/src/arcane/mesh/GhostLayerBuilder2.cc
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemInternalMap.cc
  arcane/src/arcane/mesh/ItemInternalMap.h
  arcane/src/arcane/mesh/MapCoordToUid.cc
  arcane/src/arcane/mesh/MeshRefinement.cc
  arcane/src/arcane/mesh/ParallelAMRConsistency.cc
  arcane/src/arcane/mesh/ParticleFamily.cc
  arcane/src/arcane/mesh/SubMeshTools.cc
Labels: arcane, refactoring

#1612 Remove french text in 'MeshStats'
  arcane/src/arcane/core/MeshStats.cc
  arcane/src/arcane/core/MeshStats.h
Labels: arcane, refactoring

#1613 Add entry point of type 'build' for unit test service
  arcane/src/arcane/core/IUnitTest.h
  arcane/src/arcane/std/UnitTest.axl
  arcane/src/arcane/std/UnitTestModule.cc
Labels: enhancement, arcane

#1614 Add utility method to create custom node-node via edge connectivity
  arcane/src/arcane/core/MeshUtils.h
  arcane/src/arcane/core/MeshUtils2.cc
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/tests/MeshUnitTest.axl
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/tests/testMesh-2.arc
Labels: enhancement, arcane

#1615 Add method to directly set all connected items to an item
  arcane/src/arcane/core/IIncrementalItemConnectivity.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/core/MeshUtils.h
  arcane/src/arcane/core/MeshUtils2.cc
  arcane/src/arcane/mesh/IncrementalItemConnectivity.cc
  arcane/src/arcane/mesh/IncrementalItemConnectivity.h
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: enhancement, arcane

#1616 Add command 'set debuginfod enabled off' when launching gdb
  arcane/src/arcane/utils/PlatformUtils.cc
Labels: arcane

#1618 Add internal API for IIncrementalItemConnectivity
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/IIncrementalItemConnectivity.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/core/internal/IIncrementalItemConnectivityInternal.h
  arcane/src/arcane/mesh/IncrementalItemConnectivity.cc
  arcane/src/arcane/mesh/IncrementalItemConnectivity.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/NewWithLegacyConnectivity.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#1621 Add more dumping of memory usage during initialization
  arcane/src/arcane/core/Parallel.cc
  arcane/src/arcane/core/Parallel.h
  arcane/src/arcane/impl/Application.cc
  arcane/src/arcane/impl/SubDomain.cc
  arcane/src/arcane/impl/TimeStats.cc
Labels: enhancement, arcane

#1622 Remove usage of 'ItemInternalMap::Data' and 'ItemInternal*' in 'ItemInternalMap'
  arcane/src/arcane/core/ItemInternal.h
  arcane/src/arcane/mesh/DoFFamily.cc
  arcane/src/arcane/mesh/DynamicMeshIncrementalBuilder.h
  arcane/src/arcane/mesh/DynamicMeshKindInfos.cc
  arcane/src/arcane/mesh/DynamicMeshKindInfos.h
  arcane/src/arcane/mesh/EdgeUniqueIdBuilder.cc
  arcane/src/arcane/mesh/EdgeUniqueIdBuilder.h
  arcane/src/arcane/mesh/FaceUniqueIdBuilder.cc
  arcane/src/arcane/mesh/FaceUniqueIdBuilder.h
  arcane/src/arcane/mesh/FaceUniqueIdBuilder2.cc
  arcane/src/arcane/mesh/GhostLayerBuilder.cc
  arcane/src/arcane/mesh/GhostLayerBuilder.h
  arcane/src/arcane/mesh/GhostLayerBuilder2.cc
  arcane/src/arcane/mesh/ItemInternalMap.h
  arcane/src/arcane/mesh/MapCoordToUid.h
  arcane/src/arcane/mesh/MeshRefinement.h
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/mesh/ParallelAMRConsistency.h
Labels: arcane, refactoring

#1623 Make deprecated some usage of 'ItemInternal'
  arcane/src/arcane/core/IItemFamily.h
  arcane/src/arcane/core/Item.h
  arcane/src/arcane/core/ItemInternal.cc
  arcane/src/arcane/core/ItemInternal.h
  arcane/src/arcane/core/MeshUtils.h
Labels: arcane, refactoring

#1620 Implements internal api in polyhedral mesh
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/tests/MeshPolyhedralTestModule.cc
Labels: enhancement, arcane

#1624 Deprecate methods 'lookupAdd', 'lookupValue' and 'buckets' of 'ItemInternalMap'
  arcane/src/arcane/mesh/DoFFamily.cc
  arcane/src/arcane/mesh/DoFFamily.h
  arcane/src/arcane/mesh/DynamicMeshKindInfos.cc
  arcane/src/arcane/mesh/DynamicMeshKindInfos.h
  arcane/src/arcane/mesh/GhostLayerBuilder2.cc
  arcane/src/arcane/mesh/ItemInternalMap.cc
  arcane/src/arcane/mesh/ItemInternalMap.h
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/mesh/ParticleFamily.cc
  arcane/src/arcane/mesh/PolyhedralMesh.cc
Labels: arcane, refactoring

#1625 Deprecate and remove usage of 'ItemInternalMap::operator[]'
  arcane/src/arcane/mesh/DynamicMeshKindInfos.h
  arcane/src/arcane/mesh/GhostLayerBuilder.cc
  arcane/src/arcane/mesh/GhostLayerBuilder2.cc
  arcane/src/arcane/mesh/ItemInternalMap.cc
  arcane/src/arcane/mesh/ItemInternalMap.h
  arcane/src/arcane/mesh/ParallelAMRConsistency.cc
Labels: arcane, refactoring

#1626 Add internal API to get memory allocated for item connectivity
  arcane/src/arcane/core/internal/IIncrementalItemConnectivityInternal.h
  arcane/src/arcane/mesh/IncrementalItemConnectivity.cc
  arcane/src/arcane/mesh/IncrementalItemConnectivity.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
Labels: enhancement, arcane

#1627 Remove usage of Item::internal()
  arcane/src/arcane/mesh/CellFamily.cc
  arcane/src/arcane/mesh/CellFamily.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMeshIncrementalBuilder.cc
  arcane/src/arcane/mesh/DynamicMeshIncrementalBuilder.h
  arcane/src/arcane/mesh/FaceUniqueIdBuilder.cc
  arcane/src/arcane/mesh/FaceUniqueIdBuilder2.cc
  arcane/src/arcane/mesh/GhostLayerBuilder.cc
  arcane/src/arcane/mesh/SubMeshTools.cc
  arcane/src/arcane/mesh/SubMeshTools.h
Labels: arcane, refactoring

#1628 Remove unused methods of 'Item', 'ItemInternal' and 'ItemBase'
  arcane/src/arcane/core/Item.h
  arcane/src/arcane/core/ItemInternal.h
Labels: arcane, refactoring

#1629 Remove base class of 'ItemInternalMap'
  arcane/src/arcane/mesh/ItemInternalMap.cc
  arcane/src/arcane/mesh/ItemInternalMap.h
Labels: arcane, refactoring

#1631 Add support to use 'std::unordered_map` for implementation of 'ItemInternalMap'
  arcane/src/arcane/mesh/DynamicMeshKindInfos.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemInternalMap.cc
  arcane/src/arcane/mesh/ItemInternalMap.h
Labels: arcane, refactoring

#1633 Update ItemConnectivity support before handling compaction.
  arcane/src/arcane/mesh/ItemConnectivity.cc
Labels: bug, arcane

#1635 Always do an error if partitionner specified by the user is not available.
  arcane/src/arcane/impl/SubDomain.cc
Labels: arcane, refactoring

#1637 Add support for additional operation after mesh creation
  arcane/src/arcane/core/ICaseMeshMasterService.h
  arcane/src/arcane/core/ICaseMeshService.h
  arcane/src/arcane/impl/ArcaneBasicMeshSubdividerService.cc
  arcane/src/arcane/impl/ArcaneCaseMeshMasterService.cc
  arcane/src/arcane/impl/ArcaneCaseMeshService.cc
  arcane/src/arcane/impl/SubDomain.cc
Labels: enhancement, arcane, refactoring

#1636 Fix submesh problem with connectivities
  arcane/src/arcane/core/ItemPrinter.cc
  arcane/src/arcane/mesh/SubMeshTools.cc
  arcane/src/arcane/tests/SubMeshTestModule.cc
Labels: bug, arcane

#1638 Add tests to compare performance of 'HashTableMap' and 'std::unordered_map'
  arcane/src/arcane/utils/tests/TestHashTable.cc
Labels: arcane, build

#1639 Add new implementation of a hash map
  arcane/src/arcane/utils/HashTableMap2.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/src/arcane/utils/tests/TestHashTable.cc
Labels: enhancement, arcane

#1640 Cleanup HashTableMap2 and add some tests
  arcane/src/arcane/utils/HashTableMap2.h
  arcane/src/arcane/utils/tests/TestHashTable.cc
Labels: arcane, refactoring

#1641 Always create XML test document in UnitTestModule
  arcane/src/arcane/std/UnitTestModule.cc
Labels: bug, arcane

#1642 Remove usage of deprecated method 'ItemBase::itemInternal()'
  arcane/src/arcane/core/ItemInternal.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/MeshRefinement.cc
Labels: arcane, refactoring

#1643 Do not delete instance given in 'ArcaneLauncher::setDefaultMainFactory()'
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/src/arcane/launcher/ArcaneLauncher.h
  arcane/src/arcane/tests/ArcaneTestMain.cc
Labels: bug, arcane

#1644 Throw an error if we try to read a mesh already allocated
  arcane/src/arcane/core/MeshReaderMng.cc
Labels: bug, arcane

#1645 Add standalone sub-domain sample in parallel and using a case file
  arcane/samples_build/samples/standalone_subdomain/CMakeLists.txt
  arcane/samples_build/samples/standalone_subdomain/data.arc
  arcane/samples_build/samples/standalone_subdomain/main.cc
  arcane/samples_build/samples/standalone_subdomain/square_v41.msh
Labels: arcane

#1646 Refactor 'ItemFamily' to use a pointer of DynamicMeshKindInfos instead of a direct instance.
  arcane/src/arcane/mesh/CartesianFaceUniqueIdBuilder.cc
  arcane/src/arcane/mesh/DynamicMesh.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/ItemFamilyCompactPolicy.h
  arcane/src/arcane/mesh/ParticleFamily.cc
  arcane/src/arcane/mesh/PolyhedralMesh.cc
Labels: arcane, refactoring

#1648 Add support in VtkHdf format for MPI-IO writing in several blocks
  arcane/src/arcane/std/VtkHdfV2PostProcessor.axl
  arcane/src/arcane/std/VtkHdfV2PostProcessor.cc
  arcane/tests/testHydro-1-vtkhdfv2-backward.arc
  arcane/tests/testHydro-1-vtkhdfv2.arc
Labels: enhancement, arcane

#1649 In 'VtkHdfV2PostProcessor', use kilo-byte as unit (instead of byte) for maximum write size
  arcane/src/arcane/std/VtkHdfV2PostProcessor.axl
  arcane/src/arcane/std/VtkHdfV2PostProcessor.cc
  arcane/tests/testHydro-1-vtkhdfv2-backward.arc
  arcane/tests/testHydro-1-vtkhdfv2.arc
Labels: arcane, refactoring

#1650 Use 'IMemoryAllocator' to allocate memory for 'HashTableMap2'
  arcane/src/arcane/utils/HashTableMap2.cc
  arcane/src/arcane/utils/HashTableMap2.h
  arcane/src/arcane/utils/srcs.cmake
Labels: enhancement, arcane, refactoring

#1651 Dump infos on Edge items in MeshUtils::writeMeshConnectivity()
  arcane/src/arcane/core/MeshUtils.cc
Labels: enhancement, arcane

#1652 Fix compilation with HIP
  arcane/src/arcane/materials/AcceleratorMeshMaterialSynchronizerImpl.cc
  arcane/src/arcane/materials/internal/AcceleratorMeshMaterialSynchronizerImpl.h
Labels: bug, arcane, arcane:accelerator, arcane:materials

#1653 Write output meshes in export directory for mesh tests
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: arcane, refactoring
