Repository arcaneframework/framework, pull requests merged in 2024-02, with the labels that each got.

#1155 Begin support in 'ArcaneBasicVerifierService' for hash comparison of variables values
  arcane/src/arcane/std/ArcaneBasicVerifierService.cc
  arcane/src/arcane/std/BasicReader.cc
  arcane/src/arcane/std/internal/BasicReader.h
  arcane/src/arcane/std/internal/BasicReaderWriter.h
  arcane/tests/compare_seq_seq_hash_only.xml
Labels: enhancement, arcane

#1158 Simplify usage of TextReader2 and TextWriter2
  arcane/src/arcane/std/BasicGenericReader.cc
  arcane/src/arcane/std/BasicGenericWriter.cc
  arcane/src/arcane/std/TextReader2.cc
  arcane/src/arcane/std/TextWriter2.cc
  arcane/src/arcane/std/internal/TextReader2.h
  arcane/src/arcane/std/internal/TextWriter2.h
Labels: arcane, refactoring

#1159 Move 'ParallelDataReader.h' and 'ParallelDataWriter.h' in Arcane internal API.
  arcane/src/arcane/std/BasicReader.cc
  arcane/src/arcane/std/BasicWriter.cc
  arcane/src/arcane/std/ParallelDataReader.cc
  arcane/src/arcane/std/ParallelDataWriter.cc
  arcane/src/arcane/std/internal/ParallelDataReader.h
  arcane/src/arcane/std/internal/ParallelDataWriter.h
  arcane/src/arcane/std/srcs.cmake
Labels: arcane, refactoring

#1160 Use direct hash comparison of variable values without using temporary file
  arcane/src/arcane/core/MeshUtils.cc
  arcane/src/arcane/core/MeshUtils.h
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/Variable.h
  arcane/src/arcane/core/internal/IVariableInternal.h
  arcane/src/arcane/std/ArcaneBasicVerifierService.cc
  arcane/src/arcane/std/BasicReaderWriter.cc
  arcane/src/arcane/std/BasicWriter.cc
  arcane/src/arcane/std/ParallelDataWriter.cc
  arcane/src/arcane/std/internal/BasicReader.h
  arcane/src/arcane/std/internal/BasicWriter.h
  arcane/src/arcane/std/internal/ParallelDataWriter.h
  arcane/tests/compare_par_par_hash_only.xml
  arcane/tests/compare_seq_par_hash_only.xml
Labels: enhancement, arcane

#1161 Improve usage of class 'Ref'
  arccore/src/base/arccore/base/Ref.h
  arccore/src/base/tests/TestRef.cc
  arccore/src/base/tests/TestReferenceCounter.cc
Labels: enhancement, arccore

#1162 Use 'createRef()' instead of 'makeRef()' in some places.
  arcane/src/arcane/core/ParallelMngDispatcher.cc
  arcane/src/arcane/core/ParallelMngDispatcher.h
  arcane/src/arcane/core/SerializedData.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiParallelSuperMng.cc
  arcane/src/arcane/parallel/mpithread/HybridParallelMng.cc
  arcane/src/arcane/parallel/thread/SharedMemoryParallelMng.cc
  arcane/src/arcane/utils/DependencyInjection.h
  arcane/src/arcane/utils/Ref.h
  arcane/src/arcane/utils/SHA1HashAlgorithm.cc
Labels: arcane, refactoring

#1163 [arcane] Fix some compiler warnings
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/VariableArray.cc
  arcane/src/arcane/dotnet/coreclr/ArcaneCoreClr.cc
  arcane/src/arcane/mesh/DualUniqueIdMng.h
  arcane/src/arcane/mesh/ItemProperty.h
  arcane/src/arcane/parallel/thread/TBBThreadImplementation.cc
  arcane/src/arcane/std/internal/BasicReader.h
  arcane/src/arcane/std/internal/BasicWriter.h
  arcane/src/arcane/utils/SHA3HashAlgorithm.cc
  arcane/src/arcane/utils/internal/IMemoryCopier.h
  arcane/src/arcane/utils/tests/TestVector2.cc
  arcane/src/arcane/utils/tests/TestVector3.cc
Labels: arcane, build

#1164 [alien] Fix some compilation warnings
  alien/ArcaneInterface/cmake/AlienLegacyConfig.h.in
  alien/standalone/src/core/alien/kernels/simple_csr/SendRecvOp.h
  alien/standalone/src/core/alien/kernels/simple_csr/SimpleCSRVector.h
  alien/standalone/src/core/alien/utils/ArrayUtils.h
  alien/standalone/src/core/alien/utils/Trace.h
Labels: build, alien

#1165 Fix potential bad SIMD padding for ItemGroup
  arcane/src/arcane/core/ItemGroup.cc
  arcane/src/arcane/core/ItemGroupImpl.cc
  arcane/src/arcane/core/ItemGroupInternal.cc
  arcane/src/arcane/core/internal/ItemGroupInternal.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/utils/Array.cc
  arcane/src/arcane/utils/ArrayUtils.h
  arcane/src/arcane/utils/srcs.cmake
Labels: bug, arcane

#1166 Create incremental material connectivity by default
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/materials/ConstituentConnectivityList.cc
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
Labels: arcane, refactoring, arcane:materials

#1169 Add typedef for NumArray views
  arcane/src/arcane/accelerator/NumArrayViews.h
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
Labels: enhancement, arcane:accelerator

#1170 Fix compilation with ROCM 6.0
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
Labels: arcane, arcane:accelerator

#1171 Add option to change axl install directory.
  axlstar/AxlstarUtilities.cmake
  axlstar/CMake/AxlstarUtilities.cmake
Labels: enhancement, axlstar

#1172 Make private to Arcane constructor of 'ComponentCell' using 'ComponentItemInternal*'
  arcane/src/arcane/core/materials/ComponentItem.h
  arcane/src/arcane/core/materials/MatItem.h
Labels: arcane, refactoring, arcane:materials

#1173 Change alien/ArcaneInterface CMake project name.
  alien/ArcaneInterface/CMakeLists.txt
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/hypre/CMakeLists.txt
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/mtl/CMakeLists.txt
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/CMakeLists.txt
  alien/ArcaneInterface/modules/hpddm/src/alien/kernels/hpddm/CMakeLists.txt
  alien/ArcaneInterface/modules/ifpen_solvers/src/alien/kernels/hts/CMakeLists.txt
  alien/ArcaneInterface/modules/ifpen_solvers/src/alien/kernels/ifp/CMakeLists.txt
  alien/ArcaneInterface/modules/ifpen_solvers/src/alien/kernels/mcg/CMakeLists.txt
  alien/ArcaneInterface/modules/plugins/CMakeLists.txt
  alien/ArcaneInterface/modules/trilinos/src/alien/kernels/trilinos/CMakeLists.txt
  alien/ArcaneInterface/test/AlienBench/CMakeLists.txt
  alien/ArcaneInterface/test/AlienTest/CMakeLists.txt
Labels: build, alien

#1174 Use by default version2 of item type computation for 'ItemGroup::applyOperation()'
  arcane/src/arcane/core/ItemGroupImpl.cc
  arcane/src/arcane/core/internal/ItemGroupInternal.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: arcane, refactoring

#1175 Cleanup class 'LoadBalanceMng'
  arcane/src/arcane/core/ILoadBalanceMng.h
  arcane/src/arcane/impl/LoadBalanceMng.cc
  arcane/src/arcane/impl/LoadBalanceMng.h
Labels: arcane, refactoring

#1179 Add utilitary function to prefetch Variable to device
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
  arcane/src/arcane/core/MeshUtils.cc
  arcane/src/arcane/core/MeshUtils.h
  arcane/src/arcane/core/VariableUtils.cc
  arcane/src/arcane/core/VariableUtils.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/tests/accelerator/SimpleHydroAcceleratorService.cc
Labels: enhancement, arcane, arcane:accelerator

#1180 Add support for automatic prefetching before running a command
  arcane/src/arcane/accelerator/VariableViews.cc
  arcane/src/arcane/accelerator/VariableViews.h
  arcane/src/arcane/accelerator/core/RunCommand.h
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/Runner.h
  arcane/src/arcane/accelerator/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane, arcane:accelerator

#1181 Use only one container for all ComponentItemInternal
  arcane/src/arcane/materials/ComponentItemInternalData.cc
  arcane/src/arcane/materials/internal/ComponentItemInternalData.h
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
Labels: arcane, refactoring, arcane:materials

#1182 Add class 'ComponentItemInternaLocalId' to store an index instead of a pointer
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/core/materials/MatItem.h
  arcane/src/arcane/core/materials/MatItemEnumerator.h
  arcane/src/arcane/materials/ComponentItemInternalData.cc
  arcane/src/arcane/materials/internal/ComponentItemInternalData.h
  arcane/tools/wrapper/materials/csharp/ComponentItemInternal.cs
Labels: arcane, refactoring, arcane:materials

#1183 Always use incremental material connectivities and remove cell variable containing number of materials and environments
  arcane/ceapart/tests/testMaterial-1.arc
  arcane/ceapart/tests/testMaterial-2-opt1.arc
  arcane/ceapart/tests/testMaterial-2-opt3.arc
  arcane/ceapart/tests/testMaterial-2-opt5.arc
  arcane/ceapart/tests/testMaterial-2-opt7-cs.arc
  arcane/ceapart/tests/testMaterial-2-opt7.arc
  arcane/ceapart/tests/testMaterial-2.arc
  arcane/ceapart/tests/testMaterial-3-opt1.arc
  arcane/ceapart/tests/testMaterial-3-opt3.arc
  arcane/ceapart/tests/testMaterial-3-opt5.arc
  arcane/ceapart/tests/testMaterial-3-opt7-lb.arc
  arcane/ceapart/tests/testMaterial-3-opt7.arc
  arcane/ceapart/tests/testMaterial-3.arc
  arcane/ceapart/tests/testMaterial-checkpoint-recreate.arc
  arcane/ceapart/tests/testMaterial-checkpoint.arc
  arcane/ceapart/tests/testMaterial-eos-cs.arc
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ConstituentConnectivityList.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
  arcane/src/arcane/materials/internal/ConstituentConnectivityList.h
  arcane/src/arcane/materials/internal/MeshEnvironment.h
  arcane/src/arcane/materials/internal/MeshMaterialVariableIndexer.h
Labels: arcane, refactoring, arcane:materials

#1184 Add support for 'RUNCOMMAND_MAT_ENUMERATE' for 'MatCell'
  arcane/ceapart/src/arcane/tests/CMakeLists.txt
  arcane/ceapart/src/arcane/tests/MaterialHeatTestModule.cc
  arcane/ceapart/src/arcane/tests/srcs.cmake
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.h
  arcane/src/arcane/core/materials/MaterialsCoreGlobal.h
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator, arcane:materials

#1185 Add support for accelerator API for component 'arcane_materials'
  arcane/CMakeLists.txt
  arcane/ceapart/src/arcane/tests/CMakeLists.txt
  arcane/ceapart/src/arcane/tests/srcs.cmake
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/materials/CMakeLists.txt
  arcane/tools/wrapper/CMakeLists.txt
Labels: arcane, build, arcane:accelerator, arcane:materials

#1186 Minor optimisation in incremental material update
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/materials/internal/ConstituentModifierWorkInfo.h
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
  arcane/src/arcane/materials/internal/MeshMaterialVariableIndexer.h
Labels: enhancement, arcane, refactoring, arcane:materials

#1187 Replace some usage of 'ComponentItemInternal*' with 'ComponentItemInternalLocalId'
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/internal/ComponentItemInternalData.h
  arcane/src/arcane/materials/internal/MeshEnvironment.h
Labels: arcane, refactoring, arcane:materials

#1188 Fix missing re-computation of number of materials after mesh change
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
Labels: bug, arcane, arcane:materials

#1189 [CI] Use C++20 for coverity scanning
  .github/workflows/coverity.yml
Labels: CI

#1190 Add class 'ConstituentItemLocalIdList' to handle list of 'ComponentItemInternal*'
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/core/materials/internal/IMeshMaterialMngInternal.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ConstituentItemLocalIdList.cc
  arcane/src/arcane/materials/MeshComponentData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterial.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
  arcane/src/arcane/materials/internal/ConstituentItemLocalIdList.h
  arcane/src/arcane/materials/internal/MeshComponentData.h
  arcane/src/arcane/materials/internal/MeshEnvironment.h
  arcane/src/arcane/materials/internal/MeshMaterial.h
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
  arcane/src/arcane/materials/srcs.cmake
Labels: arcane, refactoring, arcane:materials

#1191 Remove some usage of 'ComponentItemInternal*'
  arcane/src/arcane/core/materials/ComponentItem.h
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/core/materials/ComponentItemVector.cc
  arcane/src/arcane/core/materials/ComponentItemVector.h
  arcane/src/arcane/core/materials/ComponentItemVectorView.h
  arcane/src/arcane/core/materials/ConstituentItemLocalIdList.cc
  arcane/src/arcane/core/materials/EnvItemVector.cc
  arcane/src/arcane/core/materials/EnvItemVector.h
  arcane/src/arcane/core/materials/MatItemVector.cc
  arcane/src/arcane/core/materials/MatItemVector.h
  arcane/src/arcane/core/materials/MaterialsCoreGlobal.h
  arcane/src/arcane/core/materials/internal/ConstituentItemLocalIdList.h
  arcane/src/arcane/core/materials/internal/IMeshComponentInternal.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/materials/MeshComponentData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterial.cc
  arcane/src/arcane/materials/internal/MeshComponentData.h
  arcane/src/arcane/materials/internal/MeshEnvironment.h
  arcane/src/arcane/materials/internal/MeshMaterial.h
  arcane/src/arcane/materials/srcs.cmake
Labels: arcane, refactoring, arcane:materials

#1192 Continue removing usage of 'ComponentItemInternal'
  arcane/ceapart/src/arcane/tests/MeshMaterialTesterModule.cc
  arcane/src/arcane/core/materials/ComponentItem.h
  arcane/src/arcane/core/materials/ComponentItemInternal.cc
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/core/materials/ComponentItemVector.cc
  arcane/src/arcane/core/materials/ComponentItemVector.h
  arcane/src/arcane/core/materials/ComponentItemVectorView.cc
  arcane/src/arcane/core/materials/ComponentItemVectorView.h
  arcane/src/arcane/core/materials/ComponentPartItemVectorView.h
  arcane/src/arcane/core/materials/MatItem.h
  arcane/src/arcane/core/materials/MatItemEnumerator.cc
  arcane/src/arcane/core/materials/MatItemEnumerator.h
  arcane/src/arcane/core/materials/MeshComponentPartData.cc
  arcane/src/arcane/core/materials/MeshComponentPartData.h
  arcane/src/arcane/core/materials/internal/ConstituentItemLocalIdList.h
  arcane/src/arcane/materials/MeshComponentData.cc
  arcane/tools/wrapper/materials/ArcaneSwigCeaMaterials.i
  arcane/tools/wrapper/materials/csharp/ComponentItemEnumerator.cs
  arcane/tools/wrapper/materials/csharp/ComponentItemVectorView.cs
Labels: arcane, refactoring, arcane:materials

#1193 Replace some usage of 'ComponentItemInternal*' with 'ComponentItemBase'
  arcane/src/arcane/core/materials/ComponentItemInternal.cc
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/core/materials/ComponentItemVector.cc
  arcane/src/arcane/core/materials/MatItem.h
  arcane/src/arcane/core/materials/internal/ConstituentItemLocalIdList.h
  arcane/src/arcane/core/materials/internal/IMeshMaterialMngInternal.h
  arcane/src/arcane/materials/ComponentItemInternalData.cc
  arcane/src/arcane/materials/MeshComponentData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterial.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/internal/MeshComponentData.h
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
Labels: arcane, refactoring, arcane:materials

#1195 Remove fields of 'ComponentItemInternal' and store values as arrays in 'ComponentItemSharedInfo'.
  arcane/src/arcane/core/ItemInternal.h
  arcane/src/arcane/core/materials/ComponentItemInternal.cc
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ComponentItemInternalData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/internal/ComponentItemInternalData.h
  arcane/tools/wrapper/materials/csharp/ComponentItem.cs
  arcane/tools/wrapper/materials/csharp/ComponentItemInternal.cs
Labels: arcane, refactoring, arcane:materials

#1196 Rename class 'ComponentItemInternalLocalId' to 'ConstituentItemIndex'
  arcane/src/arcane/core/materials/ComponentItem.cc
  arcane/src/arcane/core/materials/ComponentItem.h
  arcane/src/arcane/core/materials/ComponentItemInternal.cc
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/core/materials/ComponentItemVector.cc
  arcane/src/arcane/core/materials/ComponentItemVector.h
  arcane/src/arcane/core/materials/EnvItemVector.cc
  arcane/src/arcane/core/materials/MatItemVector.cc
  arcane/src/arcane/core/materials/internal/ConstituentItemLocalIdList.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ComponentItemInternalData.cc
  arcane/src/arcane/materials/MeshComponentData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/internal/ComponentItemInternalData.h
  arcane/src/arcane/materials/internal/MeshComponentData.h
  arcane/src/arcane/materials/internal/MeshEnvironment.h
  arcane/src/arcane/materials/internal/MeshMaterial.h
  arcane/tools/wrapper/materials/csharp/ComponentItem.cs
  arcane/tools/wrapper/materials/csharp/ComponentItemInternal.cs
Labels: arcane, refactoring, arcane:materials

#1199 Remove remaining usage of 'ComponentItemInternal'
  arcane/src/arcane/core/materials/CellToAllEnvCellConverter.h
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/core/materials/MatItemEnumerator.h
  arcane/src/arcane/materials/ComponentItemInternalData.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
  arcane/src/arcane/materials/internal/ComponentItemInternalData.h
Labels: arcane, refactoring, arcane:materials

#1200 Remove class 'ComponentItemInternal'
  arcane/src/arcane/core/materials/ComponentItem.cc
  arcane/src/arcane/core/materials/ComponentItemInternal.cc
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ComponentItemInternalData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/internal/ComponentItemInternalData.h
  arcane/tools/wrapper/materials/csharp/ComponentItemInternal.cs
Labels: arcane, refactoring, arcane:materials

#1203 Creation of TimeHistoryMngInternal for future evolutions
  arcane/src/arcane/core/ITimeHistoryAdder.h
  arcane/src/arcane/core/ITimeHistoryMng.h
  arcane/src/arcane/core/MeshTimeHistoryAdder.cc
  arcane/src/arcane/core/MeshTimeHistoryAdder.h
  arcane/src/arcane/core/internal/ITimeHistoryMngInternal.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/impl/TimeHistoryMng2.cc
  arcane/src/arcane/impl/internal/TimeHistoryMngInternal.cc
  arcane/src/arcane/impl/internal/TimeHistoryMngInternal.h
  arcane/src/arcane/impl/srcs.cmake
Labels: enhancement, arcane

#1204 Add instance of 'IAcceleratorMng' in 'VariableMng' and 'MeshMaterialMng'
  arcane/src/arcane/core/internal/IVariableMngInternal.h
  arcane/src/arcane/impl/SubDomain.cc
  arcane/src/arcane/impl/VariableMng.cc
  arcane/src/arcane/impl/internal/VariableMng.h
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
Labels: enhancement, arcane, arcane:accelerator, arcane:materials

#1205 Add accelerator support for copy and initialization of materials variables
  arcane/src/arcane/core/materials/internal/IMeshMaterialVariableInternal.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/CMakeLists.txt
  arcane/src/arcane/materials/ComponentItemListBuilder.cc
  arcane/src/arcane/materials/ConstituentModifierWorkInfo.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/materials/MeshMaterialVariable.h
  arcane/src/arcane/materials/MeshMaterialVariableArray.cc
  arcane/src/arcane/materials/MeshMaterialVariableScalar.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
  arcane/src/arcane/materials/internal/ComponentItemListBuilder.h
  arcane/src/arcane/materials/internal/ConstituentModifierWorkInfo.h
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
  arcane/src/arcane/materials/internal/MeshMaterialVariablePrivate.h
Labels: enhancement, arcane, refactoring, arcane:accelerator, arcane:materials

#1206 Add utility function to mark variables as mostly readonly
  arcane/ceapart/src/arcane/tests/MaterialHeatTestModule.cc
  arcane/src/arcane/core/VariableUtils.cc
  arcane/src/arcane/core/VariableUtils.h
  arcane/src/arcane/core/materials/internal/IMeshMaterialVariableInternal.h
  arcane/src/arcane/materials/internal/MeshMaterialVariablePrivate.h
Labels: enhancement, arcane, arcane:materials

#1207 Add method to synchronize stream without launching exception in case of error
  arcane/src/arcane/accelerator/core/IRunQueueStream.h
  arcane/src/arcane/accelerator/core/RunQueueImpl.cc
  arcane/src/arcane/accelerator/core/RunQueueRuntime.cc
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
  arcane/src/arcane/core/materials/ComponentItemInternal.h
Labels: enhancement, arcane, arcane:accelerator

#1208 Begin support to change memory allocator for numeric data
  arcane/ceapart/src/arcane/tests/MaterialHeatTest.axl
  arcane/ceapart/src/arcane/tests/MaterialHeatTestModule.cc
  arcane/src/arcane/core/internal/IDataInternal.h
  arcane/src/arcane/impl/Array2Data.cc
  arcane/src/arcane/impl/ArrayData.cc
Labels: enhancement, arcane, arcane:accelerator

#1209 Add detection for 'GPU-aware' MPI for HIP/ROCM
  arcane/src/arcane/parallel/mpi/ArcaneMpi.cc
  arcane/src/arcane/parallel/mpi/ArcaneMpi.h
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiParallelSuperMng.cc
Labels: enhancement, arcane

#1210 Add more generic overloads for accelerator filtering
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/Filter.h
  arcane/src/arcane/tests/accelerator/AcceleratorFilterUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator

#1211 Use accelerator Filter to compute cells which switch between pure and partial
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/materials/CMakeLists.txt
  arcane/src/arcane/materials/ConstituentModifierWorkInfo.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/materials/internal/ConstituentModifierWorkInfo.h
  arcane/src/arcane/materials/internal/MeshMaterialVariableIndexer.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1212 Revert to using 'UniqueArray' instead of 'std::set' to manage list of 'ExtraGhostBuilder'
  arcane/src/arcane/mesh/ExtraGhostCellsBuilder.cc
  arcane/src/arcane/mesh/ExtraGhostCellsBuilder.h
  arcane/src/arcane/mesh/ExtraGhostParticlesBuilder.cc
  arcane/src/arcane/mesh/ExtraGhostParticlesBuilder.h
Labels: bug, arcane

#1215 Begin add a class 'DualUniqueArray' to manage arrays duplicated on CPU and GPU
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/materials/internal/ConstituentModifierWorkInfo.h
  arcane/src/arcane/utils/DualUniqueArray.cc
  arcane/src/arcane/utils/DualUniqueArray.h
  arcane/src/arcane/utils/srcs.cmake
Labels: enhancement, arcane, arcane:accelerator, arcane:materials

#1217 Add accelerator partition list algorithm
  arcane/src/arcane/accelerator/Partitioner.cc
  arcane/src/arcane/accelerator/Partitioner.h
  arcane/src/arcane/accelerator/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/AcceleratorPartitionerUnitTest.cc
  arcane/tests/testAcceleratorPartitioner-1.arc
Labels: enhancement, arcane, arcane:accelerator

#1218 [CI] Update deprecated github actions using node16
  .github/workflows/codecov.yml
  .github/workflows/compile-all-vcpkg.yml
  .github/workflows/header_check.yml
Labels: CI
