Repository arcaneframework/framework, pull requests merged in 2024-06, with the labels that each got.

#1443 Minor optimizations in material update
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
  arcane/src/arcane/materials/internal/MeshEnvironment.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1444 Add code coverage CMake option
  arccore/CMakeLists.txt
  arccore/cmake/Functions.cmake
Labels: arccore, build

#1445 [CI] Update 'codecov' workflow to use 'ARCCORE_ENABLE_CODE_COVERAGE=ON'
  .github/workflows/codecov.yml
Labels: CI

#1446 Add support for load balancing in AMR coarsening test
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTesterModule.cc
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testAMRCartesianMesh2D-V1-coarse-lb-1.arc
Labels: arcane

#1447 Begin adding support for python wrapper
  arcane/CMakeLists.txt
  arcane/python/ArcanePython/__init__.py.in
  arcane/python/ArcanePython/app.runtime.json
  arcane/python/CMakeLists.txt
  arcane/python/python_wrapper.sh.in
  arcane/python/tests/test1.py
  arcane/python/tests/test4.py
Labels: enhancement, arcane, arcane:wrapping

#1448 [CI] Add test in CI for python wrapper
  .github/workflows/compile-all-vcpkg.yml
Labels: CI

#1449 Add python test using MicroHydro module
  arcane/python/ArcanePython/__init__.py.in
  arcane/python/CMakeLists.txt
  arcane/python/tests/t3.arc
  arcane/python/tests/test_microhydro.py
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/tools/wrapper/core/csharp/ArcaneMain.cs
  arcane/tools/wrapper/launcher/ArcaneLauncher.cs
Labels: arcane, arcane:wrapping

#1450 [CI] Update 'compile-all-vcpkg' workflow with version 1.6.1
  .github/workflows/compile-all-vcpkg.yml
Labels: CI

#1451 [CI] Temporarily disable some windows tests with VS2022
  .github/workflows/compile-all-vcpkg.yml
Labels: CI

#1452 Improve service options in service/module description pages
  arcane/doc/generate_axl_infos.sh.in
  arcane/doc/theme/css/custom.css
  arcane/doc/userdoc.doxyfile
  axlstar/Axlstar.AxlDoc/Arcane.AxlDoc/DoxygenDocumentationFile.cs
  axlstar/Axlstar.AxlDoc/Arcane.AxlDoc/DoxygenDocumentationVisitor.cs
Labels: documentation, enhancement, arcane, axlstar

#1453 Do not keep modification flags between two uses of 'MeshMaterialModifier'
  arcane/src/arcane/materials/MeshMaterialModifier.cc
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/materials/internal/MeshMaterialModifierImpl.h
Labels: bug, arcane, arcane:materials

#1455 Improve C# wrapper dependencies and building
  arcane/cmake/GlobalCSharpTarget.cmake
  arcane/tools/wrapper/launcher/Arcane.Launcher.csproj.in
  arcane/tools/wrapper/launcher/CMakeLists.txt
  arcane/tools/wrapper/launcher/csharp/ArcaneLauncher.cs
  arcane/tools/wrapper/main/Arcane.Main.csproj.in
  arcane/tools/wrapper/main/CMakeLists.txt
  arcane/tools/wrapper/main/csharp/ArcaneMainExec.cs
  arcane/tools/wrapper/python/CMakeLists.txt
Labels: enhancement, arcane, arcane:wrapping

#1456 Begin support for embedded python script
  arcane/src/arcane/core/IExternalPlugin.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/ExternalPluginTester.axl
  arcane/src/arcane/tests/ExternalPluginTesterModule.cc
  arcane/src/arcane/tests/srcs.cmake
  arcane/tests/python/script1.py
  arcane/tests/testExternalPlugin-1.arc.in
  arcane/tools/wrapper/core/ArcaneSwigCoreInclude.h
  arcane/tools/wrapper/core/InterfacesDeclaration.i
  arcane/tools/wrapper/core/InterfacesInclude.i
  arcane/tools/wrapper/python/Arcane.Python.csproj.in
  arcane/tools/wrapper/python/CMakeLists.txt
  arcane/tools/wrapper/python/csharp/BasicDotNetPythonExternalPlugin.cs
  arcane/tools/wrapper/services/ArcaneSwigServices.i
Labels: enhancement, arcane, arcane:wrapping

#1457 Optimize computation of ItemGroup children group for cartesian mesh
  arcane/ceapart/src/arcane/tests/CartesianMeshTesterModule.cc
  arcane/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/src/arcane/core/ItemGroupImpl.cc
  arcane/src/arcane/core/internal/IMeshInternal.h
  arcane/src/arcane/mesh/DynamicMesh.cc
Labels: arcane, refactoring

#1458 Add support to change value of additional capacity ratio for MeshMaterialMng
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
Labels: enhancement, arcane, arcane:materials

#1459 Add additional variables in test MaterialHeatModule
  arcane/ceapart/src/arcane/tests/MaterialHeatTest.axl
  arcane/ceapart/src/arcane/tests/MaterialHeatTestModule.cc
Labels: arcane, arcane:materials

#1460 Add possibility to use '__powf' for MiniWeather test using CUDA
  arcane/src/arcane/tests/accelerator/MiniWeatherArray.cc
Labels: arcane, arcane:accelerator

#1463 Dev/sdc reduce log polyhedral mesh
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/std/VtkPolyhedralMeshIOService.cc
  arcane/src/arcane/tests/MeshPolyhedralTestModule.cc
  arcane/tests/testMeshPolyhedral-1.arc
  arctools/neo/src/neo/Properties.cpp
  arctools/neo/src/neo/Properties.h
  arctools/neo/src/neo/Utils.h
Labels: arcane, refactoring, neo

#1469 Fix test 'task1_taskmax' with more than 32 cores
  arcane/src/arcane/tests/TaskUnitTest.cc
  arcane/tests/testTask-1.arc
Labels: bug, arcane, CI

#1466 Update readme and documentation
  README.md
  arcane/doc/devdoc.doxyfile
  arcane/doc/doc_common/chap_build_install/2_build.md
  arcane/doc/doc_common/chap_build_install/_docker.md
  arcane/doc/doc_common/chap_build_install/subchap_prerequisites/0_prerequisites.md
  arcane/doc/doc_common/chap_build_install/subchap_prerequisites/_arch.md
  arcane/doc/doc_common/chap_build_install/subchap_prerequisites/_ubuntu20.md
  arcane/doc/doc_common/chap_build_install/subchap_prerequisites/_ubuntu22.md
  arcane/doc/doc_common/chap_build_install/subchap_prerequisites/_ubuntu24.md
  arcane/doc/doc_user/chap_parallel/4_accelerator.md
  arcane/doc/theme/css/custom.css
  arcane/doc/theme/html/header.html
  arcane/doc/theme/img/arcane_framework_medium.webp
  arcane/doc/theme/img/arcane_framework_small.webp
  arcane/doc/theme/img/logo_arcane.svg
  arcane/doc/userdoc.doxyfile
Labels: documentation, enhancement, arcane

#1464 Add ccache in the codecov CI
  .github/workflows/codecov.yml
Labels: CI

#1470 Remove support for C# runtime 'mono
  arcane/CMakeLists.txt
  arcane/src/arcane/mono/CMakeLists.txt
  arcane/src/arcane/tests/ArcaneTests.cmake
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.Common/ExecDriver.cs
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.Common/Utils.cs
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.dll.config.json
Labels: arcane, refactoring, arcane:wrapping

#1471 Add generic version of array views in Arcane.Utils
  arcane/tools/Arcane.Utils.Generator/Array.txt
  arcane/tools/Arcane.Utils/Arcane.Utils.csproj
  arcane/tools/Arcane.Utils/Arcane.Utils.sln
  arcane/tools/Arcane.Utils/Arcane.Utils/AnyArrayView.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/ArrayImplBase.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/ArrayView.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/ByteArray.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/GlobalUsing.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Int16Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Int32Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Int64Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Real2.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Real2Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Real2x2.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Real2x2Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Real3.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Real3Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Real3x3.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/Real3x3Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/RealArray.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/UInt16Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/UInt32Array.cs
  arcane/tools/Arcane.Utils/Arcane.Utils/UInt64Array.cs
  arcane/tools/Arcane.Utils/Tests/Arcane.Utils.Tests.csproj
  arcane/tools/Arcane.Utils/Tests/Main.cs
Labels: enhancement, arcane, refactoring, arcane:wrapping

#1472 Add generic version of copy between partial and global values for constituents
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/core/materials/internal/IMeshMaterialVariableInternal.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/CMakeLists.txt
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/materials/MeshMaterialVariable.h
  arcane/src/arcane/materials/MeshMaterialVariableScalar.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
  arcane/src/arcane/materials/internal/MeshMaterialVariablePrivate.h
  arcane/src/arcane/tests/ArcaneTests.cmake
Labels: enhancement, arcane, arcane:accelerator, arcane:materials

#1473 Add support to use only one command to do all the copies between pure and partial cells
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/core/materials/internal/IMeshMaterialVariableInternal.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ConstituentModifierWorkInfo.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/internal/AllEnvData.h
  arcane/src/arcane/materials/internal/ConstituentModifierWorkInfo.h
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
Labels: enhancement, arcane, arcane:accelerator, arcane:materials

#1474 Use device memory for some operation in constituent update
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1475 in 'ArcaneConfig.cmake', load accelerator configuration if available
  arcane/cmake/ArcaneConfig.cmake.in
Labels: arcane, build

#1476 Use face centers to find XYZ directions in computeDirection()
  arcane/src/arcane/cartesianmesh/CartesianMesh.cc
Labels: bug, arcane

#1477 Activate SYCL tests
  arcane/cmake/ArcaneConfig.cmake.in
  arcane/src/arcane/tests/ArcaneTests.cmake
Labels: arcane, build, arcane:accelerator

#1478 Add support to get a ComponentCell from a ComponentItemVectorView
  arcane/src/arcane/core/materials/ComponentItemVectorView.h
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator, arcane:materials

#1479 Add support for SubDomain context in python wrapper
  arcane/src/arcane/core/IExternalPlugin.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/ExternalPluginTester.axl
  arcane/src/arcane/tests/ExternalPluginTesterModule.cc
  arcane/tests/python/script3.py
  arcane/tests/testExternalPlugin-3.arc.in
  arcane/tools/wrapper/python/CMakeLists.txt
  arcane/tools/wrapper/python/csharp/BasicDotNetPythonExternalPlugin.cs
  arcane/tools/wrapper/python/csharp/PythonSubDomainContext.cs
  arcane/tools/wrapper/services/ArcaneSwigServices.i
Labels: enhancement, arcane, arcane:wrapping

#1468 [arcane,core+impl] Ajoute le support des synchronisations partielles.
  arcane/src/arcane/core/Array2Variable.cc
  arcane/src/arcane/core/Array2Variable.h
  arcane/src/arcane/core/IItemFamily.h
  arcane/src/arcane/core/IVariable.h
  arcane/src/arcane/core/IVariableSynchronizer.h
  arcane/src/arcane/core/MeshVariableRef.cc
  arcane/src/arcane/core/MeshVariableRef.h
  arcane/src/arcane/core/VariableArray.cc
  arcane/src/arcane/core/VariableArray.h
  arcane/src/arcane/core/VariableScalar.cc
  arcane/src/arcane/core/VariableScalar.h
  arcane/src/arcane/impl/DataSynchronizeInfo.cc
  arcane/src/arcane/impl/DataSynchronizeInfo.h
  arcane/src/arcane/impl/NullVariableSynchronizer.cc
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/VariableSynchronizerComputeList.cc
  arcane/src/arcane/impl/internal/VariableSynchronizer.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/tests/ParallelTesterModule.cc
  arcane/src/arcane/tests/StdArrayMeshVariables.cc
  arcane/src/arcane/tests/StdArrayMeshVariables.h
  arcane/src/arcane/tests/StdScalarMeshVariables.cc
  arcane/src/arcane/tests/StdScalarMeshVariables.h
Labels: enhancement, arcane, refactoring

#1480 Fix potential bad dependency with SWIG files when using 'Make' generator for CMake
  arcane/tools/wrapper/ArcaneSwigUtils.cmake
Labels: bug, arcane, build, arcane:wrapping

#1481 Fix SEGV when calling 'ItemGroup::checkIsSorted()' for null group
  arcane/src/arcane/core/ItemGroup.cc
  arcane/src/arcane/core/ItemGroup.h
  arcane/src/arcane/core/ItemGroupImpl.cc
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: bug, arcane

#1483 Move accelerator API documentation in its own chapter
  arcane/doc/doc_user/0_usermanual.md
  arcane/doc/doc_user/chap_acceleratorapi/0_acceleratorapi.md
  arcane/doc/doc_user/chap_acceleratorapi/4_accelerator.md
  arcane/doc/doc_user/chap_parallel/0_parallel.md
  arcane/doc/doc_user/chap_parallel/3_simd.md
  arcane/doc/doc_user/chap_parallel/5_loadbalance.md
  arcane/doc/userdoc.doxyfile
Labels: documentation, arcane

#1484 Add default definition for new virtual methods added for partial synchronization
  arcane/src/arcane/core/IItemFamily.h
  arcane/src/arcane/core/IVariable.h
  arcane/src/arcane/core/IVariableSynchronizer.h
  arcane/src/arcane/core/InterfaceImpl.cc
Labels: arcane, refactoring

#1486 Reduce number of synchronizations in some tests
  arcane/tests/testParallel-synchronize2.arc
Labels: arcane, CI

#1485 Tighten partial variable creation checks
  arcane/src/arcane/core/ArcaneException.cc
  arcane/src/arcane/core/ArcaneException.h
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/impl/VariableMng.cc
  arcane/src/arcane/tests/PartialVariableTester.cc
Labels: arcane, refactoring

#1487 Use CMake property USE_SWIG_DEPENDENCIES for swig targets
  arcane/tools/wrapper/ArcaneSwigUtils.cmake
Labels: arcane, build, arcane:wrapping

#1489 Minor code refactoring in usage of accelerator allocator
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/materials/ComponentItemListBuilder.cc
  arcane/src/arcane/materials/ConstituentConnectivityList.cc
  arcane/src/arcane/materials/MeshMaterialVariableSynchronizer.cc
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1492 Add documentation for new version of accelerator reduction
  arcane/doc/doc_user/chap_acceleratorapi/0_acceleratorapi.md
  arcane/doc/doc_user/chap_acceleratorapi/4_accelerator.md
  arcane/doc/doc_user/chap_acceleratorapi/5_reduce.md
  arcane/src/arcane/accelerator/Reduce.h
Labels: documentation, arcane, arcane:accelerator

#1493 Begin support to convert Arcane variable to numpy array in python wrapper
  .github/workflows/compile-all-vcpkg.yml
  arcane/src/arcane/core/VariableUtilsInternal.cc
  arcane/src/arcane/core/datatype/DataTypes.h
  arcane/src/arcane/core/internal/IDataInternal.h
  arcane/src/arcane/core/internal/VariableUtilsInternal.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/impl/Array2Data.cc
  arcane/src/arcane/impl/ArrayData.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/ExternalPluginTester.axl
  arcane/src/arcane/tests/ExternalPluginTesterModule.cc
  arcane/src/arcane/tests/VariableUnitTest.cc
  arcane/tests/python/script4.py
  arcane/tools/wrapper/core/ArcaneSwigCore.i
  arcane/tools/wrapper/python/Arcane.Python.csproj.in
  arcane/tools/wrapper/python/ArcaneSwigPython.i
  arcane/tools/wrapper/python/csharp/BasicDotNetPythonExternalPlugin.cs
  arcane/tools/wrapper/python/csharp/PythonSubDomainContext.cs
Labels: enhancement, arcane, arcane:wrapping

#1494 Remove usage of nuget package 'Numpy.Bare'
  arcane/tools/wrapper/python/Arcane.Python.csproj.in
  arcane/tools/wrapper/python/csharp/MainInit.cs
  arcane/tools/wrapper/python/csharp/SimplePythonCallerModule.cs
Labels: arcane, refactoring, arcane:wrapping
