Repository arcaneframework/framework, pull requests merged in 2024-08, with the labels that each got.

#1574 Add timer during computation of items synchronization list
  arcane/src/arcane/impl/VariableSynchronizerComputeList.cc
  arcane/src/arcane/impl/internal/VariableSynchronizerComputeList.h
Labels: enhancement, arcane

#1580 Make deprecated the version 1 of CartesianMeshCoarsening
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening.h
  arcane/src/arcane/cartesianmesh/ICartesianMesh.h
Labels: arcane

#1581 [CI] Remove test output directory after running for codecov workflow
  .github/workflows/codecov.yml
Labels: CI

#1583 Remove support for 'mono' and associated tools
  arccon/build-system/ArcconDotNet.cmake
  arccon/build-system/LoadBuildSystem.cmake
Labels: refactoring, arccon

#1585 Add class to manage a list of offset and sizes
  arcane/src/arcane/utils/LinearOffsetMap.cc
  arcane/src/arcane/utils/LinearOffsetMap.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/src/arcane/utils/tests/CMakeLists.txt
  arcane/src/arcane/utils/tests/TestLinearOffsetMap.cc
Labels: enhancement, arcane

#1586 Add generic parallel test macro
  arcane/src/arcane/tests/ArcaneTests.cmake
  arcane/src/arcane/tests/CMakeLists.txt
Labels: arcane, CI

#1589 Improve error handling in embedding 'coreclr'
  arcane/src/arcane/dotnet/coreclr/ArcaneCoreClr.cc
Labels: enhancement, arcane, arcane:wrapping

#1591 Use dotnet hosting header from SDK
  arcane/src/arcane/dotnet/coreclr/ArcaneCoreClr.cc
  arcane/src/arcane/dotnet/coreclr/coreclr_delegates.h
  arcane/src/arcane/dotnet/coreclr/hostfxr.h
  arcane/src/arcane/dotnet/coreclr/srcs.cmake
Labels: refactoring, arcane:wrapping

#1590 Add debugName() and setDebugName() in NumArray class
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/NumArrayContainer.h
Labels: enhancement, arcane, arcane:accelerator

#1594 Add preliminary support for KDI
  arcane/src/arcane/std/CMakeLists.txt
  arcane/src/arcane/std/KdiPostProcessor.axl
  arcane/src/arcane/std/KdiPostProcessor.cc
  arcane/src/arcane/std/internal/Kdi.h
  arcane/src/arcane/std/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testHydro-1-kdi.arc
Labels: enhancement, arcane

#1596 Add C++26 to list of standard supported by Arccore
  arccore/CMakeLists.txt
Labels: arccore, build

#1597 Add method to get stack trace from LLDB
  arcane/src/arcane/utils/PlatformUtils.cc
  arcane/src/arcane/utils/PlatformUtils.h
  arcane/src/arcane/utils/tests/TestPlatform.cc
Labels: enhancement, arcane

#1599 Change the scope in the target_link_libraries of python
  arcane/src/arcane/std/CMakeLists.txt
Labels: arcane, build

#1600 Minor improvements in VtkHdfV2PostProcessor
  arcane/src/arcane/std/VtkHdfV2PostProcessor.cc
Labels: enhancement, arcane, refactoring

#1601 Generate methods to get 'ICaseFunction' and 'IStandardFunction' for interfaces of complex options
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.CaseOptions/CaseOptionsT4.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.CaseOptions/CaseOptionsT4.tt
  axlstar/CMakeLists.txt
Labels: enhancement, axlstar
