Repository arcaneframework/framework, pull requests merged in 2024-07, with the labels that each got.

#1495 Improve global C# target dependencies
  arcane/cmake/GlobalCSharpCommand.cmake
  arcane/cmake/GlobalCSharpTarget.cmake
Labels: arcane, build, refactoring, arcane:wrapping

#1496 Optimize vtk polyhedral reader
  arcane/src/arcane/std/VtkPolyhedralMeshIOService.cc
  arcane/tests/testMeshPolyhedral-2.arc
  arcane/tests/testMeshPolyhedral-3.arc
  arcane/tests/testMeshPolyhedral-4.arc
Labels: arcane, refactoring

#1497 Generate the list of C# files to compile in the project file
  arcane/tools/Directory.Build.targets
  arcane/tools/wrapper/ArcaneSwigUtils.cmake
  arcane/tools/wrapper/core/Arcane.Core.csproj.in
  arcane/tools/wrapper/core/tests/Arcane.Core.Tests.csproj.in
  arcane/tools/wrapper/hdf5/Arcane.Hdf5.csproj.in
  arcane/tools/wrapper/launcher/Arcane.Launcher.csproj.in
  arcane/tools/wrapper/main/Arcane.Main.csproj.in
  arcane/tools/wrapper/materials/Arcane.Cea.Materials.csproj.in
  arcane/tools/wrapper/python/Arcane.Python.csproj.in
  arcane/tools/wrapper/services/Arcane.Services.csproj.in
Labels: arcane, build, refactoring, arcane:wrapping

#1498 Fix bad dependency for C# materials test with CMake version 3.21
  arcane/ceapart/src/arcane/tests/CMakeLists.txt
Labels: bug, arcane, build, arcane:wrapping

#1499 Add python wrapper to set variable values from NumPy array
  arcane/src/arcane/core/VariableUtilsInternal.cc
  arcane/src/arcane/core/internal/VariableUtilsInternal.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/ExternalPluginTester.axl
  arcane/src/arcane/tests/ExternalPluginTesterModule.cc
  arcane/src/arcane/tests/VariableUnitTest.cc
  arcane/tests/python/script4.py
  arcane/tests/testExternalPlugin-4.arc.in
  arcane/tools/wrapper/python/csharp/PythonSubDomainContext.cs
Labels: enhancement, arcane, arcane:wrapping

#1501 Add C# wrapping for class MutableMemoryView
  arcane/tools/wrapper/core/ArcaneSwigCore.i
  arcane/tools/wrapper/core/ArcaneSwigCoreInclude.h
  arcane/tools/wrapper/core/CMakeLists.txt
  arcane/tools/wrapper/core/MemoryView.i
  arcane/tools/wrapper/python/csharp/PythonSubDomainContext.cs
Labels: enhancement, arcane, arcane:wrapping

#1502 Change install path of Arcane python package
  arcane/python/CMakeLists.txt
  arcane/tools/wrapper/python/CMakeLists.txt
Labels: arcane, build, arcane:wrapping

#1503 Update Ubuntu 24.04 image to support Pythonnet
  .circleci/config.yml
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
  .github/workflows/codecov.yml
  .github/workflows/coverity.yml
Labels: enhancement, CI

#1507 Implement multiple physical tag in gmsh file format
  arcane/maillages/hex_tetra_pyramics.msh
  arcane/src/arcane/std/MshParallelMeshReader.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testIos-msh6.arc
Labels: enhancement, arcane

#1508 Add documentation for atomic operation on accelerators
  arcane/doc/doc_user/chap_acceleratorapi/4_accelerator.md
  arcane/src/arcane/tests/accelerator/AtomicUnitTest.cc
Labels: documentation, arcane, arcane:accelerator

#1509 Add items to all ItemGroup with a reference in the entities
  arcane/src/arcane/std/MshParallelMeshReader.cc
Labels: bug, arcane

#1510 Add preliminary support for null variable on mesh items
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/Array2Variable.cc
  arcane/src/arcane/core/Array2Variable.h
  arcane/src/arcane/core/MeshVariableArrayRef.h
  arcane/src/arcane/core/MeshVariableArrayRefT.H
  arcane/src/arcane/core/MeshVariableRef.h
  arcane/src/arcane/core/MeshVariableScalarRefT.H
  arcane/src/arcane/core/PrivateVariableArrayT.H
  arcane/src/arcane/core/PrivateVariableScalar.h
  arcane/src/arcane/core/PrivateVariableScalarT.H
  arcane/src/arcane/core/VariableArray.cc
  arcane/src/arcane/core/VariableBuildInfo.cc
  arcane/src/arcane/core/VariableBuildInfo.h
  arcane/src/arcane/core/VariableRef.cc
  arcane/src/arcane/core/VariableRef.h
  arcane/src/arcane/tests/VariableUnitTest.cc
Labels: enhancement, arcane, refactoring

#1511 Use 'MessageRank::anySourceRank()' instead of default MessageRank to specifiy any source
  arcane/src/arcane/parallel/mpithread/HybridMessageQueue.cc
  arcane/src/arcane/parallel/mpithread/HybridMessageQueue.h
  arcane/src/arcane/parallel/thread/SharedMemoryMessageQueue.cc
  arcane/src/arcane/parallel/thread/SharedMemoryMessageQueue.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/ParallelMngDataTypeTest.cc
Labels: arcane, refactoring

#1512 Allow use of 'MessageRank::anySourceRank()' for MPI_ANY_SOURCE for serialization messages
  arccore/src/message_passing/arccore/message_passing/SerializeMessageList.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiAdapter.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiAdapter.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiSerializeMessageList.cc
Labels: arccore, refactoring

#1513 Add generic for memory copy from a numpy array to an Arcane Variable.
  arcane/src/arcane/core/Data.cc
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/core/MeshVariableArrayRefT.H
  arcane/src/arcane/core/MeshVariableScalarRefT.H
  arcane/src/arcane/core/VariableUtilsInternal.cc
  arcane/src/arcane/core/internal/IDataInternal.h
  arcane/src/arcane/core/internal/VariableUtilsInternal.h
  arcane/tools/wrapper/core/ArcaneSwigCore.i
  arcane/tools/wrapper/core/MemoryView.i
  arcane/tools/wrapper/python/ArcaneSwigPython.i
  arcane/tools/wrapper/python/csharp/PythonSubDomainContext.cs
Labels: enhancement, arcane, arcane:wrapping

#1515 Update documentation for multi-mesh load balancing
  arcane/doc/doc_user/chap_parallel/5_loadbalance.md
  arcane/src/arcane/core/MeshCriteriaLoadBalanceMng.cc
  arcane/src/arcane/tests/MeshCriteriaLoadBalanceMngTestModule.cc
Labels: documentation, arcane

#1517 Remove some usage of 'ItemInternal' in C# wrapper
  arcane/src/arcane/core/ItemIndexArrayView.h
  arcane/src/arcane/core/ItemLocalIdListContainerView.h
  arcane/src/arcane/core/ItemVectorView.cc
  arcane/src/arcane/core/ItemVectorView.h
  arcane/src/arcane/tests/MeshModification.cs
  arcane/src/arcane/tests/PerfectGasEOS.cs
  arcane/tools/wrapper/NumericWrapper.h
  arcane/tools/wrapper/core/CMakeLists.txt
  arcane/tools/wrapper/core/ItemGroup.i
  arcane/tools/wrapper/core/csharp/CaseFunction.cs
  arcane/tools/wrapper/core/csharp/Item.cs
  arcane/tools/wrapper/core/csharp/ItemEnumerator.cs
  arcane/tools/wrapper/core/csharp/ItemIndexArrayView.cs
  arcane/tools/wrapper/core/csharp/ItemInternal.cs
  arcane/tools/wrapper/core/csharp/ItemLocalIdListContainerView.cs
  arcane/tools/wrapper/core/csharp/ItemVectorViewT.cs
  arcane/tools/wrapper/materials/csharp/ComponentItemInternal.cs
Labels: arcane, refactoring, arcane:wrapping

#1518 Allow rethrow a signal inside handler
  arcane/src/arcane/tests/UtilsUnitTest.cc
  arcane/src/arcane/utils/Misc.cc
Labels: arcane, refactoring

#1520 Continue remove usage of ItemInternal in C# wrapper
  arcane/src/arcane/core/ItemEnumerator.cc
  arcane/src/arcane/core/ItemEnumerator.h
  arcane/src/arcane/core/ItemInternal.h
  arcane/src/arcane/tests/MeshModification.cs
  arcane/tools/wrapper/NumericWrapper.h
  arcane/tools/wrapper/core/CMakeLists.txt
  arcane/tools/wrapper/core/ItemGroup.i
  arcane/tools/wrapper/core/ItemPairGroup.i
  arcane/tools/wrapper/core/csharp/ArcaneMain.cs
  arcane/tools/wrapper/core/csharp/CellGroupEnumerator.cs
  arcane/tools/wrapper/core/csharp/Item.cs
  arcane/tools/wrapper/core/csharp/ItemEnumerator.cs
  arcane/tools/wrapper/core/csharp/ItemInternal.cs
  arcane/tools/wrapper/core/csharp/ItemVectorViewT.cs
Labels: arcane, refactoring, arcane:wrapping

#1521 Remove usage of internal header in 'MeshPartitionerBase.h'
  arcane/src/arcane/std/MeshPartitionerBase.cc
  arcane/src/arcane/std/MeshPartitionerBase.h
Labels: arcane, refactoring

#1522 Improve handling of python in CMake tests
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane, build

#1523 Explicitly handle ItemGroup padding when using RUNCOMMAND_ENUMERATE
  arcane/src/arcane/accelerator/RunCommandEnumerate.h
  arcane/src/arcane/core/ItemGroup.cc
  arcane/src/arcane/core/ItemGroup.h
Labels: arcane, refactoring, arcane:accelerator

#1524 Re-enable the SIMD padding when calling 'ItemGroup::view()'
  arcane/src/arcane/core/ItemGroup.cc
  arcane/src/arcane/core/ItemGroupInternal.cc
  arcane/src/arcane/core/internal/ItemGroupInternal.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: bug, arcane, refactoring

#1525 Allow usage of 'BinaryFormatter' in C# project
  arcane/tools/Directory.Build.props
Labels: arcane, arcane:wrapping

#1526 [CI] Add python wrapper tests to codecov workflow.
  .github/workflows/codecov.yml
Labels: arcane, CI

#1527 Fix some compilation warnings
  arcane/src/arcane/core/MeshUtils.cc
  arcane/src/arcane/materials/AllCellToAllEnvCellConverter.h
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
Labels: arcane, build

#1528 Use parallel MSH reader by default
  arcane/src/arcane/std/MshMeshReader.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: arcane, refactoring

#1529 Use 'std::atomic<int>' instead of 'int' for Item usage statistics
  arcane/src/arcane/core/Item.cc
  arcane/src/arcane/core/Item.h
Labels: arcane, refactoring

#1531 Remove some usage of Glib for multi-threading
  arcane/src/arcane/parallel/mpithread/HybridParallelSuperMng.cc
  arcane/src/arcane/parallel/thread/AsyncQueue.cc
  arcane/src/arcane/parallel/thread/GlibThreadMng.h
  arcane/src/arcane/parallel/thread/SharedMemoryParallelSuperMng.cc
  arcane/src/arcane/parallel/thread/TBBThreadImplementation.cc
  arcane/src/arcane/parallel/thread/internal/SharedMemoryThreadMng.h
  arcane/src/arcane/parallel/thread/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane, refactoring

#1532 Use 'clock_gettime()' on linux to measure CPU time
  arccore/src/base/arccore/base/PlatformUtils.cc
Labels: arccore, refactoring

#1533 Cleanup and improve thread-safety of TraceMng
  arccore/src/trace/arccore/trace/TraceMng.cc
Labels: enhancement, arccore, refactoring

#1534 Improve thread safety for shared memory message passing mode
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/materials/ComponentItemInternal.cc
  arcane/src/arcane/impl/ArcaneMainBatch.cc
Labels: arcane, refactoring

#1535 Fix graph connectivity lifetime problem
  arcane/src/arcane/mesh/DoFFamily.cc
  arcane/src/arcane/mesh/DoFFamily.h
  arcane/src/arcane/mesh/GraphDoFs.cc
  arcane/src/arcane/mesh/GraphDoFs.h
Labels: bug, arcane

#1537 Remove compilation of VariableExpression and associated classes
  arcane/src/arcane/core/IVariable.h
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/Variable.h
  arcane/src/arcane/core/VariableExpressionImpl.h
  arcane/src/arcane/core/srcs.cmake
  arcane/tools/wrapper/core/ArcaneSwigCore.i
  arcane/tools/wrapper/core/ArcaneSwigCoreInclude.h
Labels: arcane, build, refactoring

#1539 Add ARCCORE_HOST_DEVICE to normalizeReal3
  arcane/src/arcane/core/MathUtils.h
Labels: arcane, arcane:accelerator

#1540 Add experimental support for edge renumbering with more than 2^31 edges
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testCartesianMesh3D-face-edgev3-renumbering.arc
  arcane/src/arcane/mesh/EdgeUniqueIdBuilder.cc
  arcane/src/arcane/mesh/EdgeUniqueIdBuilder.h
Labels: enhancement, arcane

#1541 Move MeshUnitTest 'ic' directory
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: bug, arcane

#1543 Update changelog for version 3.13
  arcane/doc/doc_common/changelog.md
Labels: documentation, arcane

#1544 Do not use temporary arrays to copy from NumPy array to Arcane Variables
  arcane/tests/python/script4.py
  arcane/tools/wrapper/core/MemoryView.i
  arcane/tools/wrapper/core/csharp/ArcaneMain.cs
  arcane/tools/wrapper/python/csharp/PythonSubDomainContext.cs
Labels: enhancement, arcane, arcane:wrapping

#1545 Update CIs to use new actions and images
  .circleci/config.yml
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
  .github/workflows/codecov.yml
  .github/workflows/coverity.yml
Labels: enhancement, CI

#1546 Handle 64bit sizes in bitonic sort
  arcane/src/arcane/core/IParallelSort.h
  arcane/src/arcane/core/parallel/BitonicSort.h
  arcane/src/arcane/core/parallel/BitonicSortT.H
  arcane/src/arcane/std/ParallelDataWriter.cc
Labels: enhancement, arcane, refactoring

#1547 Optimize version 3 of GhostLayerBuilder
  arcane/_clang-format
  arcane/src/arcane/mesh/GhostLayerBuilder2.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane, refactoring

#1548 Implement 'IParallelMng::scan()' for shared memory and hybrid message passing
  arcane/src/arcane/parallel/mpithread/HybridParallelDispatch.cc
  arcane/src/arcane/parallel/mpithread/HybridParallelDispatch.h
  arcane/src/arcane/parallel/thread/SharedMemoryParallelDispatch.cc
  arcane/src/arcane/parallel/thread/SharedMemoryParallelDispatch.h
  arcane/src/arcane/tests/ParallelMngDataTypeTest.cc
Labels: enhancement, arcane

#1549 Add function to generate uniqueId() from list of uniqueId.
  arcane/src/arcane/core/MeshUtils.cc
  arcane/src/arcane/core/MeshUtils.h
  arcane/src/arcane/core/tests/CMakeLists.txt
  arcane/src/arcane/core/tests/TestHashUniqueId.cc
Labels: enhancement, arcane

#1550 Add version of face numbering using generated uniqueId() from uniqueId() of nodes.
  arcane/src/arcane/mesh/FaceUniqueIdBuilder.cc
  arcane/src/arcane/mesh/FaceUniqueIdBuilder.h
  arcane/src/arcane/mesh/FaceUniqueIdBuilder2.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#1551 Always include 'cassert' when compiling with CUDA
  arccore/src/base/arccore/base/ArccoreGlobal.h
Labels: arccore

#1552 Add support to compile CUDA files with Clang compiler
  arcane/src/arcane/accelerator/MaterialVariableViews.h
  arcane/src/arcane/accelerator/cuda/CMakeLists.txt
  arcane/src/arcane/utils/ForLoopRanges.h
Labels: enhancement, arcane, arcane:accelerator

#1554 Remove compiler name in CMake variable ARCANE_ACCELERATOR_MODE
  arcane/CMakeLists.txt
  arcane/README.md
  arcane/cmake/Functions.cmake
  arcane/doc/doc_common/chap_build_install/2_build.md
  arcane/src/arcane/tests/ArcaneTests.cmake
Labels: arcane, build

#1555 Fix bad option for tool 'arcane_partition_mesh'
  arcane/src/arcane/std/ArcaneCasePartitioner.cc
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.MeshUtilsDriver/MeshUtilsDriver.cs
Labels: bug, arcane

#1556 Update samples configuration
  arcane/samples_build/samples/direct_cartesian/CMakeLists.txt
  arcane/samples_build/samples/eos/CMakeLists.txt
  arcane/samples_build/samples/geometry/main.cc
  arcane/samples_build/samples/helloworld/CMakeLists.txt
  arcane/samples_build/samples/honeycomb_heat/CMakeLists.txt
  arcane/samples_build/samples/hydro_accelerator/CMakeLists.txt
  arcane/samples_build/samples/microhydro/CMakeLists.txt
  arcane/samples_build/samples/microhydro/main.cc
  arcane/samples_build/samples/mini_nbody/main.cc
  arcane/samples_build/samples/multiple_mesh/CMakeLists.txt
  arcane/samples_build/samples/poisson/main.cc
  arcane/samples_build/samples/print_meshinfo/CMakeLists.txt
  arcane/samples_build/samples/simple_csv_comparator/CMakeLists.txt
  arcane/samples_build/samples/simple_csv_output/CMakeLists.txt
  arcane/samples_build/samples/simple_postprocessor/SimplePostProcessorService.cc
  arcane/samples_build/samples/standalone_accelerator/CMakeLists.txt
  arcane/samples_build/samples/standalone_subdomain/CMakeLists.txt
  arcane/samples_build/samples/user_function/CMakeLists.txt
Labels: arcane, build

#1557 Add method to remove refined cells in CartesianMeshCoarsening2
  arcane/ceapart/src/arcane/tests/CartesianMeshTesterModule.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening2.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening2.h
Labels: enhancement, arcane

#1553 Enable parallel ctest
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
  arcane/ceapart/src/arcane/cea/ArcaneCeaVerifier.axl
  arcane/ceapart/src/arcane/cea/ArcaneCeaVerifierModule.cc
  arcane/src/arcane/tests/ArcaneTests.cmake
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/checkpoint_verifier_4pe_v3.xml
  arcane/tests/checkpoint_verifier_seq_4pe_v3.xml
  arcane/tests/checkpoint_verifier_seq_v3.xml
  arcane/tests/testCaseFunctionModule-2.arc.in
  arcane/tests/testCheckpoint-verifier-read.arc
  arcane/tests/testCheckpoint-verifier-write.arc
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.Common/ExecDriver.cs
Labels: enhancement, arcane, CI

#1558 Automatically handle multiple devices when using MPI message passing
  arcane/src/arcane/impl/SubDomain.cc
Labels: arcane, arcane:accelerator

#1559 Use generic copy during material update when using accelerator
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1560 Update CUDA unified memory allocator
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
Labels: arcane, arcane:accelerator

#1561 Add support to stop and restart accelerator runtime profiling
  arcane/src/arcane/accelerator/core/AcceleratorCoreGlobal.h
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/Runner.h
  arcane/src/arcane/accelerator/core/internal/IRunnerRuntime.h
  arcane/src/arcane/accelerator/core/internal/RunnerImpl.h
  arcane/src/arcane/accelerator/core/internal/RunnerInternal.h
  arcane/src/arcane/accelerator/core/srcs.cmake
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/cuda/runtime/Cupti.cc
  arcane/src/arcane/impl/ArcaneMainBatch.cc
Labels: arcane, arcane:accelerator

#1562 Remove remaining unified memory transfert during material update
  arcane/src/arcane/core/materials/ConstituentItemLocalIdList.cc
  arcane/src/arcane/materials/ComponentItemInternalData.cc
  arcane/src/arcane/materials/ConstituentConnectivityList.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/internal/ComponentItemInternalData.h
  arcane/src/arcane/materials/internal/MeshEnvironment.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1563 Add support for page fault detection in CUPTI profiler
  arcane/src/arcane/accelerator/cuda/runtime/Cupti.cc
  arcane/src/arcane/impl/ExecutionStatsDumper.cc
  arcane/src/arcane/utils/internal/ProfilingInternal.h
Labels: enhancement, arcane, arcane:accelerator

#1564 Use multiple of page size for CUDA unified memory allocator
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
Labels: arcane, refactoring, arcane:accelerator

#1565 Add macro RUNCOMMAND_SINGLE for loop over one element
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/materials/ComponentItemInternalData.cc
Labels: enhancement, arcane, arcane:accelerator

#1566 Remove some compiler warnings
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/tests/Launcher.cs
  arcane/src/arcane/tests/graph/GraphUnitTest.cc
  arccore/src/base/tests/TestBasicDataType.cc
Labels: arcane, build

#1567 Add missing optional call to arcaneFinalize() when using '.Net'
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: bug, arcane, arcane:wrapping

#1568 Activate 'face-submesh' tests in hybrid mode only if ParMetis is available
  arcane/src/arcane/tests/CMakeLists.txt
Labels: bug, arcane, CI

#1569 Add support to print accelerator memory profiling information anywhere
  arcane/ceapart/src/arcane/tests/MaterialHeatTestModule.cc
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/internal/RunnerInternal.h
  arcane/src/arcane/impl/ExecutionStatsDumper.cc
  arcane/src/arcane/impl/ExecutionStatsDumper.h
  arcane/src/arcane/utils/Profiling.cc
  arcane/src/arcane/utils/internal/ProfilingInternal.h
Labels: enhancement, arcane, arcane:accelerator

#1570 Fix bad value for environment variable ARCANE_DOTNET_USE_LEGACY_DESTROY in tests
  arcane/src/arcane/tests/CMakeLists.txt
Labels: bug, arcane, build, arcane:wrapping

#1571 Minor cleanup in CUDA runtime
  arcane/src/arcane/accelerator/cuda/runtime/CMakeLists.txt
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/cuda/runtime/Cupti.cc
  arcane/src/arcane/accelerator/cuda/runtime/internal/Cupti.h
Labels: arcane, build, arcane:accelerator

#1572 Add method to get stack trace from GDB
  arcane/src/arcane/std/LibUnwindStackTraceService.cc
  arcane/src/arcane/utils/PlatformUtils.cc
  arcane/src/arcane/utils/PlatformUtils.h
  arcane/src/arcane/utils/tests/TestPlatform.cc
Labels: enhancement, arcane

#1573 Add support to print call stack with a debugger when a signal is launched.
  arcane/src/arcane/utils/Misc.cc
Labels: enhancement, arcane
