Repository arcaneframework/framework, pull requests merged in 2024-05, with the labels that each got.

#1385 Last fixes for VS15 2017 build.
  _common/build_all/CMakeLists.txt
  alien/ArcaneInterface/CMakeLists.txt
  alien/ArcaneInterface/cmake/LoadAlienPackages.cmake
  alien/ArcaneInterface/cmake/build-system/commands/advanced/loadPackage.cmake
  alien/ArcaneInterface/cmake/build-system/commands/internal/copyAllDllFromTarget.cmake
  alien/ArcaneInterface/test/Tests/RefSemantic/CMakeLists.txt
  alien/ArcaneInterface/test/Tests/RefSemantic/block/CMakeLists.txt
  alien/ArcaneInterface/test/Tests/RefSemantic/scalar/CMakeLists.txt
Labels: build, alien

#1386 Use 'CMAKE_CUDA_HOST_COMPILER' instead of setting nvcc option '-ccbin'
  arcane/CMakeLists.txt
  arcane/samples_build/ArcaneCompilerConfig.cmake.in
  arcane/src/arcane/accelerator/cuda/CMakeLists.txt
Labels: arcane, build, arcane:accelerator

#1388 Add basic first implementation of inclusive and exclusive scan in SYCL
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/Scan.h
  arcane/src/arcane/accelerator/ScanImpl.h
  arcane/src/arcane/accelerator/srcs.cmake
Labels: enhancement, arcane, arcane:accelerator

#1389 Add basic first implementation of filtering in SYCL
  arcane/src/arcane/accelerator/Filter.h
  arcane/src/arcane/accelerator/Scan.h
  arcane/src/arcane/accelerator/ScanImpl.h
Labels: enhancement, arcane, arcane:accelerator

#1391 Add reduction algorithm in SYCL
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/tests/accelerator/AcceleratorReduceUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator

#1392 Remove 'const' for return type of some methods of 'ArrayIterator'
  arccore/src/base/arccore/base/ArrayIterator.h
Labels: arccore, refactoring

#1393 Fix race condition in SYCL implementation of filtering when input and output data overlaps
  arcane/src/arcane/accelerator/Filter.h
Labels: bug, arcane, arcane:accelerator

#1395 Remove an #if DEBUG condition on a class member
  alien/standalone/src/refsemantic/alien/ref/data/scalar/Vector.h
Labels: invalid, alien

#1397 Rename 'ArrayIndex' to 'MDIndex'
  arcane/src/arcane/utils/ArrayIndex.h
  arcane/src/arcane/utils/MDIndex.h
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/srcs.cmake
Labels: arcane, refactoring

#1398 Add template parameter for Index type in 'SimpleForLoopRanges' and 'ComplexForLoopRanges'
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/utils/ForLoopRanges.h
  arcane/src/arcane/utils/UtilsTypes.h
Labels: arcane, refactoring, arcane:accelerator

#1399 Add 'using MDIndexType' for class 'MDIndex'
  arcane/src/arcane/utils/ArrayExtents.h
  arcane/src/arcane/utils/ArrayExtentsValue.h
  arcane/src/arcane/utils/MDDim.h
  arcane/src/arcane/utils/MDSpan.h
Labels: arcane, refactoring

#1400 Make accelerator memory trace independant of CUDA
  arcane/src/arcane/accelerator/core/MemoryTracer.cc
  arcane/src/arcane/accelerator/core/internal/MemoryTracer.h
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
Labels: arcane, refactoring, arcane:accelerator

#1401 Add simple accelerator reduce test using googletest
  .github/workflows/build_tests_release.yml
  arcane/src/arcane/accelerator/CMakeLists.txt
  arcane/src/arcane/accelerator/tests/CMakeLists.txt
  arcane/src/arcane/accelerator/tests/TestReduce.cc
Labels: arcane, arcane:accelerator

#1403 [CI] Remove usage of googletest for CUDA unit test.
  .github/workflows/build_tests_all.yml
Labels: CI

#1405 Do SIMD padding for ItemGroup only if explicitly asked
  arcane/src/arcane/core/Concurrency.h
  arcane/src/arcane/core/ItemGroup.cc
  arcane/src/arcane/core/ItemGroup.h
  arcane/src/arcane/core/ItemGroupImpl.cc
  arcane/src/arcane/core/ItemGroupImpl.h
  arcane/src/arcane/core/SimdItem.h
Labels: arcane, refactoring

#1402 [CI] Add compilation of IFPEN 2021 gimkl workflow with C++20
  .github/workflows/ifpen_el9_gimkl-2021b-cxx20.yml
Labels: CI

#1407 Refactor compilation of C# wrapper to use only one build project
  arcane/CMakeLists.txt
  arcane/ceapart/src/arcane/tests/TestDotNet.cmake
  arcane/cmake/GlobalCSharpTarget.cmake
  arcane/src/arcane/tests/ArcaneTestExe.csproj.in
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tools/wrapper/ArcaneSwigUtils.cmake
  arcane/tools/wrapper/BuildAllCSharp.proj.in
  arcane/tools/wrapper/CMakeLists.txt
  arcane/tools/wrapper/main/Arcane.Main.csproj.in
Labels: arcane, build

#1408 Fix minor particle problems
  arcane/src/arcane/core/Connectivity.cc
  arcane/src/arcane/tests/ParallelTesterModule.cc
Labels: bug, arcane

#1409 Update CI scripts for ifpen dockers
  .github/workflows/ifpen_el8_foss-2018b.yml
  .github/workflows/ifpen_el8_foss-2021b.yml
  .github/workflows/ifpen_el8_gimkl-2018b.yml
  .github/workflows/ifpen_el8_gimkl-2021b.yml
  .github/workflows/ifpen_el9_foss-2018b.yml
  .github/workflows/ifpen_el9_foss-2021b.yml
  .github/workflows/ifpen_el9_gimkl-2018b.yml
  .github/workflows/ifpen_el9_gimkl-2021b-cxx20.yml
  .github/workflows/ifpen_el9_gimkl-2021b.yml
Labels: CI

#1410 Handle file dependencies in global C# project
  arcane/CMakeLists.txt
  arcane/cmake/GlobalCSharpCommand.cmake
  arcane/cmake/GlobalCSharpTarget.cmake
Labels: arcane, build, arcane:wrapping

#1411 Add Nuget package generation with global C# target
  arcane/cmake/GlobalCSharpCommand.cmake
  arcane/cmake/GlobalCSharpTarget.cmake
  arcane/tools/wrapper/BuildAllCSharp.proj.in
Labels: arcane, build, arcane:wrapping

#1414 Fix race condition in dotnet first time use experience
  arcane/cmake/GlobalCSharpTarget.cmake
  arcane/tools/CMakeLists.txt
Labels: arcane, CI, build

#1413 Add child-parent connectivity for AMR nodes and faces
  arcane/src/arcane/cartesianmesh/CartesianMeshAMRPatchMng.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshNumberingMng.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshNumberingMng.h
  arcane/src/arcane/cartesianmesh/ICartesianMeshNumberingMng.h
  arcane/src/arcane/core/IMeshModifier.h
  arcane/src/arcane/core/Item.h
  arcane/src/arcane/core/ItemInternal.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMesh.h
  arcane/src/arcane/mesh/FaceFamily.cc
  arcane/src/arcane/mesh/FaceFamily.h
  arcane/src/arcane/mesh/NodeFamily.cc
  arcane/src/arcane/mesh/NodeFamily.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#1416 Update CI actions v3 to v4
  .github/workflows/coverity.yml
  .github/workflows/create-release-arcane.yml
  .github/workflows/create-release-arccon.yml
  .github/workflows/create-release-arccore.yml
  .github/workflows/create-release-axlstar.yml
  .github/workflows/header_check.yml
  .github/workflows/header_check_global.yml
  .github/workflows/ifpen_el8_foss-2021b.yml
  .github/workflows/ifpen_el8_gimkl-2021b.yml
  .github/workflows/ifpen_el9_foss-2021b.yml
  .github/workflows/ifpen_el9_gimkl-2021b-cxx20.yml
  .github/workflows/ifpen_el9_gimkl-2021b.yml
Labels: CI

#1418 Use 'Int32' for underlying type of 'eDataType'
  arcane/src/arcane/core/datatype/DataTypes.cc
  arcane/src/arcane/core/datatype/DataTypes.h
Labels: arcane, refactoring

#1420 Use reference counter to manage instance of VariableMetaData
  arcane/src/arcane/core/IVariable.h
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/Variable.h
  arcane/src/arcane/impl/VariableIOReaderMng.cc
  arcane/src/arcane/impl/VariableIOWriterMng.cc
  arcane/src/arcane/std/BasicReader.cc
Labels: arcane, refactoring

#1421 Remove old implementation of material update
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
  arcane/src/arcane/materials/internal/MeshMaterialVariableIndexer.h
Labels: arcane, refactoring, arcane:materials

#1422 Make cell update optional in MeshMaterialModifier
  arcane/ceapart/src/arcane/tests/MeshMaterialTesterModule.cc
  arcane/src/arcane/core/materials/internal/IMeshMaterialVariableInternal.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshMaterialModifier.cc
  arcane/src/arcane/materials/MeshMaterialModifier.h
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
  arcane/src/arcane/materials/internal/MeshMaterialModifierImpl.h
Labels: enhancement, arcane, arcane:materials

#1423 Fix potential buffer overflow in material variable serialization
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testMaterialHeat-4.arc.in
  arcane/src/arcane/materials/MeshMaterialVariableArray.cc
  arcane/src/arcane/materials/MeshMaterialVariableScalar.cc
Labels: bug, arcane, arcane:materials

#1424 Allow reuse of work buffer when using MeshMaterialModifier
  arcane/ceapart/src/arcane/tests/MeshMaterialTesterModule.cc
  arcane/src/arcane/materials/MeshMaterialModifier.cc
  arcane/src/arcane/materials/MeshMaterialModifier.h
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/materials/internal/MeshMaterialModifierImpl.h
Labels: enhancement, arcane, arcane:materials

#1427 Fix race condition for generated SWIG files
  arcane/CMakeLists.txt
  arcane/ceapart/src/arcane/tests/CMakeLists.txt
  arcane/ceapart/src/arcane/tests/TestDotNet.cmake
  arcane/tools/wrapper/ArcaneSwigUtils.cmake
Labels: bug, arcane, build

#1426 Use lazy evaluation to re-compute informations in MeshComponentPartData
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/core/materials/ComponentItemVector.cc
  arcane/src/arcane/core/materials/ComponentItemVector.h
  arcane/src/arcane/core/materials/EnvItemVector.cc
  arcane/src/arcane/core/materials/MatItemVector.cc
  arcane/src/arcane/materials/ConstituentItemVectorImpl.cc
  arcane/src/arcane/materials/MeshComponentData.cc
  arcane/src/arcane/materials/MeshComponentPartData.cc
  arcane/src/arcane/materials/internal/ConstituentItemVectorImpl.h
  arcane/src/arcane/materials/internal/MeshComponentData.h
  arcane/src/arcane/materials/internal/MeshComponentPartData.h
Labels: enhancement, arcane, refactoring, arcane:materials

#1428 Use 'GC.Server' configuration for '.Net 8'
  arcane/src/arcane/tests/ArcaneTestExe.csproj.in
  arcane/tools/wrapper/main/Arcane.Main.csproj.in
Labels: bug, arcane, arcane:wrapping

#1429 Use build directory to compile C# global project
  arcane/cmake/GlobalCSharpCommand.cmake
Labels: bug, arcane, build, arcane:wrapping

#1430 Use 'Sequential' message passing service for sequential tests
  arcane/ceapart/tests/CMakeLists.txt
  arcane/cmake/GlobalCSharpCommand.cmake
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.Common/ExecDriver.cs
Labels: arcane, CI, build, refactoring

#1431 Add additional capacity when reallocation materials variables
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/Variable.h
  arcane/src/arcane/core/VariableArray.cc
  arcane/src/arcane/core/internal/IVariableInternal.h
  arcane/src/arcane/materials/MeshMaterialVariable.h
  arcane/src/arcane/materials/MeshMaterialVariableArray.cc
  arcane/src/arcane/materials/MeshMaterialVariableScalar.cc
Labels: enhancement, arcane, refactoring, arcane:materials

#1432 Add async queue pool for materials
  arcane/src/arcane/accelerator/core/AcceleratorCoreGlobal.h
  arcane/src/arcane/accelerator/core/RunQueuePool.cc
  arcane/src/arcane/accelerator/core/RunQueuePool.h
  arcane/src/arcane/accelerator/core/srcs.cmake
  arcane/src/arcane/core/materials/internal/IMeshMaterialMngInternal.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
Labels: enhancement, arcane, arcane:accelerator, arcane:materials

#1433 Fix axl dependencies when using external Axlstar package
  arcane/CMakeLists.txt
  arcane/ceapart/src/arcane/tests/TestDotNet.cmake
  arcane/src/arcane/tests/CMakeLists.txt
Labels: bug, arcane, build

#1434 Use accelerator API to compute lists in MeshMaterialVariableSynchronizer
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/core/materials/MatItemEnumerator.h
  arcane/src/arcane/materials/CMakeLists.txt
  arcane/src/arcane/materials/MeshMaterialVariableSynchronizer.cc
  arcane/src/arcane/materials/internal/MeshMaterialVariableSynchronizer.h
Labels: enhancement, arcane, refactoring, arcane:accelerator, arcane:materials

#1435 Fix bug in Polyhedral reader and add unit tests
  arcane/maillages/cross_a_2x1x1.vtk
  arcane/maillages/cross_a_2x1x1.vtkfaces.vtk
  arcane/maillages/fan_2x1x3.vtk
  arcane/maillages/fan_2x1x3.vtkfaces.vtk
  arcane/src/arcane/mesh/CMakeLists.txt
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/std/VtkPolyhedralMeshIOService.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/tests/testMeshPolyhedral-2.arc
  arcane/tests/testMeshPolyhedral-3.arc
Labels: bug, arcane

#1437 Add specialisation of 'MeshEnvironment::computeMaterialIndexes()' for mono material case
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/internal/MeshEnvironment.h
Labels: enhancement, arcane, arcane:accelerator, arcane:materials

#1438 Clean unused elements for polyhedral mesh tools
  arcane/src/arcane/mesh/CMakeLists.txt
  arcane/src/arcane/mesh/PolyhedralMesh.axl
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMeshService.cc
  arcane/src/arcane/mesh/PolyhedralMeshTools.cc
  arcane/src/arcane/mesh/PolyhedralMeshTools.h
  arcane/src/arcane/mesh/srcs.cmake
Labels: arcane, refactoring

#1439 Fix missing call for 'ReduceMemoryImpl::release()' for Version 2 of reduction
  arcane/src/arcane/accelerator/Reduce.h
Labels: bug, arcane, arcane:accelerator

#1440 Use async queue pool for copy between pure and partial constituent cells
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/accelerator/core/AcceleratorCoreGlobal.h
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/core/materials/internal/IMeshMaterialVariableInternal.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ComponentItemInternalData.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/materials/MeshMaterialVariable.h
  arcane/src/arcane/materials/MeshMaterialVariableArray.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/materials/MeshMaterialVariableScalar.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
  arcane/src/arcane/materials/internal/MeshMaterialVariableIndexer.h
  arcane/src/arcane/materials/internal/MeshMaterialVariablePrivate.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1417 Add Ubuntu 24.04 image
  .circleci/config.yml
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
  .github/workflows/codecov.yml
  .github/workflows/coverity.yml
Labels: CI

#1441 Add support to modify additional reserve memory when reallocating constituent variables
  arcane/src/arcane/core/materials/internal/IMeshMaterialMngInternal.h
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshMaterialVariable.h
  arcane/src/arcane/materials/MeshMaterialVariableArray.cc
  arcane/src/arcane/materials/MeshMaterialVariableScalar.cc
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
Labels: enhancement, arcane, arcane:materials

#1442 Update U24 image to fix Codecov error
  .circleci/config.yml
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
  .github/workflows/codecov.yml
  .github/workflows/coverity.yml
Labels: CI
