Repository arcaneframework/framework, pull requests merged in 2024-10, with the labels that each got.

#1655 In VtkLegacy reader, do not destroy variables loaded during in the file
  arcane/src/arcane/core/internal/IVariableMngInternal.h
  arcane/src/arcane/impl/internal/VariableMng.h
  arcane/src/arcane/std/VtkMeshIOService.cc
Labels: arcane, refactoring

#1656 Add a test which read cell property in VTK legacy mesh reader
  arcane/maillages/tube2x2x4.vtk
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testMesh-2-small-vtk.arc
Labels: arcane, build

#1657 Fix mpi communicator access in Hypre matrix, vector and solver.
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/hypre/data_structure/HypreMatrix.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/hypre/data_structure/HypreVector.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/hypre/linear_solver/HypreInternalLinearSolver.cc
Labels: bug, alien

#1654 Add support for checksum control for connectivity mesh file in MeshUnitTest service
  arcane/src/arcane/core/MeshUtils.cc
  arcane/src/arcane/tests/MeshUnitTest.axl
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/tests/testMesh-2.arc
Labels: arcane

#1658 Refactor class EdgeUniqueIdBuilder
  arcane/src/arcane/mesh/DynamicMeshIncrementalBuilder.cc
  arcane/src/arcane/mesh/EdgeUniqueIdBuilder.cc
  arcane/src/arcane/mesh/EdgeUniqueIdBuilder.h
  arcane/src/arcane/mesh/ItemInternalMap.h
Labels: arcane, refactoring

#1660 Add method in 'MessagePassingMng' to set the communicator
  arccore/src/message_passing/arccore/message_passing/MessagePassingMng.cc
  arccore/src/message_passing/arccore/message_passing/MessagePassingMng.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiMessagePassingMng.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiMessagePassingMng.h
Labels: arccore

#1661 Set the MPI communicator for 'MessagePassingMng' instance of 'SequentialParallelMng'
  arcane/src/arcane/impl/SequentialParallelMng.cc
Labels: bug, arcane

#1659 Test vtk read property persistence
  arcane/src/arcane/tests/MeshUnitTest.axl
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/tests/testMesh-2-small-vtk.arc
Labels: enhancement, arcane

#1662 Use 'IParallelMng' instead of 'MPI_Comm' for classes associated to Metis partitionner
  arcane/src/arcane/std/GraphDistributor.h
  arcane/src/arcane/std/MetisGraphDigest.cc
  arcane/src/arcane/std/MetisGraphDigest.h
  arcane/src/arcane/std/MetisGraphGather.cc
  arcane/src/arcane/std/MetisGraphGather.h
  arcane/src/arcane/std/MetisMeshPartitioner.cc
  arcane/src/arcane/std/MetisWrapper.cc
  arcane/src/arcane/std/MetisWrapper.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testLoadBalanceHydro-Metis.arc
Labels: arcane, refactoring

#1663 Use a per process unique file name in import/export tests
  alien/standalone/src/refsemantic/tests/TestImportExport.cc
Labels: bug, CI, alien

#1664 Make inline constructors and destructors of 'MemoryAllocationOptions'
  arccore/src/collections/arccore/collections/MemoryAllocationOptions.cc
  arccore/src/collections/arccore/collections/MemoryAllocationOptions.h
Labels: arccore, refactoring

#1665 Move header files using Metis and ParMetis in the internal part of Arcane
  arcane/src/arcane/std/CMakeLists.txt
  arcane/src/arcane/std/MetisGraphDigest.cc
  arcane/src/arcane/std/MetisGraphGather.cc
  arcane/src/arcane/std/MetisMeshPartitioner.cc
  arcane/src/arcane/std/MetisWrapper.cc
  arcane/src/arcane/std/internal/MetisGraph.h
  arcane/src/arcane/std/internal/MetisGraphDigest.h
  arcane/src/arcane/std/internal/MetisGraphGather.h
  arcane/src/arcane/std/internal/MetisWrapper.h
Labels: arcane, refactoring

#1667 Add test using metis graph gathering via the class 'MetisGraphGather'
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testLoadBalanceHydro-Metis3.arc
Labels: arcane, build

#1666 Update MPI communicator handling in alien external packages
  alien/ArcaneInterface/cmake/LoadAlienTest.cmake
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/hypre/data_structure/HypreMatrix.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/hypre/data_structure/HypreVector.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/hypre/linear_solver/HypreInternalLinearSolver.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/io/AsciiDumper.cc
  alien/ArcaneInterface/test/AlienBench/CMakeLists.txt
Labels: refactoring, alien

#1668 Remove post processor using 'EnsightHdf' format
  arcane/src/arcane/std/CMakeLists.txt
  arcane/src/arcane/std/EnsightHdfPostProcessor.axl
  arcane/src/arcane/std/EnsightHdfPostProcessor.cc
  arcane/src/arcane/std/srcs.cmake
Labels: arcane, refactoring

#1669 Add support to split a 'IParallelMng' with a color
  arcane/src/arcane/core/ParallelMngDispatcher.cc
  arcane/src/arcane/core/ParallelMngDispatcher.h
  arcane/src/arcane/core/ParallelMngUtils.cc
  arcane/src/arcane/core/ParallelMngUtils.h
  arcane/src/arcane/core/internal/IParallelMngInternal.h
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.h
  arcane/src/arcane/tests/ParallelMngTest.cc
Labels: enhancement, arcane

#1670 Remove deprecated usage of 'XmlReaderSettings.ProhibitDtd'
  axlstar/Arcane.Axl/Arcane.Axl/XmlInfo.cs
Labels: refactoring, axlstar

#1671 Use 'IParallelMng' instead of 'MPI_Comm' in 'MetisGraphGather' and 'MetisWrapper'
  arcane/src/arcane/std/MetisGraphGather.cc
  arcane/src/arcane/std/MetisWrapper.cc
  arcane/src/arcane/std/internal/MetisGraphGather.h
  arcane/src/arcane/std/internal/MetisWrapper.h
Labels: arcane

#1672 Use a negative number instead of MPI_UNDEFINED in 'ParallelMngUtils::createSubParallelMngRef()'
  arcane/src/arcane/core/ParallelMngUtils.h
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/std/MetisWrapper.cc
Labels: arcane, refactoring

#1673 Change default values of 'ILoadBalanceMng' to make partitionning independant of the memory usage
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/core/internal/ILoadBalanceMngInternal.h
  arcane/src/arcane/impl/LoadBalanceMng.cc
  arcane/src/arcane/impl/LoadBalanceMng.h
  arcane/src/arcane/impl/internal/LoadBalanceMngInternal.cc
  arcane/src/arcane/impl/internal/LoadBalanceMngInternal.h
  arcane/src/arcane/std/MeshPartitionerBase.cc
  arcane/src/arcane/std/MetisGraphDigest.cc
  arcane/src/arcane/std/internal/MetisGraphDigest.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: arcane, refactoring

#1674 Add support to change face numbering version in legacy mesh builder
  arcane/src/arcane/impl/internal/LegacyMeshBuilder.cc
  arcane/tests/testHydroAccelerator-5.arc
Labels: enhancement, arcane

#1678 Add a method for coarsening refined cells
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTester.axl
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTesterModule.cc
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-CoarseZone-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-CoarseZone-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-CoarseZone-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-CoarseZone-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-CoarseZone-3.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-CoarseZone-4.arc
  arcane/src/arcane/core/IMeshModifier.h
  arcane/src/arcane/core/MeshUtils.cc
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMesh.h
  arcane/src/arcane/mesh/MeshRefinement.cc
  arcane/src/arcane/mesh/MeshRefinement.h
Labels: enhancement, arcane

#1679 Compute the number of transformed cells to remove some operations if this number is zero
  arcane/src/arcane/materials/ConstituentConnectivityList.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/internal/ConstituentConnectivityList.h
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
Labels: refactoring, arcane:materials

#1681 Computed constituents impacted during material modification and exclude them from some treatments
  arcane/src/arcane/materials/ConstituentConnectivityList.cc
  arcane/src/arcane/materials/ConstituentModifierWorkInfo.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/internal/ConstituentConnectivityList.h
  arcane/src/arcane/materials/internal/ConstituentModifierWorkInfo.h
  arcane/src/arcane/utils/DualUniqueArray.h
Labels: arcane, arcane:accelerator, arcane:materials

#1682 Remove some computation of index list of an environment if it is not impacted by a modification
  arcane/src/arcane/materials/ConstituentConnectivityList.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/materials/internal/ConstituentConnectivityList.h
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
  arcane/src/arcane/materials/internal/MeshMaterialModifierImpl.h
Labels: arcane, refactoring, arcane:materials

#1683 Add statistics about useless constituent transform computation
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/materials/internal/MeshMaterial.h
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
  arcane/src/arcane/materials/internal/MeshMaterialVariableIndexer.h
Labels: enhancement, arcane, arcane:materials

#1684 Add first implementation of a basic memory pool
  arcane/src/arcane/utils/MemoryPool.cc
  arcane/src/arcane/utils/internal/MemoryPool.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/src/arcane/utils/tests/CMakeLists.txt
  arcane/src/arcane/utils/tests/TestMemoryPool.cc
Labels: enhancement, arcane

#1685 Add support to use a MemoryPool for CUDA allocators
  arcane/src/arcane/accelerator/core/MemoryTracer.cc
  arcane/src/arcane/accelerator/core/internal/MemoryTracer.h
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
Labels: enhancement, arcane, refactoring, arcane:accelerator

#1686 Minor improvements in 'MemoryPool'
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
  arcane/src/arcane/utils/MemoryPool.cc
  arcane/src/arcane/utils/internal/MemoryPool.h
  arcane/src/arcane/utils/tests/TestMemoryPool.cc
Labels: enhancement, arcane

#1687 Optimize computation of constituents impacted by a modification
  arcane/src/arcane/materials/ConstituentConnectivityList.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/internal/ConstituentConnectivityList.h
Labels: arcane, arcane:accelerator, arcane:materials

#1688 Add explicit synchronization between host and device for DualUniqueArray
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/utils/DualUniqueArray.h
Labels: arcane, arcane:accelerator, arcane:materials

#1689 Print more information during constituents update
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/materials/internal/MeshMaterialVariableIndexer.h
Labels: arcane, arcane:materials

#1690 Remove some useless computation of material transformation when removing consituants
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/materials/ConstituentConnectivityList.cc
  arcane/src/arcane/materials/internal/ConstituentConnectivityList.h
Labels: arcane, refactoring, arcane:materials

#1691 Do not explicitly transform cells for mono-mat environment
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
Labels: arcane, refactoring, arcane:materials

#1692 Add experimental support for using a specific IMemoryAllocator for SharedArray
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/tests/TestArray.cc
Labels: enhancement, arccore

#1693 Cleanup 'MeshEnvironmentVariableRef' and 'MeshMaterialVariableRef'.
  arcane/src/arcane/core/materials/MeshEnvironmentVariableRef.h
  arcane/src/arcane/core/materials/MeshMaterialVariableRef.h
Labels: arcane, refactoring, arcane:materials

#1695 Add internal support for profiling region for accelerator API
  arcane/src/arcane/accelerator/core/ProfileRegion.cc
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/accelerator/core/internal/IRunnerRuntime.h
  arcane/src/arcane/accelerator/core/internal/ProfileRegion.h
  arcane/src/arcane/accelerator/core/srcs.cmake
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator, arcane:materials

#1696 Add 'RunQueue' argument to 'MemoryAllocationArgs' and 'MemoryAllocationOptions'
  arccore/src/collections/arccore/collections/Array.cc
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/arccore/collections/CollectionsGlobal.h
  arccore/src/collections/arccore/collections/MemoryAllocationArgs.h
  arccore/src/collections/arccore/collections/MemoryAllocationOptions.cc
  arccore/src/collections/arccore/collections/MemoryAllocationOptions.h
Labels: arccore, refactoring

#1697 Add coarse zone methods in CartesianMesh
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTester.axl
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTesterModule.cc
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-CoarseZone-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-CoarseZone-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-CoarseZone-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-CoarseZone-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-CoarseZone-3.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-CoarseZone-4.arc
  arcane/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/src/arcane/cartesianmesh/ICartesianMesh.h
  arcane/src/arcane/mesh/MeshRefinement.cc
Labels: enhancement, arcane

#1698 Add a forgotten header file to the list of files to be installed
  arcane/src/arcane/core/srcs.cmake
Labels: bug, arcane

#1699 Improve 'MemoryPool' and make it available for 'HostPinned' and 'Device' Memory
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
  arcane/src/arcane/utils/MemoryPool.cc
Labels: enhancement, arcane, arcane:accelerator

#1700 Use a 'UniqueArray' in 'GenericDeviceStorage' to store data
  arcane/src/arcane/accelerator/CommonUtils.cc
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/Reduce.h
Labels: arcane, refactoring, arcane:accelerator

#1701 Add support to directly use host memory for return values of 'GenericFilterer'
  arcane/src/arcane/accelerator/Filter.h
  arcane/src/arcane/accelerator/Filterer.cc
Labels: enhancement, arcane, refactoring, arcane:accelerator

#1702 Fix bad size and capacity when calling IMemoryAllocator::deallocate() for non POD type during reallocation
  arccore/src/collections/arccore/collections/Array.cc
  arccore/src/collections/arccore/collections/Array.h
Labels: bug, arccore

#1703 Refactor and make 'MemoryPool' thread-safe
  arcane/src/arcane/utils/MemoryPool.cc
Labels: enhancement, arcane

#1704 Use 'NumArray' and 'UniqueArray' to keep values and instances of AllCellToAllEnvCell
  arcane/src/arcane/core/materials/internal/IMeshMaterialMngInternal.h
  arcane/src/arcane/materials/AllCellToAllEnvCellConverter.cc
  arcane/src/arcane/materials/AllCellToAllEnvCellConverter.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1705 Add accelerator support for basic sorting algorithms
  arcane/src/arcane/accelerator/Sort.cc
  arcane/src/arcane/accelerator/Sort.h
  arcane/src/arcane/accelerator/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/AcceleratorSorterUnitTest.cc
  arcane/tests/testAcceleratorSorter-1.arc
Labels: enhancement, arcane, arcane:accelerator

#1706 Minor improvements in 'GenericSorter'
  arcane/doc/doc_user/chap_acceleratorapi/4_accelerator.md
  arcane/src/arcane/accelerator/Sort.h
  arcane/src/arcane/tests/accelerator/AcceleratorSorterUnitTest.cc
Labels: arcane, refactoring, arcane:accelerator

#1708 Remove deprecated class 'Filterer'
  arcane/src/arcane/accelerator/Filter.h
  arcane/src/arcane/tests/accelerator/AcceleratorFilterUnitTest.cc
Labels: arcane, refactoring, arcane:accelerator

#1709 Use UVM allocator to keep localId() in ItemVector
  arcane/src/arcane/core/ItemVector.cc
  arcane/src/arcane/core/ItemVector.h
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
Labels: arcane, refactoring, arcane:accelerator

#1707 Add checkpoint tests for coarseZone() methods
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTesterModule.cc
  arcane/ceapart/tests/CMakeLists.txt
Labels: enhancement, arcane

#1710 Refactor building of 'MatItemVector' and 'EnvCellVector'
  arcane/src/arcane/core/materials/ComponentItem.h
  arcane/src/arcane/core/materials/ComponentItemVector.cc
  arcane/src/arcane/core/materials/ComponentItemVector.h
  arcane/src/arcane/core/materials/EnvItemVector.cc
  arcane/src/arcane/core/materials/EnvItemVector.h
  arcane/src/arcane/core/materials/IMeshMaterialMng.h
  arcane/src/arcane/core/materials/MatItemVector.cc
  arcane/src/arcane/core/materials/MatItemVector.h
  arcane/src/arcane/materials/ConstituentItemVectorImpl.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/internal/ConstituentItemVectorImpl.h
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
Labels: arcane, refactoring, arcane:materials

#1711 Refactor and optimize initialization of 'ConstituentItemVector'
  arcane/src/arcane/core/materials/ComponentItem.h
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/core/materials/EnvItemVector.cc
  arcane/src/arcane/core/materials/MatItemVector.cc
  arcane/src/arcane/core/materials/internal/ConstituentItemLocalIdList.h
  arcane/src/arcane/materials/ConstituentItemVectorImpl.cc
Labels: enhancement, arcane, refactoring, arcane:materials

#1713 Add version of accelerator partition using lambda for setter and selecter
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/Filter.h
  arcane/src/arcane/accelerator/Partitioner.cc
  arcane/src/arcane/accelerator/Partitioner.h
  arcane/src/arcane/tests/accelerator/AcceleratorPartitionerUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator

#1714 Cleanup accelerator algorithms
  arcane/src/arcane/accelerator/CommonUtils.cc
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/Filter.h
  arcane/src/arcane/accelerator/Filterer.cc
  arcane/src/arcane/accelerator/Partitioner.h
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/Sort.h
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshComponentPartData.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/materials/internal/IndexSelecter.h
  arcane/src/arcane/tests/accelerator/AcceleratorFilterUnitTest.cc
  arcane/src/arcane/tests/accelerator/AcceleratorSorterUnitTest.cc
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1715 Add compatibility with libxml2 2.13.0+
  arcane/src/arcane/core/DomLibXml2V2.cc
  arcane/src/arcane/impl/IOMng.cc
Labels: bug, arcane

#1717 Add accelerator partitioner algorithm for 3 partitions
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/Partitioner.cc
  arcane/src/arcane/accelerator/Partitioner.h
  arcane/src/arcane/tests/accelerator/AcceleratorPartitionerUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator

#1718 Add three way partitioner using lambda to set and filter values
  arcane/src/arcane/accelerator/Partitioner.h
  arcane/src/arcane/tests/accelerator/AcceleratorPartitionerUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator

#1716 Add a method to reduce the number of ghost layers for refined levels
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTester.axl
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTesterModule.cc
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-ReduceNbGhostLayers-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-ReduceNbGhostLayers-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-ReduceNbGhostLayers-3.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-ReduceNbGhostLayers-4.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-ReduceNbGhostLayers-1.arc
  arcane/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/src/arcane/cartesianmesh/ICartesianMesh.h
  arcane/src/arcane/core/IMeshModifier.h
  arcane/src/arcane/core/MeshUtils.cc
  arcane/src/arcane/core/MeshUtils.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMesh.h
  arcane/src/arcane/mesh/FaceReorienter.cc
  arcane/src/arcane/mesh/MeshRefinement.cc
  arcane/src/arcane/mesh/MeshRefinement.h
Labels: enhancement, arcane

#1719 Add MeshCriteriaLB tests with multiple partitioners
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/MeshCriteriaLoadBalanceMngTest.axl
  arcane/src/arcane/tests/MeshCriteriaLoadBalanceMngTestModule.cc
  arcane/tests/testMeshCriteriaLoadBalanceMng-DefaultPartitioner-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-DefaultPartitioner-4-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-DefaultPartitioner-MeshPartitionerTester-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-DefaultPartitioner-MeshPartitionerTester-4-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-MeshPartitionerTester-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-MeshPartitionerTester-4-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Metis-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Metis-4-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Metis-PTScotch-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Metis-PTScotch-2.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Metis-PTScotch-4-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Metis-PTScotch-4-2.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Metis-Zoltan-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Metis-Zoltan-2.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Metis-Zoltan-4-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Metis-Zoltan-4-2.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-PTScotch-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-PTScotch-4-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-PTScotch-Zoltan-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-PTScotch-Zoltan-2.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-PTScotch-Zoltan-4-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-PTScotch-Zoltan-4-2.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Zoltan-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Zoltan-4-1.arc
Labels: enhancement, arcane

#1720 Use accelerator API to compute items in 'ConstituentItemVectorImpl'
  arcane/src/arcane/core/materials/ComponentItem.h
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/core/materials/internal/IMeshMaterialMngInternal.h
  arcane/src/arcane/materials/CMakeLists.txt
  arcane/src/arcane/materials/ConstituentItemVectorImpl.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/internal/ConstituentItemVectorImpl.h
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
Labels: enhancement, arcane, refactoring, arcane:accelerator, arcane:materials

#1721 Add HIP support for three way partitioning
  arcane/src/arcane/accelerator/Partitioner.h
Labels: enhancement, arcane, arcane:accelerator

#1722 Add documentation and samples for 'GenericPartitioner'
  arcane/doc/doc_user/chap_acceleratorapi/4_accelerator.md
  arcane/src/arcane/accelerator/Partitioner.h
  arcane/src/arcane/tests/accelerator/AcceleratorPartitionerUnitTest.cc
Labels: documentation, arcane, arcane:accelerator

#1723 Deprecate 'NumArray::span()' and 'NumArray::constSpan()'
  arcane/src/arcane/accelerator/NumArrayViews.h
  arcane/src/arcane/accelerator/cuda/runtime/Test.cu
  arcane/src/arcane/core/datatype/RealArray2Variant.h
  arcane/src/arcane/core/datatype/RealArrayVariant.h
  arcane/src/arcane/impl/NumArrayData.cc
  arcane/src/arcane/tests/accelerator/AcceleratorReduceUnitTest.cc
  arcane/src/arcane/tests/accelerator/MiniWeatherArray.cc
  arcane/src/arcane/tests/accelerator/MiniWeatherArraySequential.cc
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
  arcane/src/arcane/tests/accelerator/SimpleHydroAcceleratorService.cc
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/tests/TestNumArray.cc
Labels: arcane, refactoring, arcane:accelerator
