Repository arcaneframework/framework, pull requests merged in 2024-03, with the labels that each got.

#1219 Use accelerator API for adding and removing cells in MeshMaterialVariableIndexer
  arcane/src/arcane/materials/ConstituentModifierWorkInfo.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/materials/internal/ConstituentModifierWorkInfo.h
  arcane/src/arcane/materials/internal/MeshMaterialVariableIndexer.h
  arcane/src/arcane/utils/DualUniqueArray.h
Labels: enhancement, arcane, refactoring, arcane:accelerator, arcane:materials

#1220 Make sure we do not use copy constructor in 'Array::resizeNoInit'
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/tests/TestArray.cc
Labels: bug, arccore

#1221 Add reference counter for RunQueue and allow copy of RunQueue using semantic reference
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/accelerator/core/RunQueueImpl.cc
  arcane/src/arcane/accelerator/core/internal/RunQueueImpl.h
  arcane/src/arcane/tests/accelerator/SimpleHydroAcceleratorService.cc
  arcane/src/arcane/utils/AutoRef.h
  arcane/src/arcane/utils/Ptr.h
Labels: enhancement, arcane, refactoring, arcane:accelerator

#1222 [CI] Add token for codecov action and update 'upload-artifact' to v4
  .github/workflows/codecov.yml
Labels: CI

#1223 Use 'DualUniqueArray' for some working array of 'ConstituentModifierWorkInfo´
  arcane/src/arcane/materials/ConstituentModifierWorkInfo.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/materials/internal/ConstituentModifierWorkInfo.h
  arcane/src/arcane/utils/DualUniqueArray.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1224 Use accelerator api to compute removed and modified cells during constituent modification
  arcane/src/arcane/materials/CMakeLists.txt
  arcane/src/arcane/materials/ConstituentConnectivityList.cc
  arcane/src/arcane/materials/ConstituentModifierWorkInfo.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MaterialModifierOperation.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/materials/internal/ConstituentConnectivityList.h
  arcane/src/arcane/materials/internal/ConstituentModifierWorkInfo.h
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
  arcane/src/arcane/materials/internal/MaterialModifierOperation.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1225 Minor improvement in accelerator API
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/Filter.h
  arcane/src/arcane/accelerator/Filterer.cc
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/HipAccelerator.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
Labels: enhancement, arcane, arcane:accelerator

#1226 Use accelerator API for adding cells to MeshMaterialVariableIndexer
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ComponentItemListBuilder.cc
  arcane/src/arcane/materials/ConstituentConnectivityList.cc
  arcane/src/arcane/materials/ConstituentModifierWorkInfo.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/materials/internal/ComponentItemListBuilder.h
  arcane/src/arcane/materials/internal/ConstituentConnectivityList.h
  arcane/src/arcane/materials/internal/ConstituentModifierWorkInfo.h
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
  arcane/src/arcane/materials/internal/MeshMaterialVariableIndexer.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1227 Use accelerator API for add/remove cells in 'ConstituentConnectivityList'
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ConstituentConnectivityList.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/internal/ConstituentConnectivityList.h
Labels: enhancement, arcane, refactoring, arcane:accelerator, arcane:materials

#1228 Make 'constexpr' methods of class 'TraceInfo'
  arccore/src/base/arccore/base/TraceInfo.h
Labels: arccore, refactoring

#1229 Add accelerator support for 'EnumeratorTraceWrapper'
  arcane/src/arcane/core/EnumeratorTraceWrapper.h
  arcane/src/arcane/core/materials/MatItemEnumerator.h
Labels: arcane, refactoring, arcane:accelerator

#1231 Do not use 'TARGET_NAME_IF_EXISTS' to configure target 'arcane_materials'
  arcane/ceapart/src/arcane/tests/CMakeLists.txt
Labels: build

#1232 Remove catching of FloatingPoint exception at end of execution
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/src/arcane/impl/ExecutionStatsDumper.cc
Labels: arcane, CI

#1233 Use accelerator API for computation of changing cells in multi-material environment
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
Labels: enhancement, arcane, refactoring, arcane:accelerator, arcane:materials

#1234 Search 'googletest' after Arccore
  arcane/CMakeLists.txt
Labels: arcane, build

#1235 Use Accelerator API for operation of 'ComponentItemInternalData'
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/core/materials/MatItemEnumerator.h
  arcane/src/arcane/materials/CMakeLists.txt
  arcane/src/arcane/materials/ComponentItemInternalData.cc
  arcane/src/arcane/materials/internal/ComponentItemInternalData.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1236 Simplify implementation of accelerator algorithms
  arcane/src/arcane/accelerator/CommonUtils.cc
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/Filter.h
  arcane/src/arcane/accelerator/Partitioner.h
  arcane/src/arcane/accelerator/Scan.h
Labels: arcane, refactoring, arcane:accelerator

#1238 Make 'MatVarIndex' and 'ConstituentItemIndex' POD types
  arcane/src/arcane/core/materials/MaterialsCoreGlobal.h
Labels: arcane, refactoring, arcane:materials

#1239 Move class 'MeshComponentPartData' internal part of materials component
  arcane/src/arcane/core/materials/ComponentItemVector.cc
  arcane/src/arcane/core/materials/ComponentItemVector.h
  arcane/src/arcane/core/materials/ComponentItemVectorView.h
  arcane/src/arcane/core/materials/MaterialsCoreGlobal.h
  arcane/src/arcane/core/materials/internal/IMeshComponentInternal.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/materials/ConstituentItemVectorImpl.cc
  arcane/src/arcane/materials/MeshComponentData.cc
  arcane/src/arcane/materials/MeshComponentPartData.cc
  arcane/src/arcane/materials/MeshComponentPartData.h
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterial.cc
  arcane/src/arcane/materials/internal/ConstituentItemVectorImpl.h
  arcane/src/arcane/materials/internal/MeshComponentPartData.h
  arcane/src/arcane/materials/internal/MeshEnvironment.h
  arcane/src/arcane/materials/internal/MeshMaterial.h
  arcane/src/arcane/materials/srcs.cmake
Labels: arcane, refactoring, arcane:materials

#1241 Use accelerator API for rebuild MatVarIndex list in MeshComponentPartData
  arcane/src/arcane/core/materials/internal/IMeshMaterialMngInternal.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/CMakeLists.txt
  arcane/src/arcane/materials/ConstituentItemVectorImpl.cc
  arcane/src/arcane/materials/MeshComponentData.cc
  arcane/src/arcane/materials/MeshComponentPartData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/internal/MeshComponentData.h
  arcane/src/arcane/materials/internal/MeshComponentPartData.h
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1243 Use accelerator API to compute update of AllEnvCell
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/core/materials/internal/ConstituentItemLocalIdList.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/internal/AllEnvData.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1244 minor alien fixes
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/linear_solver/arcane/PETScPrecConfigJacobi.axl
  alien/plugins/hypre/src/converters/simplecsr_to_hypre_matrix.cpp
Labels: build, alien

#1246 Some more fixes for Windows VS15 build
  alien/ArcaneInterface/modules/arcane_tools/src/alien/arcane_tools/indexManager/BasicIndexManager.cc
  alien/ArcaneInterface/modules/arcane_tools/src/alien/arcane_tools/indexManager/BasicIndexManager.h
  arcane/src/arcane/core/IGraph2.h
  arcane/src/arcane/mesh/GraphDoFs.h
Labels: arcane, build, alien

#1247 Use accelerator API to compute material updates in MeshEnvironment
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/CMakeLists.txt
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/internal/ComponentItemInternalData.h
  arcane/src/arcane/materials/internal/MeshEnvironment.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1250 Test 'concurrency' to cancel old workflow runs if new commit happens
  .github/workflows/build_tests_release.yml
  .github/workflows/codecov.yml
  .github/workflows/compile-all-vcpkg.yml
  .github/workflows/header_check.yml
  .github/workflows/ifpen_el7_gimkl-2018b.yml
  .github/workflows/ifpen_el8_gimkl-2018b.yml
Labels: enhancement, CI

#1251 Fix potential multiple conversion between UTF-16 and UTF-8 for 'String'
  arccore/src/base/arccore/base/StringImpl.cc
  arccore/src/base/tests/TestString.cc
Labels: bug, arccore

#1254 Add support in 'GenericScanner' of all methods of templated 'Scanner'.
  arcane/src/arcane/accelerator/Scan.h
  arcane/src/arcane/tests/accelerator/AcceleratorScanUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator

#1257 Remove some check in Material compnents in Release mode
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ComponentItemInternalData.cc
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1258 Use by default accelerator API for updating list of materials cells
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/materials/MeshMaterialMng.cc
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1256 Fix null pointer dereference in TimeHistoryMngInternal
  arcane/src/arcane/impl/internal/TimeHistoryMngInternal.cc
Labels: bug, arcane

#1260 Add documentation for TimeHistory usage
  arcane/doc/doc_user/0_usermanual.md
  arcane/doc/doc_user/chap_io/0_io.md
  arcane/doc/doc_user/chap_io/1_timehistory.goto
  arcane/doc/doc_user/chap_io/subchap_timehistory/0_timehistory.md
  arcane/doc/doc_user/chap_io/subchap_timehistory/1_howto.md
  arcane/doc/doc_user/chap_io/subchap_timehistory/2_results_usage.md
  arcane/doc/doc_user/chap_io/subchap_timehistory/3_acv.md
  arcane/doc/doc_user/chap_io/subchap_timehistory/img/avg_pressure.odg
  arcane/doc/doc_user/chap_io/subchap_timehistory/img/avg_pressure.svg
  arcane/doc/doc_user/chap_io/subchap_timehistory/img/avg_pressure2.odg
  arcane/doc/doc_user/chap_io/subchap_timehistory/img/avg_pressure2.svg
  arcane/doc/userdoc.doxyfile
  arcane/src/arcane/tests/TimeHistoryAdderTest.axl
  arcane/src/arcane/tests/TimeHistoryAdderTestModule.cc
Labels: documentation, arcane

#1263 Use 'GenericScanner' for some algorithms for updating materials
  arcane/src/arcane/accelerator/Scan.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/ConstituentConnectivityList.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1266 Fix missing re-compute of synchronize information after coarsening initial Cartesian mesh
  arcane/ceapart/src/arcane/tests/CartesianMeshTesterModule.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening2.cc
Labels: bug, arcane

#1268 Improve usage of iterators on sub-constituents
  arcane/ceapart/src/arcane/tests/MeshMaterialTesterModule.cc
  arcane/src/arcane/core/materials/ComponentItem.h
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/core/materials/MatItem.h
  arcane/src/arcane/core/materials/MatItemEnumerator.h
  arcane/src/arcane/core/materials/MaterialsCoreGlobal.h
  arcane/src/arcane/materials/MeshMaterial.cc
Labels: enhancement, arcane, refactoring, arcane:accelerator, arcane:materials

#1270 Refactor 'RUNCOMMAND_ENUMERATE' and add support to keep the iteration index
  arcane/src/arcane/accelerator/RunCommandEnumerate.h
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.h
  arcane/src/arcane/accelerator/RunQueueInternal.h
  arcane/src/arcane/core/ItemFunctor.cc
  arcane/src/arcane/core/ItemFunctor.h
  arcane/src/arcane/core/ItemLocalId.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/AcceleratorViewsUnitTest.cc
Labels: enhancement, arcane, refactoring, arcane:accelerator

#1271 Add 'GenericFilterer' with a flag array
  arcane/src/arcane/accelerator/Filter.h
  arcane/src/arcane/tests/accelerator/AcceleratorFilterUnitTest.cc
Labels: arcane, refactoring, arcane:accelerator

#1272 Add support to get iterator index for RUNCOMMAND_MAT_ENUMERATE
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.h
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator, arcane:materials

#1273 Make utilitary function 'MemoryUtils::copy()' available in public API
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
  arcane/src/arcane/utils/MemoryRessourceMng.cc
  arcane/src/arcane/utils/MemoryUtils.cc
  arcane/src/arcane/utils/MemoryUtils.h
  arcane/src/arcane/utils/internal/IMemoryCopier.h
  arcane/src/arcane/utils/internal/IMemoryRessourceMngInternal.h
  arcane/src/arcane/utils/internal/MemoryRessourceMng.h
  arcane/src/arcane/utils/tests/TestMemory.cc
Labels: enhancement, arcane, arcane:accelerator

#1274 Various improvements in 'MemoryUtils'
  arcane/src/arcane/impl/ArrayData.cc
  arcane/src/arcane/utils/DualUniqueArray.cc
  arcane/src/arcane/utils/MemoryUtils.cc
  arcane/src/arcane/utils/MemoryUtils.h
  arcane/src/arcane/utils/NumArray.cc
  arcane/src/arcane/utils/NumArrayContainer.h
Labels: enhancement, arcane, refactoring, arcane:accelerator

#1276 Use 'Int16' instead of 'Int8' to store the device id
  arccore/src/collections/arccore/collections/MemoryAllocationArgs.h
  arccore/src/collections/arccore/collections/MemoryAllocationOptions.h
Labels: arccore, refactoring

#1278 Add support to choose default allocation ressource associated to a 'RunQueue'
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/accelerator/core/RunQueueImpl.cc
  arcane/src/arcane/accelerator/core/internal/RunQueueImpl.h
  arcane/src/arcane/tests/accelerator/RunQueueUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator

#1279 Add implicit conversion from 'Array<T>' to 'SmallSpan<const T>'
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/tests/TestArray.cc
Labels: enhancement, arccore

#1280 Fix compilation with Clang 19 and C++23
  arcane/src/arcane/std/BasicGenericWriter.cc
  arcane/src/arcane/std/SodMeshGenerator.cc
  arcane/src/arcane/std/SodMeshGenerator.h
Labels: bug, arcane, build

#1282 Add support for null RunQueue
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/tests/accelerator/RunQueueUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator

#1283 Minor refactoring in material update
  arcane/src/arcane/core/materials/MaterialsCoreGlobal.h
  arcane/src/arcane/core/materials/internal/IMeshMaterialMngInternal.h
  arcane/src/arcane/materials/ConstituentConnectivityList.cc
  arcane/src/arcane/materials/ConstituentModifierWorkInfo.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MaterialModifierOperation.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/MeshMaterialModifier.cc
  arcane/src/arcane/materials/MeshMaterialModifier.h
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/materials/internal/ConstituentConnectivityList.h
  arcane/src/arcane/materials/internal/ConstituentModifierWorkInfo.h
  arcane/src/arcane/materials/internal/IMeshMaterialModifierImpl.h
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
  arcane/src/arcane/materials/internal/MaterialModifierOperation.h
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
  arcane/src/arcane/materials/internal/MeshMaterialModifierImpl.h
  arcane/src/arcane/materials/srcs.cmake
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1284 Finalize usage of accelerator API for test 'MaterialHeatTestModule'
  arcane/ceapart/src/arcane/tests/MaterialHeatTestModule.cc
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1285 Use accelerator API for more methods in material update
  arcane/src/arcane/core/materials/ConstituentItemLocalIdList.cc
  arcane/src/arcane/core/materials/internal/ConstituentItemLocalIdList.h
  arcane/src/arcane/materials/ComponentItemInternalData.cc
  arcane/src/arcane/materials/ConstituentItemVectorImpl.cc
  arcane/src/arcane/materials/ConstituentModifierWorkInfo.cc
  arcane/src/arcane/materials/MeshComponentData.cc
  arcane/src/arcane/materials/MeshComponentPartData.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/materials/internal/ComponentItemInternalData.h
  arcane/src/arcane/materials/internal/MeshComponentPartData.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1287 Use accelerator API for remaining methods in MaterialHeatTestModule
  arcane/ceapart/src/arcane/tests/MaterialHeatTestModule.cc
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1288 Add internal API for 'ItemGroupImpl' add refactor to allow updating of 'ItemGroup' using accelerator API
  arcane/src/arcane/core/ItemGroup.h
  arcane/src/arcane/core/ItemGroupImpl.cc
  arcane/src/arcane/core/ItemGroupImpl.h
  arcane/src/arcane/core/ItemGroupInternal.cc
  arcane/src/arcane/core/internal/ItemGroupImplInternal.h
  arcane/src/arcane/core/internal/ItemGroupInternal.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/MeshMaterial.cc
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1289 Use accelerator API for removing items from 'ItemGroup' during material update
  arcane/src/arcane/core/ItemGroupInternal.cc
  arcane/src/arcane/core/internal/ItemGroupImplInternal.h
  arcane/src/arcane/core/internal/ItemGroupInternal.h
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1291 Remove memory attribute 'MostlyReadOnly' for 'ItemGroup'
  arcane/src/arcane/core/ItemGroupImpl.cc
  arcane/src/arcane/core/ItemGroupInternal.cc
Labels: arcane, refactoring, arcane:accelerator

#1292 Make 'ApplySimdPadder' accessible on accelerator and use it for 'MeshComponentPartData'
  arcane/src/arcane/materials/MeshComponentPartData.cc
  arcane/src/arcane/utils/ArcaneGlobal.cc
  arcane/src/arcane/utils/Array.cc
  arcane/src/arcane/utils/ArraySimdPadder.h
  arcane/src/arcane/utils/FixedArray.h
  arcane/src/arcane/utils/srcs.cmake
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1293 Use accelerator API to update ItemGroup SIMD padding during material update
  arcane/src/arcane/core/ItemGroup.cc
  arcane/src/arcane/core/ItemGroup.h
  arcane/src/arcane/core/ItemGroupImpl.cc
  arcane/src/arcane/core/ItemGroupImpl.h
  arcane/src/arcane/core/ItemGroupInternal.cc
  arcane/src/arcane/core/internal/ItemGroupImplInternal.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/MeshEnvironment.cc
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1294 Add ARCCORE_HOST_DEVICE for some math functions and use reference instead of plain values for some parameters
  arcane/src/arcane/core/MathUtils.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/AcceleratorMathUnitTest.cc
  arcane/tests/testAcceleratorMath-1.arc
Labels: enhancement, refactoring, arcane:accelerator

#1295 Refactor update of material views
  arcane/src/arcane/accelerator/MaterialVariableViews.h
  arcane/src/arcane/core/materials/internal/IMeshMaterialVariableInternal.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/materials/MeshMaterialVariable.h
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
  arcane/src/arcane/materials/internal/MeshMaterialVariablePrivate.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1296 Add template argument for minimum value for 'SpanImpl', 'Span' and 'SmallSpan'
  arccore/src/base/arccore/base/ArrayView.h
  arccore/src/base/arccore/base/BaseTypes.h
  arccore/src/base/arccore/base/Span.h
  arccore/src/base/tests/TestArrayView.cc
  arccore/src/collections/arccore/collections/Array.h
Labels: enhancement, arccore, refactoring

#1297 Make method 'Array::resizeNoInit()' public
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/tests/TestArray.cc
Labels: arccore, refactoring

#1298 Add support to change variable allocator
  arcane/ceapart/src/arcane/tests/MaterialHeatTestModule.cc
  arcane/src/arcane/core/ItemGroupInternal.cc
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/internal/IVariableInternal.h
  arcane/src/arcane/core/internal/ItemGroupImplInternal.h
Labels: enhancement, arcane, arcane:accelerator

#1299 Add accelerator views for 'MeshPartialVariable'
  arcane/src/arcane/accelerator/VariableViews.h
  arcane/src/arcane/core/ItemEnumeratorBase.h
  arcane/src/arcane/core/ItemTypes.h
  arcane/src/arcane/core/MeshPartialVariableArrayRef.h
  arcane/src/arcane/core/MeshPartialVariableScalarRef.h
  arcane/src/arcane/tests/PartialVariableTester.cc
  arcane/src/arcane/tests/accelerator/AcceleratorViewsUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator

#1301 Begin support for python wrapping
  arcane/CMakeLists.txt
  arcane/src/arcane/tests/ArcaneTest.config
  arcane/src/arcane/tests/ArcaneTest.csproj.in
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/Launcher.cs
  arcane/tests/testSimplePythonCall-1.arc
  arcane/tools/wrapper/CMakeLists.txt
  arcane/tools/wrapper/launcher/Arcane.Launcher.csproj.in
  arcane/tools/wrapper/launcher/ArcaneLauncher.cs
  arcane/tools/wrapper/launcher/CMakeLists.txt
  arcane/tools/wrapper/python/Arcane.Python.csproj.in
  arcane/tools/wrapper/python/ArcaneSwigPython.i
  arcane/tools/wrapper/python/CMakeLists.txt
  arcane/tools/wrapper/python/csharp/SimplePythonCallerModule.cs
Labels: enhancement, arcane, arcane:wrapping

#1303 Fix Neo install
  arctools/neo/sgraph/src/sgraph/CMakeLists.txt
  arctools/neo/src/neo/CMakeLists.txt
Labels: build, neo

#1304 Add support for automatic prefetching of 'NumArray' views
  arcane/src/arcane/accelerator/NumArrayViews.cc
  arcane/src/arcane/accelerator/NumArrayViews.h
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/accelerator/srcs.cmake
Labels: enhancement, arcane, arcane:accelerator

#1305 Add experimental support to change memory allocator for Variables
  arcane/ceapart/src/arcane/tests/MaterialHeatTestModule.cc
  arcane/src/arcane/core/ItemGroupInternal.cc
  arcane/src/arcane/core/VariableUtils.cc
  arcane/src/arcane/core/VariableUtils.h
Labels: enhancement, arcane, arcane:accelerator

#1306 Add accelerator algorithm for direct reduction of an array.
  arcane/src/arcane/accelerator/CMakeLists.txt
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/Scan.h
  arcane/src/arcane/tests/accelerator/AcceleratorReduceUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator
