Repository arcaneframework/framework, pull requests merged in 2024-12, with the labels that each got.

#1807 Add override of 'IMemoryAllocator::memoryResource()' for accelerator allocators
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
  arcane/src/arcane/accelerator/hip/HipAccelerator.cc
  arcane/src/arcane/accelerator/sycl/SyclAccelerator.cc
  arcane/src/arcane/accelerator/tests/TestInit.cc
Labels: enhancement, arcane, arcane:accelerator

#1808 Add support to change memory resource used for default data allocator
  arcane/src/arcane/accelerator/core/AcceleratorRuntimeInitialisationInfo.cc
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/utils/MemoryUtils.cc
  arcane/src/arcane/utils/MemoryUtils.h
  arcane/src/arcane/utils/internal/MemoryUtilsInternal.h
  arcane/src/arcane/utils/tests/TestMemory.cc
Labels: enhancement, arcane, arcane:accelerator

#1809 Use more explicit name for some NumArray methods
  arcane/src/arcane/tests/accelerator/AcceleratorViewsUnitTest.cc
  arcane/src/arcane/tests/accelerator/MemoryCopyUnitTest.cc
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
  arcane/src/arcane/utils/NumArray.h
Labels: arcane, refactoring, arcane:accelerator

#1810 Update documentation about accelerator memory management
  arcane/doc/doc_user/chap_acceleratorapi/4_accelerator.md
  arcane/src/arcane/accelerator/CommonUtils.cc
  arcane/src/arcane/utils/MemoryUtils.cc
Labels: documentation, arcane

#1811 Fix compilation with clang
  arcane/src/arcane/utils/PlatformUtils.h
Labels: bug, arcane, build

#1812 Use 'ArcaneBasic2CheckpointWriter' for checkpoint service of mesh criteria tests
  arcane/tests/testMeshCriteriaLoadBalanceMng-DefaultPartitioner-4-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-MeshPartitionerTester-4-1.arc
Labels: bug, arcane, CI

#1813 Minor improvement in materials
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
Labels: arcane, arcane:accelerator, arcane:materials

#1815 Add support for default runtime in command line argument
  arcane/CMakeLists.txt
  arcane/cmake/arcane_internal_config.h.in
  arcane/src/arcane/accelerator/core/AcceleratorRuntimeInitialisationInfo.cc
  arcane/src/arcane/accelerator/core/AcceleratorRuntimeInitialisationInfo.h
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/src/arcane/tests/ArcaneTests.cmake
Labels: enhancement, arcane, arcane:accelerator

#1818 Fix missing constituents update after removing ghost cells
  arcane/src/arcane/mesh/MeshRefinement.cc
Labels: bug, arcane, arcane:materials

#1816 Prepare polyhedral mesh for parallel
  arcane/src/arcane/mesh/DynamicMeshChecker.cc
  arcane/src/arcane/mesh/EmptyMeshModifier.h
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/mesh/UnstructuredMeshUtilities.cc
  arcane/src/arcane/tests/MeshPolyhedralTestModule.cc
  arcane/src/arcane/tests/dof/DoFTester.cc
Labels: enhancement, arcane

#1819 Add more information in the description of accelerators for CUDA and ROCM/HIP
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
Labels: enhancement, arcane, arcane:accelerator

#1820 Fix tt generator for array options.
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/CaseOptionsT.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/CaseOptionsT.tt
Labels: bug, axlstar

#1821 Add support to get free and total memory for an accelerator
  arcane/src/arcane/accelerator/core/AcceleratorCoreGlobal.h
  arcane/src/arcane/accelerator/core/DeviceMemoryInfo.h
  arcane/src/arcane/accelerator/core/RunQueueRuntime.cc
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/Runner.h
  arcane/src/arcane/accelerator/core/internal/IRunnerRuntime.h
  arcane/src/arcane/accelerator/core/srcs.cmake
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/sycl/runtime/SyclAcceleratorRuntime.cc
  arcane/src/arcane/tests/accelerator/ArcaneTestStandaloneAcceleratorMng.cc
Labels: enhancement, arcane, arcane:accelerator

#1822 Add support for periodic information in MSH reader
  arcane/maillages/onesphere.geo
  arcane/maillages/onesphere.msh
  arcane/src/arcane/std/MshParallelMeshReader.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testMesh-onesphere-1.arc
Labels: enhancement, arcane

#1823 Rename 'adjency' to 'adjacency' in several classes and interfaces.
  arcane/src/arcane/core/IItemFamily.h
  arcane/src/arcane/core/IMeshUtilities.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/core/ItemPairGroup.cc
  arcane/src/arcane/mesh/BasicItemPairGroupComputeFunctor.cc
  arcane/src/arcane/mesh/BasicItemPairGroupComputeFunctor.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/UnstructuredMeshUtilities.cc
  arcane/src/arcane/mesh/UnstructuredMeshUtilities.h
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: arcane, refactoring

#1824 Add experimental support to read binary version of MSH 4.1 file format
  arcane/maillages/onesphere.binary.msh
  arcane/maillages/plancher.binary.msh
  arcane/src/arcane/std/MshParallelMeshReader.cc
  arcane/src/arcane/std/internal/IosFile.cc
  arcane/src/arcane/std/internal/IosFile.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testIos-msh-binary-1.arc
  arcane/tests/testMesh-onesphere-binary-1.arc
Labels: enhancement, arcane

#1825 Cleanup and refactor some parts of accelerator API
  arcane/src/arcane/accelerator/Filter.h
  arcane/src/arcane/accelerator/GenericFilterer.h
  arcane/src/arcane/accelerator/GenericPartitioner.h
  arcane/src/arcane/accelerator/GenericReducer.h
  arcane/src/arcane/accelerator/GenericScanner.h
  arcane/src/arcane/accelerator/GenericSorter.h
  arcane/src/arcane/accelerator/KernelLauncher.h
  arcane/src/arcane/accelerator/Partitioner.h
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/RunCommandEnumerate.h
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.h
  arcane/src/arcane/accelerator/RunQueueInternal.cc
  arcane/src/arcane/accelerator/RunQueueInternal.h
  arcane/src/arcane/accelerator/Scan.h
  arcane/src/arcane/accelerator/Sort.h
  arcane/src/arcane/accelerator/srcs.cmake
Labels: arcane, refactoring, arcane:accelerator

#1826 Add support to set face uniqueid numbering in ArcaneCaseMeshService.
  arcane/src/arcane/impl/ArcaneCaseMeshService.axl
  arcane/src/arcane/impl/ArcaneCaseMeshService.cc
  arcane/tests/testHydro-3-checkpoint-meshservice.arc
Labels: enhancement, arcane

#1827 Use same values for 'Arccore::ISerializer::eDataType' and 'Arcane::eDataType'
  arccore/src/serialize/arccore/serialize/ISerializer.h
Labels: bug, arccore

#1828 Add explicit values for 'eDataType'
  arcane/src/arcane/core/datatype/DataTypes.h
  arcane/src/arcane/core/tests/TestDataTypes.cc
Labels: arcane, refactoring

#1829 dev/sdc-vtk-polyhedral-reader-only-on-io-master
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/std/VtkPolyhedralMeshIOService.cc
  arctools/neo/src/neo/Mesh.h
  arctools/neo/src/neo/Properties.h
Labels: enhancement, arcane

#1830 Fix value of CMake variable ARCANE_MSBUILD_EXEC in `ArcaneSwigConfig.cmake.in`
  arcane/tools/wrapper/ArcaneSwigConfig.cmake.in
Labels: bug, arcane, arcane:wrapping

#1831 Add support to do one RunCommand par variable when update constituents
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
Labels: enhancement, arcane, arcane:accelerator, arcane:materials

#1832 Force using resize without initialization when updating materials
  arcane/src/arcane/core/Array2Variable.cc
  arcane/src/arcane/core/Array2Variable.h
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/Variable.h
  arcane/src/arcane/core/VariableArray.cc
  arcane/src/arcane/core/VariableArray.h
  arcane/src/arcane/core/VariableScalar.h
  arcane/src/arcane/core/internal/IVariableInternal.h
  arcane/src/arcane/materials/MeshMaterialVariableArray.cc
  arcane/src/arcane/materials/MeshMaterialVariableScalar.cc
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1833 Add environment variable 'ARCANE_CUDA_MEMORY_HINT_ON_DEVICE' to automatically call 'cudaMemAdvise' on allocated unified memory
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
Labels: enhancement, arcane, arcane:accelerator

#1834 Update changelog for Arcane 3.14
  arcane/doc/doc_common/changelog.md
Labels: documentation, arcane

#1835 Begin support for variables with datatype 'Float16', 'Float32', 'BFloat16' and 'Int8'
  arcane/ceapart/src/arcane/tests/MeshMaterialTesterModule.cc
  arcane/src/arcane/core/AbstractDataVisitor.cc
  arcane/src/arcane/core/AbstractDataVisitor.h
  arcane/src/arcane/core/Array2Variable.cc
  arcane/src/arcane/core/IDataVisitor.h
  arcane/src/arcane/core/MeshVariableTpl.cc
  arcane/src/arcane/core/MeshVariableTplArray.cc
  arcane/src/arcane/core/PrivateVariableArrayTpl.cc
  arcane/src/arcane/core/PrivateVariableScalarTpl.cc
  arcane/src/arcane/core/RawCopy.h
  arcane/src/arcane/core/VariableArray.cc
  arcane/src/arcane/core/VariableDataTypeTraits.h
  arcane/src/arcane/core/VariableDiff.cc
  arcane/src/arcane/core/VariableInfo.cc
  arcane/src/arcane/core/VariableRefArray.cc
  arcane/src/arcane/core/VariableRefScalar.cc
  arcane/src/arcane/core/VariableScalar.cc
  arcane/src/arcane/core/datatype/DataTypeTraits.h
  arcane/src/arcane/core/datatype/DataTypes.cc
  arcane/src/arcane/core/datatype/DataTypes.h
  arcane/src/arcane/core/datatype/IDataOperation.h
  arcane/src/arcane/core/materials/IMeshMaterialVariable.cc
  arcane/src/arcane/core/materials/MeshEnvironmentVariableRef.cc
  arcane/src/arcane/core/materials/MeshMaterialVariableRef.cc
  arcane/src/arcane/hdf5/Hdf5Utils.cc
  arcane/src/arcane/hdf5/Hdf5Utils.h
  arcane/src/arcane/impl/Array2Data.cc
  arcane/src/arcane/impl/ArrayData.cc
  arcane/src/arcane/impl/DataOperation.cc
  arcane/src/arcane/impl/DataOperation.h
  arcane/src/arcane/impl/ScalarData.cc
  arcane/src/arcane/materials/MeshMaterialVariableScalar.cc
  arcane/src/arcane/tests/StdMeshVariables.cc
  arcane/src/arcane/tests/StdMeshVariables.h
  arcane/src/arcane/utils/Convert.cc
  arcane/src/arcane/utils/Misc.cc
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/ValueConvert.h
Labels: enhancement, arcane

#1836 Split material variable instantiation in several files
  arcane/cmake/Functions.cmake
  arcane/src/arcane/materials/MeshMaterialVariableArray.inst.h
  arcane/src/arcane/materials/MeshMaterialVariableArrayTpl1.cc
  arcane/src/arcane/materials/MeshMaterialVariableArrayTpl2.cc
  arcane/src/arcane/materials/MeshMaterialVariableScalar.inst.h
  arcane/src/arcane/materials/MeshMaterialVariableScalarTpl1.cc
  arcane/src/arcane/materials/MeshMaterialVariableScalarTpl2.cc
  arcane/src/arcane/materials/MeshMaterialVariableScalarTpl3.cc
  arcane/src/arcane/materials/srcs.cmake
Labels: arcane, build, refactoring, arcane:materials

#1837 Add specific HDF5 type for ´float' instead of using the type for 'Real'
  arcane/src/arcane/hdf5/Hdf5Utils.cc
  arcane/src/arcane/hdf5/Hdf5Utils.h
Labels: enhancement, arcane

#1838 With ARCANE_CUDA_MEMORY_HINT_ON_DEVICE set, apply memory hint when calling cudaMallocManaged
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
Labels: arcane, refactoring, arcane:accelerator

#1839 Use accelerator API to initialize 'AllCellToAllEnvCell' information
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/materials/AllCellToAllEnvCellConverter.cc
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1840 Do not use Accelerator API for building 'ComponentItemVector' when multi-threading is active.
  arcane/src/arcane/materials/ConstituentItemVectorImpl.cc
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/internal/ConstituentItemVectorImpl.h
Labels: bug, arcane, arcane:accelerator, arcane:materials

#1842 Begin support to allow concurrent usage of RunQueue for RunCommand creation
  arcane/src/arcane/accelerator/core/RunCommand.cc
  arcane/src/arcane/accelerator/core/RunCommand.h
  arcane/src/arcane/accelerator/core/RunCommandImpl.cc
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/accelerator/core/RunQueueImpl.cc
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/internal/RunCommandImpl.h
  arcane/src/arcane/accelerator/core/internal/RunQueueImpl.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/ArcaneTestStandaloneAcceleratorMng.cc
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
Labels: enhancement, arcane, refactoring, arcane:accelerator

#1843 Refactor 'AllCellToAllEnvCell'
  arcane/src/arcane/core/materials/MaterialsCoreGlobal.h
  arcane/src/arcane/core/materials/internal/IMeshMaterialMngInternal.h
  arcane/src/arcane/materials/AllCellToAllEnvCellConverter.cc
  arcane/src/arcane/materials/AllCellToAllEnvCellConverter.h
  arcane/src/arcane/materials/AllEnvData.cc
  arcane/src/arcane/materials/MaterialsGlobal.h
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/materials/internal/AllCellToAllEnvCellContainer.h
  arcane/src/arcane/materials/internal/MeshMaterialMng.h
  arcane/src/arcane/materials/srcs.cmake
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
  arcane/src/arcane/utils/MemoryUtils.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1844 Replace usage of 'boost::remove_reference' with 'std::remove_reference'
  alien/standalone/examples/test_krylov.cpp
Labels: build, alien

#1846 Preparatory works for polyhedral exchange items
  arcane/src/arcane/core/IItemFamilyNetwork.h
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/ItemFamilyNetwork.cc
  arcane/src/arcane/mesh/ItemFamilyNetwork.h
  arcane/src/arcane/mesh/MeshExchange.cc
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/utils/GraphBaseT.h
Labels: enhancement, arcane

#1845 Use instance of Runner and RunQueue instead of pointer for IParallelMngInternal
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/core/ParallelMngDispatcher.cc
  arcane/src/arcane/core/internal/IParallelMngInternal.h
  arcane/src/arcane/impl/DataSynchronizeBuffer.cc
  arcane/src/arcane/impl/SubDomain.cc
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/impl/internal/IBufferCopier.h
  arcane/src/arcane/impl/internal/VariableSynchronizer.h
  arcane/src/arcane/materials/AcceleratorMeshMaterialSynchronizerImpl.cc
  arcane/src/arcane/materials/MeshMaterialVariableSynchronizerList.cc
  arcane/src/arcane/materials/internal/IndexSelecter.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1847 Dispatch info for all read variables and groups in `VtkPolyhedralMeshIOService`.
  arcane/src/arcane/std/VtkPolyhedralMeshIOService.cc
Labels: enhancement, arcane

#1848 Add a test with a single cell layer
  arcane/ceapart/src/arcane/tests/CartesianMeshTestUtils.cc
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testCartesianMesh2D-3.arc
Labels: bug, arcane

#1849 Use 'mli2' instead of 'mli' for default file format with Lima
  arcane/ceapart/src/arcane/cea/Lima.cc
  arcane/src/arcane/impl/internal/LegacyMeshBuilder.cc
  arcane/src/arcane/std/ArcaneCasePartitioner.cc
Labels: arcane

#1850 Add global mutex around Lima when using MLI2.
  arcane/ceapart/src/arcane/cea/Lima.cc
Labels: bug, arcane

#1851 Add experimental support to generate uniqueId of faces from uniqueId of its nodes
  arcane/src/arcane/core/MeshUtils.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#1852 Fix compilation with ROCM version 5
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
Labels: arcane, build

#1853 Make sure load balancing is always active in SplitSD test
  arcane/ceapart/tests/testLoadBalanceHydro-SplitSD.arc
Labels: arcane, CI

#1854 Reduce overhead when launching RunCommand
  arcane/src/arcane/accelerator/KernelLauncher.h
  arcane/src/arcane/accelerator/core/RunCommand.cc
  arcane/src/arcane/accelerator/core/RunCommand.h
  arcane/src/arcane/accelerator/core/RunCommandImpl.cc
  arcane/src/arcane/accelerator/core/RunCommandLaunchInfo.cc
  arcane/src/arcane/accelerator/core/RunCommandLaunchInfo.h
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueueImpl.cc
  arcane/src/arcane/accelerator/core/internal/RunCommandImpl.h
  arcane/src/arcane/accelerator/core/internal/RunQueueImpl.h
Labels: arcane, refactoring, arcane:accelerator

#1855 Add class NativeStream to handle native stream of the accelerator runtime
  arcane/src/arcane/accelerator/AcceleratorUtils.h
  arcane/src/arcane/accelerator/CommonUtils.cc
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/KernelLauncher.h
  arcane/src/arcane/accelerator/core/AcceleratorCoreGlobal.h
  arcane/src/arcane/accelerator/core/NativeStream.h
  arcane/src/arcane/accelerator/core/RunCommand.cc
  arcane/src/arcane/accelerator/core/RunCommand.h
  arcane/src/arcane/accelerator/core/RunCommandLaunchInfo.cc
  arcane/src/arcane/accelerator/core/RunCommandLaunchInfo.h
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/accelerator/core/RunQueueRuntime.cc
  arcane/src/arcane/accelerator/core/internal/IRunQueueStream.h
  arcane/src/arcane/accelerator/core/srcs.cmake
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/sycl/runtime/SyclAcceleratorRuntime.cc
Labels: arcane, refactoring, arcane:accelerator

#1856 Use 'sigaction' instead of 'sigset' for handling SIGPROF signal
  arcane/src/arcane/std/ProfPerformanceService.cc
  arcane/src/arcane/std/ProfilingInfo.h
Labels: arcane, refactoring

#1857 Add a property to disable compacting of the mesh after allocation
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/tests/MeshUnitTest.axl
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/tests/testMesh-2-sorted-faces.arc
Labels: enhancement, arcane

#1858 Add support for partitioning in two parts with Sycl/OneApi
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/GenericPartitioner.h
  arcane/src/arcane/accelerator/tests/CMakeLists.txt
  arcane/src/arcane/accelerator/tests/TestInit.cc
  arcane/src/arcane/accelerator/tests/TestPartition.cc
  arcane/src/arcane/accelerator/tests/TestPartition_Kernel.cc
  arcane/src/arcane/accelerator/tests/TestReduce.cc
Labels: enhancement, arcane, arcane:accelerator

#1859 Add support for 'SmallSpan' in arguments of some methods of 'NumArray' and 'MDSpan' for dimension 1
  arcane/src/arcane/accelerator/tests/TestPartition_Kernel.cc
  arcane/src/arcane/utils/MDDim.h
  arcane/src/arcane/utils/MDSpan.h
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/tests/TestNumArray.cc
Labels: enhancement, arcane

#1860 Cleanup 'ArrayExtents' and 'MDDim'
  arcane/src/arcane/utils/ArrayExtentsValue.h
  arcane/src/arcane/utils/ExtentsV.h
  arcane/src/arcane/utils/MDDim.h
  arcane/src/arcane/utils/srcs.cmake
Labels: arcane, refactoring

#1863 Add test for mesh scalar variables for new datatypes 'Int8', 'BFloat16', 'Float16' and 'Float32'
  arcane/src/arcane/tests/StdScalarMeshVariables.cc
  arcane/src/arcane/tests/VariableUnitTest.cc
Labels: arcane, CI

#1864 Create classes 'Int128' and 'Float128' to handle these data types
  arccore/src/base/arccore/base/CMakeLists.txt
  arccore/src/base/arccore/base/Float128.h
  arccore/src/base/arccore/base/FloatConversion.h
  arccore/src/base/arccore/base/Int128.h
  arccore/src/base/tests/TestBasicDataType.cc
Labels: enhancement, arccore

#1865 Always use 'add_subdirectory' to build Arccore from Arcane
  .github/workflows/compile-all-vcpkg.yml
  arcane/CMakeLists.txt
Labels: arcane, build

#1866 Use '_Float128' on 'aarch64' for type 'Float128'
  arccore/src/base/arccore/base/ArccoreGlobal.cc
  arccore/src/base/arccore/base/Float128.h
Labels: bug, arccore

#1867 Add serialization of new types 'Float128' and 'Int128'
  arccore/src/base/arccore/base/ArccoreGlobal.h
  arccore/src/base/arccore/base/ValueFiller.h
  arccore/src/message_passing/arccore/message_passing/Messages.cc
  arccore/src/serialize/arccore/serialize/BasicSerializer.cc
  arccore/src/serialize/arccore/serialize/BasicSerializer.h
  arccore/src/serialize/arccore/serialize/BasicSerializerInternal.h
  arccore/src/serialize/arccore/serialize/CMakeLists.txt
  arccore/src/serialize/arccore/serialize/ISerializer.h
  arccore/src/serialize/arccore/serialize/SerializeGlobal.cc
  arccore/src/serialize/tests/TestSerialize.cc
Labels: enhancement, arccore

#1870 Minor update is Arccore serialize component
  arccore/src/base/arccore/base/BasicDataType.h
  arccore/src/message_passing/arccore/message_passing/Messages.cc
  arccore/src/serialize/arccore/serialize/BasicSerializer.cc
  arccore/src/serialize/arccore/serialize/CMakeLists.txt
  arccore/src/serialize/arccore/serialize/ISerializer.h
  arccore/src/serialize/arccore/serialize/internal/BasicSerializerInternal.h
Labels: arccore, refactoring

#1871 Move some mathematical methods of 'Real2', 'Real3', 'Real2x2' and 'Real3x3' in namespace 'math'
  arcane/src/arcane/utils/Real2.h
  arcane/src/arcane/utils/Real2x2.h
  arcane/src/arcane/utils/Real3.h
  arcane/src/arcane/utils/Real3x3.h
Labels: arcane, refactoring

#1872 Remove usage of deprecated methods of 'ISerializer'
  arcane/src/arcane/core/Properties.cc
  arcane/src/arcane/core/SerializedData.cc
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/datatype/DataTypeTraits.h
  arcane/src/arcane/core/parallel/VariableParallelOperationBase.cc
  arcane/src/arcane/impl/Array2Data.cc
  arcane/src/arcane/impl/ArrayData.cc
  arcane/src/arcane/impl/GetVariablesValuesParallelOperation.cc
  arcane/src/arcane/impl/NumArrayData.cc
  arcane/src/arcane/impl/PropertyMng.cc
  arcane/src/arcane/impl/ScalarData.cc
  arcane/src/arcane/impl/TransferValuesParallelOperation.cc
  arcane/src/arcane/materials/MeshMaterialVariableArray.inst.h
  arcane/src/arcane/materials/MeshMaterialVariableScalar.inst.h
  arcane/src/arcane/mesh/BasicParticleExchanger.cc
  arcane/src/arcane/mesh/CellFamilySerializer.cc
  arcane/src/arcane/mesh/EdgeUniqueIdBuilder.cc
  arcane/src/arcane/mesh/FaceUniqueIdBuilder.cc
  arcane/src/arcane/mesh/IndirectItemFamilySerializer.cc
  arcane/src/arcane/mesh/ItemConnectivitySynchronizer.cc
  arcane/src/arcane/mesh/ItemData.cc
  arcane/src/arcane/mesh/ItemFamilyVariableSerializer.cc
  arcane/src/arcane/mesh/ItemGroupsSerializer2.cc
  arcane/src/arcane/mesh/ItemsExchangeInfo2.cc
  arcane/src/arcane/mesh/MeshExchange.cc
  arcane/src/arcane/mesh/NonBlockingParticleExchanger.cc
  arcane/src/arcane/mesh/ParticleFamilySerializer.cc
  arcane/src/arcane/tests/ParallelMngTest.cc
  arcane/src/arcane/tests/ParallelTesterModule.cc
Labels: arcane, refactoring

#1874 Improvements to configuration to speed-up compilation
  CMakePresets.json
  arcane/ceapart/src/arcane/cea/CMakeLists.txt
  arcane/ceapart/src/arcane/cea/srcs.cmake
  arcane/ceapart/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/core/ExternalPartitionConstraint.cc
  arcane/src/arcane/core/ExternalPartitionConstraint.h
  arcane/src/arcane/core/Variable.h
  arcane/src/arcane/core/VariableArray.h
  arcane/src/arcane/core/VtkCellTypes.cc
  arcane/src/arcane/core/internal/VtkCellTypes.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/hdf5/CMakeLists.txt
  arcane/src/arcane/hdf5/MEDMeshReaderService.cc
  arcane/src/arcane/hdf5/VtkHdfPostProcessor.axl
  arcane/src/arcane/hdf5/VtkHdfPostProcessor.cc
  arcane/src/arcane/hdf5/VtkHdfV2PostProcessor.axl
  arcane/src/arcane/hdf5/VtkHdfV2PostProcessor.cc
  arcane/src/arcane/hdf5/srcs.cmake
  arcane/src/arcane/materials/srcs.cmake
  arcane/src/arcane/mesh/ExternalPartitionConstraint.h
  arcane/src/arcane/mesh/srcs.cmake
  arcane/src/arcane/std/ArcaneCasePartitioner.cc
  arcane/src/arcane/std/CMakeLists.txt
  arcane/src/arcane/std/SplitSDMeshPartitioner.axl
  arcane/src/arcane/std/SplitSDMeshPartitioner.cc
  arcane/src/arcane/std/SplitSDMeshPartitioner.h
  arcane/src/arcane/std/VtkMeshIOService.cc
  arcane/src/arcane/std/srcs.cmake
  arcane/tools/wrapper/ArcaneSwigUtils.cmake
  arcane/tools/wrapper/core/ArcaneSwigCore.i
  arcane/tools/wrapper/core/ArcaneSwigCoreInclude.h
  arcane/tools/wrapper/core/CMakeLists.txt
  arcane/tools/wrapper/launcher/CMakeLists.txt
Labels: arcane, build

#1875 Refactor usage of accelerator API for constituents and add documentation
  arcane/doc/doc_user/chap_acceleratorapi/0_acceleratorapi.md
  arcane/doc/doc_user/chap_acceleratorapi/1_accelerator.md
  arcane/doc/doc_user/chap_acceleratorapi/3_materials.md
  arcane/doc/doc_user/chap_acceleratorapi/5_reduce.md
  arcane/src/arcane/accelerator/KernelLauncher.h
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.h
  arcane/src/arcane/core/materials/ComponentItemVectorView.h
  arcane/src/arcane/core/materials/MaterialsCoreGlobal.h
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
Labels: documentation, arcane, refactoring, arcane:accelerator, arcane:materials

#1876 Remove specific test using 'tbb::spin_mutex'
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/TaskUnitTest.cc
Labels: arcane, CI

#1877 Uniformize handling of profiling for TaskConcurrency
  arcane/src/arcane/accelerator/RunCommandEnumerate.h
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.h
  arcane/src/arcane/accelerator/core/RunCommandLaunchInfo.cc
  arcane/src/arcane/accelerator/core/RunCommandLaunchInfo.h
  arcane/src/arcane/parallel/thread/TBBTaskImplementation.cc
  arcane/src/arcane/utils/ConcurrencyUtils.cc
  arcane/src/arcane/utils/ConcurrencyUtils.h
Labels: arcane, refactoring, arcane:accelerator

#1878 Add basic implementation of 'Scan' algorithm with multi-thread accelerator policy
  arcane/src/arcane/accelerator/GenericScanner.h
  arcane/src/arcane/accelerator/MultiThreadAlgo.cc
  arcane/src/arcane/accelerator/MultiThreadAlgo.h
  arcane/src/arcane/accelerator/srcs.cmake
Labels: enhancement, arcane, arcane:accelerator

#1879 Fix compilation with SYCL.
  arcane/src/arcane/accelerator/KernelLauncher.h
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.h
Labels: bug, arcane, build, arcane:accelerator

#1880 Add basic multi-thread implementation for 'GenericFiltererIf'
  arcane/src/arcane/accelerator/GenericFilterer.h
  arcane/src/arcane/accelerator/MultiThreadAlgo.h
Labels: enhancement, arcane, arcane:accelerator

#1881 Compute automatically the grain size for multi-thread loop
  arcane/src/arcane/accelerator/core/RunCommandLaunchInfo.cc
  arcane/src/arcane/parallel/thread/TBBTaskImplementation.cc
Labels: enhancement, arcane, arcane:accelerator

#1882 Add specific implementation of 'GenericFiltering' when input and output are the same
  arcane/src/arcane/accelerator/GenericFilterer.h
  arcane/src/arcane/accelerator/MultiThreadAlgo.h
  arcane/src/arcane/materials/IncrementalComponentModifier_Accelerator.cc
Labels: arcane, arcane:accelerator
