Repository arcaneframework/framework, pull requests merged in 2024-01, with the labels that each got.

#1100 Rename 'arcane/CMake' directory to 'arccore/cmake´
  arccore/CMakeLists.txt
  arccore/cmake/ArccoreConfig.cmake.in
  arccore/cmake/CheckArccoreTypeSize.cmake
  arccore/cmake/CheckCompileFlags.cmake
  arccore/cmake/Functions.cmake
Labels: arccore, build, refactoring

#1101 Add partial message passing support for types 'Float16' and 'BFloat16'
  arccore/src/base/arccore/base/ArccoreGlobal.cc
  arccore/src/base/arccore/base/ArccoreGlobal.h
  arccore/src/message_passing/arccore/message_passing/Dispatchers.cc
  arccore/src/message_passing/arccore/message_passing/Dispatchers.h
  arccore/src/message_passing/arccore/message_passing/IDispatchers.h
  arccore/src/message_passing/arccore/message_passing/Messages.cc
  arccore/src/message_passing/arccore/message_passing/Messages.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiTypeDispatcher.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiTypeDispatcher.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiTypeDispatcherImpl.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/StandaloneMpiMessagePassingMng.cc
  arccore/src/message_passing_mpi/tests/CMakeLists.txt
  arccore/src/message_passing_mpi/tests/TestMpi.cc
Labels: enhancement, arccore

#1102 Add message passing support for Reduction for types 'Float16' and 'BFloat16'
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/StandaloneMpiMessagePassingMng.cc
  arccore/src/message_passing_mpi/tests/TestMpi.cc
Labels: enhancement, arccore

#1103 Add utilitary class to fill a Span with random values
  arccore/src/base/arccore/base/CMakeLists.txt
  arccore/src/base/arccore/base/ValueFiller.h
  arccore/src/base/tests/CMakeLists.txt
  arccore/src/base/tests/TestValueFiller.cc
  arccore/src/serialize/tests/TestSerialize.cc
Labels: enhancement, arccore

#1105 Add class to keep containers of builtin datatype
  arccore/src/base/arccore/base/BuiltInDataTypeContainer.h
  arccore/src/base/arccore/base/CMakeLists.txt
  arccore/src/base/tests/TestValueFiller.cc
  arccore/src/message_passing/arccore/message_passing/Dispatchers.cc
  arccore/src/message_passing/arccore/message_passing/Dispatchers.h
Labels: enhancement, arccore, refactoring

#1084 Rewrite AxlDoc 'BriefDescription' part
  arcane/doc/doc_user/chap_core_types/subchap_axl/0_axl.md
  arcane/doc/doc_user/chap_core_types/subchap_axl/4_others.md
  arcane/doc/doc_user/chap_core_types/subchap_axl/subchap_caseoptions/0_caseoptions.md
  arcane/doc/doc_user/chap_core_types/subchap_axl/subchap_caseoptions/5_default_values.md
  axlstar/Axlstar.AxlDoc/Arcane.AxlDoc/DoxygenDocumentationGenerator.cs
Labels: documentation, enhancement, arcane, axlstar

#1106 Refactor handling of 'eDataType' and add type 'Int8'
  arcane/src/arcane/core/CMakeLists.txt
  arcane/src/arcane/core/datatype/DataTypes.cc
  arcane/src/arcane/core/datatype/DataTypes.h
  arcane/src/arcane/core/tests/CMakeLists.txt
  arcane/src/arcane/core/tests/TestDataTypes.cc
  arcane/src/arcane/utils/NumericTypes.h
  arcane/src/arcane/utils/srcs.cmake
Labels: enhancement, arcane, refactoring

#1108 Add option to not build faces when calling IMeshModifier::addCells()
  arcane/src/arcane/cartesianmesh/CartesianMeshCoarsening2.cc
  arcane/src/arcane/core/IMeshModifier.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
Labels: enhancement, arcane

#1107 Add a chapter on compilation
  arcane/CMakeLists.txt
  arcane/doc/devdoc.doxyfile
  arcane/doc/doc_common/chap_build_install/0_build_install.md
  arcane/doc/doc_common/chap_build_install/1_prerequisites.goto
  arcane/doc/doc_common/chap_build_install/2_build.md
  arcane/doc/doc_common/chap_build_install/_docker.md
  arcane/doc/doc_common/chap_build_install/_spack.md
  arcane/doc/doc_common/chap_build_install/subchap_prerequisites/0_prerequisites.md
  arcane/doc/doc_common/chap_build_install/subchap_prerequisites/_arch.md
  arcane/doc/doc_common/chap_build_install/subchap_prerequisites/_rh9.md
  arcane/doc/doc_common/chap_build_install/subchap_prerequisites/_ubuntu20.md
  arcane/doc/doc_common/chap_build_install/subchap_prerequisites/_ubuntu22.md
  arcane/doc/doc_common/chap_build_install/subchap_prerequisites/snippets/_cmake.md
  arcane/doc/doc_dev/0_devmanual.md
  arcane/doc/doc_user/0_usermanual.md
  arcane/doc/userdoc.doxyfile
Labels: documentation, enhancement, arcane

#1109 Add new method 4 for CartesianMesh uniqueId renumbering
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-RenumberingV4-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-RenumberingV4-1.arc
  arcane/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshRenumberingInfo.h
  arcane/src/arcane/cartesianmesh/internal/CartesianMeshUniqueIdRenumbering.cc
Labels: enhancement, arcane

#1110 Use std::atomic_flag for spin lock
  arccore/src/concurrency/arccore/concurrency/CMakeLists.txt
  arccore/src/concurrency/arccore/concurrency/IThreadImplementation.h
  arccore/src/concurrency/arccore/concurrency/NullThreadImplementation.h
  arccore/src/concurrency/arccore/concurrency/SpinLock.cc
  arccore/src/concurrency/arccore/concurrency/SpinLock.h
  arccore/src/concurrency/tests/CMakeLists.txt
  arccore/src/concurrency/tests/TestConcurrency.cc
Labels: enhancement, arccore, refactoring

#1111 Refactor 'ItemInfoListView' and add functions for Faces
  arcane/src/arcane/core/ItemFlags.h
  arcane/src/arcane/core/ItemGenericInfoListView.h
  arcane/src/arcane/core/ItemInfoListView.cc
  arcane/src/arcane/core/ItemInfoListView.h
  arcane/src/arcane/tests/accelerator/AcceleratorItemInfoUnitTest.cc
Labels: enhancement, arcane, refactoring

#1112 Use Arccore 'mpAllGather()' for all gather of 'ISerializer'
  arcane/src/arcane/core/ParallelMngDispatcher.cc
  arcane/src/arcane/core/ParallelMngDispatcher.h
  arcane/src/arcane/core/SerializeBuffer.cc
  arcane/src/arcane/core/SerializeBuffer.h
  arcane/src/arcane/impl/SequentialParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.h
  arcane/src/arcane/parallel/mpithread/HybridParallelMng.cc
  arcane/src/arcane/parallel/mpithread/HybridParallelMng.h
  arcane/src/arcane/parallel/thread/SharedMemoryParallelMng.cc
  arcane/src/arcane/parallel/thread/SharedMemoryParallelMng.h
Labels: arcane, refactoring

#1114 Do not filter signed assemblies when loading '.Net' plug-in.
  arcane/tools/wrapper/core/csharp/ArcaneMain.cs
  arcane/tools/wrapper/core/csharp/AssemblyLoaderHelper.cs
Labels: arcane, refactoring

#1115 Simplify implementation of 'ValueChecker::areEqualArray()'
  arcane/src/arcane/utils/ValueChecker.h
Labels: enhancement, arcane, refactoring

#1116 Fix version 2 of MPI sub-request handling for serialization when using MPI_ANY_SOURCE
  arccore/src/message_passing/arccore/message_passing/CMakeLists.txt
  arccore/src/message_passing/arccore/message_passing/MessagePassingGlobal.h
  arccore/src/message_passing/arccore/message_passing/Request.h
  arccore/src/message_passing/arccore/message_passing/internal/SubRequestCompletionInfo.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiAdapter.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiSerializeDispatcher.cc
Labels: bug, arccore

#1113 Use by default version 2 of MPI SerializeMessageList
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: arcane, refactoring

#1117 Use 'MPI_Init_thread()' instead of 'MPI_Init()' in Arccore tests
  arccore/src/message_passing_mpi/tests/TestMain.cc
Labels: arccore

#1118 Remove minor compiler warnings
  arcane/src/arcane/cartesianmesh/CartesianMeshAMRPatchMng.cc
  arcane/src/arcane/core/ServiceOptions.h
  arcane/src/arcane/materials/MeshComponentData.cc
Labels: arcane

#1120 Fix wrong deletion of instance when calling 'Ref::_release()'
  arccore/src/base/arccore/base/ExternalRef.h
  arccore/src/base/arccore/base/Ref.h
  arccore/src/base/arccore/base/RefBase.h
  arccore/src/base/tests/TestRef.cc
  arccore/src/base/tests/TestReferenceCounter.cc
Labels: bug, arccore

#1121 Allow usage of 'ReferenceCounterImpl' without interface base class
  arccore/src/base/arccore/base/ReferenceCounterImpl.h
  arccore/src/base/tests/TestRef.cc
Labels: enhancement, arccore

#1123 Add define 'ARCANE_HAS_ACCELERATOR' when Arcane is compiled with support for an accelerator
  arcane/CMakeLists.txt
Labels: arcane, build

#1124 Add method 'IMesh::computeSynchronizeInfos()' to recompute synchronisation information
  arcane/src/arcane/core/IMesh.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMesh.h
  arcane/src/arcane/mesh/EmptyMesh.h
Labels: enhancement, arcane

#1119 Shows a compile error with CUDA 12 and ARCCORE_CXX_STANDARD=23
  arcane/CMakeLists.txt
  arcane/src/arcane/accelerator/cuda/CMakeLists.txt
Labels: enhancement, build, arcane:accelerator

#1125 Cleanup Aleph/Hypre and handle version of Hypre compiled with accelerator support (CUDA,ROCM)
  arcane/src/arcane/aleph/hypre/AlephHypre.cc
  arcane/src/arcane/aleph/hypre/CMakeLists.txt
Labels: arcane, refactoring

#1127 Add reference counter for implementation of 'IParallelDispatchT' and 'IThreadImplementation'
  arcane/src/arcane/parallel/mpi/MpiParallelDispatch.h
  arcane/src/arcane/parallel/mpithread/HybridParallelDispatch.h
  arcane/src/arcane/parallel/thread/SharedMemoryParallelDispatch.h
  arcane/src/arcane/parallel/thread/TBBThreadImplementation.cc
Labels: arcane, refactoring

#1128 Fix missing update after calling 'ITimeStats::resetStats()'
  arcane/src/arcane/impl/TimeStats.cc
Labels: bug, arcane

#1130 Fix C# compilation warnings about unreachable code
  arcane/tools/Arcane.Curves/Utils.cs
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.TestDriver/TestDriver.cs
Labels: arcane, refactoring

#1131 Fix bad return value for C# method 'ItemInternal.Cells()'
  arcane/src/arcane/tests/MeshModification.cs
  arcane/tools/wrapper/core/csharp/ItemInternal.cs
Labels: bug, arcane

#1132 Use class 'ReferenceCounterImpl' to manage reference count for implementation of 'IThreadImplementation'
  arccore/src/concurrency/arccore/concurrency/ConcurrencyGlobal.cc
  arccore/src/concurrency/arccore/concurrency/ConcurrencyGlobal.h
  arccore/src/concurrency/arccore/concurrency/GlibThreadImplementation.h
  arccore/src/concurrency/arccore/concurrency/IThreadImplementation.h
  arccore/src/concurrency/arccore/concurrency/NullThreadImplementation.h
  arccore/src/concurrency/tests/TestConcurrency.cc
Labels: arccore, refactoring

#1134 Use 'String' instead of 'const String&' for return values of 'IVariable' and 'VariableRef'
  arcane/src/arcane/core/IVariable.h
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/Variable.h
  arcane/src/arcane/core/VariableRef.cc
  arcane/src/arcane/core/VariableRef.h
  arcane/src/arcane/core/materials/MeshMaterialVariableRef.cc
  arcane/src/arcane/core/materials/MeshMaterialVariableRef.h
Labels: arcane, refactoring

#1136 Add full parallel reading for MSH files
  arcane/src/arcane/std/MshParallelMeshReader.cc
  arcane/src/arcane/tests/IosUnitTest.cc
Labels: enhancement, arcane

#1137 Use 'Int64' instead of 'Int32' for tags and number of elements for MSH parallel reader
  arcane/src/arcane/std/MshParallelMeshReader.cc
Labels: arcane, refactoring

#1138 Add basic geometric partitioning for MSH parallel reader
  arcane/src/arcane/std/MshParallelMeshReader.cc
Labels: enhancement, arcane, refactoring

#1139 Mutualize arrays broadcast between ranks in 'MshParallelMeshReader'
  arcane/src/arcane/std/MshParallelMeshReader.cc
Labels: arcane, refactoring

#1140 Add interface 'IVariableInternal' to handle variable API internal to Arcane
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/IVariable.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/Variable.h
  arcane/src/arcane/core/internal/IVariableInternal.h
  arcane/src/arcane/core/srcs.cmake
Labels: enhancement, arcane

#1141 Cleanup some unused files
  arcane/src/arcane/core/Factory.h
  arcane/src/arcane/core/IPostProcessorReader.h
  arcane/src/arcane/core/IVariableAccessor.h
  arcane/src/arcane/core/ServiceFinder.h
  arcane/src/arcane/core/VariableAccessor.h
  arcane/src/arcane/core/VariableMultiArray2.h
  arcane/src/arcane/std/CMakeLists.txt
  arcane/src/arcane/std/PerfmonPerformanceService.cc
Labels: arcane, refactoring

#1142 Use reference counter for fields of 'BasicReader' and 'BasicWriter'
  arcane/src/arcane/std/BasicReader.cc
  arcane/src/arcane/std/BasicWriter.cc
  arcane/src/arcane/std/internal/BasicReaderWriter.h
Labels: arcane, refactoring

#1143 Cleanup 'ParallelDataWriter' and 'ParallelDataReader'
  arcane/src/arcane/std/ParallelDataReader.cc
  arcane/src/arcane/std/ParallelDataReader.h
  arcane/src/arcane/std/ParallelDataWriter.cc
  arcane/src/arcane/std/ParallelDataWriter.h
Labels: arcane, refactoring

#1144 Fix bad value of 'DataType' in method 'Arccore::asSpanInternal()'
  arccore/src/base/arccore/base/Span.h
Labels: bug, arccore

#1145 Begin development to compute a global hash for values of a mesh variable
  arcane/src/arcane/std/BasicReader.cc
  arcane/src/arcane/std/BasicReaderWriter.cc
  arcane/src/arcane/std/BasicWriter.cc
  arcane/src/arcane/std/internal/BasicReaderWriter.h
  arcane/tests/compare_par_par_v3.xml
  arcane/tests/compare_seq_par_v3.xml
  arcane/tests/compare_seq_seq_v3.xml
Labels: enhancement, arcane, refactoring

#1146 Move some classes in a file name with same name
  arcane/src/arcane/std/BasicCheckpointService.cc
  arcane/src/arcane/std/BasicGenericReader.cc
  arcane/src/arcane/std/BasicGenericWriter.cc
  arcane/src/arcane/std/BasicReader.cc
  arcane/src/arcane/std/BasicWriter.cc
  arcane/src/arcane/std/internal/BasicReader.h
  arcane/src/arcane/std/internal/BasicReaderWriter.h
  arcane/src/arcane/std/internal/BasicWriter.h
  arcane/src/arcane/std/srcs.cmake
Labels: arcane, refactoring

#1147 Save and restore comparison hash in 'BasicReader' and 'BasicWriter'
  arcane/src/arcane/std/BasicGenericReader.cc
  arcane/src/arcane/std/BasicGenericWriter.cc
  arcane/src/arcane/std/BasicReader.cc
  arcane/src/arcane/std/BasicReaderWriter.cc
  arcane/src/arcane/std/BasicWriter.cc
  arcane/src/arcane/std/VariableDataInfo.cc
  arcane/src/arcane/std/internal/BasicReader.h
  arcane/src/arcane/std/internal/BasicReaderWriter.h
  arcane/src/arcane/std/internal/BasicWriter.h
  arcane/src/arcane/std/internal/VariableDataInfo.h
  arcane/src/arcane/std/srcs.cmake
  arcane/tests/compare_par_par_v3.xml
  arcane/tests/compare_seq_par_v3.xml
  arcane/tests/compare_seq_seq_v3.xml
Labels: enhancement, arcane

#1148 Add support of JSON format for 'VariableDataInfo'
  arcane/src/arcane/std/BasicGenericReader.cc
  arcane/src/arcane/std/BasicGenericWriter.cc
  arcane/src/arcane/std/VariableDataInfo.cc
  arcane/src/arcane/std/internal/VariableDataInfo.h
Labels: enhancement, arcane, refactoring

#1149 Set by default CMAKE_BUILD_TYPE to 'Release' if it is not specified
  _common/build_all/CMakeLists.txt
Labels: build

#1150 Add variable values hash comparison in 'VariableComparer'
  arcane/tests/compare_par_par_v3.xml
  arcane/tests/compare_seq_par_v3.xml
  arcane/tests/compare_seq_seq_v3.xml
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.TestDriver/ScriptDriver.cs
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.TestDriver/VariableComparerDriver.cs
  arcane/tools/VariableComparer/ResultDatabase.cs
  arcane/tools/VariableComparer/VariableComparer.cs
  arcane/tools/VariableComparer/VariableDataInfo.cs
Labels: enhancement, arcane

#1152 Add support for saving only comparison hash in 'BasicWriter'
  arcane/src/arcane/core/IVerifierService.h
  arcane/src/arcane/core/VerifierService.h
  arcane/src/arcane/std/ArcaneBasicVerifierService.cc
  arcane/src/arcane/std/BasicCheckpointService.cc
  arcane/src/arcane/std/BasicGenericWriter.cc
  arcane/src/arcane/std/BasicWriter.cc
  arcane/src/arcane/std/internal/BasicReaderWriter.h
  arcane/src/arcane/std/internal/BasicWriter.h
  arcane/src/arcane/std/srcs.cmake
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/compare_par_par_hash_only.xml
  arcane/tests/compare_seq_par_hash_only.xml
  arcane/tests/compare_seq_seq_hash_only.xml
Labels: enhancement, arcane

#1153 Set by default 'CMAKE_BUILD_TYPE' to 'Release' only if 'ARCCORE_BUILD_MODE' is not defined
  _common/build_all/CMakeLists.txt
Labels: build

#1154 Fix missing export for Win32 compilation in debug mode
  arccore/src/message_passing/arccore/message_passing/MessagePassingGlobal.cc
Labels: bug, arccore
