Repository arcaneframework/framework, pull requests merged in 2024-04, with the labels that each got.

#1307 Add accelerator reduce algorithm with index
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/Scan.h
  arcane/src/arcane/tests/accelerator/AcceleratorReduceUnitTest.cc
Labels: enhancement, arcane, refactoring, arcane:accelerator

#1308 Make class 'GroupIndexTable' accessible from accelerator
  arcane/src/arcane/core/GroupIndexTable.cc
  arcane/src/arcane/core/GroupIndexTable.h
  arcane/src/arcane/tests/accelerator/AcceleratorViewsUnitTest.cc
  arcane/src/arcane/utils/HashFunction.h
Labels: arcane, refactoring, arcane:accelerator

#1309 Fix compilation using Visual Studio 2017
  arccore/src/base/arccore/base/Span.h
Labels: bug, arccore, build

#1311 Add class 'GroupIndexTableView' to manage views on 'GroupIndexTable'
  arcane/src/arcane/core/GroupIndexTable.cc
  arcane/src/arcane/core/GroupIndexTable.h
  arcane/src/arcane/tests/accelerator/AcceleratorViewsUnitTest.cc
Labels: enhancement, arcane, refactoring, arcane:accelerator

#1312 Use accelerator API to compute values in 'AllCellToEnvCellConverter'
  arcane/src/arcane/materials/AllCellToAllEnvCellConverter.cc
  arcane/src/arcane/materials/AllCellToAllEnvCellConverter.h
  arcane/src/arcane/materials/CMakeLists.txt
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1313 Add indexing via ItemLocalId for partial variable views
  arcane/src/arcane/accelerator/VariableViews.h
  arcane/src/arcane/core/MeshPartialVariableArrayRef.h
  arcane/src/arcane/core/MeshPartialVariableScalarRef.h
  arcane/src/arcane/tests/accelerator/AcceleratorViewsUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator

#1315 Allow using 'HostPinned' memory ressource if no accelerator is available
  arcane/src/arcane/accelerator/Filterer.cc
  arcane/src/arcane/accelerator/Partitioner.cc
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
  arcane/src/arcane/utils/MemoryRessourceMng.cc
  arcane/src/arcane/utils/internal/IMemoryRessourceMngInternal.h
  arcane/src/arcane/utils/internal/MemoryRessourceMng.h
Labels: arcane, arcane:accelerator

#1316 Fix unitialized values in test comparison.
  arcane/src/arcane/utils/tests/TestNumArray.cc
Labels: bug, arcane

#1317 Begin support for SYCL backend of accelerator API
  arcane/CMakeLists.txt
  arcane/cmake/Functions.cmake
  arcane/src/arcane/accelerator/CMakeLists.txt
  arcane/src/arcane/accelerator/sycl/CMakeLists.txt
  arcane/src/arcane/accelerator/sycl/SyclAccelerator.cc
  arcane/src/arcane/accelerator/sycl/SyclAccelerator.h
  arcane/src/arcane/accelerator/sycl/runtime/CMakeLists.txt
  arcane/src/arcane/accelerator/sycl/runtime/SyclAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/sycl/runtime/TestMain.cc
Labels: enhancement, arcane, arcane:accelerator

#1318 Add detection of macro __SYCL_DEVICE_ONLY__
  arccore/src/base/arccore/base/ArccoreGlobal.h
Labels: enhancement, arccore

#1320 Begin adding SYCL execution policy
  arcane/CMakeLists.txt
  arcane/cmake/Functions.cmake
  arcane/src/arcane/accelerator/AcceleratorGlobal.h
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/accelerator/RunQueueInternal.h
  arcane/src/arcane/accelerator/core/AcceleratorCore.cc
  arcane/src/arcane/accelerator/core/AcceleratorCoreGlobal.h
  arcane/src/arcane/accelerator/core/AcceleratorRuntimeInitialisationInfo.cc
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/internal/AcceleratorCoreGlobalInternal.h
  arcane/src/arcane/accelerator/sycl/runtime/SyclAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/sycl/runtime/Test.sycl.cc
  arcane/src/arcane/accelerator/sycl/runtime/TestCpp.cc
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/src/arcane/utils/ArcaneGlobal.h
Labels: enhancement, arcane, arcane:accelerator

#1322 Add namespace name in header guard.
  axlstar/Arcane.Axl.T4/Arcane.Axl/Axl.From.Xsd/OptionHandler.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.CaseOptions/CaseOptionsT4.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.CaseOptions/CaseOptionsT4.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Module/ModuleT4.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Module/ModuleT4.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4CaseAndStrong.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4CaseAndStrong.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4Standard.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4Standard.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4StrongOnly.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4StrongOnly.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/CaseOptionsT.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/CaseOptionsT.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/IOptions.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/IOptions.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/OptionsUtils.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/OptionsUtils.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/StrongOptionsFactory.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/StrongOptionsFactory.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/StrongOptions_h.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/StrongOptions_h.tt
Labels: refactoring, axlstar

#1323 Make classes 'Real*' trivially copyable
  arcane/src/arcane/utils/Limits.h
  arcane/src/arcane/utils/Real2.h
  arcane/src/arcane/utils/Real2x2.h
  arcane/src/arcane/utils/Real3.h
  arcane/src/arcane/utils/Real3x3.h
  arcane/src/arcane/utils/tests/TestRealN.cc
Labels: arcane, refactoring

#1325 Fix potential missing explicit instantiation of 'TimeHistoryMngInternal::_addHistoryValue()'.
  arcane/src/arcane/impl/internal/TimeHistoryMngInternal.cc
Labels: arcane, build

#1324 Make 'ArrayView' and 'ConstArrayView' trivially copyable
  arccore/src/base/arccore/base/ArrayView.h
  arccore/src/base/tests/TestArrayView.cc
Labels: arccore, refactoring

#1327 Remove useless ARCANE_IMPL_EXPORT in TimeHistoryMngInternal
  arcane/src/arcane/impl/internal/TimeHistoryMngInternal.h
Labels: arcane, refactoring

#1328 Begin work to make use of 'Glib' optional.
  arccore/CMakeLists.txt
  arccore/cmake/ArccoreConfig.cmake.in
  arccore/src/base/arccore/base/BasicTranscoder.cc
  arccore/src/base/arccore/base/CMakeLists.txt
  arccore/src/base/arccore/base/PlatformUtils.cc
  arccore/src/concurrency/arccore/concurrency/CMakeLists.txt
  arccore/src/concurrency/arccore/concurrency/ConcurrencyGlobal.cc
  arccore/src/trace/arccore/trace/CMakeLists.txt
Labels: arccore, refactoring

#1329 Fix minor compiler warnings
  arcane/src/arcane/core/materials/CellToAllEnvCellConverter.h
  arcane/src/arcane/impl/internal/VariableMng.h
  arcane/src/arcane/mesh/GraphDoFs.cc
  arcane/src/arcane/std/HiredisAdapter.cc
  arcane/src/arcane/utils/Real3x3.h
Labels: enhancement, arcane, build

#1330 Minor improvements in accelerator API
  arcane/src/arcane/accelerator/RunCommandEnumerate.h
  arcane/src/arcane/accelerator/RunCommandLaunchInfo.cc
  arcane/src/arcane/accelerator/RunCommandLaunchInfo.h
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.h
  arcane/src/arcane/accelerator/RunQueueInternal.h
  arcane/src/arcane/accelerator/core/AcceleratorCore.cc
  arcane/src/arcane/accelerator/core/AcceleratorCoreGlobal.h
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/accelerator/core/Runner.cc
Labels: arcane, refactoring, arcane:accelerator

#1332 Add move and copy constructor for AutoRef2
  arcane/src/arcane/utils/AutoRef.h
  arcane/src/arcane/utils/tests/CMakeLists.txt
  arcane/src/arcane/utils/tests/TestAutoRef.cc
Labels: enhancement, arcane

#1331 New fixes for VS 2017...
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/hypre/HypreBackEnd.h
  alien/ArcaneInterface/modules/ifpen_solvers/src/CMakeLists.txt
  alien/ArcaneInterface/modules/ifpen_solvers/src/alien/kernels/ifp/CMakeLists.txt
  arccon/build-system/Modules/FindHypre.cmake
Labels: build, arccon, alien

#1333 Simplify initialization of 'Runner'
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/internal/RunnerImpl.h
Labels: arcane, refactoring, arcane:accelerator

#1334 Improve SYCL support
  arcane/cmake/Functions.cmake
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/sycl/CMakeLists.txt
  arcane/src/arcane/accelerator/sycl/runtime/CMakeLists.txt
  arcane/src/arcane/accelerator/sycl/runtime/SyclAcceleratorRuntime.cc
  arcane/src/arcane/utils/ArcaneGlobal.h
Labels: enhancement, arcane, arcane:accelerator

#1335 Allow access to null 'ComponentItem'
  arcane/ceapart/src/arcane/tests/MeshMaterialTesterModule.cc
  arcane/src/arcane/core/materials/ComponentItem.h
  arcane/src/arcane/core/materials/ComponentItemInternal.cc
  arcane/src/arcane/core/materials/ComponentItemInternal.h
  arcane/src/arcane/materials/ComponentItemInternalData.cc
  arcane/src/arcane/utils/FixedArray.h
Labels: enhancement, arcane, arcane:materials

#1336 Fix some coverity warnings
  arcane/src/arcane/accelerator/MemoryCopier.cc
  arcane/src/arcane/accelerator/Reduce.h
Labels: arcane, build, arcane:accelerator

#1338 Add small sample to write a simple post processor
  arcane/samples_build/samples/CMakeLists.txt
  arcane/samples_build/samples/simple_postprocessor/CMakeLists.txt
  arcane/samples_build/samples/simple_postprocessor/SimplePostProcessor.axl
  arcane/samples_build/samples/simple_postprocessor/SimplePostProcessorService.cc
Labels: arcane

#1339 Add implementation of 'IThreadImplementation' using C++ standard library
  arccore/src/concurrency/arccore/concurrency/CMakeLists.txt
  arccore/src/concurrency/arccore/concurrency/ConcurrencyGlobal.h
  arccore/src/concurrency/arccore/concurrency/StdThreadImplementation.cc
  arccore/src/concurrency/tests/TestConcurrency.cc
Labels: enhancement, arccore

#1337 Add coarsing in the CartesianMeshAMRPatchMng class
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTesterModule.cc
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testAMRCartesianMesh2D-coarse-PatchCartesianMeshOnly-1.arc
  arcane/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshAMRPatchMng.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshAMRPatchMng.h
  arcane/src/arcane/cartesianmesh/CartesianMeshNumberingMng.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshNumberingMng.h
  arcane/src/arcane/cartesianmesh/CartesianMeshUtils.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshUtils.h
  arcane/src/arcane/cartesianmesh/ICartesianMeshAMRPatchMng.h
  arcane/src/arcane/cartesianmesh/ICartesianMeshNumberingMng.h
  arcane/src/arcane/cartesianmesh/internal/ICartesianMeshInternal.h
Labels: enhancement, arcane

#1342 Use 'std::hash' to print thread id for TBB implementation
  arcane/src/arcane/parallel/thread/TBBThreadImplementation.cc
  arcane/src/arcane/tests/ThreadUnitTest.cc
Labels: arcane, refactoring

#1344 Improve test 'MiniWeather'
  arcane/src/arcane/tests/accelerator/MiniWeatherArray.cc
Labels: arcane, refactoring, arcane:accelerator

#1345 Add SYCL support for RunCommand over mesh items and constituents items
  arcane/src/arcane/accelerator/RunCommandEnumerate.h
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.h
  arcane/src/arcane/accelerator/RunQueueInternal.h
Labels: enhancement, arcane, arcane:accelerator, arcane:materials

#1346 Fix minor compilation warnings
  arcane/src/arcane/accelerator/MemoryCopier.cc
  arcane/src/arcane/std/PapiPerformanceService.cc
  arcane/src/arcane/tests/ThreadUnitTest.cc
Labels: enhancement, arcane

#1351 Add support for checkpoints with AMR cartesian mesh
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testAMRCartesianMesh2D-PatchCartesianMeshOnly-5.arc
  arcane/src/arcane/cartesianmesh/CartesianMeshAMRPatchMng.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshNumberingMng.cc
  arcane/src/arcane/cartesianmesh/v2/CartesianMeshUniqueIdRenumberingV2.cc
Labels: bug, enhancement, arcane

#1352 Refactor accelerator implementation for reduction
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/tests/accelerator/AcceleratorReduceUnitTest.cc
Labels: arcane, refactoring, arcane:accelerator

#1353 Minor update in AMR cartesian mesh part
  arcane/src/arcane/cartesianmesh/CartesianMeshAMRPatchMng.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshAMRPatchMng.h
  arcane/src/arcane/cartesianmesh/CartesianMeshNumberingMng.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshNumberingMng.h
  arcane/src/arcane/cartesianmesh/ICartesianMeshAMRPatchMng.h
  arcane/src/arcane/cartesianmesh/ICartesianMeshNumberingMng.h
Labels: arcane, refactoring

#1354 Add missing 'break' in ROCM implementation of advanced algorithms (filering, scan, ...)
  arcane/src/arcane/accelerator/Filter.h
  arcane/src/arcane/accelerator/Partitioner.h
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/Scan.h
Labels: bug, arcane, arcane:accelerator

#1355 Begin support to add additional arguments when running commands
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/accelerator/RunQueueInternal.h
Labels: enhancement, arcane, refactoring, arcane:accelerator

#1356 Add support to get memory allocator without launching exception if not available
  arcane/src/arcane/tests/accelerator/ArcaneTestStandaloneAcceleratorMng.cc
  arcane/src/arcane/utils/IMemoryRessourceMng.h
  arcane/src/arcane/utils/MemoryRessourceMng.cc
  arcane/src/arcane/utils/internal/MemoryRessourceMng.h
Labels: enhancement, arcane

#1362 Fix potential duplication of uniqueId() in mesh boundary merge test
  arcane/src/arcane/tests/MeshMergeBoundariesUnitTest.cc
Labels: bug, arcane

#1359 Add googletest for accelerator API initialization
  arcane/src/arcane/accelerator/CMakeLists.txt
  arcane/src/arcane/accelerator/tests/CMakeLists.txt
  arcane/src/arcane/accelerator/tests/TestCommon.cc
  arcane/src/arcane/accelerator/tests/TestInit.cc
Labels: arcane, arcane:accelerator

#1363 Use default constructor to make some type 'c++ trivial'
  arcane/tools/wrapper/NumericWrapper.h
  arcane/tools/wrapper/materials/ArcaneSwigCeaMaterials.i
Labels: arcane, refactoring

#1364 Add method to get device or host allocator based on default runtime
  arcane/src/arcane/tests/accelerator/ArcaneTestStandaloneAcceleratorMng.cc
  arcane/src/arcane/utils/MemoryUtils.cc
  arcane/src/arcane/utils/MemoryUtils.h
Labels: arcane, arcane:accelerator

#1365 Rework accelerator reducer to enable explicit final reduction
  arcane/src/arcane/accelerator/Accelerator.cc
  arcane/src/arcane/accelerator/CommonCudaHipReduceImpl.h
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/accelerator/RunQueueInternal.h
Labels: arcane, refactoring, arcane:accelerator

#1366 Add implementation of 'Reducer2' for SYCL, sequential and multi-thread back-end
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/accelerator/RunQueueInternal.h
  arcane/src/arcane/tests/accelerator/AcceleratorReduceUnitTest.cc
  arcane/src/arcane/utils/ConcurrencyUtils.h
  arcane/src/arcane/utils/ForLoopRanges.h
Labels: enhancement, arcane, arcane:accelerator

#1368 Remove 'applyKernel' functions no longer used
  arcane/src/arcane/accelerator/RunQueueInternal.h
Labels: arcane, refactoring, arcane:accelerator

#1370 Use mathematical functions from 'cmath' instead of 'math.h'
  arcane/src/arcane/utils/Math.h
  arcane/src/arcane/utils/StdHeader.h
Labels: arcane, refactoring

#1371 Add experimental macro RUNCOMMAND_LOOP1_EX to add reducer arguments
  arcane/CMakeLists.txt
  arcane/src/arcane/accelerator/RunCommandLoop.h
  arcane/src/arcane/accelerator/RunQueueInternal.h
  arcane/src/arcane/tests/accelerator/AcceleratorReduceUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator

#1372 Add support for reducer argument in RUNCOMMAND_ENUMERATE
  arcane/src/arcane/accelerator/RunCommandEnumerate.h
  arcane/src/arcane/accelerator/RunQueueInternal.h
  arcane/src/arcane/tests/accelerator/SimpleHydroAcceleratorService.cc
Labels: enhancement, arcane, arcane:accelerator

#1373 Improve SYCL support
  arcane/src/arcane/accelerator/Atomic.h
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/sycl/runtime/SyclAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/sycl/runtime/Test.sycl.cc
  arcane/src/arcane/accelerator/sycl/runtime/TestCpp.cc
  arcane/src/arcane/materials/AllCellToAllEnvCellConverter.h
  arcane/src/arcane/materials/ConstituentConnectivityList.cc
  arcane/src/arcane/tests/accelerator/AcceleratorReduceUnitTest.cc
  arcane/src/arcane/tests/accelerator/MiniWeatherArray.cc
Labels: enhancement, arcane, arcane:accelerator

#1374 Add SYCL implementation of 'Scan' algorithm using Intel DPL
  arcane/src/arcane/accelerator/CommonUtils.cc
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/Scan.h
Labels: enhancement, arcane, arcane:accelerator

#1377 Make private finalization methods of 'Reduce'
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/RunCommandEnumerate.h
  arcane/src/arcane/accelerator/RunQueueInternal.h
  arcane/src/arcane/utils/ForLoopRanges.h
Labels: arcane, refactoring, arcane:accelerator

#1379 Add support for indentation for writing XML file
  arcane/src/arcane/core/DomLibXml2V2.cc
Labels: enhancement, arcane

#1380 Add SYCL implementation for class 'GenericFilterer'
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/Filter.h
Labels: enhancement, arcane, arcane:accelerator

#1381 Minor improvements in SYCL backend
  arcane/src/arcane/accelerator/RunQueueInternal.h
  arcane/src/arcane/accelerator/Scan.h
  arcane/src/arcane/accelerator/sycl/runtime/SyclAcceleratorRuntime.cc
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/tests/accelerator/MiniWeatherArray.cc
Labels: enhancement, arcane, refactoring, arcane:accelerator

#1378 Fix Coverity warning
  arcane/src/arcane/mesh/GraphDoFs.cc
Labels: arcane, refactoring

#1382 Remove usage of standard header file 'execution'
  arcane/src/arcane/accelerator/Scan.h
Labels: bug, build, arcane:accelerator

#1383 Add template argument for index type in class managing extents
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
  arcane/src/arcane/utils/ArrayExtents.h
  arcane/src/arcane/utils/ArrayExtentsValue.h
  arcane/src/arcane/utils/ArrayIndex.h
  arcane/src/arcane/utils/MDDim.h
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/tests/TestNumArray.cc
  arcane/version
Labels: arcane, refactoring

#1384 Re-Add some 'using' in 'StdHeader.h' for some mathematical methods
  arcane/src/arcane/utils/StdHeader.h
Labels: arcane, refactoring
