Repository arcaneframework/framework, pull requests merged in 2024-11, with the labels that each got.

#1724 Do not throw an exception in 'MemoryPool::freeMemory()'
  arcane/src/arcane/utils/MemoryPool.cc
Labels: arcane, refactoring

#1725 Use one environment variable to select memory pool usage
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
Labels: arcane, arcane:accelerator

#1726 Minor improvements in memory pool management
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
  arcane/src/arcane/utils/MemoryPool.cc
  arcane/src/arcane/utils/internal/MemoryPool.h
  arcane/src/arcane/utils/tests/TestMemoryPool.cc
Labels: enhancement, arcane, refactoring, arcane:accelerator

#1727 Add finalizer for accelerator runtime
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/internal/IRunnerRuntime.h
  arcane/src/arcane/accelerator/core/internal/RunnerInternal.h
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.h
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/impl/ArcaneMainBatch.cc
Labels: enhancement, arcane, arcane:accelerator

#1729 Refactor memory allocation for internal view of MeshMaterialVariable
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshMaterialVariable.h
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1731 Use one kernel to copy views after resizing MeshMaterialVariableindexer
  arcane/ceapart/src/arcane/tests/MaterialHeatTest.axl
  arcane/ceapart/src/arcane/tests/MaterialHeatTestModule.cc
  arcane/src/arcane/core/materials/internal/IMeshMaterialVariableInternal.h
  arcane/src/arcane/materials/ConstituentModifierWorkInfo.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/materials/MeshMaterialVariable.h
  arcane/src/arcane/materials/internal/ConstituentModifierWorkInfo.h
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
  arcane/src/arcane/materials/internal/MeshMaterialVariablePrivate.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1732 Add conversion between any 'SmallSpan' and 'SmallSpan<std::byte>'
  arccore/src/base/arccore/base/Span.h
  arccore/src/base/tests/TestArrayView.cc
Labels: enhancement, arccore, refactoring

#1733 Move the accelerator part of 'IncrementalComponentModifier' in a separate file
  arcane/src/arcane/materials/CMakeLists.txt
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/IncrementalComponentModifier_Accelerator.cc
  arcane/src/arcane/materials/srcs.cmake
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1734 Add support to choose color when profiling region
  arcane/src/arcane/accelerator/core/ProfileRegion.cc
  arcane/src/arcane/accelerator/core/internal/IRunnerRuntime.h
  arcane/src/arcane/accelerator/core/internal/ProfileRegion.h
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/IncrementalComponentModifier_Accelerator.cc
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
Labels: enhancement, arcane, arcane:accelerator

#1728 Implemented basic mesh subdivider service
  arcane/src/arcane/impl/ArcaneBasicMeshSubdividerService.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testArcaneBasicMeshSubdividerService1-subdivide1-parmetis.arc
  arcane/tests/testArcaneBasicMeshSubdividerService1-subdivide1.arc
  arcane/tests/testHydro-3-meshservice-subdivide1.arc
Labels: enhancement, arcane

#1735 Use all ranks when reading GMSH files in parallel
  arcane/src/arcane/std/MshParallelMeshReader.cc
Labels: bug, arcane

#1736 Fix compilation with HIP.
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
Labels: bug, arcane:accelerator

#1737 Add tests for method 'IMeshMaterialMng::setDataInitialisationWithZero()'.
  arcane/ceapart/src/arcane/tests/MaterialHeatTestModule.cc
  arcane/ceapart/tests/CMakeLists.txt
Labels: arcane, arcane:accelerator, arcane:materials

#1738 Simplify method 'ItemMaterialVariableBase::_initializeNewItems()' and cleanup code
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshMaterialVariable.h
Labels: arcane, refactoring, arcane:materials

#1739 Remove usage of 'MatVarIndex' in 'ComponentItemListBuilder'
  arcane/src/arcane/materials/IncrementalComponentModifier_Accelerator.cc
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshMaterialVariableIndexer.cc
  arcane/src/arcane/materials/internal/ComponentItemListBuilder.h
Labels: refactoring, arcane:materials

#1740 Move classes 'ItemBase' and 'MutableItemBase' in public API
  arcane/src/arcane/core/ItemInternal.h
  arcane/src/arcane/core/ItemInternalVectorView.h
  arcane/src/arcane/core/ItemSharedInfo.h
  arcane/src/arcane/core/ItemTypes.h
  arcane/src/arcane/core/MeshItemInternalList.h
  arcane/src/arcane/core/materials/MaterialsCoreGlobal.h
Labels: arcane, refactoring

#1741 Use one kernel when initializing new ConstituentItem from global values
  arcane/src/arcane/core/materials/internal/IMeshMaterialVariableInternal.h
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/IncrementalComponentModifier_Accelerator.cc
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/materials/MeshMaterialVariable.h
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
  arcane/src/arcane/materials/internal/MeshMaterialVariablePrivate.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1742 Use one kernel when initializing new ConstituentItem with zero
  arcane/ceapart/tests/CMakeLists.txt
  arcane/src/arcane/core/materials/internal/IMeshMaterialVariableInternal.h
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/IncrementalComponentModifier_Accelerator.cc
  arcane/src/arcane/materials/ItemMaterialVariableBaseT.H
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/materials/MeshMaterialVariable.h
  arcane/src/arcane/materials/internal/IncrementalComponentModifier.h
  arcane/src/arcane/materials/internal/MeshMaterialVariablePrivate.h
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1745 Use by default 'HashTableMap2' as map implementation for 'ItemInternalMap'
  arcane/CMakeLists.txt
Labels: enhancement, arcane, refactoring

#1743 Replace DoFFamily by IDoFFamily in dof test
  arcane/src/arcane/mesh/DoFManager.h
  arcane/src/arcane/tests/dof/DoFTester.cc
Labels: arcane, refactoring

#1747 Implement DoFFamily in polyhedral case.
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/dof/DoFTester.axl
  arcane/src/arcane/tests/dof/DoFTester.cc
  arcane/tests/testMeshPolyhedralWithDoFs.arc
  arctools/neo/src/neo/Items.h
Labels: enhancement, arcane

#1748 Neo : minor fixes and improvements
  arctools/neo/src/neo/Items.h
  arctools/neo/src/tests/NeoBaseTest.cpp
  arctools/neo/src/tests/NeoMeshAPITest.cpp
Labels: refactoring, neo

#1750 Update changelog for version 3.14
  arcane/doc/doc_common/changelog.md
  arcane/src/arcane/core/IItemFamily.h
  arcane/src/arcane/core/IParallelMng.h
Labels: documentation, arcane

#1751 Initialize variables in mesh services after application of additional services
  arcane/src/arcane/impl/ArcaneCaseMeshService.cc
Labels: arcane

#1752 Minor improvements in Accelerator API
  arcane/src/arcane/accelerator/NumArrayViews.cc
  arcane/src/arcane/accelerator/VariableViews.cc
  arcane/src/arcane/accelerator/core/AcceleratorCore.cc
  arcane/src/arcane/accelerator/core/AcceleratorCoreGlobal.h
  arcane/src/arcane/accelerator/core/AcceleratorMng.cc
  arcane/src/arcane/accelerator/core/IAcceleratorMng.h
  arcane/src/arcane/accelerator/core/RunCommand.cc
  arcane/src/arcane/accelerator/core/RunCommand.h
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/accelerator/core/RunQueueImpl.cc
  arcane/src/arcane/accelerator/core/Runner.h
  arcane/src/arcane/accelerator/core/ViewBuildInfo.h
  arcane/src/arcane/accelerator/core/internal/RunCommandImpl.h
  arcane/src/arcane/accelerator/core/internal/RunQueueImpl.h
  arcane/src/arcane/tests/accelerator/AcceleratorFilterUnitTest.cc
  arcane/src/arcane/tests/accelerator/AcceleratorSorterUnitTest.cc
  arcane/src/arcane/tests/accelerator/AcceleratorViewsUnitTest.cc
  arcane/src/arcane/tests/accelerator/ArcaneTestStandaloneAcceleratorMng.cc
Labels: enhancement, arcane, refactoring, arcane:accelerator

#1753 Move remaining implementation of 'RunQueue' in 'RunQueueImpl'
  arcane/src/arcane/accelerator/NumArrayViews.cc
  arcane/src/arcane/accelerator/core/RunQueue.cc
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/accelerator/core/RunQueueEvent.h
  arcane/src/arcane/accelerator/core/RunQueueImpl.cc
  arcane/src/arcane/accelerator/core/internal/RunQueueImpl.h
Labels: arcane, refactoring, arcane:accelerator

#1754 Add implementation of RUNCOMMAND_MAT_ENUMERATE pour 'AllEnvCell'
  arcane/src/arcane/accelerator/RunCommandMaterialEnumerate.h
  arcane/src/arcane/core/materials/MatItemEnumerator.h
  arcane/src/arcane/materials/ConstituentItemVectorImpl.cc
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator, arcane:materials

#1757 Add consistent header file for accelerator algorithms
  arcane/src/arcane/accelerator/GenericFilterer.h
  arcane/src/arcane/accelerator/GenericPartitioner.h
  arcane/src/arcane/accelerator/GenericReducer.h
  arcane/src/arcane/accelerator/GenericScanner.h
  arcane/src/arcane/accelerator/GenericSorter.h
  arcane/src/arcane/accelerator/srcs.cmake
  arcane/src/arcane/tests/accelerator/AcceleratorFilterUnitTest.cc
  arcane/src/arcane/tests/accelerator/AcceleratorPartitionerUnitTest.cc
  arcane/src/arcane/tests/accelerator/AcceleratorReduceUnitTest.cc
  arcane/src/arcane/tests/accelerator/AcceleratorScanUnitTest.cc
  arcane/src/arcane/tests/accelerator/AcceleratorSorterUnitTest.cc
Labels: arcane, refactoring, arcane:accelerator

#1760 Add vtkIOLegacy package
  arcane/cmake/Modules/FindvtkIOLegacy.cmake
  arcane/src/arcane/std/CMakeLists.txt
  arcane/src/arcane/tests/CMakeLists.txt
Labels: arcane, build

#1761 Fix CMake error in polyhedral tests protection.
  arcane/src/arcane/tests/CMakeLists.txt
Labels: bug, arcane

#1762 Implement active cell api in polyhedral mesh
  arcane/src/arcane/mesh/PolyhedralMesh.cc
  arcane/src/arcane/mesh/PolyhedralMesh.h
  arcane/src/arcane/tests/MeshPolyhedralTestModule.cc
Labels: enhancement, arcane

#1763 Add utilitary functions to get the underlying native stream of a RunQueue
  arcane/src/arcane/accelerator/AcceleratorUtils.h
  arcane/src/arcane/accelerator/CommonUtils.h
  arcane/src/arcane/accelerator/Filter.h
  arcane/src/arcane/accelerator/core/RunQueue.h
  arcane/src/arcane/accelerator/srcs.cmake
Labels: enhancement, arcane, refactoring, arcane:accelerator

#1766 Add support to pass arguments for accelerator runtime initialization
  arcane/src/arcane/accelerator/core/internal/RegisterRuntimeInfo.h
  arcane/src/arcane/accelerator/core/srcs.cmake
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/sycl/runtime/SyclAcceleratorRuntime.cc
  arcane/src/arcane/impl/ArcaneMain.cc
Labels: enhancement, arcane, refactoring, arcane:accelerator

#1765 Output the listing only for MPI rank 0 in some alien tests
  alien/ArcaneInterface/test/Tests/Environment.h
Labels: alien

#1767 Fix potential Floating Point Exception with .Net 9.
  arcane/tools/Directory.Build.props
Labels: bug, arcane

#1768 Move class 'ProfileRegion' in public API
  arcane/src/arcane/accelerator/core/ProfileRegion.cc
  arcane/src/arcane/accelerator/core/ProfileRegion.h
  arcane/src/arcane/accelerator/core/srcs.cmake
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
  arcane/src/arcane/materials/IncrementalComponentModifier_Accelerator.cc
  arcane/src/arcane/materials/MeshMaterialModifierImpl.cc
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator

#1770 Add typedef 'AlephInt' to handle indexing of matrix and vectors in Aleph
  arcane/src/arcane/aleph/AlephGlobal.h
  arcane/src/arcane/aleph/AlephInterface.h
  arcane/src/arcane/aleph/AlephMatrix.cc
  arcane/src/arcane/aleph/AlephMatrix.h
  arcane/src/arcane/aleph/AlephOrdering.cc
  arcane/src/arcane/aleph/AlephOrdering.h
  arcane/src/arcane/aleph/AlephTopology.cc
  arcane/src/arcane/aleph/AlephTopology.h
  arcane/src/arcane/aleph/AlephVector.cc
  arcane/src/arcane/aleph/AlephVector.h
  arcane/src/arcane/aleph/hypre/AlephHypre.cc
  arcane/src/arcane/aleph/petsc/AlephPETSc.cc
  arcane/src/arcane/aleph/tests/AlephTestModule.cc
  arcane/src/arcane/aleph/tests/AlephTestModule.h
Labels: arcane, refactoring

#1771 Remove some compiler warnings in Alien
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/hypre/data_structure/HypreInternal.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/data_structure/PETScInternal.cc
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/data_structure/PETScVector.cc
  alien/ArcaneInterface/modules/interface_c/src/alien/c/alienc.cc
  alien/ArcaneInterface/modules/trilinos/src/alien/kernels/trilinos/TrilinosBackEnd.h
  alien/ArcaneInterface/modules/trilinos/src/alien/kernels/trilinos/algebra/TrilinosInternalLinearAlgebra.cc
  alien/ArcaneInterface/modules/trilinos/src/alien/kernels/trilinos/algebra/TrilinosInternalLinearAlgebra.h
  alien/ArcaneInterface/modules/trilinos/src/alien/kernels/trilinos/converters/SimpleCSR/SimpleCSR_to_Trilinos_MatrixConverter.cc
  alien/ArcaneInterface/modules/trilinos/src/alien/kernels/trilinos/data_structure/TrilinosInternal.cc
  alien/ArcaneInterface/modules/trilinos/src/alien/kernels/trilinos/data_structure/TrilinosInternal.h
  alien/ArcaneInterface/modules/trilinos/src/alien/kernels/trilinos/data_structure/TrilinosMatrix.cc
  alien/ArcaneInterface/modules/trilinos/src/alien/kernels/trilinos/data_structure/TrilinosVector.cc
  alien/ArcaneInterface/modules/trilinos/src/alien/kernels/trilinos/eigen_solver/TrilinosInternalEigenSolver.cc
  alien/ArcaneInterface/modules/trilinos/src/alien/kernels/trilinos/linear_solver/TrilinosInternalLinearSolver.cc
  alien/ArcaneInterface/modules/trilinos/src/alien/kernels/trilinos/linear_solver/TrilinosInternalLinearSolver.h
  alien/ArcaneInterface/modules/trilinos/src/alien/kernels/trilinos/linear_solver/TrilinosInternalSolver.h
  alien/ArcaneInterface/test/AlienBench/AlienBenchModule.h
  alien/ArcaneInterface/test/AlienInterfaceC/C/main.c
  alien/standalone/src/core/alien/kernels/simple_csr/LUSendRecvOp.h
Labels: build, alien

#1772 Use checkpoint service 'ArcaneBasic2CheckpointWriter' for mesh criteria tests
  arcane/tests/testMeshCriteriaLoadBalanceMng-DefaultPartitioner-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-DefaultPartitioner-MeshPartitionerTester-4-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-MeshPartitionerTester-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Metis-4-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Metis-PTScotch-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Metis-PTScotch-4-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Metis-PTScotch-4-2.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Metis-Zoltan-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Metis-Zoltan-4-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Metis-Zoltan-4-2.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-PTScotch-4-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-PTScotch-Zoltan-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-PTScotch-Zoltan-4-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-PTScotch-Zoltan-4-2.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Zoltan-1.arc
  arcane/tests/testMeshCriteriaLoadBalanceMng-Zoltan-4-1.arc
Labels: arcane, CI

#1774 Fix the computeDirections() method
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTester.axl
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTesterModule.cc
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-CoarseZone-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-CoarseZone-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-ReduceNbGhostLayers-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-ReduceNbGhostLayers-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-ReduceNbGhostLayers-3.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-ReduceNbGhostLayers-4.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-RenumberingV1-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-RenumberingV1-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-RenumberingV2-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-RenumberingV2-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-Cell-RenumberingV4-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-PatchCartesianMeshOnly-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-PatchCartesianMeshOnly-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-PatchCartesianMeshOnly-3.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-PatchCartesianMeshOnly-4.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-PatchCartesianMeshOnly-5.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-V1-coarse-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-V1-coarse-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-V1-coarse-3.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-V1-coarse-4.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-V1-coarse-lb-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-WithInitialCoarse-PatchCartesianMeshOnly-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-WithInitialCoarse-PatchCartesianMeshOnly-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-WithInitialCoarse-PatchCartesianMeshOnly-3.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-WithInitialCoarse-PatchCartesianMeshOnly-4.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-WithInitialCoarse-PatchCartesianMeshOnly-5.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-WithInitialCoarse-PatchCartesianMeshOnly-6.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-WithInitialCoarse-PatchCartesianMeshOnly-7.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-WithInitialCoarse-PatchCartesianMeshOnly-8.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-CoarseZone-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-CoarseZone-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-CoarseZone-3.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-CoarseZone-4.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-ReduceNbGhostLayers-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-RenumberingV1-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-RenumberingV1-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-RenumberingV2-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-RenumberingV2-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-Cell-RenumberingV4-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-PatchCartesianMeshOnly-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-PatchCartesianMeshOnly-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-PatchCartesianMeshOnly-3.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-PatchCartesianMeshOnly-4.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-V1-coarse-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-V1-coarse-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-V1-coarse-3.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-WithInitialCoarse-PatchCartesianMeshOnly-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-WithInitialCoarse-PatchCartesianMeshOnly-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-WithInitialCoarse-PatchCartesianMeshOnly-3.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-WithInitialCoarse-PatchCartesianMeshOnly-4.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-WithInitialCoarse-PatchCartesianMeshOnly-5.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-WithInitialCoarse-PatchCartesianMeshOnly-6.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-WithInitialCoarse-PatchCartesianMeshOnly-7.arc
  arcane/src/arcane/cartesianmesh/CartesianMesh.cc
Labels: bug, enhancement, arcane

#1776 Add documentation for accelerator memory pool
  arcane/doc/doc_user/chap_acceleratorapi/0_acceleratorapi.md
  arcane/doc/doc_user/chap_acceleratorapi/5_reduce.md
  arcane/doc/doc_user/chap_acceleratorapi/6_memorypool.md
  arcane/doc/userdoc.doxyfile
Labels: documentation, arcane

#1778 Fix compilation with CRAY MPICH version 8+
  arcane/src/arcane/parallel/mpi/ArcaneMpi.cc
Labels: bug, arcane, build

#1773 Minor improvements in AXL generation
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/CaseOptionsT.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/CaseOptionsT.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/StrongOptions_h.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/StrongOptions_h.tt
Labels: refactoring, axlstar

#1775 Add a different output directory for each tests
  alien/ArcaneInterface/cmake/LoadAlienTest.cmake
  alien/ArcaneInterface/test/AlienBench/CMakeLists.txt
  alien/ArcaneInterface/test/AlienTest/CMakeLists.txt
Labels: bug, alien

#1783 Upload test results to Codecov
  .github/workflows/codecov.yml
Labels: CI

#1784 Get and print the UUID of the device with HIP
  arcane/src/arcane/accelerator/core/AcceleratorCore.cc
  arcane/src/arcane/accelerator/core/internal/AcceleratorCoreGlobalInternal.h
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
Labels: arcane, arcane:accelerator

#1779 Add ARCCON_NO_TBB_CONFIG CMake variable to bypass call to find_package for TBB.
  arccon/build-system/Modules/FindTBB.cmake
Labels: arccon

#1786 Improve Arccore configuration
  arccore/src/concurrency/arccore/concurrency/CMakeLists.txt
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/CMakeLists.txt
Labels: arccore, build

#1789 Use detection of 'dotnet' from Arccon.
  axlstar/CMake/FindDotNetCore.cmake
  axlstar/CMakeLists.txt
Labels: build, axlstar

#1790 Disallow reusing the command to launch two kernels
  arcane/ceapart/src/arcane/tests/CartesianMeshTestUtils.cc
  arcane/src/arcane/accelerator/core/RunCommandImpl.cc
  arcane/src/arcane/accelerator/core/RunQueueImpl.cc
  arcane/src/arcane/accelerator/core/internal/RunCommandImpl.h
  arcane/src/arcane/tests/accelerator/AcceleratorViewsUnitTest.cc
  arcane/src/arcane/tests/accelerator/MeshMaterialAcceleratorUnitTest.cc
  arcane/src/arcane/tests/accelerator/MiniWeatherArray.cc
Labels: arcane, refactoring, arcane:accelerator

#1791 [arccon] Add optional dotnet wrapper to prevent first time use race condition
  arccon/build-system/ArcconDotNet.cmake
  arccon/build-system/arccon_dotnet.in
Labels: build, arccon

#1792 Use arccon dotnet wrapper for axlstar tool used when compiling Arcane and Alien.
  axlstar/CMakeLists.txt
  axlstar/launcher.bat.in
  axlstar/launcher.sh.in
Labels: build, axlstar

#1782 Fix bug in 'CellFamily::_addChildCellToCell()' when added child cell is not the last
  arcane/src/arcane/mesh/CellFamily.cc
Labels: bug, arcane

#1793 Use 'ViewBuildInfo' instead of 'RunCommand' to build material views on accelerator
  arcane/src/arcane/accelerator/MaterialVariableViews.cc
  arcane/src/arcane/accelerator/MaterialVariableViews.h
  arcane/src/arcane/accelerator/VariableViews.h
  arcane/src/arcane/accelerator/srcs.cmake
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1794 Return old value instead of void for atomic operations
  arcane/src/arcane/accelerator/Atomic.h
  arcane/src/arcane/accelerator/CommonCudaHipAtomicImpl.h
  arcane/src/arcane/tests/accelerator/AtomicUnitTest.cc
Labels: arcane, refactoring, arcane:accelerator

#1795 Add IUserDataList access in polyhedral mesh.
  arcane/src/arcane/mesh/PolyhedralMesh.h
Labels: enhancement, arcane

#1796 Update changelog for version 3.14
  arcane/doc/doc_common/changelog.md
Labels: documentation

#1797 Remove ouput of the current DateTime when generated files from AXL
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.CaseOptions/CaseOptionsT4.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.CaseOptions/CaseOptionsT4.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Module/ModuleT4.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Module/ModuleT4.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4CaseAndStrong.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4CaseAndStrong.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4Standard.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4Standard.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4StrongOnly.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.Service/ServiceT4StrongOnly.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/CaseOptionsT.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/CaseOptionsT.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/IOptions.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/IOptions.tt
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/StrongOptions_h.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/StrongOptions_h.tt
Labels: axlstar

#1798 Use 'const RunQueue*' instead of 'RunQueue*' for arguments of methods 'copy()' and 'fill()'
  arcane/src/arcane/accelerator/MemoryCopier.cc
  arcane/src/arcane/utils/MemoryView.cc
  arcane/src/arcane/utils/MemoryView.h
  arcane/src/arcane/utils/NumArray.cc
  arcane/src/arcane/utils/NumArray.h
  arcane/src/arcane/utils/NumArrayContainer.h
  arcane/src/arcane/utils/internal/SpecificMemoryCopyList.h
Labels: arcane, refactoring, arcane:accelerator

#1799 Decouple the type of the property setter class from the type of the instance set
  arcane/src/arcane/launcher/ArcaneLauncher.cc
  arcane/src/arcane/utils/ApplicationInfo.cc
  arcane/src/arcane/utils/ApplicationInfo.h
  arcane/src/arcane/utils/JSONPropertyReader.h
  arcane/src/arcane/utils/ParallelLoopOptions.cc
  arcane/src/arcane/utils/ParallelLoopOptions.h
  arcane/src/arcane/utils/ParameterListPropertyReader.h
  arcane/src/arcane/utils/PropertyDeclarations.h
  arcane/src/arcane/utils/internal/ApplicationInfoProperties.h
  arcane/src/arcane/utils/internal/ParallelLoopOptionsProperties.h
  arcane/src/arcane/utils/srcs.cmake
Labels: arcane, refactoring

#1800 Move class 'RunCommandLaunchInfo' in 'accelerator/core'
  arcane/src/arcane/accelerator/RunCommandLaunchInfo.h
  arcane/src/arcane/accelerator/core/RunCommandLaunchInfo.cc
  arcane/src/arcane/accelerator/core/RunCommandLaunchInfo.h
  arcane/src/arcane/accelerator/core/srcs.cmake
  arcane/src/arcane/accelerator/srcs.cmake
Labels: arcane, refactoring, arcane:accelerator

#1802 Begin support to automatically compute thread and block size
  arcane/src/arcane/accelerator/RunQueueInternal.h
  arcane/src/arcane/accelerator/core/AcceleratorCoreGlobal.h
  arcane/src/arcane/accelerator/core/KernelLaunchArgs.h
  arcane/src/arcane/accelerator/core/RunCommandLaunchInfo.cc
  arcane/src/arcane/accelerator/core/RunCommandLaunchInfo.h
  arcane/src/arcane/accelerator/core/srcs.cmake
Labels: arcane, arcane:accelerator

#1803 Add memory location information in AbstractArray
  arccore/src/collections/arccore/collections/Array.cc
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/arccore/collections/CMakeLists.txt
  arccore/src/collections/arccore/collections/CollectionsGlobal.cc
  arccore/src/collections/arccore/collections/CollectionsGlobal.h
  arccore/src/collections/arccore/collections/IMemoryAllocator.h
  arccore/src/collections/arccore/collections/MemoryAllocationArgs.h
  arccore/src/collections/arccore/collections/MemoryAllocationOptions.cc
  arccore/src/collections/arccore/collections/MemoryAllocationOptions.h
  arccore/src/collections/tests/TestArray.cc
Labels: enhancement, arccore, refactoring

#1804 Fix typo in names of some IMemoryAllocator methods
  arccore/src/collections/arccore/collections/IMemoryAllocator.h
  arccore/src/collections/arccore/collections/MemoryAllocator.cc
  arccore/src/collections/tests/TestArray.cc
Labels: arccore, refactoring

#1806 Refactor MemoryUtils
  arcane/src/arcane/accelerator/core/ReduceMemoryImpl.cc
  arcane/src/arcane/impl/VariableSynchronizer.cc
  arcane/src/arcane/materials/MeshMaterialSynchronizeBuffer.cc
  arcane/src/arcane/materials/internal/IndexSelecter.h
  arcane/src/arcane/parallel/thread/SharedMemoryMessageQueue.cc
  arcane/src/arcane/tests/accelerator/NumArrayUnitTest.cc
  arcane/src/arcane/utils/IMemoryRessourceMng.h
  arcane/src/arcane/utils/MemoryResourceMng.cc
  arcane/src/arcane/utils/MemoryUtils.cc
  arcane/src/arcane/utils/MemoryUtils.h
  arcane/src/arcane/utils/PlatformUtils.cc
  arcane/src/arcane/utils/PlatformUtils.h
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/internal/MemoryResourceMng.h
  arcane/src/arcane/utils/internal/MemoryUtilsInternal.h
  arcane/src/arcane/utils/srcs.cmake
Labels: arcane, refactoring, arcane:accelerator
