Repository arcaneframework/framework, pull requests merged in 2025-02, with the labels that each got.

#1966 Remove `using namespace Arccore` in some header files
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.h
  arcane/src/arcane/accelerator/hip/HipAccelerator.h
Labels: arcane, refactoring

#1967 Move remaining `using Arccore::*` from `arcane/**/.h` to Arccore
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/ISerializeMessage.h
  arcane/src/arcane/core/ITimeStats.h
  arcane/src/arcane/core/IVariable.h
  arcane/src/arcane/core/Parallel.h
  arcane/src/arcane/core/SerializeMessage.cc
  arcane/src/arcane/core/SerializeMessage.h
  arcane/src/arcane/impl/SequentialParallelMng.cc
  arcane/src/arcane/mesh/AsyncParticleExchanger.cc
  arcane/src/arcane/parallel/mpi/ArcaneMpi.h
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/tests/ParallelMngTest.cc
  arcane/src/arcane/utils/IOnlineDebuggerService.h
  arccore/src/message_passing/arccore/message_passing/MessagePassingGlobal.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MessagePassingMpiGlobal.h
  arccore/src/serialize/arccore/serialize/ISerializer.h
  arccore/src/serialize/arccore/serialize/SerializeGlobal.h
  arccore/src/trace/arccore/trace/TraceGlobal.h
Labels: arcane, arccore, refactoring

#1969 Move class `FaceReorienter` from `arcane/mesh` to `arcane/core`
  arcane/src/arcane/core/FaceReorienter.cc
  arcane/src/arcane/core/FaceReorienter.h
  arcane/src/arcane/core/IItemFamilyTopologyModifier.h
  arcane/src/arcane/core/InterfaceImpl.cc
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/mesh/CellMerger.cc
  arcane/src/arcane/mesh/FaceFamily.cc
  arcane/src/arcane/mesh/FaceReorienter.h
  arcane/src/arcane/mesh/srcs.cmake
Labels: arcane, refactoring

#1971 Add class to convert `ItemLocalId` to `Item`
  arcane/src/arcane/core/Item.h
  arcane/src/arcane/core/ItemLocalId.cc
  arcane/src/arcane/core/ItemLocalId.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/mesh/CellFamily.cc
  arcane/src/arcane/mesh/FaceUniqueIdBuilder.cc
  arcane/src/arcane/mesh/MeshRefinement.cc
  arcane/src/arcane/mesh/UnstructuredMeshUtilities.cc
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: enhancement, arcane

#1973 Make type name of `IT_Enneedron14` and `IT_Decaedron16` coherent with other types.
  arcane/src/arcane/core/ItemTypeMng.cc
  arcane/src/arcane/tests/ItemTypesUnitTest.cc
Labels: bug, arcane

#1974 Move types from namespace `Arccore::MessagePassing::Mpi` to `Arcane::MessagePassing::Mpi`
  arcane/src/arcane/parallel/mpi/MpiParallelDispatch.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arccore/src/base/arccore/base/ArccoreGlobal.h
  arccore/src/base/arccore/base/BaseTypes.h
  arccore/src/base/arccore/base/PlatformUtils.h
  arccore/src/message_passing/arccore/message_passing/MessagePassingGlobal.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/IMpiProfiling.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MessagePassingMpiEnum.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MessagePassingMpiEnum.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MessagePassingMpiGlobal.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiAdapter.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiAdapter.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiControlDispatcher.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiControlDispatcher.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiDatatype.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiDatatype.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiLock.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiMessagePassingMng.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiMessagePassingMng.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiRequest.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiSerializeDispatcher.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiSerializeDispatcher.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiSerializeMessageList.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiSerializeMessageList.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiTypeDispatcher.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiTypeDispatcher.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiTypeDispatcherImpl.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/NoMpiProfiling.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/StandaloneMpiMessagePassingMng.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/StandaloneMpiMessagePassingMng.h
  arccore/src/serialize/arccore/serialize/SerializeGlobal.h
Labels: arcane, arccore, refactoring

#1975 Begin support for post-processing constituents with format VtkHdf
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testMaterialHeat-2-vtkhdfv2.arc
  arcane/src/arcane/hdf5/VtkHdfV2PostProcessor.cc
Labels: enhancement, arcane

#1976 Include Arccore header file instead of manually defining Arccore types
  alien/ArcaneInterface/modules/arcane_tools/src/alien/arcane_tools/IIndexManager.h
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/hypre/HypreBackEnd.h
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/mtl/MTLBackEnd.h
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/PETScBackEnd.h
  alien/ArcaneInterface/modules/external_packages/src/alien/kernels/petsc/io/AsciiDumper.h
  alien/ArcaneInterface/modules/trilinos/src/alien/kernels/trilinos/TrilinosBackEnd.h
  alien/standalone/src/core/alien/core/backend/EigenSolver.h
  alien/standalone/src/core/alien/core/backend/IInternalLinearSolverT.h
  alien/standalone/src/core/alien/data/Universe.h
  alien/standalone/src/core/alien/distribution/MatrixDistribution.h
  alien/standalone/src/core/alien/distribution/VectorDistribution.h
  alien/standalone/src/core/alien/expression/solver/ILinearSolver.h
  alien/standalone/src/core/alien/handlers/profiler/BaseMatrixProfiler.h
  alien/standalone/src/core/alien/handlers/scalar/BaseDirectMatrixBuilder.h
  alien/standalone/src/core/alien/kernels/redistributor/RedistributorBackEnd.h
  alien/standalone/src/core/alien/kernels/simple_csr/LUSendRecvOp.h
  alien/standalone/src/core/alien/kernels/simple_csr/SendRecvOp.h
  alien/standalone/src/core/alien/kernels/simple_csr/SimpleCSRBackEnd.h
  alien/standalone/src/core/alien/kernels/sycl/SYCLBackEnd.h
  alien/standalone/src/core/alien/kernels/sycl/data/SYCLLUSendRecvOp.h
  alien/standalone/src/core/alien/kernels/sycl/data/SYCLSendRecvOp.h
  alien/standalone/src/movesemantic/alien/move/data/MatrixData.h
  alien/standalone/src/refsemantic/alien/ref/handlers/stream/StreamMatrixBuilder.h
  alien/standalone/src/refsemantic/alien/ref/handlers/stream/StreamMatrixBuilderInserter.h
  alien/standalone/src/refsemantic/alien/ref/import_export/SystemReader.h
Labels: refactoring, alien

#1977 Move types from namespace `Arccore::MessagePassing` to `Arcane::MessagePassing`
  arccore/src/message_passing/arccore/message_passing/BasicSerializeMessage.cc
  arccore/src/message_passing/arccore/message_passing/BasicSerializeMessage.h
  arccore/src/message_passing/arccore/message_passing/Communicator.cc
  arccore/src/message_passing/arccore/message_passing/Communicator.h
  arccore/src/message_passing/arccore/message_passing/Dispatchers.cc
  arccore/src/message_passing/arccore/message_passing/Dispatchers.h
  arccore/src/message_passing/arccore/message_passing/GatherMessageInfo.cc
  arccore/src/message_passing/arccore/message_passing/GatherMessageInfo.h
  arccore/src/message_passing/arccore/message_passing/IControlDispatcher.h
  arccore/src/message_passing/arccore/message_passing/IDispatchers.h
  arccore/src/message_passing/arccore/message_passing/IMessagePassingMng.h
  arccore/src/message_passing/arccore/message_passing/IProfiler.h
  arccore/src/message_passing/arccore/message_passing/IRequestList.h
  arccore/src/message_passing/arccore/message_passing/ISerializeDispatcher.h
  arccore/src/message_passing/arccore/message_passing/ISerializeMessage.h
  arccore/src/message_passing/arccore/message_passing/ISerializeMessageList.h
  arccore/src/message_passing/arccore/message_passing/IStat.h
  arccore/src/message_passing/arccore/message_passing/ITypeDispatcher.h
  arccore/src/message_passing/arccore/message_passing/MessageId.cc
  arccore/src/message_passing/arccore/message_passing/MessageId.h
  arccore/src/message_passing/arccore/message_passing/MessagePassingGlobal.h
  arccore/src/message_passing/arccore/message_passing/MessagePassingMng.cc
  arccore/src/message_passing/arccore/message_passing/MessagePassingMng.h
  arccore/src/message_passing/arccore/message_passing/MessageRank.cc
  arccore/src/message_passing/arccore/message_passing/MessageRank.h
  arccore/src/message_passing/arccore/message_passing/MessageSourceInfo.h
  arccore/src/message_passing/arccore/message_passing/MessageTag.cc
  arccore/src/message_passing/arccore/message_passing/MessageTag.h
  arccore/src/message_passing/arccore/message_passing/Messages.cc
  arccore/src/message_passing/arccore/message_passing/Messages.h
  arccore/src/message_passing/arccore/message_passing/PointToPointMessageInfo.cc
  arccore/src/message_passing/arccore/message_passing/PointToPointMessageInfo.h
  arccore/src/message_passing/arccore/message_passing/PointToPointSerializerMng.cc
  arccore/src/message_passing/arccore/message_passing/PointToPointSerializerMng.h
  arccore/src/message_passing/arccore/message_passing/Request.cc
  arccore/src/message_passing/arccore/message_passing/Request.h
  arccore/src/message_passing/arccore/message_passing/SerializeMessageList.cc
  arccore/src/message_passing/arccore/message_passing/SerializeMessageList.h
  arccore/src/message_passing/arccore/message_passing/Stat.cc
  arccore/src/message_passing/arccore/message_passing/Stat.h
  arccore/src/message_passing/arccore/message_passing/internal/SubRequestCompletionInfo.h
  arccore/src/serialize/arccore/serialize/BasicSerializer.h
Labels: arcane, arccore, refactoring

#1978 Move types of component 'arccore/serialize' from namespace `Arccore` to namespace `Arcane`
  arcane/src/arcane/core/ArcaneTypes.h
  arccore/src/message_passing/arccore/message_passing/MessagePassingGlobal.h
  arccore/src/serialize/arccore/serialize/BasicSerializer.cc
  arccore/src/serialize/arccore/serialize/BasicSerializer.h
  arccore/src/serialize/arccore/serialize/ISerializer.h
  arccore/src/serialize/arccore/serialize/SerializeGlobal.cc
  arccore/src/serialize/arccore/serialize/SerializeGlobal.h
  arccore/src/serialize/arccore/serialize/internal/BasicSerializerInternal.h
Labels: arcane, arccore, refactoring

#1979 Move types of component 'arccore/serialize' from namespace `Arccore` to namespace `Arcane`
  arccore/src/concurrency/arccore/concurrency/ConcurrencyGlobal.cc
  arccore/src/concurrency/arccore/concurrency/ConcurrencyGlobal.h
  arccore/src/concurrency/arccore/concurrency/GlibAdapter.cc
  arccore/src/concurrency/arccore/concurrency/GlibAdapter.h
  arccore/src/concurrency/arccore/concurrency/GlibThreadImplementation.cc
  arccore/src/concurrency/arccore/concurrency/GlibThreadImplementation.h
  arccore/src/concurrency/arccore/concurrency/IThreadBarrier.h
  arccore/src/concurrency/arccore/concurrency/IThreadImplementation.h
  arccore/src/concurrency/arccore/concurrency/Mutex.cc
  arccore/src/concurrency/arccore/concurrency/Mutex.h
  arccore/src/concurrency/arccore/concurrency/NullThreadImplementation.h
  arccore/src/concurrency/arccore/concurrency/SpinLock.cc
  arccore/src/concurrency/arccore/concurrency/SpinLock.h
  arccore/src/concurrency/arccore/concurrency/StdThreadImplementation.cc
  arccore/src/concurrency/arccore/concurrency/ThreadPrivate.cc
  arccore/src/concurrency/arccore/concurrency/ThreadPrivate.h
Labels: arccore, refactoring

#1983 Move types of component 'arccore/component' from namespace `Arccore` to namespace `Arcane`
  arcane/src/arcane/totalview/tv_display_arcane_types.cc
  arcane/src/arcane/utils/ArcaneGlobal.h
  arccore/src/base/arccore/base/ArccoreGlobal.h
  arccore/src/base/arccore/base/ArrayViewCommon.h
  arccore/src/base/arccore/base/BaseTypes.h
  arccore/src/base/arccore/base/Span.h
  arccore/src/collections/arccore/collections/Array.cc
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/arccore/collections/Array2.h
  arccore/src/collections/arccore/collections/ArrayDebugInfo.h
  arccore/src/collections/arccore/collections/ArrayTraits.h
  arccore/src/collections/arccore/collections/CollectionsGlobal.cc
  arccore/src/collections/arccore/collections/CollectionsGlobal.h
  arccore/src/collections/arccore/collections/IMemoryAllocator.h
  arccore/src/collections/arccore/collections/MemoryAllocationArgs.h
  arccore/src/collections/arccore/collections/MemoryAllocationOptions.cc
  arccore/src/collections/arccore/collections/MemoryAllocationOptions.h
  arccore/src/collections/arccore/collections/MemoryAllocator.cc
  arccore/src/collections/tests/TestArray.cc
  arccore/src/collections/tests/TestArray2.cc
Labels: arcane, arccore, refactoring

#1984 Move types of component 'arccore/serialize' from namespace `Arccore` to namespace `Arcane`
  arccore/src/base/arccore/base/ArccoreGlobal.h
  arccore/src/base/arccore/base/RefDeclarations.h
  arccore/src/message_passing/arccore/message_passing/MessagePassingGlobal.h
  arccore/src/trace/arccore/trace/ITimeMetricCollector.h
  arccore/src/trace/arccore/trace/ITraceMng.h
  arccore/src/trace/arccore/trace/StandaloneTraceMessage.h
  arccore/src/trace/arccore/trace/TimeMetric.cc
  arccore/src/trace/arccore/trace/TimeMetric.h
  arccore/src/trace/arccore/trace/Trace.h
  arccore/src/trace/arccore/trace/TraceAccessor.cc
  arccore/src/trace/arccore/trace/TraceAccessor.h
  arccore/src/trace/arccore/trace/TraceClassConfig.h
  arccore/src/trace/arccore/trace/TraceGlobal.h
  arccore/src/trace/arccore/trace/TraceMessage.cc
  arccore/src/trace/arccore/trace/TraceMessage.h
  arccore/src/trace/arccore/trace/TraceMng.cc
Labels: arccore, refactoring

#1987 Minor improvements for `Array` classes
  arccore/src/collections/arccore/collections/Array.h
  arccore/src/collections/tests/TestArray.cc
Labels: enhancement, arccore

#1989 Add accelerator support for `MultiArray2`
  arcane/src/arcane/tests/accelerator/AcceleratorViewsUnitTest.cc
  arcane/src/arcane/utils/MultiArray2.h
  arcane/src/arcane/utils/MultiArray2View.h
  arcane/src/arcane/utils/tests/TestCollections.cc
Labels: enhancement, arcane, arcane:accelerator

#1986 Remove usage of `BasicSerializeMessage` in Alien
  alien/ArcaneInterface/modules/arcane_tools/src/alien/arcane_tools/block/BlockSizes.cc
  alien/ArcaneInterface/modules/arcane_tools/src/alien/arcane_tools/indexManager/BasicIndexManager.cc
  alien/standalone/src/core/alien/handlers/block/BlockSizes.cc
  alien/standalone/src/core/alien/index_manager/IndexManager.cc
  alien/standalone/src/core/alien/index_manager/functional/BasicIndexManager.cc
  alien/standalone/src/core/alien/utils/Precomp.h
Labels: refactoring, alien

#1990 Remove multi-thread test mesh2_non_manifold if ParMetis is not the default partitioner
  arcane/src/arcane/tests/CMakeLists.txt
Labels: CI, build

#1991 Use uniqueId() of first node to sort items in ItemsOwnerBuilder
  arcane/src/arcane/mesh/ItemsOwnerBuilder.cc
Labels: arcane, refactoring

#1993 Rename `MultiArray2SmallSpan` to `JaggedSmallSpan.
  arcane/src/arcane/tests/accelerator/AcceleratorViewsUnitTest.cc
  arcane/src/arcane/utils/MultiArray2.h
  arcane/src/arcane/utils/MultiArray2View.h
Labels: arcane, refactoring

#1995 Move `SerializeMessage` in internal API of Arcane
  arcane/src/arcane/core/SerializeMessage.cc
  arcane/src/arcane/core/internal/SerializeMessage.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/corefinement/ParallelCorefinementService.cc
  arcane/src/arcane/hdf5/Hdf5MpiReaderWriter.cc
  arcane/src/arcane/hdf5/Hdf5ReaderWriter.cc
  arcane/src/arcane/impl/GetVariablesValuesParallelOperation.cc
  arcane/src/arcane/impl/ParallelExchanger.cc
  arcane/src/arcane/impl/SequentialParallelMng.cc
  arcane/src/arcane/impl/TransferValuesParallelOperation.cc
  arcane/src/arcane/mesh/AsyncParticleExchanger.cc
  arcane/src/arcane/mesh/BasicParticleExchanger.cc
  arcane/src/arcane/mesh/BasicParticleExchanger.h
  arcane/src/arcane/mesh/MeshExchange.cc
  arcane/src/arcane/mesh/MeshExchange.h
  arcane/src/arcane/mesh/NonBlockingParticleExchanger.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpithread/HybridParallelMng.cc
  arcane/src/arcane/parallel/thread/SharedMemoryParallelMng.cc
  arcane/src/arcane/tests/ParallelMngTest.cc
Labels: arcane, refactoring

#1996 Remove usage of `SerializeMessage` in `GetVariableValuesParallelOperation`
  arcane/src/arcane/impl/GetVariablesValuesParallelOperation.cc
  arcane/src/arcane/impl/GetVariablesValuesParallelOperation.h
Labels: arcane, refactoring

#1994 Add documentation about ParameterCaseOption and StringVariableReplace
  arcane/doc/doc_user/chap_core_types/4_casefile.md
  arcane/doc/doc_user/chap_core_types/subchap_axl/subchap_caseoptions/3_options.md
  arcane/doc/doc_user/chap_execution/0_execution.md
  arcane/doc/doc_user/chap_execution/1_launcher.md
  arcane/doc/doc_user/chap_execution/4_traces.md
  arcane/doc/doc_user/chap_execution/5_commandlineargs.md
Labels: documentation

#1997 Use `MemoryUtils::getDefaultDataMemoryResource()` for default memory of `NumArray` and `RunQueue`
  arcane/src/arcane/accelerator/core/RunQueueImpl.cc
  arcane/src/arcane/utils/NumArray.cc
Labels: arcane, refactoring, arcane:accelerator

#1998 Do not deactivate ghost layer update when item family network is present.
  arcane/src/arcane/mesh/DynamicMesh.cc
Labels: bug, arcane

#1999 Add methods in `ParallelMngUtils` to create `Ref<ISerializeMessage>`
  arcane/src/arcane/core/Parallel.cc
  arcane/src/arcane/core/ParallelMngUtils.cc
  arcane/src/arcane/core/ParallelMngUtils.h
  arcane/src/arcane/core/internal/IParallelMngUtilsFactory.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/impl/ParallelMngUtilsFactoryBase.cc
  arcane/src/arcane/impl/SequentialParallelMng.cc
  arcane/src/arcane/impl/internal/ParallelMngUtilsFactoryBase.h
  arcane/src/arcane/impl/srcs.cmake
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpithread/HybridParallelMng.cc
  arcane/src/arcane/parallel/thread/SharedMemoryParallelMng.cc
Labels: enhancement, arcane, refactoring

#2000 Remove class `MpiSerializeMessageList`
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
  arcane/src/arcane/parallel/mpi/MpiParallelMng.h
  arcane/src/arcane/tests/CMakeLists.txt
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/CMakeLists.txt
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiControlDispatcher.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiSerializeDispatcher.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/MpiSerializeMessageList.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/StandaloneMpiMessagePassingMng.cc
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/internal/MpiControlDispatcher.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/internal/MpiSerializeDispatcher.h
  arccore/src/message_passing_mpi/arccore/message_passing_mpi/internal/MpiSerializeMessageList.h
Labels: arcane, arccore, refactoring

#2001 Improves compatibility with Doxygen 1.10.0+
  arcane/doc/doc_user/layout.xml
  arcane/doc/theme/css/custom.css
  arcane/doc/theme/js/script-num-lines-code.js
  arcane/doc/userdoc.doxyfile
  arcane/src/arcane/hdf5/VtkHdfV2PostProcessor.axl
Labels: documentation, enhancement, arcane

#2004 Add a workflow for PRs only and required to merge PRs
  .github/workflows/build_tests_release.yml
  .github/workflows/build_tests_required_pr.yml
Labels: enhancement, CI

#2003 Move dot graphs from userdoc to devdoc
  arcane/doc/devdoc.doxyfile
  arcane/doc/doc_common/chap_build_install/_docker.md
  arcane/doc/doc_common/chap_build_install/subchap_prerequisites/0_prerequisites.md
  arcane/doc/doc_dev/0_devmanual.md
  arcane/doc/userdoc.doxyfile
Labels: documentation, enhancement

#2006 Add support to query work on `RunQueueEvent`
  arcane/src/arcane/accelerator/core/RunQueueEvent.cc
  arcane/src/arcane/accelerator/core/RunQueueEvent.h
  arcane/src/arcane/accelerator/core/RunQueueRuntime.cc
  arcane/src/arcane/accelerator/core/internal/IRunQueueEventImpl.h
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/hip/runtime/HipAcceleratorRuntime.cc
  arcane/src/arcane/accelerator/sycl/runtime/SyclAcceleratorRuntime.cc
  arcane/src/arcane/tests/accelerator/RunQueueUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator

#2007 Remove useless header in `ArrayView.h`
  arcane/src/arcane/impl/VariableMng.cc
  arcane/src/arcane/mesh/ItemGroupsSynchronize.cc
  arcane/src/arcane/std/MetisGraphDigest.cc
  arcane/src/arcane/std/ParallelDataWriter.cc
  arcane/src/arcane/utils/ArrayView.h
Labels: arcane, refactoring

#2005 Improve the Basic Mesh Subdivider
  arcane/src/arcane/core/MeshUtils.cc
  arcane/src/arcane/impl/ArcaneBasicMeshSubdividerService.axl
  arcane/src/arcane/impl/ArcaneBasicMeshSubdividerService.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testArcaneBasicMeshSubdividerService1-subdivide1.arc
  arcane/tests/testArcaneBasicMeshSubdividerServiceQuadrilateral.arc
  arcane/tests/testArcaneBasicMeshSubdividerServiceTriangle.arc
  arcane/tests/testHydro-3-meshservice-subdivide1.arc
  arcane/tests/testMesh-2-env-generate-edge-face-uid.arc
  arcane/tests/testMesh-2-generate-edge-face-uid.arc
Labels: enhancement, arcane

#2008 Add support in `ItemsOwnerBuilder` to compute owners for nodes
  arcane/src/arcane/core/IMeshUtilities.h
  arcane/src/arcane/mesh/ItemsOwnerBuilder.cc
  arcane/src/arcane/mesh/ItemsOwnerBuilder.h
  arcane/src/arcane/mesh/UnstructuredMeshUtilities.cc
  arcane/src/arcane/mesh/UnstructuredMeshUtilities.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/MeshUnitTest.axl
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/tests/testMesh-2-compute-owners-direct.arc
Labels: enhancement, arcane

#2009 Handle arbitrary face order in polyhedral vtk face mesh
  arcane/maillages/cross_a_2x1x1.vtufaces.vtp
  arcane/src/arcane/std/VtkPolyhedralMeshIOService.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane

#2010 Cleanup classes handling Events
  arcane/src/arcane/tests/UtilsUnitTest.cc
  arcane/src/arcane/utils/Event.cc
  arcane/src/arcane/utils/Event.h
  arcane/src/arcane/utils/tests/CMakeLists.txt
  arcane/src/arcane/utils/tests/TestEvent.cc
Labels: arcane, refactoring

#2012 Remove generation of line pragmas in 'StrongOptions_cc'.
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/StrongOptions_cc.cs
  axlstar/Arcane.Axl.T4/Arcane.Axl/T4.StrongOptions/StrongOptions_cc.tt
Labels: bug, axlstar
