Repository arcaneframework/framework, pull requests merged in 2025-08, with the labels that each got.

#2180 Update to version 2025/02 of rapidjson
  arcane/src/arcane/utils/internal/json/rapidjson/allocators.h
  arcane/src/arcane/utils/internal/json/rapidjson/cursorstreamwrapper.h
  arcane/src/arcane/utils/internal/json/rapidjson/document.h
  arcane/src/arcane/utils/internal/json/rapidjson/encodedstream.h
  arcane/src/arcane/utils/internal/json/rapidjson/encodings.h
  arcane/src/arcane/utils/internal/json/rapidjson/error/en.h
  arcane/src/arcane/utils/internal/json/rapidjson/error/error.h
  arcane/src/arcane/utils/internal/json/rapidjson/filereadstream.h
  arcane/src/arcane/utils/internal/json/rapidjson/filewritestream.h
  arcane/src/arcane/utils/internal/json/rapidjson/fwd.h
  arcane/src/arcane/utils/internal/json/rapidjson/internal/biginteger.h
  arcane/src/arcane/utils/internal/json/rapidjson/internal/clzll.h
  arcane/src/arcane/utils/internal/json/rapidjson/internal/diyfp.h
  arcane/src/arcane/utils/internal/json/rapidjson/internal/dtoa.h
  arcane/src/arcane/utils/internal/json/rapidjson/internal/ieee754.h
  arcane/src/arcane/utils/internal/json/rapidjson/internal/itoa.h
  arcane/src/arcane/utils/internal/json/rapidjson/internal/meta.h
  arcane/src/arcane/utils/internal/json/rapidjson/internal/pow10.h
  arcane/src/arcane/utils/internal/json/rapidjson/internal/regex.h
  arcane/src/arcane/utils/internal/json/rapidjson/internal/stack.h
  arcane/src/arcane/utils/internal/json/rapidjson/internal/strfunc.h
  arcane/src/arcane/utils/internal/json/rapidjson/internal/strtod.h
  arcane/src/arcane/utils/internal/json/rapidjson/internal/swap.h
  arcane/src/arcane/utils/internal/json/rapidjson/istreamwrapper.h
  arcane/src/arcane/utils/internal/json/rapidjson/memorybuffer.h
  arcane/src/arcane/utils/internal/json/rapidjson/memorystream.h
  arcane/src/arcane/utils/internal/json/rapidjson/ostreamwrapper.h
  arcane/src/arcane/utils/internal/json/rapidjson/pointer.h
  arcane/src/arcane/utils/internal/json/rapidjson/prettywriter.h
  arcane/src/arcane/utils/internal/json/rapidjson/rapidjson.h
  arcane/src/arcane/utils/internal/json/rapidjson/reader.h
  arcane/src/arcane/utils/internal/json/rapidjson/schema.h
  arcane/src/arcane/utils/internal/json/rapidjson/stream.h
  arcane/src/arcane/utils/internal/json/rapidjson/stringbuffer.h
  arcane/src/arcane/utils/internal/json/rapidjson/uri.h
  arcane/src/arcane/utils/internal/json/rapidjson/writer.h
Labels: bug, enhancement, arcane, refactoring

#2181 Fix installation of Arcane python package
  arcane/python/ArcanePython/__init__.py.in
  arcane/python/CMakeLists.txt
Labels: bug, arcane:python-wrapping

#2182 Add install target for workflow `compile-all-vcpkg`
  .github/workflows/compile-all-vcpkg.yml
Labels: CI

#2183 Add support for CUDA 13
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.cc
  arcane/src/arcane/accelerator/cuda/CudaAccelerator.h
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
Labels: arcane, arcane:accelerator

#2184 Replace operator[](Item) with operator[](ItemLocalId<Type>) in MeshPartialVariable classes
  arcane/src/arcane/core/MeshPartialVariableArrayRef.h
  arcane/src/arcane/core/MeshPartialVariableScalarRef.h
Labels: enhancement, arcane

#2186 [CI] Update 'actions/checkout' from v4 to v5
  .github/workflows/MacOs-15-gnu-openmpi.yml
  .github/workflows/codecov.yml
  .github/workflows/compile-all-vcpkg.yml
  .github/workflows/coverity.yml
  .github/workflows/create-release-arcane.yml
  .github/workflows/create-release-arccon.yml
  .github/workflows/create-release-arccore.yml
  .github/workflows/create-release-axlstar.yml
  .github/workflows/header_check.yml
  .github/workflows/header_check_global.yml
  .github/workflows/ifpen_el8_foss-2018b.yml
  .github/workflows/ifpen_el8_foss-2021b.yml
  .github/workflows/ifpen_el8_foss-2024a.yml
  .github/workflows/ifpen_el8_gimkl-2018b.yml
  .github/workflows/ifpen_el8_gimkl-2021b.yml
  .github/workflows/ifpen_el9_foss-2018b.yml
  .github/workflows/ifpen_el9_foss-2021b-cxx20.yml
  .github/workflows/ifpen_el9_foss-2021b.yml
  .github/workflows/ifpen_el9_foss-2024a.yml
  .github/workflows/ifpen_el9_gimkl-2018b.yml
  .github/workflows/ifpen_el9_gimkl-2021b-cxx20.yml
  .github/workflows/ifpen_el9_gimkl-2021b.yml
  .github/workflows/ifpen_ubu2204_foss-2018b.yml
  .github/workflows/ifpen_ubu2204_foss-2021b-cxx20.yml
  .github/workflows/ifpen_ubu2204_foss-2021b.yml
  .github/workflows/ifpen_ubu2204_gimkl-2018b.yml
  .github/workflows/ifpen_ubu2204_gimkl-2021b-cxx20.yml
  .github/workflows/ifpen_ubu2204_gimkl-2021b.yml
  .github/workflows/ifpen_ubu2404_foss-2024a.yml
Labels: CI

#2188 Update MacOS workflow
  .github/workflows/MacOs-15-gnu-openmpi.yml
Labels: CI

#2190 Update of CI images to version 250830
  .circleci/config.yml
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
  .github/workflows/build_tests_required_pr.yml
  .github/workflows/codecov.yml
  .github/workflows/coverity.yml
  .github/workflows/sanitizer.yml
  arcane/doc/doc_common/chap_build_install/_docker.md
Labels: enhancement, CI

#2192 In Mac OS 15 workflow, use loop to uninstall pkgs with brew
  .github/workflows/MacOs-15-gnu-openmpi.yml
Labels: bug, CI

#2191 Increase CMake minimum version requirements
  .github/workflows/codecov.yml
  alien/ArcaneInterface/cmake/build-system/LoadBuildSystem.cmake
Labels: CI, build, alien
