Repository arcaneframework/framework, pull requests merged in 2025-01, with the labels that each got.

#1884 Update an include with the new location of VtkCellTypes.h
  arcane/src/arcane/std/KdiPostProcessor.cc
Labels: bug, arcane

#1885 Use relative path to find Arccore from Arcane
  arcane/CMakeLists.txt
Labels: arcane, build

#1886 Update Arcane documentation to build for accelerator
  arcane/doc/doc_common/chap_build_install/2_build.md
  arcane/doc/doc_user/chap_acceleratorapi/1_accelerator.md
Labels: documentation, arcane

#1887 Fix bad CMake target name in Arcane HDF5 component
  arcane/src/arcane/hdf5/CMakeLists.txt
Labels: arcane, build

#1888 Disable test 'mesh2_face_unique_id_v5' if ParMetis is not found
  arcane/src/arcane/tests/CMakeLists.txt
Labels: bug, arcane, CI

#1889 Implement 'IMemoryAllocator3' instead of 'IMemoryAllocator' for 'SmallArray'
  arcane/src/arcane/utils/SmallArray.cc
  arcane/src/arcane/utils/SmallArray.h
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/src/arcane/utils/tests/TestCollections.cc
Labels: arcane, refactoring

#1890 Add support for specifiying grain size for multi-dimension multi-threaded loops
  arcane/src/arcane/parallel/thread/TBBTaskImplementation.cc
  arcane/src/arcane/utils/ForLoopRanges.h
Labels: enhancement, arcane

#1891 Use only one command to copy constituent values in multi-thread
  arcane/src/arcane/materials/IncrementalComponentModifier.cc
Labels: arcane, refactoring, arcane:accelerator, arcane:materials

#1892 Move dependency injection classes in internal API
  arcane/src/arcane/utils/DependencyInjection.cc
  arcane/src/arcane/utils/internal/DependencyInjection.h
  arcane/src/arcane/utils/srcs.cmake
  arcane/src/arcane/utils/tests/TestDependencyInjection.cc
Labels: arcane, refactoring

#1893 Improve 'Injector::createInstance()'
  arcane/src/arcane/utils/DependencyInjection.cc
  arcane/src/arcane/utils/internal/DependencyInjection.h
  arcane/src/arcane/utils/tests/TestDependencyInjection.cc
Labels: enhancement, arcane

#1894 [CI] Update workflow 'compile-all-vcpkg' with vcpkg version 2024.12
  .github/workflows/compile-all-vcpkg.yml
Labels: CI

#1895 Add support for coping 'RunQueueEvent' with reference semantic
  arcane/src/arcane/accelerator/core/RunQueueEvent.cc
  arcane/src/arcane/accelerator/core/RunQueueEvent.h
  arcane/src/arcane/tests/accelerator/RunQueueUnitTest.cc
Labels: enhancement, arcane, refactoring, arcane:accelerator

#1896 Add workflow 'compile-all-vcpkg' for ubuntu 24.04.
  .github/workflows/compile-all-vcpkg.yml
Labels: CI

#1897 Use '.Net 8' for 'compile-all-vcpkg' workflow and add tests for the C# wrapper
  .github/compile-vcpkg-global.6.0.x.json
  .github/compile-vcpkg-global.8.0.x.json
  .github/workflows/compile-all-vcpkg.yml
Labels: arcane, CI

#1898 Make 'makeQueue()' always thread-safe
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/Runner.h
  arcane/src/arcane/accelerator/core/internal/RunnerImpl.h
Labels: arcane, refactoring, arcane:accelerator

#1899 Add nightly workflow for ROCM 6.3.1 and ROCM 5.7.1
  .github/workflows/ubuntu-rocm.yaml
Labels: CI

#1900 Use 'DependencyInjection' to create thread management services in 'Application'
  arcane/src/arcane/impl/Application.cc
  arcane/src/arcane/impl/Application.h
  arcane/src/arcane/parallel/thread/GlibThreadImplementation.cc
  arcane/src/arcane/parallel/thread/TBBTaskImplementation.cc
  arcane/src/arcane/parallel/thread/TBBThreadImplementation.cc
Labels: enhancement, arcane, refactoring

#1902 Fix missing service 'StdThreadImplementationService' in dependency injection registry
  arcane/src/arcane/parallel/thread/StdThreadImplementationService.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: bug, arcane

#1903 Add test for 'std::from_chars' for 'double'
  .github/workflows/compile-all-vcpkg.yml
  arcane/src/arcane/utils/tests/TestCxx20.cc
Labels: arcane

#1905 Update CI images
  .circleci/config.yml
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
  .github/workflows/codecov.yml
  .github/workflows/coverity.yml
Labels: enhancement, CI

#1906 Remove deprecated usage of <cstdalign>
  arccore/src/base/arccore/base/Float128.h
  arccore/src/base/arccore/base/Int128.h
Labels: arccore, refactoring

#1907 Remove writing of mesh via Lima in test 'subdivide1'
  arcane/tests/testArcaneBasicMeshSubdividerService1-subdivide1-parmetis.arc
Labels: arcane, CI

#1908 Remove accelerator version of reduction using atomics
  arcane/src/arcane/accelerator/core/Runner.cc
  arcane/src/arcane/accelerator/core/Runner.h
  arcane/src/arcane/accelerator/core/internal/RunnerImpl.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/accelerator/AcceleratorReduceUnitTest.axl
  arcane/src/arcane/tests/accelerator/AcceleratorReduceUnitTest.cc
  arcane/tests/testAcceleratorReduce-1-atomic.arc
Labels: arcane, refactoring, arcane:accelerator

#1909 Refactor I/O functions in 'ValueConvert.h'
  arcane/src/arcane/utils/Convert.cc
  arcane/src/arcane/utils/Convert.h
  arcane/src/arcane/utils/Misc.cc
  arcane/src/arcane/utils/ValueConvert.cc
  arcane/src/arcane/utils/ValueConvert.h
  arcane/src/arcane/utils/srcs.cmake
Labels: enhancement, arcane, refactoring

#1911 Use `std::from_chars()` instead of `std::strtod()` to convert strings to double if C++20 is enabled
  arcane/src/arcane/impl/ArcaneMain.cc
  arcane/src/arcane/utils/ValueConvert.cc
  arcane/src/arcane/utils/ValueConvert.h
  arcane/src/arcane/utils/internal/ValueConvertInternal.h
  arcane/src/arcane/utils/tests/TestValueConvert.cc
Labels: arcane, refactoring

#1912 Make 'const' the methods of 'StandaloneAcceleratorMng'
  arcane/src/arcane/launcher/StandaloneAcceleratorMng.cc
  arcane/src/arcane/launcher/StandaloneAcceleratorMng.h
Labels: arcane, refactoring, arcane:accelerator

#1913 [CI] Disable failing test 'ref.mpi.mpi-4' on ARM64.
  .circleci/config.yml
Labels: bug, CI

#1914 Fix compilation if type '__float128' is an alias to a built-in type
  arccore/src/base/arccore/base/Float128.h
Labels: bug, build

#1915 Update CI images to v3_20250112
  .circleci/config.yml
  .github/workflows/build_tests_all.yml
  .github/workflows/build_tests_rand.yml
  .github/workflows/build_tests_release.yml
  .github/workflows/codecov.yml
  .github/workflows/coverity.yml
Labels: enhancement, CI

#1918 Add support to convert string to 'Real2' using same mechanism as string to real
  arcane/src/arcane/utils/ValueConvert.cc
  arcane/src/arcane/utils/internal/ValueConvertInternal.h
  arcane/src/arcane/utils/tests/TestValueConvert.cc
Labels: arcane, refactoring

#1919 Use 'StringViewInputStream' to convert from 'String' to 'Array'
  arcane/src/arcane/utils/internal/ValueConvertInternal.h
Labels: arcane, refactoring

#1920 Add support to generate edge uniqueId from uniqueId of its nodes
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testMesh-2-generate-edge-face-uid.arc
Labels: enhancement, arcane

#1922 Add preliminary support to have orphan Node, Edge or Face.
  arcane/src/arcane/mesh/DynamicMeshChecker.cc
  arcane/src/arcane/mesh/DynamicMeshChecker.h
Labels: enhancement, arcane

#1916 Add a CommandLineArguments constructor without arguments
  arcane/src/arcane/tests/ArcaneTestStandaloneSubDomain.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/utils/CommandLineArguments.cc
  arcane/src/arcane/utils/CommandLineArguments.h
Labels: enhancement, arcane

#1925 Add a connectivity accessor in Neo Mesh
  arctools/neo/src/neo/Mesh.cpp
  arctools/neo/src/neo/Mesh.h
  arctools/neo/src/neo/MeshSchedule.cpp
  arctools/neo/src/tests/NeoMeshAPITest.cpp
Labels: enhancement, neo

#1926 Simplify memory management in Dependency Injection
  arcane/src/arcane/utils/DependencyInjection.cc
  arcane/src/arcane/utils/internal/DependencyInjection.h
  arcane/src/arcane/utils/tests/TestDependencyInjection.cc
Labels: arcane, refactoring

#1927 Fix memory leak when using commands with a RunQueue created with a specific priority
  arcane/src/arcane/accelerator/core/RunQueueImpl.cc
Labels: bug, arcane, arcane:accelerator

#1929 Fix bad return value for 'GenericFilterer' and 'GenericPartitioner' if input arrays are empty
  arcane/src/arcane/accelerator/Filterer.cc
  arcane/src/arcane/accelerator/GenericFilterer.h
  arcane/src/arcane/accelerator/GenericPartitioner.h
  arcane/src/arcane/accelerator/Partitioner.cc
  arcane/src/arcane/tests/accelerator/AcceleratorFilterUnitTest.cc
  arcane/src/arcane/tests/accelerator/AcceleratorPartitionerUnitTest.cc
  arcane/src/arcane/utils/NumArray.cc
Labels: bug, arcane, arcane:accelerator

#1930 Remove deprecated method `DynamicMesh::addFace()`
  arcane/src/arcane/core/IMeshModifier.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMesh.h
  arcane/src/arcane/mesh/DynamicMeshIncrementalBuilder.cc
  arcane/src/arcane/mesh/DynamicMeshIncrementalBuilder.h
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.h
Labels: arcane, refactoring

#1931 Add mesh property to allow loose items
  arcane/src/arcane/core/MeshKind.h
  arcane/src/arcane/impl/ArcaneCaseMeshService.axl
  arcane/src/arcane/impl/ArcaneCaseMeshService.cc
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/DynamicMeshChecker.cc
Labels: enhancement, arcane, refactoring

#1932 Add experimental support for loose items in MSH reader
  arcane/maillages/mesh_with_loose_items.msh
  arcane/src/arcane/core/MeshUtils.cc
  arcane/src/arcane/core/MeshUtils.h
  arcane/src/arcane/std/MshParallelMeshReader.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testMesh-2-allow-loose-items.arc
Labels: enhancement, arcane

#1933 Fix missing call to `MPI_Group_free()` when creating child `IParallelMng`
  arcane/src/arcane/parallel/mpi/MpiParallelMng.cc
Labels: bug, arcane

#1934 Begin experimental support to have Cell of different dimension in the same mesh
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/ItemTypeMng.cc
  arcane/src/arcane/core/VtkCellTypes.cc
  arcane/src/arcane/mesh/DynamicMeshChecker.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.h
  arcane/src/arcane/std/MshParallelMeshReader.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/MeshUnitTest.axl
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/tests/testMesh-2-allow-loose-items.arc
  arcane/tests/testMesh-4.arc
Labels: enhancement, arcane

#1935 Rename ''allow-loose-items' to 'is-non-manifold'
  arcane/src/arcane/core/MeshKind.h
  arcane/src/arcane/impl/ArcaneCaseMeshService.axl
  arcane/src/arcane/impl/ArcaneCaseMeshService.cc
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/std/MshParallelMeshReader.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testMesh-2-non-manifold.arc
Labels: arcane, refactoring

#1936 Add cell type for 3D cell which is a segment with two nodes
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/ItemTypeMng.cc
Labels: enhancement, arcane

#1939 Add dimension information when building `ItemTypeInfo`
  arcane/src/arcane/core/ItemTypeInfoBuilder.cc
  arcane/src/arcane/core/ItemTypeInfoBuilder.h
  arcane/src/arcane/core/ItemTypeMng.cc
Labels: arcane, refactoring

#1938 Implementation of the Basic mesh subdivider service
  arcane/src/arcane/impl/ArcaneBasicMeshSubdividerService.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testArcaneBasicMeshSubdividerService1-subdivide1.arc
  arcane/tests/testHydro-3-meshservice-subdivide1.arc
Labels: enhancement, arcane

#1943 Use Face instead of Edge for 2D cells in 3D
  arcane/src/arcane/core/ItemTypeMng.cc
  arcane/src/arcane/core/MeshUtils.cc
  arcane/src/arcane/std/MshParallelMeshReader.cc
Labels: arcane, refactoring

#1944 Allow to not renumber Faces in parallel
  arcane/src/arcane/mesh/FaceUniqueIdBuilder.cc
Labels: enhancement, arcane

#1945 Allow orphan Node when using non-manifold mesh
  arcane/src/arcane/mesh/DynamicMeshChecker.cc
  arcane/src/arcane/mesh/DynamicMeshIncrementalBuilder.cc
Labels: enhancement, arcane

#1947 Fix memory leak in Aleph for underlying matrix and vector
  arcane/src/arcane/aleph/hypre/AlephHypre.cc
  arcane/src/arcane/aleph/petsc/AlephPETSc.cc
  arcane/src/arcane/aleph/trilinos/AlephTrilinos.cc
Labels: bug, arcane

#1948 Always recompute owner of faces even if we do not recompute theirs unique id
  arcane/src/arcane/mesh/FaceUniqueIdBuilder.cc
  arcane/tests/testMesh-2-non-manifold.arc
Labels: arcane, refactoring

#1949 Add support to convert String to Real3 using the same mechanism as String to Real
  arcane/src/arcane/utils/ValueConvert.cc
  arcane/src/arcane/utils/tests/TestValueConvert.cc
Labels: arcane, refactoring

#1950 Update the methods in the StringVariableReplace class
  arcane/src/arcane/core/internal/StringVariableReplace.cc
  arcane/src/arcane/core/internal/StringVariableReplace.h
  arcane/src/arcane/impl/ArcaneCaseMeshService.cc
  arcane/src/arcane/tests/StringVariableReplaceTest.cc
  arccore/src/base/arccore/base/StringView.cc
  arccore/src/base/arccore/base/StringView.h
Labels: enhancement, arcane

#1951 Minor upgrade for FixedArray
  arcane/src/arcane/utils/FixedArray.h
  arcane/src/arcane/utils/tests/TestCollections.cc
Labels: arcane, refactoring

#1952 Add extension 'dotnet' for tests launched via the executable 'dotnet'
  arcane/src/arcane/tests/ArcaneTests.cmake
Labels: arcane, CI

#1953 Add observable to update views for ItemFamily variables
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
Labels: enhancement, arcane

#1954 Fix out of bound read when using multi-threading with only one thread
  arcane/src/arcane/parallel/thread/TBBTaskImplementation.cc
Labels: bug, arcane

#1956 Make string to double conversion using `std::from_chars` the same than `strtod`
  arcane/src/arcane/utils/ValueConvert.cc
  arcane/src/arcane/utils/tests/TestValueConvert.cc
Labels: enhancement, arcane

#1957 Add C# wrapping for `ItemInfoListView`
  arcane/src/arcane/core/ItemGenericInfoListView.h
  arcane/src/arcane/tests/MeshModification.cs
  arcane/tools/wrapper/core/ArcaneSwigCore.i
  arcane/tools/wrapper/core/csharp/ItemInternal.cs
Labels: enhancement, arcane, arcane:wrapping

#1955 [CI] Remove from sanitizer worklow the tests launched via 'dotnet'
  .github/workflows/sanitizer.yml
Labels: CI

#1958 Use a lambda function to handle exceptions in C# wrapper
  arcane/tools/wrapper/ArcaneSwigUtils.h
  arcane/tools/wrapper/NumericWrapper.h
  arcane/tools/wrapper/core/ArcaneSwigCore.i
Labels: arcane, refactoring, arcane:wrapping

#1959 Remove deprecated methods of `IMemoryAllocator`
  arcane/src/arcane/utils/ArraySimdPadder.h
  arcane/src/arcane/utils/SmallArray.h
  arcane/src/arcane/utils/UtilsTypes.h
  arccore/src/collections/arccore/collections/CollectionsGlobal.h
  arccore/src/collections/arccore/collections/IMemoryAllocator.h
  arccore/src/collections/arccore/collections/MemoryAllocator.cc
  arccore/src/collections/tests/TestArray.cc
Labels: arccore, refactoring

#1960 Disable failing python tests on ubuntu22
  .github/workflows/compile-all-vcpkg.yml
Labels: CI

#1961 Add class `StringVector` to handle a list of string with hidden implementation
  arccore/src/collections/arccore/collections/CMakeLists.txt
  arccore/src/collections/arccore/collections/StringVector.cc
  arccore/src/collections/arccore/collections/StringVector.h
  arccore/src/collections/tests/CMakeLists.txt
  arccore/src/collections/tests/TestStringVector.cc
Labels: enhancement, arccore

#1963 Move `using Arccore::*` from `arcane/utils/*` to Arccore
  arcane/src/arcane/utils/APReal.h
  arcane/src/arcane/utils/ArcaneGlobal.h
  arcane/src/arcane/utils/ArrayIterator.h
  arcane/src/arcane/utils/ArrayRange.h
  arcane/src/arcane/utils/BasicDataType.h
  arcane/src/arcane/utils/BasicTranscoder.h
  arcane/src/arcane/utils/PlatformUtils.h
  arcane/src/arcane/utils/Ref.h
  arcane/src/arcane/utils/UtilsTypes.h
  arccore/src/base/arccore/base/ArccoreGlobal.h
  arccore/src/base/arccore/base/ArrayIterator.h
  arccore/src/base/arccore/base/BaseTypes.h
  arccore/src/base/arccore/base/BasicDataType.h
  arccore/src/base/arccore/base/PlatformUtils.h
  arccore/src/base/arccore/base/Ref.h
  arccore/src/base/arccore/base/RefDeclarations.h
  arccore/src/collections/arccore/collections/CollectionsGlobal.h
  arccore/src/concurrency/arccore/concurrency/ConcurrencyGlobal.h
  arccore/src/trace/arccore/trace/TraceGlobal.h
Labels: arcane, arccore, refactoring

#1964 Fix compilatin warning when using MSVC on Win32
  arcane/src/arcane/core/ItemEnumerator.h
Labels: arcane, build
