Repository arcaneframework/framework, pull requests merged in 2025-04, with the labels that each got.

#2046 For direct execution, use mesh service instead of old mesh loading mecanism
  arcane/src/arcane/impl/ArcaneMainBatch.cc
Labels: arcane, refactoring

#2048 Add support for non manifold mesh in `arcane_partition_mesh` and `arcane_convert_mesh`
  arcane/src/arcane/impl/ArcaneMainBatch.cc
  arcane/src/arcane/std/ArcaneCasePartitioner.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/test-CasePart.sh.in
  arcane/tests/testMesh-2-non-manifold-external-cut.arc
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.MeshUtilsDriver/MeshUtilsDriver.cs
Labels: enhancement, arcane

#2049 Minor refactoring for the MSH writer
  arcane/src/arcane/std/MshMeshWriter.cc
Labels: arcane, refactoring

#2050 Add support for oneTBB 2022.0.0+
  arcane/src/arcane/parallel/thread/TBBTaskImplementation.cc
Labels: enhancement, arcane

#2052 Make sure value of `CMAKE_BUILD_TYPE` is in the default configuration list
  arcane/CMakeLists.txt
Labels: arcane, build

#2053 Save periodicity information in the MSH writer
  arcane/src/arcane/std/MshMeshWriter.cc
Labels: enhancement, arcane

#2054 Save peridiodic mesh information when using external partitioner
  arcane/src/arcane/std/ArcaneCasePartitioner.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testMesh-onesphere-external-cut-1.arc
Labels: enhancement, arcane

#2055 Automatically add extension `.vtk` if needed for writer `VtkLegacyMeshWriter`
  arcane/src/arcane/std/VtkMeshIOService.cc
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: arcane, refactoring

#2056 Create a class `NodesOfItemReorderer` to handle reorderer of nodes of faces or edges
  arcane/src/arcane/core/ItemTypeInfo.h
  arcane/src/arcane/core/ItemTypeInfoBuilder.cc
  arcane/src/arcane/core/ItemTypeInfoBuilder.h
  arcane/src/arcane/core/ItemTypeMng.cc
  arcane/src/arcane/core/ItemTypeMng.h
  arcane/src/arcane/core/NodesOfItemReorderer.cc
  arcane/src/arcane/core/NodesOfItemReorderer.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.h
Labels: arcane, refactoring

#2058 Make sure `waitpid` works even in case of interruption
  arcane/src/arcane/utils/Process.cc
Labels: bug, arcane

#2059 Disable Tiered PGO support for `.Net 9` and after
  arcane/tools/Directory.Build.props
Labels: arcane, refactoring

#2060 Improve support for quadratic mesh items
  arcane/src/arcane/core/Item.h
  arcane/src/arcane/core/ItemInternal.cc
  arcane/src/arcane/core/ItemInternal.h
  arcane/src/arcane/core/ItemTypeInfo.h
  arcane/src/arcane/core/ItemTypeInfoBuilder.cc
  arcane/src/arcane/core/ItemTypeInfoBuilder.h
  arcane/src/arcane/core/ItemTypeMng.cc
  arcane/src/arcane/core/NodesOfItemReorderer.cc
  arcane/src/arcane/core/NodesOfItemReorderer.h
  arcane/src/arcane/core/tests/CMakeLists.txt
  arcane/src/arcane/core/tests/TestNodeReorderer.cc
  arcane/src/arcane/mesh/DynamicMeshChecker.cc
  arcane/src/arcane/mesh/FaceFamily.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/std/MshParallelMeshReader.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane, refactoring

#2061 Add documentation for `arcane_partition_mesh`
  arcane/doc/doc_user/chap_entities/0_entities.md
  arcane/doc/doc_user/chap_entities/4_itemtype.md
  arcane/doc/doc_user/chap_entities/5_geometric.md
  arcane/doc/doc_user/chap_entities/6_tools.md
Labels: documentation, arcane

#2063 Add support for reading quadratic items in VTK mesh reader
  arcane/maillages/quadratic3d.vtk
  arcane/maillages/quadratic3d.vtkfaces.vtk
  arcane/src/arcane/core/IMeshUtilities.h
  arcane/src/arcane/mesh/UnstructuredMeshUtilities.cc
  arcane/src/arcane/mesh/UnstructuredMeshUtilities.h
  arcane/src/arcane/std/VtkMeshIOService.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/MeshUnitTest.axl
  arcane/src/arcane/tests/MeshUnitTest.cc
  arcane/tests/testMesh-2-non-manifold.arc
Labels: enhancement, arcane, refactoring

#2065 Disable in the MSH reader the creation of node groups for periodic information
  arcane/src/arcane/std/MshParallelMeshReader.cc
Labels: arcane, refactoring

#2068 Add support for using norm max to display difference in variable comparison
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/Array2Variable.cc
  arcane/src/arcane/core/Array2Variable.h
  arcane/src/arcane/core/Variable.h
  arcane/src/arcane/core/VariableArray.cc
  arcane/src/arcane/core/VariableArray.h
  arcane/src/arcane/core/VariableComparer.cc
  arcane/src/arcane/core/VariableComparer.h
  arcane/src/arcane/core/VariableDataTypeTraits.h
  arcane/src/arcane/core/VariableScalar.cc
  arcane/src/arcane/core/VariableScalar.h
  arcane/src/arcane/core/VerifierService.cc
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/impl/TimeLoopMng.cc
Labels: enhancement, arcane, refactoring

#2069 Refactor comparison methods in IVariable
  arcane/src/arcane/core/Array2Variable.cc
  arcane/src/arcane/core/Array2Variable.h
  arcane/src/arcane/core/IVariable.h
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/Variable.h
  arcane/src/arcane/core/VariableArray.cc
  arcane/src/arcane/core/VariableArray.h
  arcane/src/arcane/core/VariableComparer.h
  arcane/src/arcane/core/VariableScalar.cc
  arcane/src/arcane/core/VariableScalar.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: arcane, refactoring

#2070 Add support to use local norm in `IVerifierService`
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/Array2Variable.cc
  arcane/src/arcane/core/IVerifierService.h
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/VariableArray.cc
  arcane/src/arcane/core/VariableComparer.cc
  arcane/src/arcane/core/VariableComparer.h
  arcane/src/arcane/core/VariableScalar.cc
  arcane/src/arcane/core/VerifierService.cc
  arcane/src/arcane/core/VerifierService.h
  arcane/src/arcane/core/internal/IVariableInternal.h
  arcane/src/arcane/impl/TimeLoopMng.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/compare_seq_seq_localnormmax.xml
Labels: enhancement, arcane

#2071 Finalize implementation of `VariableComparer`
  arcane/src/arcane/core/Array2Variable.cc
  arcane/src/arcane/core/Variable.cc
  arcane/src/arcane/core/VariableArray.cc
  arcane/src/arcane/core/VariableComparer.cc
  arcane/src/arcane/core/VariableComparer.h
  arcane/src/arcane/core/VariableScalar.cc
  arcane/src/arcane/core/VerifierService.cc
  arcane/src/arcane/core/internal/IVariableInternal.h
  arcane/src/arcane/impl/TimeLoopMng.cc
Labels: enhancement, arcane, refactoring

#2035 Update TimeHistoryMngInternal to fix replication support
  arcane/doc/doc_dev/3_env_variables.md
  arcane/doc/doc_user/chap_execution/3_env_variables.md
  arcane/src/arcane/core/ITimeHistoryMng.h
  arcane/src/arcane/core/internal/ITimeHistoryMngInternal.h
  arcane/src/arcane/impl/TimeHistoryMng2.cc
  arcane/src/arcane/impl/internal/TimeHistoryMngInternal.cc
  arcane/src/arcane/impl/internal/TimeHistoryMngInternal.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/TimeHistoryAdderTestModule.cc
Labels: bug, arcane

#2072 Update `ItemGroup` timestamp after reading from dump
  arcane/src/arcane/core/ItemGroup.cc
  arcane/src/arcane/core/ItemGroup.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/utils/List.h
Labels: bug, arcane

#2073 Add method to compute node node via edge connectivity only for boundary nodes
  arcane/src/arcane/core/MeshUtils.h
  arcane/src/arcane/core/MeshUtils2.cc
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: enhancement, arcane, refactoring

#2074 Allow non corresponding faces in `MeshNodeMerger`
  arcane/src/arcane/core/IMeshUtilities.h
  arcane/src/arcane/mesh/MeshNodeMerger.cc
  arcane/src/arcane/mesh/MeshNodeMerger.h
  arcane/src/arcane/mesh/UnstructuredMeshUtilities.cc
  arcane/src/arcane/mesh/UnstructuredMeshUtilities.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/MeshMergeNodesUnitTest.cc
Labels: enhancement, arcane

#2075 Add cmake option `ARCANE_ENABLE_ALEPH` to disable Aleph component
  arcane/CMakeLists.txt
  arcane/src/arcane/tests/CMakeLists.txt
Labels: arcane, build

#2076 Add quote for names in section '$PhysicalNames' of MSH writer
  arcane/src/arcane/std/MshMeshWriter.cc
Labels: bug, arcane

#2077 Add support to read Tetraedron10 and Hexaedron20 in MSH reader
  arcane/maillages/quadratic3d.msh
  arcane/src/arcane/std/MshMeshWriter.cc
  arcane/src/arcane/std/MshParallelMeshReader.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane, refactoring

#2078 Add support in MSH writer for type `IT_Hexaedron20` and `IT_Tetraedron10`
  arcane/maillages/onesphere.order2.msh
  arcane/src/arcane/std/MshMeshWriter.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane, refactoring

#2079 Use one instance of `ItemTypeMng` per mesh
  arcane/src/arcane/core/ItemTypeMng.cc
  arcane/src/arcane/core/ItemTypeMng.h
  arcane/src/arcane/mesh/DynamicMesh.cc
Labels: arcane, refactoring

#2080 Add support for different kind of multi-dimension mesh
  arcane/src/arcane/core/MeshKind.cc
  arcane/src/arcane/core/MeshKind.h
  arcane/src/arcane/impl/ArcaneCaseMeshService.axl
  arcane/src/arcane/impl/ArcaneCaseMeshService.cc
  arcane/tests/testMesh-2-non-manifold-external-cut.arc
  arcane/tests/testMesh-2-non-manifold-write-msh.arc
  arcane/tests/testMesh-2-non-manifold.arc
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.MeshUtilsDriver/MeshUtilsDriver.cs
Labels: arcane, refactoring

#2081 Use Edge instead of Face for 2D item type of non-manifold mesh
  arcane/src/arcane/core/ItemTypeInfoBuilder.cc
  arcane/src/arcane/core/ItemTypeInfoBuilder.h
  arcane/src/arcane/core/ItemTypeMng.cc
  arcane/src/arcane/core/ItemTypeMng.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/tests/testMesh-2-non-manifold-external-cut.arc
  arcane/tests/testMesh-2-non-manifold-write-msh.arc
  arcane/tests/testMesh-2-non-manifold.arc
Labels: arcane, refactoring

#2082 Add support for edges in `ItemsOwnerBuilder`
  arcane/src/arcane/mesh/EdgeUniqueIdBuilder.cc
  arcane/src/arcane/mesh/ItemsOwnerBuilder.cc
  arcane/src/arcane/mesh/ItemsOwnerBuilder.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testMesh-2-env-generate-edge-face-uid.arc
Labels: enhancement, arcane

#2083 Do not renumber by default uniqueId of edges and faces for non manifold mesh
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/EdgeUniqueIdBuilder.cc
  arcane/tests/testMesh-2-non-manifold-external-cut.arc
  arcane/tests/testMesh-2-non-manifold-write-msh.arc
  arcane/tests/testMesh-2-non-manifold.arc
Labels: arcane, refactoring

#2084 Compute boundary items information even when there is no ghost layer
  arcane/src/arcane/mesh/GhostLayerBuilder2.cc
Labels: arcane, refactoring

#2086 Add support for non manifold mesh in mesh partitioning
  arcane/src/arcane/std/MeshPartitionerBase.cc
  arcane/src/arcane/std/MeshPartitionerBase.h
  arcane/src/arcane/std/MetisMeshPartitioner.cc
Labels: enhancement, arcane, refactoring

#2087 Add methods `Item::hasFlags()` and `ItemBase::hasFlags()`
  arcane/src/arcane/core/Item.h
  arcane/src/arcane/core/ItemFlags.h
  arcane/src/arcane/core/ItemInternal.h
  arcane/src/arcane/mesh/DynamicMesh.cc
  arcane/src/arcane/mesh/FaceFamily.cc
  arcane/src/arcane/mesh/GhostLayerBuilder.cc
  arcane/src/arcane/mesh/MeshExchange.cc
Labels: arcane, refactoring

#2089 Add flag `ItemFlags::II_HasEdgeFor1DItems` for 2D cell in non manifold mesh
  arcane/src/arcane/core/ItemFlags.h
  arcane/src/arcane/core/ItemPrinter.cc
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/std/MeshPartitionerBase.cc
  arcane/src/arcane/std/MetisMeshPartitioner.cc
  arcane/src/arcane/totalview/tv_display_arcane_types.cc
Labels: enhancement, arcane

#2091 Allow printing norm instead of real values in `VariableDiff`
  arcane/src/arcane/core/Array2Variable.cc
  arcane/src/arcane/core/VariableArray.cc
  arcane/src/arcane/core/VariableDiff.cc
  arcane/src/arcane/core/VariableDiff.h
  arcane/src/arcane/core/VariableScalar.cc
Labels: enhancement, arcane, refactoring

#2092 Disable 'Neo' and 'Arccore' tests in CMake preset 'Arcane'
  CMakePresets.json
Labels: build
