Repository arcaneframework/framework, pull requests merged in 2025-07, with the labels that each got.

#2138 Add class `ArcaneHdf5Registerer` to force linking with `arcane_hdf5`
  arcane/src/arcane/hdf5/ArcaneHdf5Registerer.cc
  arcane/src/arcane/hdf5/ArcaneHdf5Registerer.h
  arcane/src/arcane/hdf5/srcs.cmake
  arcane/src/arcane/tests/ArcaneTestInit.cc
Labels: arcane

#2143 Fix MSH reader when using Win32 end of line
  .github/workflows/compile-all-vcpkg.yml
  arcane/src/arcane/std/MshParallelMeshReader.cc
  arcane/src/arcane/std/internal/IosFile.cc
  arcane/src/arcane/std/internal/IosFile.h
Labels: bug, arcane

#2144 Fix bad length when writing variables metadata in HDF5 format
  arcane/src/arcane/hdf5/Hdf5ReaderWriter.cc
Labels: bug, arcane

#2147 Automatically load library `arcane_cea.dll` on Win32 for tests
  .github/workflows/compile-all-vcpkg.yml
  arcane/src/arcane/tests/ArcaneTestInit.cc
Labels: arcane, CI

#2153 Add standalone python test using variables and numpy
  arcane/python/CMakeLists.txt
  arcane/python/tests/test5.py
  arcane/tools/wrapper/python/csharp/BasicDotNetPythonExternalPlugin.cs
  arcane/tools/wrapper/python/csharp/PythonSubDomainContext.cs
Labels: arcane, arcane:wrapping, arcane:python-wrapping

#2160 Add support for using `zstd` as compression/decompression library
  arcane/cmake/Modules/Findzstd.cmake
  arcane/src/arcane/std/CMakeLists.txt
  arcane/src/arcane/std/ZstdDataCompressor.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/compare_seq_seq_zstd.xml
  arcane/tests/compare_seq_seq_zstd_v3.xml
  arcane/tests/testCheckpoint-basic2-v3-zstd.arc
  arcane/tests/testCheckpoint-hdfmpi.arc
  arcane/tests/testVariable-1-zstd.arc
Labels: enhancement, arcane

#2161 Implement `PlatformUtils::fillCommandLineArguments()` on Win32
  .github/workflows/compile-all-vcpkg.yml
  arcane/src/arcane/utils/PlatformUtils.cc
Labels: arcane, build

#2162 Use cmake config or module file for packages `lz4`, `bzip2` and `zstd`
  .github/workflows/compile-all-vcpkg.yml
  arcane/cmake/Modules/FindBZip2.cmake
  arcane/cmake/Modules/FindLZ4.cmake
  arcane/cmake/Modules/Findzstd.cmake
  arcane/src/arcane/tests/CMakeLists.txt
Labels: arcane, build

#2163 Enable C# wrapping on Win32 platform using `dotnet`
  .github/workflows/compile-all-vcpkg.yml
  arcane/CMakeLists.txt
  arcane/src/arcane/dotnet/coreclr/ArcaneCoreClr.cc
  arcane/src/arcane/impl/Application.cc
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.DotNetCompile/Compile.cs
Labels: arcane, CI, build, arcane:wrapping, arcane:csharp-wrapping

#2165 Cleanup conversion between `String` and `std::wstring`
  arcane/src/arcane/dotnet/coreclr/ArcaneCoreClr.cc
  arcane/src/arcane/impl/Application.cc
  arcane/src/arcane/utils/PlatformUtils.cc
  arccore/src/base/arccore/base/String.cc
  arccore/src/base/arccore/base/StringUtils.h
Labels: arcane, arccore, refactoring

#2167 Improve MacOS gui.
  .github/workflows/MacOs-15-gnu-openmpi.yml
Labels: CI

#2168 Force UTF-8 encoding when using MSVC compiler
  .editorconfig
  arccore/CMakeLists.txt
  arccore/src/base/tests/TestString.cc
Labels: arcane, build

#2169 Move copy methods from `MemoryView` classes in `MemoryUtils` namespace
  arcane/src/arcane/accelerator/core/RunQueueRuntime.cc
  arcane/src/arcane/core/Data.cc
  arcane/src/arcane/impl/internal/IBufferCopier.h
  arcane/src/arcane/materials/MeshMaterialVariable.cc
  arcane/src/arcane/parallel/thread/SharedMemoryParallelDispatch.cc
  arcane/src/arcane/tests/accelerator/MemoryCopyUnitTest.cc
  arcane/src/arcane/tests/accelerator/MultiMemoryCopyUnitTest.cc
  arcane/src/arcane/utils/MemoryResourceMng.cc
  arcane/src/arcane/utils/MemoryUtils.h
  arcane/src/arcane/utils/MemoryView.cc
  arcane/src/arcane/utils/MemoryView.h
  arcane/src/arcane/utils/NumArray.cc
  arcane/src/arcane/utils/tests/TestMemory.cc
Labels: arcane, refactoring

#2173 Prefetch variables only if they are allocated using Unified Memory
  arcane/src/arcane/core/VariableUtils.cc
  arcane/src/arcane/core/internal/IDataInternal.h
  arcane/src/arcane/impl/internal/Array2Data.h
  arcane/src/arcane/impl/internal/ArrayData.h
  arcane/src/arcane/tests/accelerator/SimpleHydroAcceleratorService.cc
Labels: bug, arcane, arcane:accelerator

#2172 Fix build with VS 15 2017
  arcane/src/arcane/std/internal/IosFile.cc
Labels: bug

#2175 Remove compiler warnings about possible dangling reference
  arcane/src/arcane/materials/MeshMaterialMng.cc
  arcane/src/arcane/mesh/FaceFamily.cc
  arcane/src/arcane/mesh/TiedInterface.cc
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: arcane, build

#2176 Add 2D test for `MeshUtils::computeNodeNodeViaEdgeConnectivity()`
  arcane/src/arcane/tests/MeshUnitTest.cc
Labels: arcane, build
