Repository arcaneframework/framework, pull requests merged in 2025-09, with the labels that each got.

#2193 Add alignment requirement for synchronize buffer
  arcane/src/arcane/impl/DataSynchronizeBuffer.cc
  arcane/src/arcane/impl/DataSynchronizeDispatcher.cc
  arcane/src/arcane/impl/DataSynchronizeInfo.h
  arcane/src/arcane/impl/internal/DataSynchronizeBuffer.h
  arcane/src/arcane/tests/CMakeLists.txt
Labels: bug, arcane, refactoring, arcane:accelerator

#2174 dev/sdc-handle-vtk-9
  arcane/cmake/Modules/FindIOLegacy.cmake
  arcane/cmake/Modules/FindIOXML.cmake
  arcane/cmake/Modules/FindIOXdmf2.cmake
  arcane/cmake/Modules/FindVTKVersionHelper.cmake
  arcane/cmake/Modules/VtkUtils.cmake
  arcane/src/arcane/ios/CMakeLists.txt
  arcane/src/arcane/ios/VtuMeshReader.cc
  arcane/src/arcane/std/CMakeLists.txt
  arcane/src/arcane/std/VtkPolyhedralMeshIOService.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testIos-vtu.arc
  arcane/tests/testIos.arc
  arcane/tests/testMesh-format_vtu.arc
Labels: build

#2195 Disable vtu tests in ARM64 CircleCI workflow
  .circleci/config.yml
Labels: bug, CI

#2197 Add a cache to keep information about occupancy
  arcane/src/arcane/accelerator/cuda/runtime/CudaAcceleratorRuntime.cc
Labels: enhancement, arcane, arcane:accelerator

#2201 [CI] Add missing value to '--parameter' option for workflow `IFPEN ubu2204 foss/2021b C++20`
  .github/workflows/ifpen_ubu2204_foss-2021b-cxx20.yml
Labels: CI

#2205 Add connectivities for several order 2 cell type
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/ItemTypeId.h
  arcane/src/arcane/core/ItemTypeInfo.h
  arcane/src/arcane/core/ItemTypeInfoBuilder.cc
  arcane/src/arcane/core/ItemTypeInfoBuilder.h
  arcane/src/arcane/core/ItemTypeMng.cc
Labels: enhancement, arcane

#2207 Remove usage of deprecated type `IndexType` for MD-Array
  arcane/src/arcane/utils/ArrayBounds.h
  arcane/src/arcane/utils/ArrayExtents.h
  arcane/src/arcane/utils/ForLoopRanges.h
Labels: arcane, build, arcane:accelerator

#2208 [CI] Add MacOS 26 workflow
  .github/workflows/MacOs-15-gnu-openmpi.yml
Labels: CI

#2210 Handle isolated item removal in neo.
  arctools/neo/src/neo/Family.h
  arctools/neo/src/neo/Mesh.h
  arctools/neo/src/neo/MeshKernel.h
  arctools/neo/src/neo/MeshSchedule.cpp
  arctools/neo/src/neo/MeshSchedule2.cpp
  arctools/neo/src/neo/MeshScheduleRemove.cpp
  arctools/neo/src/tests/NeoBaseTest.cpp
  arctools/neo/src/tests/NeoEvolutiveMeshTest.cpp
  arctools/neo/src/tests/NeoGraphTest.cpp
  arctools/neo/src/tests/NeoMeshAPITest.cpp
  arctools/neo/src/tests/NeoPolyhedralMeshTest.cpp
Labels: enhancement, neo

#2214 Remove accelerator reduction implementation using atomics
  arcane/src/arcane/accelerator/CommonCudaHipReduceImpl.h
  arcane/src/arcane/accelerator/Reduce.h
  arcane/src/arcane/accelerator/core/AcceleratorCoreGlobal.h
  arcane/src/arcane/accelerator/core/IReduceMemoryImpl.h
  arcane/src/arcane/accelerator/core/ReduceMemoryImpl.cc
  arcane/src/arcane/accelerator/core/internal/ReduceMemoryImpl.h
Labels: arcane, refactoring, arcane:accelerator

#2215 Print the source line and file name in the stack trace
  arcane/cmake/Modules/FindDW.cmake
  arcane/src/arcane/std/CMakeLists.txt
  arcane/src/arcane/std/LibUnwindStackTraceService.cc
Labels: enhancement, arcane

#2219 Optimize searching of existing edges when using a hash of nodes for the uniqueId()
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
Labels: enhancement, arcane, refactoring

#2222 [CI] Disable python tests in workflow `compile-all-vcpkg` on `ubuntu 24.04`.
  .github/workflows/compile-all-vcpkg.yml
Labels: arcane, CI

#2223 Begin support to read order 2 and order 3 cells in MSH reader
  arcane/maillages/order2_misc_types.msh
  arcane/src/arcane/mesh/OneMeshItemAdder.cc
  arcane/src/arcane/std/MshParallelMeshReader.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testMesh-2-order2-non-manifold.arc
Labels: enhancement, arcane
