Repository arcaneframework/framework, pull requests merged in 2025-03, with the labels that each got.

#2013 Add support for notification when adding/removing items.
  arcane/src/arcane/core/ArcaneTypes.h
  arcane/src/arcane/core/IItemFamily.h
  arcane/src/arcane/core/ItemFamilyItemListChangedEventArgs.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/mesh/DynamicMeshKindInfos.cc
  arcane/src/arcane/mesh/DynamicMeshKindInfos.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/MeshModificationTester.cc
  arcane/src/arcane/utils/Event.h
  arcane/src/arcane/utils/UtilsTypes.h
  arcane/tests/testMeshModificationTester-1D.arc
  arcane/tests/testMeshModificationTester-3D.arc
Labels: enhancement, arcane

#2015 Add test 'MeshModifierTester' with 1D mesh
  arcane/src/arcane/tests/MeshModificationTester.cc
Labels: arcane, CI

#2016 Fix bad comparison for boundary faces in `ItemsOwnerBuilder`
  arcane/src/arcane/mesh/ItemsOwnerBuilder.cc
Labels: bug, arcane

#2017 Add two env variables in the documentation
  arcane/doc/doc_dev/0_devmanual.md
  arcane/doc/doc_dev/3_env_variables.md
  arcane/doc/doc_user/chap_execution/3_env_variables.md
Labels: documentation, enhancement

#2018 Add method `ItemGenericInfoListView::isShared()`
  arcane/src/arcane/core/ItemGenericInfoListView.h
  arcane/src/arcane/tests/accelerator/AcceleratorItemInfoUnitTest.cc
Labels: enhancement, arcane, arcane:accelerator

#2019 Fix error in `ItemsOwnerBuilder` when an sorted `Item` was present on several ranks
  arcane/src/arcane/mesh/ItemsOwnerBuilder.cc
Labels: bug, arcane

#2020 Add basic mesh writer for GMSH 4.1 format
  arcane/src/arcane/std/MshMeshWriter.cc
  arcane/src/arcane/std/internal/IosGmsh.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testIos.cmake
  arcane/tests/testMesh-2-non-manifold-write-msh.arc
Labels: enhancement, arcane

#2021 Fix potential dangling reference in `ParallelMngDispatcher::setDefaultRunner()`
  arcane/src/arcane/core/ParallelMngDispatcher.cc
Labels: bug, arcane, arcane:accelerator

#2022 Add experimental functions to change unique ids of items
  arcane/src/arcane/core/IItemFamily.h
  arcane/src/arcane/core/IMeshUtilities.h
  arcane/src/arcane/mesh/ItemFamily.cc
  arcane/src/arcane/mesh/ItemFamily.h
  arcane/src/arcane/mesh/UnstructuredMeshUtilities.cc
  arcane/src/arcane/mesh/UnstructuredMeshUtilities.h
Labels: enhancement, arcane

#2023 [CI] Remove workflow ubuntu-20.04
  .github/workflows/compile-all-vcpkg.yml
Labels: CI

#2024 Fix missing check update when calling `ItemGroup::checkIsSorted()`
  arcane/src/arcane/core/ItemGroup.cc
Labels: bug, arcane

#2026 Add support in 'MSH' reader for 1D cell in 3D mesh
  arcane/src/arcane/core/VtkCellTypes.cc
  arcane/src/arcane/std/MshParallelMeshReader.cc
Labels: enhancement, arcane

#2027 Add support for several CellGroup and physical names in MSH writer
  arcane/src/arcane/std/MshMeshWriter.cc
Labels: enhancement, arcane

#2025 Use `IDoFFamily` instead of `DoFFamily` in GraphDofs.
  arcane/src/arcane/mesh/GraphDoFs.cc
  arcane/src/arcane/mesh/GraphDoFs.h
Labels: arcane, refactoring

#2028 Add support for empty groups and group of Face in MSH writer
  arcane/src/arcane/std/MshMeshWriter.cc
Labels: enhancement, arcane

#2029 Add support for external partitioning in MSH format
  arcane/src/arcane/std/MshMeshReader.cc
  arcane/src/arcane/std/MshParallelMeshReader.cc
  arcane/src/arcane/std/internal/IosGmsh.h
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/test-CasePartVtu.sh.in
  arcane/tests/testHydro-5-msh.arc
Labels: enhancement, arcane

#2031 Some improvements in the AMR CartesianMesh part
  arcane/ceapart/src/arcane/tests/AMRCartesianMeshTesterModule.cc
  arcane/ceapart/tests/CMakeLists.txt
  arcane/ceapart/tests/testAMRCartesianMesh2D-PatchCartesianMeshOnly-CoarseZone-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-PatchCartesianMeshOnly-CoarseZone-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-PatchCartesianMeshOnly-CoarseZone-3.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-PatchCartesianMeshOnly-CoarseZone-4.arc
  arcane/ceapart/tests/testAMRCartesianMesh2D-WithInitialCoarse-PatchCartesianMeshOnly-CoarseZone-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-PatchCartesianMeshOnly-CoarseZone-1.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-PatchCartesianMeshOnly-CoarseZone-2.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-PatchCartesianMeshOnly-CoarseZone-3.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-PatchCartesianMeshOnly-CoarseZone-4.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-PatchCartesianMeshOnly-CoarseZone-5.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-PatchCartesianMeshOnly-CoarseZone-6.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-PatchCartesianMeshOnly-CoarseZone-7.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-PatchCartesianMeshOnly-CoarseZone-8.arc
  arcane/ceapart/tests/testAMRCartesianMesh3D-WithInitialCoarse-PatchCartesianMeshOnly-CoarseZone-1.arc
  arcane/src/arcane/cartesianmesh/AMRZonePosition.cc
  arcane/src/arcane/cartesianmesh/AMRZonePosition.h
  arcane/src/arcane/cartesianmesh/CartesianMesh.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshAMRPatchMng.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshAMRPatchMng.h
  arcane/src/arcane/cartesianmesh/CartesianMeshNumberingMng.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshNumberingMng.h
  arcane/src/arcane/cartesianmesh/CartesianMeshPatch.cc
  arcane/src/arcane/cartesianmesh/CartesianMeshPatchListView.h
  arcane/src/arcane/cartesianmesh/CartesianPatch.h
  arcane/src/arcane/cartesianmesh/CartesianPatchGroup.cc
  arcane/src/arcane/cartesianmesh/CartesianPatchGroup.h
  arcane/src/arcane/cartesianmesh/ICartesianMesh.h
  arcane/src/arcane/cartesianmesh/ICartesianMeshAMRPatchMng.h
  arcane/src/arcane/cartesianmesh/ICartesianMeshNumberingMng.h
  arcane/src/arcane/cartesianmesh/ICartesianMeshPatch.h
  arcane/src/arcane/cartesianmesh/internal/CartesianMeshPatch.h
  arcane/src/arcane/cartesianmesh/internal/ICartesianMeshInternal.h
  arcane/src/arcane/cartesianmesh/srcs.cmake
Labels: enhancement, arcane

#2032 Add requirement `std::is_trivially_copyable` for element type of `NumArray`
  arcane/src/arcane/utils/NumArray.h
Labels: arcane, refactoring

#2033 Rename name of services for reading and writing MSH files
  arcane/src/arcane/std/MshMeshReader.cc
  arcane/src/arcane/std/MshMeshWriter.cc
  arcane/src/arcane/tests/test-CasePartVtu.sh.in
  arcane/tests/testMesh-2-non-manifold-write-msh.arc
Labels: arcane, refactoring

#2034 Add test for 2D periodic MSH file
  arcane/maillages/periodic_rotation_on_axis.geo
  arcane/maillages/periodic_rotation_on_axis.msh
  arcane/src/arcane/std/MshParallelMeshReader.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testMesh-periodic2d-1.arc
Labels: arcane, CI

#2036 Add test using `StandaloneSubDomain` with accelerator runtime
  arcane/src/arcane/tests/ArcaneTestStandaloneSubDomain.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: arcane, CI, arcane:accelerator

#2037 Add test to convert a mesh from VTK format to MSH format
  arcane/src/arcane/tests/CMakeLists.txt
Labels: arcane, CI

#2038 Fix failing tests if HDF5 is not available
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/tests/testHydro-5-msh.arc
Labels: arcane, CI

#2039 Keep some generation information of MSH files in `IMesh`
  arcane/src/arcane/core/MshMeshGenerationInfo.cc
  arcane/src/arcane/core/internal/MshMeshGenerationInfo.h
  arcane/src/arcane/core/srcs.cmake
  arcane/src/arcane/std/MshParallelMeshReader.cc
Labels: enhancement, arcane, refactoring

#2040 Add support for external partitioner in `ArcaneCaseMeshService`
  arcane/src/arcane/impl/ArcaneCaseMeshService.axl
  arcane/src/arcane/impl/ArcaneCaseMeshService.cc
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/test-CasePartVtu.sh.in
  arcane/tests/testHydro-5-meshservice-msh.arc
Labels: enhancement, arcane

#2041 Rename script `test-CasePartVtu.sh.in` to `test-CasePart.sh.in`
  arcane/src/arcane/tests/CMakeLists.txt
  arcane/src/arcane/tests/test-CasePart.sh.in
Labels: arcane, CI

#2042 Add reading of boundary tag for entities in MSH reader
  arcane/src/arcane/core/internal/MshMeshGenerationInfo.h
  arcane/src/arcane/std/MshMeshWriter.cc
  arcane/src/arcane/std/MshParallelMeshReader.cc
  arcane/src/arcane/tests/CMakeLists.txt
Labels: enhancement, arcane, refactoring

#2043 Minor improvement in mesh utils scripts
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.Common/CommandArgs.cs
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.Common/ExecDriver.cs
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.Common/ExecDriverProperties.cs
  arcane/tools/Arcane.ExecDrivers/Arcane.ExecDrivers.MeshUtilsDriver/MeshUtilsDriver.cs
Labels: enhancement, arcane, refactoring

#2045 In MSH reader, create NodeGroup from block in $Nodes section
  arcane/src/arcane/core/internal/MshMeshGenerationInfo.h
  arcane/src/arcane/std/MshMeshReader.cc
  arcane/src/arcane/std/MshParallelMeshReader.cc
Labels: enhancement, arcane
